
@{
    ViewBag.Title = "ChannelStaffIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section style{

    <link href="~/Scripts/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />

}*@


<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addSchoolYearPlan">添加</button>
    </div>
</script>
<table class="layui-hide" id="SchoolYearPlan" lay-filter="SchoolYearPlanfilter"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="EidtSchoolYearPlan">修改</a>
</script>



@section script{
    <script>


    
   
        layui.use(['table', 'layer'], function () {
            var table = layui.table;
            var layer = layui.layer; //layui对象

                 //时间转换方法
            function TimeChange(newtime) {
                if (newtime == null)
                    return "";
                var date = new Date(parseInt(newtime.slice(6)));
                var year = date.getFullYear();
                var month = date.getMonth();
                if (month < 10) {
                    month = "0" + Number(month + 1);
                }
                var day = date.getDate();
                if (day < 10) {
                    day = "0" + day;
                }
                var result = year + '-' + month + '-' + day;
                return result;
            }



            //展示已知数据
            var tableIns = table.render({
                elem: '#SchoolYearPlan'
                , url: '/Market/SchoolYearPlan/SearchSchoolYearPlan' //数据接口
                , page: true //开启分页
                , even: true //开启隔行背景
                , limit: 15
                , limits: [15, 30, 45, 60, 75]
                , toolbar: '#toolbarDemo'
                , cols: [[ //标题栏
                    , { type: 'checkbox' }
                    , { field: 'ID', title: '计划id', width: 165, hide: true }
                    , { field: 'Title', title: '标题', width: 165 }
                    , { field: 'MarketForecast', title: '市场预计人数', width: 130 }
                    , { field: 'Estimatednumberofwordofmouth', title: '口碑预计人数', width: 130 }
                    , { field: 'PredictedNetworkNumber', title: '网络预计人数', width: 130 }
                    , { field: 'Remak', title: '备注', width: 180 }
                    , {
                        field: 'PlanDate', title: '计划定制时间', width: 120, templet: function (v) {
                            return TimeChange(v.PlanDate);
                        }
                    }
                    , { fixed: 'right', title: '操作', width: 198, align: 'center', toolbar: '#barDemo' }
                ]]

            });
            MrDtableIns = tableIns;
            //监听行事件
            table.on('tool(SchoolYearPlanfilter)', function (obj) {
                var data = obj.data;
                console.log(data);
                var day2 = new Date();
                day2.setTime(day2.getTime());
                var s2 = day2.getFullYear() + "-" + (day2.getMonth() + 1) + "-" + day2.getDate();
                var plantime = TimeChange(data.PlanDate);
                var splits2 = s2.split('-');
                var splitplantime = plantime.split("-");
                console.log(splitplantime[0]);
                console.log(splits2[0]);
                if (splitplantime[0] != splits2[0]) {
                    layer.msg('不可修改往年数据！', { icon: 6, time: 2000 }, function () {

                    });
                } else {
                    if (obj.event == 'EidtSchoolYearPlan') {
                        layer.open({
                            type: 2,
                            content: "/Market/SchoolYearPlan/EidtSchoolYearPlan?param0=" + data.ID,
                            title: "修改年度计划",
                            area: ['690px', '830px'],
                            //area: ['850px', '760px'],
                            success: function (layero, index) {
                                let body = layui.layer.getChildFrame('body', index);
                                body.find("#classnumnber").val(clickclassnumber);
                            },
                            end: function () {
                                reloadtable();
                            }
                        });
                    }
                }
            });

            //监听表达按钮事件
            table.on('toolbar(SchoolYearPlanfilter)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'addSchoolYearPlan':
                        layer.open({
                            type: 2
                            , area: ["700px", "420px"]
                            , title: "添加年度计划"
                            , content: '/Market/SchoolYearPlan/AddSchoolYearPlan'
                            , anim: "2" /* 改变弹出层弹出方式*/
                            , end: function () {
                                MrDtableIns.reload('Enterprise', {
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                            }
                        });
                        break;
                };
            });
        });


    </script>
}


