
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BindingWX</title>

    <style>

        html {
            background-color:gray;
        }


        #wxcode {
            width:300px;

            margin: 200px auto;
        }
    </style>
</head>
<body>
   
        <div id="wxcode">
           
        </div>
    
       
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>


    <script>

        $(function () {

            var obj = new WxLogin
                ({
                    id: "wxcode",
                    appid: "wx9a441f4d4496906a",
                    scope: "snsapi_login",
                    redirect_uri: encodeURI("http://www.guiguxinxihua.com/weixin/DoBindingWX/"),
                    state: "",
                    style: "black",
                    href: "data:text/css;base64,LmltcG93ZXJCb3ggLnFyY29kZSB7CiAgICB3aWR0aDogMTU4cHg7CiAgICBwYWRkaW5nOjBweDsKICAgIG1hcmdpbjowcHg7Cn0KCi5pbXBvd2VyQm94IC50aXRsZSB7CiAgICBkaXNwbGF5OiBub25lOwp9CgouaW1wb3dlckJveCAuaW5mbyB7CiAgICB3aWR0aDogMTU4cHg7Cn0KCi5zdGF0dXNfaWNvbiB7CiAgICBkaXNwbGF5OiBub25lCn0KCi5pbXBvd2VyQm94IC5zdGF0dXMgewogICAgdGV4dC1hbGlnbjogY2VudGVyOwp9"
                });
        });


    </script>
</body>

</html>
