
@{
    ViewBag.Title = "EmpClassIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{

    <link href="~/Scripts/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />

}



<!-- Single button -->
<div class="btn-group">
    <button type="button" id="selectGrand" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        搜索条件
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="grandlist">
        <li><a whyshow="all" href="javascript:void(0);">显示全部</a></li>
        <li><a whyshow="distribution" href="javascript:void(0);">已分配班级</a></li>
        <li><a whyshow="nodistribution" href="javascript:void(0);">未分配班级</a></li>
    </ul>
</div>

<div style="display:inline-block;width:600px;" class="form-inline">

    <div class="form-group">
        <input type="text" class="form-control" id="classnumber" placeholder="请输入查询的班级编号。">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="empname" placeholder="请输入查询的专员名字。">
    </div>

    <button class="layui-btn layui-btn-radius layui-btn-primary" id="SearchEnter">查询</button>
</div>
<table class="layui-hide" id="empclass" lay-filter="empclassInfo"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="distribution">分配</a>
</script>



@section script{
    <script>

        var MrDtableIns;
        var MrDLayer;
        var MrDWhyShow;
        jQuery(function () {
            MrDWhyShow = "all";
            
        });
        //时间转换方法
        function TimeChange(newtime) {
            if (newtime == null)
                return "";
            var date = new Date(parseInt(newtime.slice(6)));
            var year = date.getFullYear();
            var month = date.getMonth();
            if (month < 10) {
                month = "0" + Number(month + 1);
            }
            var day = date.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            var result = year + '-' + month + '-' + day;
            return result;
        }


        //显示条件查询
        function WhyShow(value) {
            MrDtableIns.reload({
                where: {
                    whyshow: value
                }
                , page: {
                    curr: 1
                }
            });
        }
        layui.use(['table', 'layer'], function () {
            var table = layui.table;
            var layer = layui.layer; //layui对象
            MrDLayer = layer;
            ////监听表格复选框选择
            //table.on('checkbox(EnterpriseInfo)', function (obj) {
            //    console.log(obj)
            //});

            //展示已知数据
            var tableIns = table.render({
                elem: '#empclass'
                , url: '/Obtainemployment/EmpClass/SearchEmpclassInfo' //数据接口
                , page: true //开启分页
                , even: true //开启隔行背景
                , limit: 15
                , limits: [15, 30, 45, 60, 75]
                , cols: [[ //标题栏
                    , { type: 'checkbox' }
                    , { field: 'Classid', title: '班级id',width: 165, hide: true}
                    , { field: 'ClassNumber', title: '班级编号', width: 165}
                    , { field: 'EntID', title: '员工id', width: 165, hide: true }
                    , { field: 'EmpName', title: '员工姓名', width: 145 }
                    , { field: 'Phone', title: '联系方式', width: 165 }
                    , { field: 'GrandName', title: '班级阶段', width: 89 }
                    , { field: 'SpecialtyName', title: '专业方向', width: 89 }
                    , {
                        field: 'empclassDate', title: '接班时间', width: 165, templet: function (v) {
                            return TimeChange(v.empclassDate);
                        }
                    }
                    , { field: 'Remark', title: '备注', width: 165 }
                    , { fixed: 'right', title: '操作', width: 198, align: 'center', toolbar: '#barDemo' }
                ]]

            });
            MrDtableIns = tableIns;
            //监听工具条
            table.on('tool(empclassInfo)', function (obj) {
                var data = obj.data;
                console.log(data);
                if (obj.event == 'distribution') {
                    if (data.EntID) {
                        layer.msg('该班级已经分配专员了。', {
                            time: 1000, //20s后自动关闭
                            btn: ['关闭']
                        });

                    } else {
                        layer.open({
                            type: 2
                            , area: ["1000px", "620px"]
                            , title: "分配班级"
                            , content: '/Obtainemployment/EmpClass/Distribution?classid=' + data.Classid
                            , anim: "2" /* 改变弹出层弹出方式*/
                            , end: function () {
                                table.reload('empclass', {
                                    page: {
                                        curr: 1
                                    }
                                });

                            }
                        });
                    }

                }
            });

          
        });

        $("#grandlist li a").click(function () {
            var grand = $(this).text();
            $("#selectGrand")[0].innerHTML = grand + " <span class='caret'></span>";
            var grandid = $(this).attr("grandid");
            $("#selectGrand").attr("grandid", grandid);
            var a = $(this).attr("whyshow");
            MrDWhyShow = a;
            WhyShow(a);
            if (a == "nodistribution") {
                $("#empname").attr("disabled", "disabled");
            } else {
                $("#empname").removeAttr("disabled");
            }
        });

        $("#SearchEnter").click(function () {
            var empname = $("#empname").val();
            var classnumber = $("#classnumber").val();
            MrDtableIns.reload({
                where: {
                    empname: empname,
                    classnumber: classnumber,
                    whyshow: MrDWhyShow
                }
                , page: {
                    curr: 1
                }
            });
        });
    </script>
}
