
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddDataView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Scripts/Tangmin_CssAndJs/com_js/MyOrther_tangmin.css" rel="stylesheet" />
    <style>
        .hideCss{
        display:none;
        }
    </style>
</head>
<body>
     <fieldset>
         <legend>类型选择区</legend>
         <form class="layui-form">
             <div class="layui-row layui-form-item">                 
                 <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                     
                     <div class="layui-input-block">
                         <input type="radio" name="type" title="手动安排"  value="2" lay-filter="types"/>
                     </div>
                 </div>
                 <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                     
                     <div id="ClssTime" class="layui-input-block">
                         <input type="radio" name="type" title="系统安排" value="1" lay-filter="types" checked="checked"/>
                     </div>
                 </div>
                  
             </div>
         </form>
     </fieldset>
     <fieldset style="height:300px;">
         <legend>操作区</legend>
         <div id="system_Div">
             <form id="system_form" class="layui-form">
                 <div class="layui-row layui-form-item">
                     <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                         <label class="LableCss1">日期:</label>
                         <div class="layui-input-block">
                             <input type="text" id="times" name="times" class="layui-input" style="width:200px;"/>
                         </div>
                     </div>
                     <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                         <button type="submit" class="layui-btn" lay-submit="" lay-filter="sysBtn">点击安排</button>
                     </div>

                 </div>
             </form>
         </div>
         <div id="hand_Div" class="hideCss">
             <form id="system_form" class="layui-form">
                 <div class="layui-row layui-form-item">
                     <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                         <label class="LableCss1">日期:</label>
                         <div class="layui-input-block">
                             <input type="text" id="mytime" name="mytime" class="layui-input" style="width:150px;" />
                         </div>
                     </div>
                     <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                         <label class="LableCss1">值班老师:</label>
                         <div class="layui-input-block">
                             @Html.DropDownList("teacher_sele", ViewBag.teacher as IEnumerable<SelectListItem>,new Dictionary<string, object>(){ { "class","layui-select"} })                           
                         </div>
                     </div>                     
                 </div>
                 <div class="layui-row layui-form-item">
                     <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                         <label class="LableCss1">教室:</label>
                         <div class="layui-input-block">
                             @Html.DropDownList("classroom_sele", ViewBag.classroom as IEnumerable<SelectListItem>,new Dictionary<string, object>() { { "class", "layui-select" } })
                         </div>
                     </div>

                     <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                         <label class="LableCss1">班级:</label>
                         <div class="layui-input-block">
                             @Html.DropDownList("classShdule_sele", ViewBag.myclass as IEnumerable<SelectListItem>, new Dictionary<string, object>() { { "class", "layui-select" } })
                         </div>
                     </div>
                 </div>
             
                 <div class="layui-row layui-form-item">
                     <div class="layui-col-xs8 layui-col-sm8 layui-col-md8">
                         <label class="LableCss1">值班时间:</label>
                         <div class="layui-input-block">
                             <select name="timename" id="timename" class="layui-select">
                                 <option value="晚一">晚一</option>
                                 <option value="晚二">晚二</option>
                             </select>
                             </div>
                         </div>
                     </div>

                 <div class="layui-row layui-form-item">
                     <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="text-align:center">
                         <button type="submit" class="layui-btn" lay-submit="" lay-filter="handBtn">点击安排</button>
                         <button type="button" class="layui-btn">取消关闭</button>
                     </div>
                 </div>
             </form>
         </div>

     </fieldset>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>    
        layui.use(['form','laydate'], function () {
            var form = layui.form;
            var laydate = layui.laydate;
            laydate.render({
                elem: '#times'
                , type: 'date'
                , range: '到'
                , format: 'yyyy-MM-dd'
                , theme: 'grid'
                , trigger: 'click'
            });
            laydate.render({
                elem: '#mytime'
                 , trigger: 'click'
            });
            form.on('radio(types)', function (data) {                             
                if (data.value == "1") {
                    $("#system_Div").removeClass("hideCss");
                    $("#hand_Div").addClass("hideCss");
                } else if (data.value == "2") {
                    $("#hand_Div").removeClass("hideCss");
                    $("#system_Div").addClass("hideCss");
                }
            });  

            form.render();

            //监听(系统安排)提交
            form.on('submit(sysBtn)', function (data) {
                var index = layer.load();
                $.ajax({
                    url: '/Educational/TeacherNight/SystemAnpaiFunction',
                    type: 'POST'
                    , data: data.field
                    , success: function (suda) {
                        if (suda.Success == false) {
                            layer.close(index);  
                            layer.msg('系统错误！！！', { icon: 2 });

                        } else {
                            layer.close(index);  
                            layer.msg('操作成功', { icon: 1, shade: 0.8 }, function () {

                            });
                        }
                    }
                });
                return false;
            });
            //监听（手动安排)提交
            form.on('submit(handBtn)', function () {

            });    
        })
        //关闭弹出层
        function Myclose() {
            var layer = layui.layer;
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭   
        }
    </script>
</body>
</html>
