
@{
                /**/

                /**/

                Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddDataView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
 
    <style>
        .hideCss
        {
            display: none;
        }

        .layui-textarea
        {
            width: 100%;
            height: 38px;
            border-radius: 5px;
            min-height: 30px;
        }
        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }
        .layui-unselect
        {
            width: 100%;
            border-radius: 5px;
        }
        .lin{
        width:100%;
        }
    </style>
</head>
<body>
    <div style="width:95%;margin:0px auto;">
        <fieldset>
            <legend>类型选择区</legend>
            <form class="layui-form">
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">

                        <div class="layui-input-block">
                            <input type="radio" name="type" title="手动安排" value="2" lay-filter="types" />
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">

                        <div id="ClssTime" class="layui-input-block">
                            <input type="radio" name="type" title="系统安排" value="1" lay-filter="types" checked="checked" />
                        </div>
                    </div>

                </div>
            </form>
        </fieldset>
        <fieldset style="height:98%;">
            <legend style="border:0px;">操作区</legend>
            <div id="system_Div">
                <form id="system_form" class="layui-form" lay-filter="system_form">
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="LableCss1">日 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  期:</label>
                            <div class="layui-input-block">
                                <input type="text" id="times" name="times" class="layui-input" style="width:200px;" />
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="sysBtn">点击安排</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="hand_Div" class="hideCss">
                <form id="system_form" class="layui-form" lay-filter="hand_addview">
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="LableCss1">日 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 期:</label>
                            <div class="layui-input-block">
                                <input type="text" id="mytime" name="mytime" class="layui-input lin" />
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="LableCss1">班 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 级:</label>
                            <div class="layui-input-block">
                                @Html.DropDownList("classShdule_sele", ViewBag.myclass as IEnumerable<SelectListItem>, new Dictionary<string, object>() { { "class", "layui-select" }, { "lay-filter", "classselect" } })
                            </div>
                        </div>                       
                    </div>
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="LableCss1">值班老师:</label>
                            <div class="layui-input-block">
                                @Html.DropDownList("teacher_sele", ViewBag.teacher as IEnumerable<SelectListItem>, new Dictionary<string, object>() { { "class", "layui-select" } })
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="LableCss1">值班时间:</label>
                            <div id="timenameDiv" class="layui-input-block">
                                <input name="timename" id="timename" disabled="disabled" class="layui-input" />
                            </div>
                        </div>
                    </div>
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="LableCss1">教  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 室:</label>
                            <div class="layui-input-block">
                                <input  id="classroom_id" disabled="disabled" class="layui-input" />
                                <input name="ClassRoom_id" id="ClassRoom_id" type="hidden" />
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="LableCss1">说 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 明:</label>
                            <div class="layui-input-block">
                                <textarea name="ramke" id="ramke" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        </div>
                     
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="text-align:center;margin-top:30px;">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="handBtn">点击安排</button>
                            <button type="button" class="layui-btn" onclick="Myclose()">取消关闭</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
 
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use(['form', 'laydate', 'tree'], function () {
            var form = layui.form;
            var laydate = layui.laydate;
            var tree = layui.tree;
            var layer = layui.layer;
            laydate.render({
                elem: '#times'
                , type: 'date'
                , range: '到'
                , format: 'yyyy-MM-dd'
                , theme: 'grid'
                , trigger: 'click'               
            });
            laydate.render({
                elem: '#mytime'
                , trigger: 'click'
                , done: function () {
                    form.val("hand_addview", {
                        "classShdule_sele": "0",
                        "teacher_sele": "0",      
                    });
                    $("#classroom_id")[0].value = null;
                    $("#ClassRoom_id")[0].value = null;
                    $("#timename")[0].value = null;
                    form.render();
                }
            });
            form.on('radio(types)', function (data) {
                if (data.value == "1") {
                    $("#system_Div").removeClass("hideCss");
                    $("#hand_Div").addClass("hideCss");
                } else if (data.value == "2") {
                    $("#hand_Div").removeClass("hideCss");
                    $("#system_Div").addClass("hideCss");
                }
            });

            form.render();

            //监听(系统安排)提交
            form.on('submit(sysBtn)', function (data) {
                var index = layer.load(1);
                $.ajax({
                    url: '/Educational/TeacherNight/SystemAnpaiFunction',
                    type: 'POST'
                    , data: data.field
                    , success: function (suda) {
                        if (suda.Success == false) {
                            layer.close(index);
                            layer.msg('系统错误！！！', { icon: 2 });

                        } else {
                            layer.close(index);
                            layer.msg(suda.Msg, { icon: 1, shade: 0.8 }, function () {
                                window.parent.TableFulsh();
                                Myclose();
                            });
                        }
                    }
                });
                return false;
            });
            //监听（手动安排)提交
            form.on('submit(handBtn)', function (data) {
                
                if (data.field.mytime.length == 0) {
                    layer.msg('日期必填', { icon: 2 });
                } else if (data.field.teacher_sele == "0") {
                    layer.msg('请选择值班老师', { icon: 2 });
                } else if (data.field.ClassRoom_id.length<=0) {
                    layer.msg('请选择教室', { icon: 2 });
                } else if (data.field.classShdule_sele == "0") {
                    layer.msg('请选择班级', { icon: 2 });
                } else {   
                    var index = layer.load(1);
                   
                    $.ajax({
                        url: '/Educational/TeacherNight/HandAnpaiFunction',
                        data: data.field,
                        type: 'POST',
                        success: function (sudata) {
                            layer.close(index);
                            if (sudata.Success == false) {
                                layer.msg(sudata.Msg, { icon: 2 });
                            } else {
                                layer.msg('操作成功', { icon: 1, shade: 0.8 }, function () {
                                    window.parent.TableFulsh();
                                    Myclose();
                                });
                            }
                        }
                    });
                }
                return false;
            });
            //监听班级点击事件
            form.on('select(classselect)', function (data) {
                var time = $("#mytime").val();
                if (time.length <= 0) {
                    form.val("hand_addview", {
                        "classShdule_sele": "0"
                    });
                    form.render();
                    layer.msg("请选择值班日期!!", { icon: 2 });
                } else {
                    var ind = layer.load(1);
                    $.ajax({
                        url: '/Educational/TeacherNight/GetClassData',
                        type: 'POST',
                        data: { "classid": data.value, "date": time },
                        success: function (suc) {
                            layer.close(ind);
                            if (suc.Success == false) {
                                form.val("hand_addview", {  
                                    "classShdule_sele": "0"  
                                });
                                form.render();
                                layer.msg(suc.Msg, { icon: 2, shade: 0.8 });
                            } else {
                                $("#timename")[0].value = suc.Data.timename;
                                $("#ClassRoom_id")[0].value = suc.Data.classroomid;
                                $("#classroom_id")[0].value = suc.Data.classroomname;
                                if (suc.Data.teacherid != null) {
                                    form.val("hand_addview", {
                                        "teacher_sele": suc.Data.teacherid
                                    });
                                }
                                form.render();
                            }
                             
                        }
                    });
                }
                
            });

        })
        //关闭弹出层
        function Myclose() {
            var layer = layui.layer;
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }
    </script>
</body>
</html>
