
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditDateChangeView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Scripts/Tangmin_CssAndJs/com_js/MyOrther_tangmin.css" rel="stylesheet" />

</head>
<body>
    <div style="margin-top:20px;margin-left:auto;margin-right:auto;width:90%">
        <form id="addmaster_form" class="layui-form" lay-filter="addmaster_form" >
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">原来日期:</label>
                    <div class="layui-input-block">
                        <input type="text" id="oldtime" name="oldtime" class="layui-input" lay-verify="required" />
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">值班日期:</label>
                    <div class="layui-input-block">
                        <input type="text" id="newtime" name="newtime" class="layui-input" lay-verify="required" />
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="text-align:center;margin-top:20px">
                    <button type="button" class="layui-btn" onclick="TIJIAO()">确定修改</button>
                    <button type="button" class="layui-btn" onclick="Myclose()">取消关闭</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use(['form', 'laydate'], function () {
            var form = layui.form;
            var laydate = layui.laydate;

            laydate.render({
                elem: '#oldtime'
                , trigger: 'click'
            });

            laydate.render({
                elem: '#newtime'
                , trigger: 'click'
            });
            form.render();

            
        })
        //关闭弹出层
        function Myclose() {
            var layer = layui.layer;
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }

        function TIJIAO() {
            var oldtime = $("#oldtime").val();
            var newtime = $("#newtime").val();
            window.parent.EditDatebehind(oldtime, newtime);
                Myclose();
                return false;            
        }
    </script>
</body>
</html>
