
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MasterAddView</title>
    <link href="~/Scripts/Tangmin_CssAndJs/com_js/MyOrther_tangmin.css" rel="stylesheet" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        .hideCss
        {
            display: none;
        }

        .layui-textarea
        {
            width: 130px;
            height: 38px;
            border-radius: 5px;
            min-height: 30px;
        }
    </style>
</head>
<body>
    <div id="hand_Div" class="hideCss">
        <form id="system_form" class="layui-form" lay-filter="hand_addview">
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">值班日期:</label>
                    <div class="layui-input-block">
                        <input type="text" id="mytime" name="mytime" class="layui-input" />
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">值班老师:</label>
                    <div class="layui-input-block">
                        <div class="layui-collapse" lay-accordion>
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">老师选择区:</h2>
                                <div class="layui-colla-content layui-show">

                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">说明:</label>
                    <div class="layui-input-block">
                        <textarea name="ramke" id="ramke" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="text-align:center;">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="handBtn">点击安排</button>
                    <button type="button" class="layui-btn" onclick="Myclose()">取消关闭</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use(['form', 'laydate','element'], function () {
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;
            laydate.render({
                elem: '#times'
                , type: 'date'
                , range: '到'
                , format: 'yyyy-MM-dd'
                , theme: 'grid'
                , trigger: 'click'
            });
            laydate.render({
                elem: '#mytime'
                , trigger: 'click'
            });             
            form.render();

            //监听(系统安排)提交
            form.on('submit(sysBtn)', function (data) {
                var index = layer.load();
                $.ajax({
                    url: '/Educational/TeacherNight/SystemAnpaiFunction',
                    type: 'POST'
                    , data: data.field
                    , success: function (suda) {
                        if (suda.Success == false) {
                            layer.close(index);
                            layer.msg('系统错误！！！', { icon: 2 });

                        } else {
                            layer.close(index);
                            layer.msg(suda.Msg, { icon: 1, shade: 0.8 }, function () {
                                window.parent.TableFulsh();
                                Myclose();
                            });
                        }
                    }
                });
                return false;
            });
            //监听（手动安排)提交
            form.on('submit(handBtn)', function (data) {
                if (data.field.mytime.length == 0) {
                    layer.msg('日期必填', { icon: 2 });
                } else if (data.field.teacher_sele == "0") {
                    layer.msg('请选择值班老师', { icon: 2 });
                } else if (data.field.classroom.length <= 0) {
                    layer.msg('请选择教室', { icon: 2 });
                } else if (data.field.classShdule_sele == "0") {
                    layer.msg('请选择班级', { icon: 2 });
                } else {
                    console.log(data.field);
                    $.ajax({
                        url: '/Educational/TeacherNight/HandAnpaiFunction',
                        data: data.field,
                        type: 'POST',
                        success: function (sudata) {
                            console.log(sudata);
                            if (sudata.Success == false) {
                                layer.msg(sudata.Msg, { icon: 2 });
                            } else {
                                layer.msg('操作成功', { icon: 1, shade: 0.8 }, function () {
                                    window.parent.TableFulsh();
                                    Myclose();
                                });
                            }
                        }
                    });
                }
                return false;
            });
        })
        //关闭弹出层
        function Myclose() {
            var layer = layui.layer;
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }
    </script>
</body>
</html>
