
@{
    ViewBag.Title = "TeacherNightViewIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    <style>

    </style>
    }

 <table id="" lay-filter="test"></table>

@section script{
    <script>

    </script>
    }

