
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WeekenddutyView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }
    </style>
    
</head>
<body>
    <div style="margin-top:20px;margin-left:auto;margin-right:auto;width:90%">
        <form id="weekendduty_form" class="layui-form">
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">部门名称:</label>
                    <div class="layui-input-block">
                        @Html.DropDownList("Depdata", ViewBag.dep as IEnumerable<SelectListItem>, new Dictionary<string, object>() { { "class", "layui-select" }, { "lay-filter", "MyDepdata" } })
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">值班日期:</label>
                    <div class="layui-input-block">
                        <input type="text" id="date" name="date" class="layui-input"  lay-verify="required" />
                    </div>
                </div>               
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="LableCss1">值班类型:</label>
                    <div class="layui-input-block">
                        <div class="layui-col-sm6">
                            <input type="radio" name="type" value="false" title="周末值班">
                        </div>
                        <div class="layui-col-sm6">
                            <input type="radio" name="type" value="true" title="晚自习值班" checked>
                        </div>                        
                    </div>
                </div>                
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <div class="layui-collapse" lay-accordion>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title" style="background-color:rgba(255,255,255,0.2)">值班老师</h2>
                            <div id="teacher_div" class="layui-colla-content">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="text-align:center;">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="IsTure">点击安排</button>
                    <button type="button" class="layui-btn" onclick="Myclose()">取消关闭</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use(['form', 'laydate','element'], function () {
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;
            laydate.render({
                elem: '#date'
                , trigger: 'click'
            });

            form.on('select(MyDepdata)', function (data) {
                if (data.value != "0") {
                    $("#teacher_div")[0].innerHTML = "";
                    var new_data = { "depid": data.value };
                    $.ajax({
                        url: '/Educational/TeacherNight/GetDepEmp',
                        type: 'POST',
                        data: new_data ,
                        success: function (suc) {
                            if (suc.length>0) {
                                for (var i = 0; i < suc.length; i++) {
                                    var check = $('<input type="checkbox" lay-skin="primary" name="teacher_id" value=' + suc[i].Value + ' title="' + suc[i].Text + '"/>');
                                    check.appendTo($("#teacher_div"));
                                }
                            }
                            form.render();
                        }
                    });
                }
            });

            form.on('submit(IsTure)', function (data) {
               
                var teacherid="";
                $("input:checked").each(function (index, value) {
                    if (index>0) {
                        teacherid += $(value).val() + ",";
                    }
                    
                })

                if ($("input:checked").length <= 0 || teacherid=="") {
                    layer.msg('请选择值班的老师', { icon: 2 });
                } else {
                    var new_data = { "tid": teacherid, "time": data.field.date, "Type": data.field.type };
                    $.ajax({
                        url: '/Educational/TeacherNight/WeekEnddutyFunction',
                        type: 'POST',
                        data: new_data,
                        success: function (suc) {
                            if (suc.Success == false) {
                                layer.msg(suc.Msg, { icon: 2 });
                            } else {
                                layer.msg(suc.Msg, { icon: 1, shade: 0.8 }, function () {
                                    window.parent.TableFulsh();
                                    Myclose();
                                });
                            }
                        }
                    });
                }
                
                return false;
            });
        });
        //关闭弹出层
        function Myclose() {
            var layer = layui.layer;
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }
    </script>
</body>
</html>
