
<div id="ExamToryTable">
    <table class="layui-hide" lay-filter="ExamTory" id="ExamTory"></table>
</div>

<script>
    layui.use(['table'], function () {

        var table = layui.table;

        table.render({
                elem: '#ExamTory'
            , url: '/ExamArrangement/ExaminationStoryData'
            , toolbar: '#toolbarDemo'
            , cols: [[
                { type: 'checkbox' },
                { field: 'ID', width: 150, hide: true, title: 'id', sort: true },
                    { field: 'Title', width: 150, title: '标题', sort: true },
                { field: 'TypeName', width: 120, title: '考试类型', sort: true }
                  ,{ field: 'grand', width: 80, title: '阶段', sort: true }
                , {
                    field: 'BeginDate', width: 150, title: '考试时间', templet: function (res) {

                        var utcstr = res.BeginDate.substr(res.BeginDate.indexOf('(')+1, 13);

                        var date = new Date(parseInt(utcstr));

                        var year = date.getFullYear();
                        var month = date.getMonth() + 1;
                        var day = date.getDate();

                        return year + '年' + month + '月' + day+'日'



                    }
                }
                , { field: 'TimeLimit', width: 80, title: '时限', sort: true }
                , { field: 'IsEnd', width: 80, title: '状态' }
                , { field: 'Remark', title: '备注', width: '30%', minWidth: 100 } //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
               
            ]]
            , page: true
        });

    });
</script>

