
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>selectExam</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table class="layui-hide" lay-filter="ExamTory" id="ExamTory"></table>

        <div style="margin-top:30px; text-align:center;">
            <button type="button" class="layui-btn layui-btn-primary" id="commit">确定</button>
             <button type="button" class="layui-btn layui-btn-primary" id="close">关闭</button>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use(['table'], function () {

            var table = layui.table;

            table.render({
                elem: '#ExamTory'
                , url: '/ExamArrangement/ExaminationStoryData'
                , id: 'ExamTory'
                , toolbar: '#toolbarDemo'
                , cols: [[
                    { type: 'radio' },
                    { field: 'ID', width: "11%", hide: true, title: 'id', sort: true },
                    { field: 'Title', width: "11%", title: '标题', sort: true },
                    { field: 'TypeName', width: "11%", title: '考试类型', sort: true }
                    , { field: 'grand', width: "11%", title: '阶段', sort: true }
                    , {
                        field: 'BeginDate', width: "11%", title: '考试时间', templet: function (res) {

                            var utcstr = res.BeginDate.substr(res.BeginDate.indexOf('(') + 1, 13);

                            var date = new Date(parseInt(utcstr));

                            var year = date.getFullYear();
                            var month = date.getMonth() + 1;
                            var day = date.getDate();

                            return year + '年' + month + '月' + day + '日'



                        }
                    }
                    , { field: 'TimeLimit', width: "11%", title: '时限', sort: true }
                    , { field: 'IsEnd', width: "11%", title: '状态' }
                    , { field: 'Remark', title: '备注', width: '30%', minWidth: 100 } //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增

                ]]
                , page: true
            });

            $("#close").click(function () {
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); 
            });

            //选择数据
            $("#commit").click(function () {

                //获取选中的数据
               var row = table.checkStatus('ExamTory');

                if (row.data.length == 0) {
                    layer.msg("请选择数据!", { icon: "2" });

                    return;
                }

                window.parent.setexamData(row.data[0]);


                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); 
            });

        });
    </script>
</body >
</html >
