
@{
    Layout = null;
}

<!DOCTYPE html>
@model SiliconValley.InformationSystem.Entity.MyEntity.NetClientRecord
@using SiliconValley.InformationSystem.Entity.MyEntity;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditCallbackInfo</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover {
                background-color: aqua;
            }

        #Nation {
            width: 100px;
        }

        .linu {
            height: 120px;
        }
    </style>

</head>
<body>
    <div>
        <form class="layui-form" action="" lay-filter="formtest">
            <div class="layui-container">
                <input id="Id" name="Id" type="hidden" value="@ViewBag.Id" />
                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">姓名:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="StuName" id="StuName" style="border:0px" readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">性别:</label>
                        <div class="layui-input-block">
                            <input type="text" name="StuSex" id="StuSex" style="border:0px" readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">联系电话:</label>
                        <div class="layui-input-block">
                            <input type="text" name="StuPhone" id="StuPhone" style="border:0px" readonly="readonly">
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">备案人:</label>
                        <div class="layui-input-block">
                            <input type="text" name="SprEmp" id="SprEmp" style="border:0px" readonly="readonly">
                        </div>

                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">市场对接老师:</label>
                        <div class="layui-input-block">
                            <input type="text" name="channeltea" id="channeltea" style="border:0px" readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">回访人:</label>
                        <div class="layui-input-block">
                            <input type="text" name="Empname" id="Empname" style="border:0px" readonly="readonly">
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">
                   
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">回访次数:</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" readonly="readonly" value="@ViewBag.Number" />
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">学生等级:</label>
                        <div class="layui-input-block">
                            <select name="Grade" id="Grade">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <label class="layui-form-label">回访情况</label>
                        <div class="layui-input-block">
                            @Html.TextAreaFor(a => a.CallBackCase, new Dictionary<string, object>() { { "class", "layui-input linu" } })
                        </div>
                    </div>

                </div>

            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1" style="margin-left:300px;">立即提交</button>
                    <button class="layui-btn " id="btnclose1">关闭</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        $(function () {
            loadnetinfo();// 初始化编辑数据加载
        });
        function loadnetinfo() {
            var id = $("#Id").val();
            console.log(id);
            $.get("/Market/NetClientRecord/GetCallbackInfoById/" + id, function (data) {
                layui.use(['layer', 'form', 'table'], function () {
                    var form = layui.form;
                    form.val("formtest", data);

                });
            })
        }

        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            //日期验证
            laydate.render({
                elem: '#NetClientDate',
            });

            ////动态绑定岗位属性的下拉框的值
            //$.ajax({
            //    url: '/Market/NetClientRecord/BindPidSelect',
            //    dataType: 'json',
            //    type: 'get',
            //    success: function (data) {
            //        console.log(data.data);
            //        $.each(data.data, function (index, item) {
            //            $('#Pid').append(new Option(item.PositionName, item.Pid));// 下拉菜单里添加元素
            //        });
            //        layui.form.render("select");
            //        //重新渲染 固定写法
            //    }
            //});

            //添加提交
            form.on('submit(demo1)', function (data) {
                console.log('添加提交：' + data);
                $.post("/Market/NetClientRecord/AddNetConsultStuinfo", data.field, function (data) {
                    if (data.Success) {
                        layer.alert("添加成功!", { icon: 1 }, function () {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layui.table.reload('mynetinfo');
                            parent.layer.close(index);

                        });
                    } else {
                        layer.alert("添加失败!");
                    }
                });
                return false;
            });


            //关闭添加页面
            $("#btnclose1").click(function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });

        });
    </script>
</body>
</html>
