
@{
    ViewBag.Title = "EmploymentCommissionerIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>就业专员管理</h2>*@

@section style{

    @*<link href="~/Scripts/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />*@

}

<div>


    <div style=" width:500px; display:inline-block;">

        <!-- Single button -->
        <label>区域：</label>
        <div class="btn-group layui-container" style="width:120px;">

            <button type="button" class="btn btn-default dropdown-toggle" majorid="0" id="selectArea" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                选择区域 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="arealist">
                <li><a href="javascript:void(0);" areaid="0">不限</a></li>
                @{
                    foreach (var item in ViewBag.arealist)
                    {
                        <li><a href="javascript:void(0);" areaid="@item.ID">@item.AreaName</a></li>
                    }
                }

            </ul>
        </div>
    </div>

    <div style="display:inline-block;width:500px;" class="form-inline">

        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="输入姓名">
        </div>

        <div class="form-group">
            <input type="tel" class="form-control" id="phone" lay-verify="phone" placeholder="电话">
        </div>

        <button id="serchBtn2" class="layui-btn layui-btn-radius layui-btn-primary">查询</button>

    </div>

    <div>
        <table class="layui-hide" id="EmpStaffTab" lay-filter="EmpStaffTab_filter"></table>
    </div>


    <script type="text/html" id="editBar">
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="detail">详情</a>
    </script>


</div>
@section script{
    <script>

        var MrDtableIns;
        var areaid;
        layui.use(['table', 'layer', 'form', 'element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var element = layui.element;
            var name, phone;
            //var index = layer.load(0, { shade: false }); //0代表加载的风格，支持0-2

            var tableIns = table.render({
                elem: '#EmpStaffTab'
                , shade: 3
                , url: '/Obtainemployment/EmploymentCommissioner/SearchData/'
                , page: true
                , cols: [[
                  
                    { field: 'EmploymentStaffID', title: 'ID', hide: true }
                    , { field: 'EmployeeId', title: '员工编号'/*, sort: true*/ }
                    , { field: 'EmpName', title: '姓名' }
                    , { field: 'Sex', title: '性别' }
                    , { field: 'AreaName', title: '就业区域' }
                    , { field: 'Phone', title: '手机号码' }
                    , { field: 'TakeClasses', title: '所带班级' }
                    , { field: 'right', title: '操作', toolbar: '#editBar', width: 250 }
                ]]
                
            });
            MrDtableIns = tableIns;
            ////监听行工具事件
            table.on('tool(EmpStaffTab_filter)', function (obj) {
                var data = obj.data;
                var id = obj.data.EmploymentStaffID
                //console.log(obj)
                if (obj.event === 'detail') {
                    layer.open({

                        type: 2,
                        area: ["800px", "620px"],
                        content: "/Obtainemployment/EmploymentCommissioner/EmployDetailView/" + id,
                        end: function () {


                        }

                    });
                }
                else if (obj.event === 'edit') {
                    //编辑
                    layer.open({
                        type: 2,
                        cancel: function () {
                        },
                        area: ["800px", "620px"],
                        content: "/Obtainemployment/EmploymentCommissioner/EditEmployStaff/" + id,
                        end: function () {

                            MrDtableIns.reload({
                                page: {
                                    curr: 1
                                }
                            });

                        }

                    });
                }

            });
        });

        $("#arealist li a").click(function () {

            var area = $(this).text();
            $("#selectArea")[0].innerHTML = area + " <span class='caret'></span>";
            areaid = $(this).attr("areaid");

            //发送请求
            MrDtableIns.reload({
                where: {
                    areaid: areaid
                }
                , page: {
                    curr: 1
                }
            });
        });

       

        $("#serchBtn2").click(function () {

            //获取姓名 和 电话
             name = $("#name").val();
            phone = $("#phone").val();
            console.log(name);
            console.log(phone);

            MrDtableIns.reload( {
                where: {
                    areaid: areaid,
                    name: name,
                    phone: phone
                }
                , page: {
                    curr: 1
                }
            });

        });
    </script>
}

