
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmpStaffList</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div class="">
        <div>
            <table class="layui-hide" id="EmpStaffTab" lay-filter="EmpStaffTab_filter"></table>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.all.js"></script>


    <script>


        function callbackdata() {
            var checkStatus = layui.table.checkStatus('EmpStaffTab'); //idTest 即为基础参数 id 对应的值
            return checkStatus;
        }

        layui.use(['table', 'layer'], function () {

            var table = layui.table;
            var layer = layui.layer;
            var index = layer.load(0, { shade: false }); //0代表加载的风格，支持0-2
            table.render({
                elem: '#EmpStaffTab'
                , shade: index
                , url: '/Obtainemployment/EmploymentCommissioner/GetEmpStaffData'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                        { type: 'radio' }
                    , { field: 'EmpName',  title: '姓名' }
                    , { field: 'EmployeeId', title: '员工编号' }
                    , { field: 'Sex',  title: '性别' }
                ]]
                , page: true

                , yes: function (index) {

                }, done: function (res) {   //返回数据执行回调函数
                    layer.close(index);    //返回数据关闭loading

                }
            });

        });
    </script>
</body>
</html>
