
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageClass</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
    <link href="~/Scripts/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <style>

        .layui-col-md3 {
        margin-left:10px;
        margin-top:10px;
        }

        h3 {
            text-align: center;
        }
        .myclass {
        margin-top: 10px;
        }
        .mybigdiv{
            border:1px dashed red;
        }
    </style>
</head>
<body>
    <div class="layui-row mybigdiv">
        <div class="layui-col-md3  bg-warning">
            <div class="layui-col-sm12">
                <h3>班级列表</h3>
            </div>
            <div class="layui-col-sm12" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1710NA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1709JA</button>

                </div>
            </div>

        </div>
        <div class="layui-col-md3 bg-warning">
            <div class="layui-col-sm12">
                <h3>刘登峰</h3>
            </div>
            <div class="layui-col-sm12" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1710NA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1709JA</button>

                </div>
            </div>

        </div>
        <div class="layui-col-md3 bg-warning">
            <div class="layui-col-sm12">
                <h3>班级列表</h3>
            </div>
            <div class="layui-col-sm12" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1710NA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1709JA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1708JA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1707JA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1706JA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1705JA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1704NA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1703JA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1702NA</button>

                </div>
            </div>

        </div>
        <div class="layui-col-md3 bg-warning">
            <div class="layui-col-sm12">
                <h3>班级列表</h3>
            </div>
            <div class="layui-col-sm12" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1710NA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1709JA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1708JA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1707JA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1706JA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1705JA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1704NA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1703JA</button>

                </div>
                <div class="layui-col-sm4" draggable="true" ondragstart="drag(event)">
                    <button class="layui-btn myclass">1702NA</button>

                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        function allowDrop(ev) {
            ev.preventDefault();
            console.log("----------------"+ev);
        }

        function drag(ev) {
            ev.dataTransfer.setData("Text", ev.target.id);
             console.log("======================"+ev);
             console.log(ev.dataTransfer);
            console.log(ev);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("Text");
            console.log(data);
           // ev.target.appendChild(document.getElementById(data));
            console.log(ev);
        }
    </script>
</body>
</html>
