
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>insertView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }
    </style>
</head>
<body>
    <div style="margin-top:20px;width:90%;margin-left:auto;margin-right:auto;">
        <form class="layui-form" lay-filter="sysStudyform">
            <div class="layui-row layui-form-item">
                <div class="layui-col-x12 layui-col-sm12 layui-col-md12">
                    <label class="layui-form-label">阶 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 段:</label>
                    <div class="layui-input-block">
                        @Html.DropDownList("grand", ViewBag.grandlist as IEnumerable<SelectListItem>, new Dictionary<string, object>() { { "lay-filter", "grandselect" } })
                    </div>
                </div>

            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="layui-form-label">班 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 级:</label>
                    <div id="childviewcurr_div" class="layui-input-block">
                        <select id="Class_Id" name="Class_Id" class="layui-select" lay-filter="bianji"><option value="0" selected>--请先选择阶段--</option></select>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="layui-form-label">应到人数:</label>
                    <div id="childviewcurr_div" class="layui-input-block">
                        <input name="PersonCount" id="PersonCount" class="layui-input" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="layui-form-label">实到人数:</label>
                    <div id="childviewcurr_div" class="layui-input-block">
                        <input name="PctualCout" id="PctualCout" class="layui-input" />
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="layui-form-label">班主任状态:</label>
                    <div id="childviewcurr_div" class="layui-input-block">
                        <input name="IsHavaHeadMaster" id="IsHavaHeadMaster" class="layui-input" type="radio" value="false" title="不在场" />
                        <input name="IsHavaHeadMaster" id="IsHavaHeadMaster" class="layui-input" type="radio" value="true" checked="checked" title="在场" />
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="layui-form-label">教学老师状态:</label>
                    <div id="childviewcurr_div" class="layui-input-block">
                        <input name="IsHavaTeacher" id="IsHavaTeacher" class="layui-input" checked title="在场" value="true" />
                        <input name="IsHavaTeacher" id="IsHavaTeacher" class="layui-input" title="不在场" value="false" />
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="layui-form-label">是否在讲PPT:</label>
                    <div id="childviewcurr_div" class="layui-input-block">
                        <input name="IshavaPPT" id="IshavaPPT" class="layui-input" checked="checked" value="true" title="在讲" />
                        <input name="IshavaPPT" id="IshavaPPT" class="layui-input" value="false" title="不在讲" />
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="LableCss1">日 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 期:</label>
                    <div id="childteacher_div" class="layui-input-block">
                        <input name="date" id="date" class="layui-input" lay-verify="required" />
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="LableCss1">其他说明:</label>
                    <div id="childteacher_div" class="layui-input-block">
                        <textarea class="layui-textarea" name="Reak" id="Reak"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item" style="margin-top:60px;">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <div style="text-align:center">
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="childview_add">提交</button>
                        <input type="button" class="layui-btn" value="关闭" onclick="Myclose()" />
                    </div>


                </div>
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form;

            //获取班级
            form.on('select(grandselect)', function (data) {  
                $("#childviewcurr_div")[0].innerHTML = "";
                if (data.value != "0") {
                    $.ajax({
                        url: '/Educational/Reconcile/GetClassScheduleSelect/' + data.value,
                        success: function (sudata) {
                            //获取班级slect
                            var classselect = $('<select id="Class_Id" name="Class_Id" class="layui-select" lay-filter="bianji"><option value="0" selected>--请先选择阶段--</select>');
                            for (var i = 0; i < sudata.length; i++) {
                                $('<option value=' + sudata[i].id + '>' + sudata[i].ClassNumber + '<option>').appendTo(classselect);
                            }
                            $("#childviewcurr_div").append(classselect);
                            form.render(); //更新全部
                        }
                    });
                } else {
                    var classselect = $('<select id="Class_Id" name="Class_Id" class="layui-select" lay-filter="bianji"><option value="0" selected>--请先选择阶段--</select>');
                    $("#childviewcurr_div").append(classselect);
                    form.render(); //更新全部
                }
            });

            //根据班级获取班级获取班级人数
            form.on('select(bianji)', function (data) {               
                if (data.value != "0") {
                    $.ajax({
                        url: '/Educational/Laterecord/ClassCount/' + data.value,
                        success: function (sucdata) {
                            $("#PersonCount").val(sucdata.Data);
                        }
                    });
                } else {
                    $("#PersonCount").val("0");
                }
            });
        });
    </script>
</body>
</html>
