
@{
    ViewBag.Title = "LaterecordIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .DivCss{
        display:inline-block;
    }
    .Liu{
    width:120px;
    display:inline-block;
    }
    .layui-unselect
    {
        width:120px;
    }
</style>
<form id="Leacher_From" class="layui-form" lay-filter="Leacher_From">
    <div class="layui-row">
        <label>阶段:</label>
        <div class="DivCss">
            @Html.DropDownList("grand_S", ViewBag.grandlist_S as IEnumerable<SelectListItem>, new Dictionary<string, object>() { { "lay-filter", "grandSerch" } })
        </div>
        <label>班级:</label>
        <div id="ClassDiv" class="DivCss">
            <select id="class_S" name="class_S" class="layui-select"><option value="0" selected>--请选择--</select>
        </div>
        <label>开始日期:</label>
        <input type="text" name="SatrTime" id="SatrTime" class="layui-input Liu"/>
        <label>结束日期:</label>
        <input type="text" name="EndTime" id="EndTime" class="layui-input Liu"/>
        
        <button type="button" class="layui-btn" onclick="Serch()">查询</button>
         
    </div>
</form>
<table class="layui-table" id="Latercordtable" lay-filter="Latercordtable"> </table>
 
<script type="text/html" id="Late_barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="ser">查看详情</a>
</script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="AddFunction">添加记录</button>
    </div>
</script>


<script>
    //table刷新
    function TableFulsh() {
        layui.use('table', function () {
            var table = layui.table;
            table.reload('Latercordtable');
        });
    }
    layui.use(['element', 'layer', 'form', 'laydate', 'table'], function () {
        var element = layui.element;
        var layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate;
        var table = layui.table;

        //获取班级
        form.on('select(grandSerch)', function (data) {
            $("#ClassDiv")[0].innerHTML = "";
            $.ajax({
                url: '/Educational/Reconcile/GetClassScheduleSelect/' + data.value,
                success: function (sudata) {
                    //获取班级slect
                    var classselect = $('<select id="class_S" name="class_S" class="layui-select"><option value="0" selected>--请选择--</select>');
                    for (var i = 0; i < sudata.length; i++) {
                        $('<option value=' + sudata[i].id + '>' + sudata[i].ClassNumber + '<option>').appendTo(classselect);
                    }
                    $("#ClassDiv").append(classselect);
                    form.render(); //更新全部
                }
            });
        });
        //时间初始化
        laydate.render({
            elem: '#SatrTime'
            , theme: 'molv'
            ,click:'tiggle'
        });

        laydate.render({
            elem: '#EndTime'
            , theme: 'molv'
            , click: 'tiggle'
        });
 

        //table初始化
        table.render({
            elem: '#Latercordtable'
            , toolbar: '#toolbarDemo'
            , url: '/Educational/Laterecord/GetTableData'
            , cols: [[
                { type: 'checkbox'}
                , { field: 'ClassNumber', title: '班级' }
                , { field: 'IsHavaHeadMaster', title: '班主任是否在场', }
                , { field: 'IsHavaTeacher', title: '任课老师是否在场' }
                , { field: 'IshavaPPT', title: '是否再讲PPT' }
                , { field: 'PersonCount', title: '应到人数' }
                , { field: 'PctualCout', title: '实到人数' }
                , {
                    field: 'Createdate', title: '上课日期', templet: function (res) {
                        var date = new Date(parseInt(res.Createdate.slice(6)));
                        var year = date.getFullYear();
                        var month = parseInt(date.getMonth()) + 1;
                        if (month < 10) {
                            month = "0" + month;
                        }
                        var days = date.getDate();
                        if (days<10) {
                            days = "0" + days;
                        }
                        return year + "-"+month + "-" + days;
                    }
                }
                , { field: 'EmpName', title: '录入人' }
                , { field: 'Reak', title: '说明' }
                , { fixed: 'right', title: '操作', toolbar: '#Late_barDemo', width: 250 }
            ]]
            , page: true
        });

        //监听行工具事件
        table.on('tool(Latercordtable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除吗？', function (index) {
                    $.ajax({
                        url: '/Educational/Reconcile/Delete/' + data.Id,
                        success: function (sucdata) {
                            if (sucdata.Success == false) {
                                //失败
                                layer.msg('操作失败!!', { icon: 2 });
                            } else {
                                //成功
                                layer.msg(sucdata.Msg, { icon: 1, shade: 0.8 }, function () {
                                    TableFulsh();
                                });
                            }
                        }
                    });
                    layer.close(index);
                });

            } else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    content: '/Educational/Laterecord/EditView/' + data.Id,
                    area: ['800px', '500px'],
                    title: '编辑数据'
                    , shade: 0.8
                    , anim: 4
                    , skin: 'demo-class'
                });
            }
        });

       
 
        //头工具栏事件
        table.on('toolbar(Latercordtable)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'AddFunction':
                    layer.open({
                        type: 2,
                        content: '/Educational/Laterecord/insertView',
                        area: ['780px', '530px'],
                        title:'迟到登记页面'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                    break;                
            };
        });

    });

    //模糊查询
    function Serch() {
        layui.use(['form','table'], function () {
            var form = layui.form;
            var data1 = form.val("Leacher_From");

            var table = layui.table;
 
            if (data1.grand_S == "0" && data1.class_S == "0" && data1.SatrTime.length <= 0 && data1.EndTime.length<=0) {
                table.reload('Latercordtable');
            } else {
                table.reload('Latercordtable', {
                    url: '/Educational/Laterecord/SercherData'
                    , where: data1
                });
            }

             
        });
    }
</script>


