
@{
    Layout = null;
}

<!DOCTYPE html>
@using SiliconValley.InformationSystem.Entity.MyEntity
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parentinterview</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
    @if (ViewBag.DetailedStudentIn.Count > 0)
    {
        <ul class="layui-timeline" style="margin-top:20px;">
            @{
                foreach (var item in ViewBag.DetailedStudentIn as List<DetailedStudentIn>)
                {
                    string Starttime = Convert.ToDateTime(item.Starttime).ToLongDateString().ToString();
                    string Endtime = "-------" + Convert.ToDateTime(item.Endtime).ToLongDateString().ToString();
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title"> @Starttime @Endtime</h3>

                            <ul>
                                <li>保额：@item.InsurancePremium</li>

                            </ul>
                            <p>
                                备注：@item.Remarks
                            </p>


                        </div>
                    </li>
                }
            }


        </ul>
    }
    else
    {
        <div>
            <img src="~/Areas/Teachingquality/images/无数据.jpg" style="width:100%;height:600px;" />
        </div>

    }
</body>
</html>
