
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.ViewEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Traineeinterview</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
    @if (ViewBag.listvier.Count > 0)
    {
        <ul class="layui-timeline" style="margin-top:20px;">
            @{
                foreach (var item in ViewBag.listvier as List<vierprice>)
                {
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">@item.Date</h3>
                            @foreach (var item1 in item.Chicked)
                            {
                                <ul>
                                    <li>@item1.GrandName</li>

                                </ul>
                                <p>
                                    @item1.Rategory
                                </p>
                            }


                        </div>
                    </li>
                }
            }
        </ul>
                }
                else
                {
                    <div>
                        <img src="~/Areas/Teachingquality/images/无数据.jpg" style="width:100%;height:600px;" />
                    </div>
       
                }
</body>
</html>
