
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExcleIntoView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        .fieldsetCssTwo1 {
            margin-top: 20px;
            border: 1px solid #009688;
        }
        .legendCssTwo1 {
            border: 1px solid #009688;
            background-color:#009688;
            color:#fff;
        }
        .divCssTwo1{           
            float:right;
            display:inline-block;
            margin-top:20px;
        }              
        .BtnCssthree
        {
            margin-top: 40px;
            text-align: center;
        }
        body .mydemo-class{

        }
        body .mydemo-class .layui-layer-title
        {
            background: #c00;
            color: #fff;
            border: none;
        }
        body .mydemo-class .layui-layer-btn a
            {
                background: red;
                border: 1px solid red;
                color: #fff;
            }
        .textColorCss1{
        color:red
        }
    </style>
</head>
<body>
    <div>
        <form action="/Market/StudentDataKeep/IntoFunction" method="post" enctype="multipart/form-data">
            <fieldset id="fieldDiv2" class="fieldsetCssTwo1">
                <legend class="legendCssTwo1">文件选择区</legend>
                <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>选择Excel文件</button>
                <a href="/Market/StudentDataKeep/DownFile" class="layui-btn"><i class="layui-icon">&#xe601;</i>模板下载</a>
            </fieldset>
            <fieldset id="fielsone" class="fieldsetCssTwo1" style="height:480px;">
                <legend id="contentone" class="legendCssTwo1">文件内容显示区</legend>
                <table id="tabletest2" lay-filter="tabletest2"></table>
            </fieldset>
            <div>
                <div id="InputDiv" style="width:60%;text-align:right;margin-top:20px">
                    <input type="button" class="layui-btn" id="Yes" name="Yes" disabled="disabled" value="确定导入">
                    <button type="button" class="layui-btn" id="No" name="No" onclick="myclose()">取消</button>
                </div>               
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        //转换时间的方法
        function TimeChange(newtime) {
            if (newtime == null)
                return "";
            var date = new Date(parseInt(newtime.slice(6)));
            var year = date.getFullYear();
            var month = date.getMonth();
            if (month < 10) {
                month = "0" + Number(month + 1);
            }
            var day = date.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            var result = year + '-' + month + '-' + day;
            return result;
        }
        //提示
        function TiShi(msg) {
            layui.use(['layer'], function () {
                var layer = layui.layer;
                layer.msg(msg, {
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            });
        }
        //导入Excel
        $("#Yes").click(function () {
            var layer = layui.layer;
            var indexlayer = layer.load(1);
            $.ajax({
                url: '/Market/StudentDataKeep/IntoServer',
                dataType: 'json',
                success: function (successData) {     
                    //关闭
                    layer.close(indexlayer);     
                    if (successData.result == "okk") {                         
                        layui.use(['layer', 'table'], function () {
                            var table = layui.table;
                            var layer = layui.layer;
                            layer.confirm('<h3>'+successData.msg+'</h3>', { title: '系统提示', skin: "mydemo-class", btn: ['确定'], closeBtn:0 }, function (index) {
                                //do something
                                layer.close(index);
                                $("#fieldDiv2")[0].innerHTML = "";
                                $("#fieldDiv2").remove();
                                $("#InputDiv")[0].innerHTML = "";
                                $("#InputDiv").removeClass("divCssTwo1");
                                $("#InputDiv").addClass("BtnCssthree");
                                $('<button type="button" class="layui-btn" id="No" name="No" onclick="myclose()">关闭</button>').appendTo($("#InputDiv"));
                                $("#fielsone")[0].innerHTML = "";
                                $('<legend id="contentone" class="legendCssTwo1">疑似数据对比区</legend>').appendTo($("#fielsone"));
                                $('<h3 class="textColorCss1">系统已有数据</h3>').appendTo($("#fielsone"));
                                var table1 = $('<table id="mytableone"></table>');
                                table1.appendTo($("#fielsone"));
                                $('<h3 class="textColorCss1">疑似数据</h3>').appendTo($("#fielsone"));
                                var table2 = $('<table id="mytabletwo"></table>');
                                table2.appendTo($("#fielsone"));
                                //展示已知数据
                                table.render({
                                    elem: '#mytableone'
                                    , cols: [[ //标题栏
                                        { field: 'StuName', title: '姓名' }
                                        , { field: 'StuSex', title: '性别' }
                                        , { field: 'StuPhone', title: '电话' }
                                        , { field: 'StuSchoolName', title: '学校' }
                                        , { field: 'StuInfomationType_Id', title: '信息来源' }
                                        , { field: 'StuEducational', title: '学历' }
                                        , { field: 'Region_id', title: '区域' }
                                        , { field: 'StuAddress', title: '家庭住址' }
                                        , { field: 'ConsultTeacher', title: '咨询师' }
                                        , { field: 'EmployeesInfo_Id', title: '备案人' }
                                        , { field: 'QQ', title: 'QQ' }
                                        , { field: 'Reak', title: '说明' }
                                    ]],
                                    data: successData.old
                                    , page: true
                                    , limits: [3]
                                    , limit: 3

                                });
                                table.render({
                                    elem: '#mytabletwo'
                                    , cols: [[ //标题栏
                                        { field: 'StuName', title: '姓名' }
                                        , { field: 'StuSex', title: '性别' }
                                        , { field: 'StuPhone', title: '电话' }
                                        , { field: 'StuSchoolName', title: '学校' }
                                        , { field: 'StuInfomationType_Id', title: '信息来源' }
                                        , { field: 'StuEducational', title: '学历' }
                                        , { field: 'Region_id', title: '区域' }
                                        , { field: 'StuAddress', title: '家庭住址' }
                                        , { field: 'ConsultTeacher', title: '咨询师' }
                                        , { field: 'EmployeesInfo_Id', title: '备案人' }
                                        , { field: 'QQ', title: 'QQ' }
                                        , { field: 'Reak', title: '说明' }
                                    ]],
                                    data: successData.news
                                    , page: true
                                    , limits: [3]
                                    , limit: 3
                                });
                            });
                        });                  
                    } else if (successData.resut == "ok") {                         
                            layer.msg('没有重复数据，备案成功！！！', {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                //关闭
                                myclose();
                            });                        
                    } else {
                        TiShi(successData.msg);
                    }                  
                }
                , error: function () {
                    TiShi('导入失败!请重试');
                }
            });
        });
        //取消
        function myclose() {     
            window.parent.LoadTable();
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭 
            
        };
       
        layui.use(['upload','table'], function () {
            var $ = layui.jquery
                , upload = layui.upload;
             table = layui.table;
             layer = layui.layer;
            //指定允许上传的文件类型
            upload.render({
                elem: '#test3'
                , url: '/Market/StudentDataKeep/IntoFunction'
                , accept: 'file' //普通文件
                , exts: 'xls|xlsx'//只允许上传Excle文件
                , done: function (res) {
                    var indexss = layer.load(1);
                    if (res.msg == "ok") {                     
                        table.render({
                            elem: '#tabletest2'
                            , data:res.data
                            , cols: [[
                                {
                                    field: 'StuName', title: '姓名', templet: function (let) {
                                        if (let.StuName.trim().length<=0 || let.StuName == undefined) {
                                            layer.msg('备案的学生姓名不能为空，否则会导入不进去，请修改Excel文件!!!', { icon: 2, time: 4000 });
                                        } else {
                                            return let.StuName;
                                        }
                                    }
                                }
                                , {field: 'StuSex', title: '性别'}
                                , { field: 'StuPhone', title: '联系电话' }
                                , { field: 'StuEducational', title: '学历' }
                                , { field: 'StuAddress', title: '家庭住址' }
                                , { field: 'StuSchoolName', title: '学校' }
                                , { field: 'Region_id', title: '区域' }
                                , { field: 'StuInfomationType_Id', title: '信息来源' }
                                , { field: 'ConsultTeacher', title: '咨询师' }
                                , { field: 'EmployeesInfo_Id', title: '备案人' }
                                , { field: 'Party', title: '关联人' }
                                , { field: 'QQ', title: 'QQ' }
                                , { field: 'Reak', title: '说明' }
                            ]]
                            , page: true
                            , limits: [5, 8]
                            , limit: 5
                        });
                        $("#Yes")[0].removeAttribute("disabled");
                        layer.close(indexss);
                    } else if (res.msg == "文件格式错误") {
                        TiShi(res.msg);
                        layer.close(indexss);
                    } else if (res.msg == "no") {
                        TiShi('操作错误');
                        layer.close(indexss);
                    }
                }
            });               
        });
    </script>
</body>
</html>
