
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExcleIntoView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        .fieldsetCssTwo1 {
            margin-top: 20px;
            border: 1px solid #009688;
        }
        .legendCssTwo1 {
            border: 1px solid #009688;
            background-color:#009688;
            color:#fff;
        }
        .divCssTwo1{           
            float:right;
            display:inline-block;
            margin-top:20px;
        }
    </style>
</head>
<body>
    <div>
        <form action="/Market/StudentDataKeep/IntoFunction" method="post" enctype="multipart/form-data">
            <fieldset class="fieldsetCssTwo1">
                <legend class="legendCssTwo1">文件选择区</legend>
                <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>选择Excel文件</button>
                <a href="/Market/StudentDataKeep/DownFile" class="layui-btn"><i class="layui-icon">&#xe601;</i>文件下载</a>
            </fieldset>
            <fieldset class="fieldsetCssTwo1" style="height:420px;">
                <legend class="legendCssTwo1">文件内容显示区</legend>
                <table id="tabletest2" lay-filter="tabletest2"></table>
            </fieldset>
            <div class="divCssTwo1">
                <input type="button" class="layui-btn" id="Yes" name="Yes" disabled="disabled" value="确定导入"> 
                <button class="layui-btn" id="No" name="No">取消</button>
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        //转换时间的方法
        function TimeChange(newtime) {
            if (newtime == null)
                return "";
            var date = new Date(parseInt(newtime.slice(6)));
            var year = date.getFullYear();
            var month = date.getMonth();
            if (month < 10) {
                month = "0" + Number(month + 1);
            }
            var day = date.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            var result = year + '-' + month + '-' + day;
            return result;
        }
        //提示
        function TiShi(msg) {
            layui.use(['layer'], function () {
                var layer = layui.layer;
                layer.msg(msg, {
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            });
        }
        //导入Excel
        $("#Yes").click(function () {
            $.ajax({
                url: '/Market/StudentDataKeep/IntoServer',
                dataType: 'json',
                success: function (successData) {
                    alert(successData);
                }
                , error: function () {
                    TiShi('导入失败!请重试');
                }
            });
        });
        //取消
        $("#No").click(function () {
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭   
            //将上传文件删除
            $.ajax({
                url: '/Market/StudentDataKeep/DeleteFile'
            });
        });         
        layui.use(['upload','table'], function () {
            var $ = layui.jquery
                , upload = layui.upload;
             table = layui.table;
             layer = layui.layer;
            //指定允许上传的文件类型
            upload.render({
                elem: '#test3'
                , url: '/Market/StudentDataKeep/IntoFunction'
                , accept: 'file' //普通文件
                , exts: 'xls|xlsx'//只允许上传Excle文件
                , done: function (res) {
                    if (res.msg == "ok") {
                        table.render({
                            elem: '#tabletest2'
                            , data:res.data
                            , cellMinWidth: 60 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                            , cols: [[
                                  { field: 'StuName', title: '姓名' }
                                , {field: 'StuSex', title: '性别'}
                                , { field: 'StuPhone', title: '联系电话' }
                                , { field: 'StuEducational', title: '学历' }
                                , { field: 'StuAddress', title: '家庭住址' }
                                , { field: 'StuSchoolName', title: '学校' }
                                , { field: 'Region_id', title: '区域' }
                                , { field: 'StuInfomationType_Id', title: '信息来源' }
                                , { field: 'EmployeesInfo_Id', title: '备案人' }
                                , { field: 'Reak', title: '说明' }
                            ]]
                            , page: true
                            , limits: [5, 8]
                            , limit: 5
                        });
                        $("#Yes")[0].removeAttribute("disabled");
                    } else if (res.msg == "文件格式错误") {
                        TiShi(res.msg);
                    } else if (res.msg == "no") {
                        TiShi('操作错误');
                    }
                }
            });               
        });
    </script>
</body>
</html>
