
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExportView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        .DivCss{
            width:95%;
            margin-top:20px;
            margin-left:auto;
            margin-right:auto;
        }
        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }
        .DivCss2{
           text-align:center;
           margin-top:20px;
        }      
        #formexpor
        {
             width:80%;
             margin:0px auto;
        }
    </style>
</head>
<body>
    <div class="DivCss">
        <form id="formexpor" class="layui-form">          
            <div class="layui-form-item">
                <div class="layui-col-xs12 DivCss3">
                    <label class="LableCss1">备&nbsp; 案&nbsp;人:</label>
                    <div class="layui-input-block">
                        <input name="beanMan" id="beanMan" class="layui-input linu" />
                    </div>
                </div>
                 
            </div>
            <div class="layui-form-item">
                <div class="layui-col-xs12 DivCss3">
                    <label class="LableCss1">所在区域:</label>
                    <div class="layui-input-block">
                        @Html.DropDownList("Area", ViewBag.areExport as IEnumerable<SelectListItem>)
                    </div>
                </div>                

            </div> 
            <div class="layui-form-item">
                <div class="layui-col-sm12 DivCss3">
                    <label class="LableCss1">咨 &nbsp; 询&nbsp;师:</label>
                    <div class="layui-input-block">
                        @Html.DropDownList("teacher_c", ViewBag.c_teacher as IEnumerable<SelectListItem>)
                    </div>

                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-col-sm12 DivCss3">
                    <label class="LableCss1">开始日期:</label>
                    <div class="layui-input-block">
                        <input name="oneTime" id="oneTime" class="layui-input linu" />
                    </div>

                </div>
                                
            </div>
            <div class="layui-form-item">
                <div class="layui-col-sm12 DivCss3">
                    <label class="LableCss1">结束日期:</label>
                    <div class="layui-input-block">
                        <input name="twoTime" id="twoTime" class="layui-input linu" />
                    </div>

                </div>
            </div>
            <div class="DivCss2">
                <button type="button" lay-submit lay-filter="IsTrueBtn" class="layui-btn">确定导出</button>
                <button type="button" class="layui-btn" onclick="MyClose()">取消关闭</button>
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        function MyClose() {
            layui.use('layer', function () {
                var index = parent.layer.getFrameIndex(window.name);  
                parent.layer.close(index); 
            });
        }
        layui.use(['form','laydate'], function () {
            var form = layui.form;
            var laydate = layui.laydate;

            var layer = layui.layer;

            laydate.render({
                elem: '#oneTime',
                format: 'yyyy-MM-dd',
                trigger: 'click'
            });

            laydate.render({
                elem: '#twoTime',
                format: 'yyyy-MM-dd',
                trigger: 'click'
            });

            form.on('submit(IsTrueBtn)', function (data) {                
                  // console.log(data.field);
                  var layer = layui.layer;
                  var ind = layer.load(1);
                  $.ajax({
                      url: '/Market/StudentDataKeep/ExportFunction',
                      type: 'POST',
                      data: data.field,
                      success: function (suc) {
                          if (suc.Success == true) {
                              //下载
                              let a = document.createElement('a') // 创建a标签
                              let e = document.createEvent('MouseEvents') // 创建鼠标事件对象
                              e.initEvent('click', false, false) // 初始化事件对象
                              a.href = "/Market/StudentDataKeep/GetExcelport" // 设置下载地址
                              a.download = '' // 设置下载文件名
                              a.dispatchEvent(e);
                              layer.close(ind);
                              MyClose();
                              layer.msg('操作成功！！！', { icon: 1, shade: 0.8 });
                          } else {
                              layer.close(ind);

                              layer.msg('系统错误，请刷新重试!!!', {icon:2,shade:0.8});
                          }
                      }
                  });
                return false;  
            });
        });
    </script>
</body>
</html>
