
@{
    Layout = null;
}
<style>
    #but1 {
        position: absolute;
        top: 13%;
        left: 35%;
        width: 36px;
        height: 36px;
        text-align: center;
        line-height: 36px;
    }

    #but1:hover {
            background-color: aqua;
        }

    #Nation {
        width: 100px;
    }

    .linu {
        width: 200px;
    }

    .mm {
        border: 1px solid black;
    }

    .LableCss1 {
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
        display: block;
        padding: 9px 15px;
        width: 80px;
        font-weight: 400;
        line-height: 20px;
        text-align: right
    }

    .TextAreCss1 {
        height: 80px;
    }

    .butCss1 {
        float: right;
        margin-right: 100px;
    }

    .butCss2 {
        border: 0px solid black;
    }

    .layButCss1 {
        display: inline-block;
        height: 38px;
        line-height: 38px;
        padding: 0 18px;
        background-color: #009688;
        color: #fff;
        white-space: nowrap;
        text-align: center;
        font-size: 14px;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        border: 0px solid #C9C9C9;
        background-color: #fff;
        color: #555;
        height: 18px;
        line-height: 18px
    }

    body .demo-class .layui-layer-title {
        background: #009688;
        color: #fff;
        border: none;
    }
</style>
<!DOCTYPE html>
@model SiliconValley.InformationSystem.Entity.MyEntity.StudentPutOnRecord
@using SiliconValley.InformationSystem.Entity.MyEntity;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LookDetailsView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover {
                background-color: aqua;
            }

        #Nation {
            width: 100px;
        }

        .linu {
            width: 200px;
        }

        .mm {
            border: 1px solid black;
        }

        .LableCss1 {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }

        .TextAreCss1 {
            height: 80px;
        }

        .butCss1 {
            float: right;
            margin-right: 100px;
        }

        .butCss2 {
            border: 0px solid black;
        }

        .layButCss1 {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            padding: 0 18px;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            border: 0px solid #C9C9C9;
            background-color: #fff;
            color: #555;
            height: 18px;
            line-height: 18px
        }

        body .demo-class .layui-layer-title {
            background: #009688;
            color: #fff;
            border: none;
        }
    </style>
</head>
<body>
    <div>
        <form class="layui-form" lay-filter="myform2">
            <div class="layui-container">
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-block">
                            <span name="StuName" id="StuName" class="LableCss1">

                            </span>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">

                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <span name="StuSex" id="StuSex" class="LableCss1">

                            </span>
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">电话</label>
                        <div class="layui-input-block">
                            <span name="StuPhone" id="StuPhone" class="LableCss1">

                            </span>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="LableCss1">出生日期</label>
                        <div class="layui-input-block">
                            <span name="StuBirthy" id="StuBirthy" class="LableCss1">

                            </span>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="LableCss1">学校名称</label>
                        <div class="layui-input-block">
                            <span name="StuSchoolName" id="StuSchoolName" class="LableCss1">

                            </span>
                        </div>
                    </div>
                    <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                        <label class="layui-form-label">学历</label>
                        <div class="layui-input-block">                          
                            <span id="StuEducational" name="StuEducational" class="LableCss1">

                            </span>
                        </div>

                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="LableCss1">家庭住址</label>
                        <div class="layui-input-block">
                            <span name="StuAddress" id="StuAddress" class="LableCss1">

                            </span>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">微信</label>
                        <div class="layui-input-block">
                            <span class="LableCss1" name="StuWeiXin" id="StuWeiXin">

                            </span>
                        </div>

                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">QQ</label>
                        <div class="layui-input-block">
                            <span name="StuQQ" id="StuQQ" class="LableCss1">

                            </span>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="LableCss1">信息来源</label>
                        <div class="layui-input-block">
                            <span class="LableCss1" id="InfomationTypeName" name="InfomationTypeName">

                            </span>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs5 layui-col-sm5 layui-col-md5">
                        <label class="LableCss1">录入人员</label>
                        <div class="layui-input-block">
                            <span id="StuEntering_1" name="StuEntering_1" class="LableCss1">

                            </span>
 
                        </div>
                    </div>
                    <div class="layui-col-xs5 layui-col-sm5 layui-col-md5">
                        <label class="LableCss1">备案日期</label>
                        <div class="layui-input-block">
                       
                            <span id="StuDateTime" name="StuDateTime" class="LableCss1">

                            </span>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">

                        <label class="LableCss1">是否上门</label>
                        <div class="layui-input-block">
                            <span  name="StuIsGoto" id="StuIsGoto" class="LableCss1">

                            </span>
                        </div>

                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="LableCss1">上门日期</label>
                        <div class="layui-input-block">
                            <span class="LableCss1" name="StuVisit" id="StuVisit">

                            </span>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs5 layui-col-sm5 layui-col-md5">
                        <label class="LableCss1">学生状态</label>
                        <div class="layui-input-block">                        
                            <span class="LableCss1" name="StatusName" id="StatusName">

                            </span>
                        </div>
                    </div>
                    <div class="layui-col-xs5 layui-col-sm5 layui-col-md5">
                        <label class="layui-form-label">备案人</label>
                        <div class="layui-input-block">
                            <span name="e_Name" id="e_Name" class="LableCss1">

                            </span>
                        </div>
                    </div>                   
                </div>
                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">

                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <span name="Reak" id="Reak" class="LableCss1">

                            </span>
                        </div>
                    </div>  
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">

                        <label class="layui-form-label">区域</label>
                        <div class="layui-input-block">
                            <span name="reginname" id="reginname" class="LableCss1">
                                @ViewBag.regin
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">                  
                    <button type="button" class="layui-btn butCss1" id="quxiao">关闭</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        //转换时间的方法
        function TimeChange(newtime) {
            if (newtime == null)
                return "";
            var date = new Date(parseInt(newtime.slice(6)));
            var year = date.getFullYear();
            var month = date.getMonth();
            if (month < 10) {
                month = "0" + Number(month + 1);
            }
            var day = date.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            var result = year + '-' + month + '-' + day;
            return result;
        }
        //获取年月日，时分秒
        function formatTen(num) {
            return num > 9 ? (num + "") : ("0" + num);
        } 
        function formatDate(date) {
            var date = new Date(date)
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var hour = date.getHours();
            var minute = date.getMinutes();
            var second = date.getSeconds();
            return year + "-" + formatTen(month) + "-" + formatTen(day) + " " + formatTen(hour) + ":" + formatTen(minute) + ":" + formatTen(second);
        }
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
            var ityy;
            //刷新界面 所有元素
            form.render();
            $("#quxiao").click(function () {
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭   

            });           
            //自定义验证规则
            form.verify({
                IsVisit: function (value) {
                    var reg = /^ *$/;  //这里^和*之间有一个空格
                    var Is = reg.test(value);
                    if (ityy != "false") {
                        if (Is == true) {
                            return "上门日期不能为空";
                        }
                    }
                }
                , PhoeNumber: [
                    /^[0-9]*$/
                    , '电话号码只能是数字'
                ]
                , content: function (value) {
                    layedit.sync(editIndex);
                }
            });
            
        });
         $(function () {
            $.ajax({
                url: '/Market/StudentDataKeep/FindStudentInfomation/' + @ViewBag.id,
                type: 'POST',
                success: function (successdata) {
                    if (this.success != "学生ID未拿到") {
                        var date1 = new Date(parseInt(successdata.StuDateTime.slice(6)));
                        successdata.StuBirthy = TimeChange(successdata.StuBirthy);
                        $("#StuName")[0].innerText = successdata.StuName;
                        $("#StuSex")[0].innerText = successdata.StuSex.toString() == "true" ? "男" : "女";
                        $("#StuPhone")[0].innerText = successdata.StuPhone;
                        $("#StuBirthy")[0].innerText = successdata.StuBirthy;
                        $("#StuSchoolName")[0].innerText = successdata.StuSchoolName;
                        $("#StuEducational")[0].innerText = successdata.StuEducational;
                        $("#StuAddress")[0].innerText = successdata.StuAddress;
                        $("#StuWeiXin")[0].innerText = successdata.StuWeiXin;
                        $("#StuQQ")[0].innerText = successdata.StuQQ;
                        $("#InfomationTypeName")[0].innerText = successdata.InfomationTypeName;
                        $("#StuEntering_1")[0].innerText = successdata.StuEntering_1;
                        $("#StuDateTime")[0].innerText = formatDate(date1);
                        $("#StuIsGoto")[0].innerText = successdata.StuIsGoto.toString() == "true" ? "是" : "否";
                        $("#StuVisit")[0].innerText = TimeChange(successdata.StuVisit);
                        $("#StatusName")[0].innerText = successdata.StatusName;
                        $("#e_Name")[0].innerText = successdata.e_Name;
                        $("#Reak")[0].innerText = successdata.Reak;
                    } else {
                        layui.use(['layer'], function () {
                            var layer = layui.layer;
                            layer.msg("信息加载错误!请重试", {
                                icon: 1,
                                time: 3000 //2秒关闭（如果不配置，默认是3秒）
                            });
                        });
                    }
                    
                },
                error: function (errordata) {
                    layui.use(['layer'], function () {
                        var layer = layui.layer;
                        layer.msg("信息加载错误!请重试", {
                            icon: 1,
                            time: 3000 //2秒关闭（如果不配置，默认是3秒）
                        });
                    });
                }
            });
        });
    </script>
</body>

</html>
