
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectReceiveEmp</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
    <div id="uldiv">
        <ul id="ultree"></ul>
    </div>
  
    <script>
        $(function () {
            layui.use(['tree', 'layer'], function () {
                  var tree = layui.tree;
                   var layer = layui.layer;
                //渲染
                function Tree(Successdata) {
                    tree.render({
                        elem: '#ultree',
                        data: [{
                            title: '硅谷大家庭',
                            id: "-1",
                            spread: true,
                            children: Successdata
                        }],
                        click: function (obj) {
                            var dataid = obj.data.id; //得到当前点击的节点数据
                            $.ajax({
                                url: "/Market/StudentDataKeep/FindEmply/" + dataid,
                                success: function (mydatas) {
                                    if (mydatas == "no") {
                                        layer.msg('请选择员工', {
                                            icon: 2,
                                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                        });
                                    } else {
                                        var Setvalues = { "name": mydatas.EmpName, "phone": mydatas.Phone };
                                        window.parent.BeanValue(Setvalues);
                                        //当你在iframe页面关闭自身时
                                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                        parent.layer.close(index); //再执行关闭
                                    }
                                }
                            });
                        }
                    });
                }


            $.ajax({
                url: "/Market/StudentDataKeep/ShowEmployeInfomation",
                success: function (Successdata) {
                    Tree(Successdata);
                },
                error: function () {
                    layer.msg('加载数据有误，请重试', {
                        icon: 2,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            });
            });
        });
    </script>
</body>
</html>
