
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShortInfoMationView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        .DivCss1{
         margin-top:20px;
         margin-left:auto;
         margin-right:auto;
         width:95%;

        }
    </style>
</head>
<body>
    <div class="DivCss1">
        <form class="layui-form">
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="layui-form-label">接收员工:</label>
                    <div class="layui-input-block">
                        @Html.DropDownList("empname", ViewBag.list as IEnumerable<SelectListItem>,new Dictionary<string, object>() { { "lay-filter", "empselect" } })
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="layui-form-label">电话号码:</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" name="phone" id="phone" disabled="disabled"/>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="layui-form-label">发送内容:</label>
                    <div class="layui-input-block">
                        <textarea class="layui-textarea" name="rank" id="rank"></textarea>
                    </div>
                </div>

            </div>
            <div class="layui-row layui-form-item">
                <div style="text-align:center">
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="true">确定</button>
                    <button type="button" class="layui-btn" onclick="Flase()">取消关闭</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
       
        //"市场对接老师"选择
        //function iconbtn() {
        //    layer.open({
        //        type: 2
        //        , area: ["500px", "400px"]
        //        , title: "选择员工"
        //        , content: '/Market/StudentDataKeep/SelectReceiveEmp'
        //        , anim: 2
        //    });
        //}

        //function BeanValue(getvalue) {
        //    $("#name").val(getvalue.name);
        //    $("#phone").val(getvalue.phone);
        //}
        layui.use(['form', 'layer'], function () {
            var form = layui.form;
            var layer = layui.layer;

          

            form.on('submit(true)', function (data) {
                var pone = $("#phone").val();
                var read = $("#rank").val();
                if (pone.length <= 0 || read.length <= 0) {
                    layer.msg('电话号码或提示消息不能为空！', { icon: 2 });
                } else {
                    window.parent.ShortValue(pone, read);
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }
                
                //$.ajax({
                //    url: '/Market/StudentDataKeep/ShortInfomationFuntion',
                //    data: data.field,
                //    type:'POST',
                //    success: function (suc) {
                //        layer.msg(suc);
                //        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                //        parent.layer.close(index);
                //    }
                //});
                
                return false;  
            });

            form.on('select(empselect)', function (data) {
                if (data.value == "0") {
                    $("#phone").val("");
                } else {
                    $("#phone").val(data.value);
                }
                 
            });      
        });
        function Flase() {
            layui.use('layer', function () {
                var layer = layui.layer;
                //当你在iframe页面关闭自身时
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭   
            });
        }
    </script>
</body>
</html>
