
@{
    ViewBag.Title = "StudentDataKeepIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SiliconValley.InformationSystem.Entity.MyEntity;
@model SiliconValley.InformationSystem.Entity.MyEntity.StudentPutOnRecord
@section style{
    <style>
        body .demo-class .layui-layer-title {
            background: #009688;
            color: #fff;
            border: none;
        }

        .inputCss1 {
            height: 38px;
            line-height: 1.3;
            line-height: 38px\9;
            border-width: 1px;
            border-style: solid;
            background-color: #fff;
            border-radius: 2px
        }
    </style>
}
<script type="text/html" id="toolbarDemo1">
    <div class="layui-btn-container">

        <button type="button" class="layui-btn layui-btn-sm" lay-event="getCheckData">
            <i class="layui-icon">&#xe608;</i> 添加
        </button>
    </div>
</script>
<script type="text/html" id="barDemo1">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">查看详情</a>
</script>
<form class="layui-form">
    <div class="layui-row">
        <div class="layui-col-sm3">
            <label>姓名:</label>
            <input name="findNamevalue" id="findNamevalue" class="inputCss1" />
        </div>
        <div class="layui-col-sm3">
            <label>联系电话:</label>
            <input name="findPhonevalue" id="findPhonevalue" class="inputCss1" />
        </div>
        <div class="layui-col-sm3">
             <label>信息来源:</label> 
             <div style="display: inline-block;width:150px;">
                 @Html.DropDownList("findInformationvalue", ViewBag.infomation as IEnumerable<SelectListItem>)
             </div>
             
        </div>

        <div class="layui-col-sm2">
            <button id="searchBtn" type="button" class="layui-btn"><i class="layui-icon">&#xe615;</i> 查询</button>
        </div>
    </div>
</form>
<table id="tabletest1" lay-filter="tabletest1"></table>
@section script{
    <script>
        //转换时间的方法
        function TimeChange(newtime) {
            if (newtime == null)
                return "";
            var date = new Date(parseInt(newtime.slice(6)));
            var year = date.getFullYear();
            var month = date.getMonth();
            if (month < 10) {
                month = "0" + Number(month + 1);
            }
            var day = date.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            var result = year + '-' + month + '-' + day;
            return result;
        }
        //table重载的方法
        function LoadTable() {
            layui.use('table', function () {
                var table = layui.table;
                table.reload('tabletest1', { url: '/Market/StudentDataKeep/GetStudentPutOnRecordData', where: { 'findNamevalue': null } });
            });

        }
        //这个方法是用于当有姓名相同的就会显示与姓名相同的数据
        function LoadTableSeache(name) {
            layui.use('table', function () {
                var table = layui.table;
                table.reload('tabletest1', {
                    url: '/Market/StudentDataKeep/GetStudentPutOnRecordData'
                    , where: { 'findNamevalue': name} //设定异步数据接口的额外参数
                    //,height: 300
                });
            });
        }
        $(function () {
            //这是一个键盘按下事件 ,如果按下Ctrl+Z就会弹出添加页面
            $(document).keydown(function (event) {
                //console.log(event.ctrlKey);//是否是Ctrl键
                //console.log(event.keyCode);
                //console.log(event);
                if (event.keyCode === 90 && event.ctrlKey === true) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.open({
                            type: 2,
                            content: '/Market/StudentDataKeep/AddorEdit/id0' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                            , area: ['1000px', '650px'],
                            title: '添加备案信息'
                            , shade: 0.8
                            , anim: 4
                            , skin: 'demo-class'
                        });
                    });
                }
            });
            //这是一个模糊查询的方法
            $("#searchBtn").click(function () {
                var findNamevalue = $("#findNamevalue").val();
                var findPhonevalue = $("#findPhonevalue").val();
                var findInformationvalue = $("#findInformationvalue").val();
                var Jsondata = { 'findNamevalue': findNamevalue, 'findPhonevalue': findPhonevalue, 'findInformationvalue': findInformationvalue };
                console.log(Jsondata);
                layui.use('table', function () {
                    var table = layui.table;
                    table.reload('tabletest1', {
                        url: '/Market/StudentDataKeep/GetStudentPutOnRecordData'
                        , where: { 'findNamevalue': findNamevalue, 'findPhonevalue': findPhonevalue, 'findInformationvalue': findInformationvalue } //设定异步数据接口的额外参数
                        //,height: 300
                    });
                });
            });
        });
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#tabletest1'
                , url: '/Market/StudentDataKeep/GetStudentPutOnRecordData'
                , toolbar: '#toolbarDemo1'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'StuName', title: '姓名' }
                    , {
                        field: 'StuSex', title: '性别', templet: function (res) {
                            if (res.StuSex == false) {
                                return "女";
                            } else {
                                return "男";
                            }
                        }
                    }
                    , { field: 'StuPhone', title: '联系电话' }
                    , { field: 'StuInfomationType_Id', title: '信息来源' }
                    , { field: 'StuStatus_Id', title: '学生状态' }
                    , {
                        field: 'StuIsGoto', title: '是否上门', templet: function (res) {
                            if (res.StuIsGoto == false || res.StuIsGoto == null) {
                                return "未上门";
                            } else {
                                return "已上门";
                            }
                        }
                    }
                    , {
                        field: 'StuVisit', title: '上门日期', templet: function (res) {
                            return TimeChange(res.StuVisit);
                        }
                    }
                    , { field: 'EmployeesInfo_Id', title: '备案人' }
                    , {
                        field: 'StuDateTime', title: '备案日期', templet: function (res) {
                            return TimeChange(res.StuDateTime);
                        }
                    }
                    , { field: 'Reak', title: '备注' }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo1', width: 150 }
                ]]
                , page: true
            });

            //头工具栏事件
            table.on('toolbar(tabletest1)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getCheckData':
                        layer.open({
                            type: 2,
                            content: '/Market/StudentDataKeep/AddorEdit/0' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                            , area: ['1000px', '650px'],
                            title: '添加备案信息'
                            , shade: 0.8
                            , anim: 4
                            , skin: 'demo-class'
                        });
                        break;
                };
            });
            //监听行工具事件
            table.on('tool(tabletest1)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'edit') {
                    layer.open({
                        type: 2,
                        content: '/Market/StudentDataKeep/EditView/' + data.Id //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        , area: ['1000px', '650px'],
                        title: '编辑备案信息'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                } else if (obj.event === 'del') {
                    layer.open({
                        type: 2,
                        content: '/Market/StudentDataKeep/LookDetailsView/' + data.Id //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        , area: ['1000px', '650px'],
                        title: '编辑备案信息'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                }
            });


        });
    </script>

    

}

