
@{
    ViewBag.Title = "StudentDataKeepIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SiliconValley.InformationSystem.Entity.MyEntity;
@model SiliconValley.InformationSystem.Entity.MyEntity.StudentPutOnRecord
@section style{
    <style>
        body .demo-class .layui-layer-title {
            background: #009688;
            color: #fff;
            border: none;
        }
        .inputCss1 {
            height: 38px;
            line-height: 1.3;
            line-height: 38px\9;
            border-width: 1px;
            border-style: solid;
            background-color: #fff;
            border-radius: 2px
        }
        .spanCssThree1 {
            color: red
        }
        .spanCss2 {
            font-size: 15px;
            font-weight: normal;
        }
       .inputCss2{
            border-radius:5px;
            height:30px;
        }
    </style>
}
<script type="text/html" id="toolbarDemo1">
    <div class="layui-btn-container">
        <button type="button" class="layui-btn layui-btn-sm" lay-event="getCheckData">
            <i class="layui-icon">&#xe608;</i> 添加
        </button>
        <button type="button" class="layui-btn layui-btn-sm" lay-event="getFileInto">
            <i class="layui-icon">&#xe60a;</i> Excel文件导入
        </button>
        <button type="button" class="layui-btn layui-btn-sm" lay-event="getSerchType">
            <i class="layui-icon">&#xe615;</i> 查看信息来源与学生状态
        </button>
    </div>
</script>
<script type="text/html" id="barDemo1">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">查看详情</a>
</script>
<form class="layui-form">
    <fieldset style="border: 1px solid #009688;">
        <legend style="color:#009688;">简单查询</legend>
        <div class="layui-row">
            <div class="layui-col-sm3">
                <label class="spanCss2">姓名:</label>
                <input name="findNamevalue" id="findNamevalue" class="inputCss1 inputCss2" />
            </div>
            <div class="layui-col-sm3">
                <label class="spanCss2">联系电话:</label>
                <input name="findPhonevalue" id="findPhonevalue" class="inputCss1 inputCss2" />
            </div>
            <div class="layui-col-sm3">
                <label class="spanCss2">信息来源:</label>
                <div style="display: inline-block;width:150px;">
                    @Html.DropDownList("findInformationvalue", ViewBag.infomation as IEnumerable<SelectListItem>,new Dictionary<string,object>(){ { "class","inputCss2"} })
                </div>

            </div>
            <div class="layui-col-sm3">
                <label class="spanCss2">所在区域:</label>
                <div style="display: inline-block;width:150px;">
                    @Html.DropDownList("findAreavalue", ViewBag.are as IEnumerable<SelectListItem>)
                </div>
                </div>
            </div>
        <div class="layui-row" style="margin-top:10px;margin-bottom:10px">
            <div class="layui-col-sm3">
                <label class="spanCss2">备案人:</label>
                <input name="findBeanManvalue" id="findBeanManvalue" class="inputCss1 inputCss2" />
            </div>
            <div class="layui-col-sm3">
                <label class="spanCss2">开始时间:</label>
                <input name="findStartvalue" id="findStartvalue" class="inputCss1 inputCss2" placeholder="YY-MM-DD" />
            </div>
            <div class="layui-col-sm3">
                <label class="spanCss2">结束时间:</label>
                <div style="display: inline-block;width:150px;">
                    <input name="findEndvalue" id="findEndvalue" class="inputCss1 inputCss2" placeholder="YY-MM-DD" />
                </div>
            </div>
            <div class="layui-col-sm3" style="text-align:right">
                <button id="searchBtn" type="button" class="layui-btn"><i class="layui-icon">&#xe615;</i> 查询</button>
            </div>
        </div>
    </fieldset>
</form>
<table id="tabletest1" lay-filter="tabletest1"></table>
@section script{
    <script>
        //转换时间的方法
        function TimeChange(newtime) {
            if (newtime == null)
                return "";
            var date = new Date(parseInt(newtime.slice(6)));
            var year = date.getFullYear();
            var month = date.getMonth();
            if (month < 10) {
                month = "0" + Number(month + 1);
            }
            var day = date.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            var result = year + '-' + month + '-' + day;
            return result;
        }
        //table重载的方法
        function LoadTable() {
            layui.use('table', function () {
                var table = layui.table;
                table.reload('tabletest1', { url: '/Market/StudentDataKeep/GetStudentPutOnRecordData', where: { 'findNamevalue': null } });
            });

        }
        //提示
        function TiShi(msg) {
            layui.use(['layer'], function () {
                var layer = layui.layer;
                layer.msg(msg, {
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            });
        }
        //这个方法是用于当有姓名相同的就会显示与姓名相同的数据
        function LoadTableSeache(name) {
            layui.use('table', function () {
                var table = layui.table;
                table.reload('tabletest1', {
                    url: '/Market/StudentDataKeep/GetStudentPutOnRecordData'
                    , where: { 'findNamevalue': name} //设定异步数据接口的额外参数
                });
            });
        }
        $(function () {
            //这是一个键盘按下事件 ,如果按下Ctrl+Z就会弹出添加页面
            $(document).keydown(function (event) {
                if (event.keyCode === 90 && event.ctrlKey === true) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.open({
                            type: 2,
                            content: '/Market/StudentDataKeep/AddorEdit' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                            , area: ['1000px', '650px'],
                            title: '添加备案信息'
                            , shade: 0.8
                            , anim: 4
                            , skin: 'demo-class'
                        });
                    });
                }
            });
            //这是一个模糊查询的方法
            $("#searchBtn").click(function () {
                var findNamevalue = $("#findNamevalue").val();
                var findPhonevalue = $("#findPhonevalue").val();
                var findInformationvalue = $("#findInformationvalue").val();
                var findStartvalue = $("#findStartvalue").val();//获取开始时间
                var findEndvalue = $("#findEndvalue").val();//获取结束时间
                var findAreavalue = $("#findAreavalue").val();//获取区域
                var findBeanManvalue = $("#findBeanManvalue").val();//获取备案人               
                    layui.use('table', function () {
                        var table = layui.table;
                        table.reload('tabletest1', {
                            url: '/Market/StudentDataKeep/GetStudentPutOnRecordData'
                            , where: { 'findNamevalue': findNamevalue, 'findPhonevalue': findPhonevalue, 'findInformationvalue': findInformationvalue, 'findStartvalue': findStartvalue, 'findEndvalue': findEndvalue, 'findAreavalue': findAreavalue, 'findBeanManvalue': findBeanManvalue} //设定异步数据接口的额外参数
                        });
                    });                                                 
            });
        });
        layui.use(['table','laydate','form'], function () {
            var table = layui.table;
            var laydate = layui.laydate;
            var form = layui.form;
            //日期
           
            //月份小于10的前面加个0
            function MoDay(a) {
                if (a < 10) {
                    return "0" + a;
                }
                return a;
            }
            ////系统时间

            var curDate = new Date();
            var curYearMonthrDay = curDate.getFullYear() + "-" + MoDay(parseInt(curDate.getMonth()) + 1) + "-" + MoDay(parseInt(curDate.getDate()));

            // 时间选择器初始化 开始时间
            laydate.render({
                elem: '#findStartvalue',
                format: 'yyyy-MM-dd',
                done: function (value, date, endDate) {
                    var startDate = new Date(value).getTime();
                    var endTime = new Date($('#findEndvalue').val()).getTime();
                    if (endTime < startDate) {
                        layer.msg('结束时间不能小于开始时间');
                        $('#findStartvalue').val($('#findEndvalue').val());
                    }
                    if (startDate > curDate.getTime()) {
                        layer.msg('开始时间不能大于当前时间');
                        $('#findStartvalue').val(curYearMonthrDay);
                    }
                }
            })
            // 时间选择器初始化 结束时间
            laydate.render({ //结束时间
                elem: '#findEndvalue',
                format: 'yyyy-MM-dd',
                done: function (value, date, endDate) {
                    var startDate = new Date($('#findStartvalue').val()).getTime();
                    var endTime = new Date(value).getTime();
                    if (endTime < startDate) {
                        layer.msg('结束时间不能小于开始时间');
                        $('#findEndvalue').val($('#findStartvalue').val());
                    }
                    if (endTime > curDate.getTime()) {
                        layer.msg('结束时间不能大于当前时间');
                        $('#findEndvalue').val(curYearMonthrDay);
                    }
                }
            })
            table.render({
                elem: '#tabletest1'
                , url: '/Market/StudentDataKeep/GetStudentPutOnRecordData'
                , toolbar: '#toolbarDemo1'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'StuName', title: '姓名' }
                    , {
                        field: 'StuSex', title: '性别', templet: function (res) {
                            if (res.StuSex == false) {
                                return "女";
                            } else {
                                return "男";
                            }
                        }
                    }
                    , { field: 'StuPhone', title: '联系电话' }
                    , { field: 'StuInfomationType_Id', title: '信息来源' }
                    , { field: 'StuStatus_Id', title: '学生状态' }
                    , {
                        field: 'StuIsGoto', title: '是否上门', templet: function (res) {
                            if (res.StuIsGoto == false || res.StuIsGoto == null) {
                                return "未上门";
                            } else {
                                return "已上门";
                            }
                        }
                    }
                    , { field: 'EmployeesInfo_Id', title: '备案人' }
                    , { field:'ReginName',title:'区域'}
                    , {
                        field: 'StuDateTime', title: '备案日期', templet: function (res) {
                            return TimeChange(res.StuDateTime);
                        }
                    }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo1', width: 150 }
                ]]
                , page: true
            });

            //头工具栏事件
            table.on('toolbar(tabletest1)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getCheckData':
                        layer.open({
                            type: 2,
                            content: '/Market/StudentDataKeep/AddorEdit' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                            , area: ['1000px', '650px'],
                            title: '添加备案信息'
                            , shade: 0.8
                            , anim: 4
                            , skin: 'demo-class'
                        });
                        break;
                    case 'getFileInto':                         
                          layer.open({
                                type: 2,
                                content: '/Market/StudentDataKeep/ExcleIntoView'  
                                , area: ['1000px', '650px'],
                                title: '导入Excle文件'
                                , shade: 0.8
                                , anim: 4
                                , skin: 'demo-class'
                        });                      
                        break;
                    case 'getSerchType':
                        layer.open({
                            type: 2,
                            content: '/Market/StudentDataKeep/InfomationAndStatuView' 
                            , area: ['800px', '450px'],
                            title: '查看信息来源与学生状态'
                            , shade: 0.8
                            , anim: 4
                            , skin: 'demo-class'
                            , end: function () {
                                $.ajax({
                                    url:'/Market/StudentDataKeep/DelteInfomationType'
                                });
                            }
                        });       
                        break;
                };
            });
            //监听行工具事件
            table.on('tool(tabletest1)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'edit') {
                    layer.open({
                        type: 2,
                        content: '/Market/StudentDataKeep/EditView/' + data.Id //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        , area: ['1000px', '650px'],
                        title: '编辑备案信息'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                } else if (obj.event === 'del') {
                    layer.open({
                        type: 2,
                        content: '/Market/StudentDataKeep/LookDetailsView/' + data.Id //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        , area: ['1000px', '650px'],
                        title: '编辑备案信息'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                }
            });
        });
    </script>

    

}

