
@{
    ViewBag.Title = "TeacherAddorBeonDutyIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    <style>
        body .demo-class .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }

        .linu
        {
            width: 150px;
        }

        body .demo-class .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }

        .layui-colla-title
        {
            position: relative;
            padding: 0 15px 0 35px;
            color: #333;
            background-color: #f2f2f2;
            cursor: pointer;
            font-size: 14px;
            overflow: hidden;
            height: 15px;
            line-height: 15px;
        }
    </style>
}
<div class="layui-collapse" lay-accordion>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">简单查询</h2>
        <div class="layui-colla-content">
            <form class="layui-form" lay-filter="TeacherSercher">
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                        <label class="LableCss1">值班老师:</label>
                        <div class="layui-input-block">
                            @Html.DropDownList("teacherid", ViewBag.teacher as IEnumerable<SelectListItem>, new Dictionary<string, object>() { { "lay-filter", "teacher" } })
                        </div>
                    </div>
                    <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                        <label class="LableCss1">开始时间:</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="开始时间" class="layui-input" name="starTime" id="starTime" />
                        </div>
                    </div>
                    <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                        <label class="LableCss1">结束时间:</label>
                        <div id="ClssTime" class="layui-input-block">
                            <input type="text" placeholder="结束时间" class="layui-input" name="endTime" id="endTime" />
                        </div>
                    </div>
                    <div class="layui-col-xs2 layui-col-sm2 layui-col-md2" style="text-align:center">
                        <button type="button" class="layui-btn" onclick="Sercher()">查询</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<table id="TeacherNight_table" lay-filter="TeacherNight_table"></table>
<script src="~/Scripts/Tangmin_CssAndJs/com_js/MyOrther_tangmin.js"></script>
<script type="text/html" id="toolbarDemo_Night">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData_addNight"><i class="layui-icon">&#xe624;</i>添加值班数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData_delNight"><i class="layui-icon">&#x1006;</i>批量删除数据</button>
        @*<button class="layui-btn layui-btn-sm" lay-event="getCheckData_timeChange"> <i class="layui-icon">&#xe642;</i>日期更改</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData_time"> <i class="layui-icon">&#xe642;</i>上课延迟或提前</button>*@
    </div>
</script>

<script type="text/html" id="barDemo_Night">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a> 
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>



<script>
    function Sercher() {
        layui.use(['form','table'], function () {
            var form = layui.form;
            var table = layui.table;
            var data1 = form.val("TeacherSercher");
            table.reload('TeacherNight_table', {
                url: '/Educational/TeacherAddorBeonDuty/TabledataSecher'
                , where: { "tid": data1.teacherid, "olddate": data1.starTime, "newdate": data1.endTime }
            });
        });

    }
    function TableFulsh() {
        layui.use('table', function () {
            var table = layui.table;
            table.reload('TeacherNight_table');
        });
    }
    layui.use(['table','element','laydate'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var element = layui.element;
        //自定义事件
        laydate.render({
            elem: '#starTime'
            , trigger: 'click' //采用click弹出
        });

        //自定义事件
        laydate.render({
            elem: '#endTime'
            , trigger: 'click' //采用click弹出
        });
        table.render({
            elem: '#TeacherNight_table'
            , url: '/Educational/TeacherAddorBeonDuty/Tabledata'
            , toolbar: '#toolbarDemo_Night'
            , cols: [[
                { type: 'checkbox' }
                , {
                    field: 'Anpaidate', title: '值班日期', templet: function (res) {
                        return TimeChange(res.Anpaidate);
                    }
                }
                , { field: 'EmpName', title: '值班老师' }
                , { field: 'TypeName', title: '值班类型' }
                , { field: 'ClassNumber', title: '班级' }
                , { field: 'ClassroomName', title: '教室' }
                , { field: 'curd_name', title: '值班时间段' }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo_Night', width: 150 }
            ]]
            , page: true
            , limits: [20, 30, 40, 50, 60,70,80,90]
            ,limit:20
        });

        //头工具栏事件
        table.on('toolbar(TeacherNight_table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData_addNight':
                    layer.open({
                        type: 2,
                        content: '/Educational/TeacherNight/AddDataView'
                        , area: ['800px', '500px'],
                        title: '添加值班数据页面'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                    break;
                case 'getCheckData_delNight':
                    //批量删除数据
                     
                    if (checkStatus.data.length <= 0) {
                        layer.msg('至少要选择一条数据！', { icon: 2, shade: 0.8 });

                    } else {
                        var str = "";
                        for (var i = 0; i < checkStatus.data.length; i++) {
                            str += checkStatus.data[i].Id + ",";
                        }
                        layer.confirm('真的删除行么?', { icon: 3 }, function (index) {
                            $.ajax({
                                url: '/Educational/TeacherAddorBeonDuty/DeleteFunction',
                                type: 'POST',
                                data: { "ids": str},
                                success: function (suc) {
                                    if (suc.Success == false) {
                                        layer.msg('删除失败！', { icon: 2 });
                                    } else {
                                        layer.msg(suc.Msg, { icon: 1, shade: 0.8 }, function () {
                                            //刷新
                                            TableFulsh();
                                        });
                                    }
                                }
                            });
                            layer.close(index);
                        });
                    }
                    
                    break;
                //case 'getCheckData_timeChange':
                //    layer.open({
                //        type: 2,
                //        content: '/Educational/TeacherNight/ClassadjustmentView/false'
                //        , area: ['600px', '400px'],
                //        title: '修改日期页面'
                //        , shade: 0.8
                //        , anim: 4
                //        , skin: 'demo-class'
                //    });
                //    break;
                //case 'getCheckData_time':
                //    layer.open({
                //        type: 2,
                //        content: '/Educational/TeacherNight/ClassadjustmentView/true'
                //        , area: ['600px', '400px'],
                //        title: '日期修改页面'
                //        , shade: 0.8
                //        , anim: 4
                //        , skin: 'demo-class'
                //    });
                //    break;

            };
        });

        //监听行工具事件
        table.on('tool(TeacherNight_table)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么?', { icon: 3 }, function (index) {
                    $.ajax({
                        url: '/Educational/TeacherAddorBeonDuty/DeleteFunction',
                        type: 'POST',
                        data: { "ids": data.Id},
                        success: function (suc) {
                            if (suc.Success == false) {
                                layer.msg('删除失败！', { icon: 2 });
                            } else {
                                layer.msg(suc.Msg, { icon: 1, shade: 0.8 }, function () {
                                    //刷新
                                    TableFulsh();
                                });
                            }
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    content: '/Educational/TeacherAddorBeonDuty/EditFunction/' + data.Id,
                    area: ['700px', '400px'],
                    title: '编辑值班数据',
                    shade: 0.8,
                    anim: 4,
                    skin: 'demo-class'
                });
            }
        });
    });
</script>

