
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThisIsImageDataView</title>
    <link href="~/Scripts/css/index.css" rel="stylesheet" />
</head>
<body>
    <p>折线统计图</p>
    <div id="line" style="width:1000px;height:492px;"></div>
    <script src="~/Scripts/js/jquery-1.7.2-min.js"></script>
    <script src="~/Scripts/js/echarts.min.js"></script>
    <script src="~/Scripts/js/index.js"></script>
</body>
</html>
