
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThisIsZhuZhuangImageView</title>
    <link href="~/Scripts/css/index.css" rel="stylesheet" />
   
</head>
<body>
    <p>柱状统计图1</p>
    <div id="pillar1" style="width:838px;height:305px;"></div>
    <script src="~/Scripts/js/jquery-1.7.2-min.js"></script>
    <script src="~/Scripts/js/echarts.min.js"></script>
    <script src="~/Scripts/js/Index2.js"></script>
</body>
</html>
