
@{
    ViewBag.Title = "SResearchRecordRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>SResearchRecordRegister</h2>*@

<style>
    #leftdiv {
        width: 15%;
        border: 1px solid red;
        float: left;
        height: 800px;
    }

    #content0 {
        margin-top: 20px;
    }

    #rightdiv {
        width: 83%;
        border: 1px solid red;
        float: right;
        height: 800px;
    }

    #top0 {
        font-size: 27px;
        text-align: center;
    }
</style>
<div od="mybody">
    <div id="leftdiv">
        <div id="top0">
            所管班级列表
        </div>
        <div id="content0">
            <div class="layui-btn-container" style=" margin:0 auto;width:70%;">
                <button type="button" class="layui-btn layui-btn-radius">按钮一</button>
                <button type="button" class="layui-btn layui-btn-radius">按钮2</button>
                <button type="button" class="layui-btn layui-btn-radius">按钮3</button>
            </div>
        </div>
    </div>
    <div id="rightdiv">

    </div>
</div>
<script src="~/Scripts/underscore.js"></script>
<script>
    //ViewBag.list
    layui.use(['laypage', 'layedit'], function () {
        //获取设备信息
        var device = layui.device();
        console.log('11');
        console.log(device);

    });
</script>