
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateProjectView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div id="project">

            <hr />
            <h1 style="text-align:center;"> <i class="layui-icon">&#xe857;</i> 新项目</h1>

            <hr />
            <div class="addprojectdiv">
                <br />
                <form class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">项目名称：</label>
                            <div class="layui-input-inline">
                                <input type="tel" style="" name="ProjectName" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">项目类型：</label>
                            <div class="layui-input-inline">
                                <select name="ProjectType" lay-filter="aihao">

                                    @{

                                        foreach (var item in ViewBag.projecttype as List<ProjectType>)
                                        {
                                            <option value="@item.Id">@item.TypeName</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>



                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">项目介绍：</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" name="ProjectIntroduce" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <hr />

                    <div style="text-align:center;margin-top:200px;">
                        <button type="button" class="layui-btn layui-btn-primary" style="width:800px;" lay-submit="" lay-filter="create">创建</button>
                    </div>

                </form>
            </div>

        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Areas/Teaching/Scripts/Ajax.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script>
        layui.use(['form', 'layer'], function () {

            var form = layui.form;
            var layer = layui.layer;

        //监听表单提交

            form.on('submit(create)', function (data) {
                console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}


                //发送请求
                Ajax('/Teaching/Project/CreateProject',  data.field , 'post', function (data) {

                    console.log(data);

                    if (data.ErrorCode == 200) {

                        layer.msg("创建成功", { time: 1500 }, function () {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭   
                        });

                    }

                }, function (error) {

                    layer.msg("抱歉，网络出现错误");

                    });
            });

        });
    </script>
</body>
</html>
