
@{
    ViewBag.Title = "ComputerTestQuestionsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SiliconValley.InformationSystem.Entity.MyEntity


@section style{

    <style>

        #searchDiv {
            width: 100%;
            margin-top: 100px;
            margin-left: 100px;
        }
    </style>

}




<!--筛选框-->

<div id="searchDiv">



    <form class="layui-form">

        <div style="" class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-inline">
                    <input type="text" name="Title" value="" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-inline">
                <label class="layui-form-label">阶段</label>
                <div class="layui-input-inline">
                    <select lay-filter="major">
                        <option value="0">请选择</option>
                        @{
                            foreach (var item in ViewBag.grand as List<Grand>)
                            {
                                <option value="@item.Id">@item.GrandName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">课程</label>
                <div class="layui-input-inline">
                    <select lay-verify="required" name="course" id="course">
                        <option selected value="0"></option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <button class="layui-btn layui-btn-primary" lay-submit="" lay-filter="search">查询</button>

            </div>
        </div>


    </form>



</div>
<hr />




<table class="layui-hide" lay-filter="ComputerTestQuestions" id="ComputerTestQuestions"></table>

<!--头部工具栏-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="CreateQuestion">
            <i class="layui-icon layui-icon-addition">命题</i>

        </button>
        <button class="layui-btn layui-btn-sm" lay-event="UsingOrnoUsing"><i class="layui-icon layui-icon-release"></i>启用--禁用</button>


        
    </div>
</script>


<!--行内工具按钮-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

@section script{
    <script src="~/Areas/Teaching/Scripts/Ajax.js"></script>
    <script>

        layui.use(['table', 'layer','form'], function () {

            var form = layui.form;
            var table = layui.table;
            var layer = layui.layer;

            //下拉框联动
            form.on('select(major)', function (data) {
                var value = data.value;  //select选中的值
                console.log("选中值" + value);
                $.ajax({
                    url: "/ExaminationSystem/QuestionsBank/CourseDataBYGrind",
                    data: { grandid: value },
                    dataType: "json",
                    success: function (resultData) {
                        if (resultData.length > 0) {
                            //清空赋值
                            $("#course").empty();
                            console.log(resultData);
                            $("#course").append(new Option("请选择项目", 0));
                            $.each(resultData, function (index, item) {
                                //赋值
                                $('#course')
                                    .append(new Option(item.CourseName, item.CurriculumID));
                            });
                        } else {
                            $("#course").empty();
                            $("#course").append(new Option("暂无数据", 0));
                        }
                        layui.form.render("select");
                    }
                });
            });

            //监听表单提交
            //查询
            form.on('submit(search)', function (data) {


                table.reload('ComputerTestQuestions', {

                    url: '/ExaminationSystem/QuestionsBank/SearchComputerTestQuestion'
                    , where: data.field
                });

                return false;
            });


            //渲染表格
            table.render({
                elem: '#ComputerTestQuestions'
                , toolbar: '#toolbarDemo'
                , id: "ComputerTestQuestions"
                , url: '/ExaminationSystem/QuestionsBank/ComputerTestQuestionTableData'
                , cellMinWidth: 80
                , cols: [[
                    { type: 'checkbox' },
                    { field: 'ID', width: 80, title: 'ID', hide: true, sort: true }
                    , { field: 'Title', width: 300, title: '标题' }
                    
                    , {
                        field: 'UsageCount', width: 300, title: '使用次数', templet: function (data) {

                            return data.UsageCount + "次";
                        }
                    }

                    , { field: 'LevelName', width: 100, title: '难度指数', templet: '<div>{{d.Level.LevelName}}</div>' },
                    { field: 'SaveURL', width: 300, title: '保存地址' },
                    { field: 'EmpName', width: 80, title: '命题人', templet: '<div>{{d.Proposition.EmpName}}</div>' },
                    {
                        field: 'CourseName', width: 120, title: '所属课程', templet: function (res) {


                            if (res.Course == null) {
                                return "升学题目";
                            }
                            else {
                                return res.Course.CourseName
                            }


                        } },
                    {
                        field: 'Course', width: 120, title: '启用/禁用', templet: function (data) {



                            if (data.IsUsing == true) {
                                return "启用中";
                            }
                            else {
                                return "禁用中";
                            }

                        }
                    },
                    { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }

                ]],
                page: true
            });

            //头工具栏事件
            table.on('toolbar(ComputerTestQuestions)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);


                switch (obj.event) {
                    case 'CreateQuestion': //命题

                        layer.open({
                            type: 2,
                            area: ["1000px", "620px;"],
                            title: "机试题-命题",
                            content: '/ExaminationSystem/QuestionsBank/PropositionComputerTestQuestion',
                            end: function () {

                                table.reload('ComputerTestQuestions', {

                                });
                            }
                        });

                        break;


                    case 'UsingOrnoUsing': //启用或禁用


                        if (checkStatus.data.length > 0) {

                            var ids = "";

                            for (var i = 0; i < checkStatus.data.length; i++) {

                                ids += checkStatus.data[i].ID + ',';

                            }



                            //发送请求

                            Ajax('/ExaminationSystem/QuestionsBank/ComputerTestQuestionIsUsing', { ids: ids }, 'post', function (data) {


                                if (data.ErrorCode == 200) {

                                    layer.msg("操作成功");

                                    table.reload('ComputerTestQuestions', {

                                    });
                                }
                                else {
                                    layer.msg("服务器错误！");
                                }

                            }, function (error) {

                                layer.msg("异常！");

                            });


                        }
                        else {
                            layer.msg("请选择！");
                        }


                        break;
                    case "detailview": ///查看详细列表


                        if (checkStatus.data.length > 0) {


                            var ids = "";

                            for (var i = 0; i < checkStatus.data.length; i++) {

                                ids += checkStatus.data[i].ID + ',';

                            }

                            layer.open({

                                type: 2,
                                area: ['1300px', '1200px'],
                                title: '详细列表',
                                content: '/ExaminationSystem/QuestionsBank/ComputerTestQuestionDetailList?ids=' + ids



                            });


                        }
                        else {

                            layer.msg("请选择！");

                        }


                        break;


                };
            });


            //监听行工具事件
            table.on('tool(ComputerTestQuestions)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {

                        Ajax('/ExaminationSystem/QuestionsBank/RemoveComputerTestQuestion/' + data.ID, {}, 'post', function (data) {

                            if (data.ErrorCode == 200) {

                                layer.msg("删除成功!");


                                table.reload('ComputerTestQuestions', {

                                });
                            }

                            if (data.ErrorCode == 400) {

                                layer.msg("删除失败!------原因:该题目已经被用于试卷");
                            }

                            if (data.ErrorCode == 500) {

                                layer.msg("服务器错误!");
                            }




                        }, function (error) {
                            layer.msg("异常！");
                        });

                        layer.close(index);
                    });
                } else if (obj.event === 'detail') {


                    layer.open({

                        type: 2,
                        area: ['600px', '500px'],
                        title: '详细列表',
                        content: '/ExaminationSystem/QuestionsBank/ComputerTestQuestionDetailList?ids=' + data.ID+','


                    });


                }
            });
        });

    </script>

}

