
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PropositionAnswerQuestion</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form class="layui-form">

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">阶段</label>
                    <div class="layui-input-inline">
                        <select name="Grand" lay-filter="major">
                            <option value="0">请选择</option>
                         
                            @{
                                foreach (var item in ViewBag.Grand as List<Grand>)
                                {
                                    <option value="@item.Id">@item.GrandName</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">课程</label>
                    <div class="layui-input-inline">
                        <select lay-verify="required" name="course" id="course"></select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">题目:</label>
                <div class="layui-input-block">
                    <input type="text" required name="Title" lay-verify="required" placeholder="题目" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">参考答案:</label>
                <div class="layui-input-block">
                    <textarea placeholder="" name="ReferenceAnswer" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">难度级别</label>
                <div class="layui-input-block">

                    @{
                        foreach (var item in ViewBag.QuestionLevel as List<QuestionLevel>)
                        {
                            <input type="radio" name="Level" value="@item.LevelID" title="@item.LevelName" checked="">
                        }
                    }
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">备注:</label>
                <div class="layui-input-block">
                    <textarea placeholder="备注" name="Remark" class="layui-textarea"></textarea>
                </div>
            </div>

            <div style="text-align:center;">
                <button type="reset" style="width:30%; margin-top:100px;" class="layui-btn">清空</button>
                <button style="width:30%; margin-top:100px;" lay-submit="" lay-filter="submit" class="layui-btn">提交</button>
                <button type="button" id="close" style="width:30%; margin-top:100px;" class="layui-btn">关闭</button>
            </div>

        </form>
    </div>




        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/layui/layui.js"></script>
        <script src="~/Areas/Teaching/Scripts/Ajax.js"></script>
        <script>


            layui.use(['form', 'layer'], function () {


                var form = layui.form;
                var layer = layui.layer;

                //下拉框联动
                form.on('select(major)', function (data) {
                    var value = data.value;  //select选中的值
                    console.log("选中值" + value);
                    $.ajax({
                        url: "/ExaminationSystem/QuestionsBank/CourseData",
                        data: { grandid: value },
                        dataType: "json",
                        success: function (resultData) {
                            if (resultData.length > 0) {
                                //清空赋值
                                $("#course").empty();
                                console.log(resultData);
                                $("#course").append(new Option("请选择项目", ""));
                                $.each(resultData, function (index, item) {
                                    var grand_ = item.Grand == null ? "" : item.Grand.GrandName;
                                    var namaC = item.CourseName + '(' + grand_ + ')'
                                    //赋值
                                    $('#course')
                                        .append(new Option(namaC, item.CurriculumID));
                                });
                            } else {
                                $("#course").empty();
                                $("#course").append(new Option("暂无数据", ""));
                            }
                            $("#course").append(new Option("升学题", "0"));
                            layui.form.render("select");
                        }
                    });
                });
                layui.form.render("select");



                form.on('submit(submit)', function (data) {

                    console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}

                    Ajax('/ExaminationSystem/QuestionsBank/PropositionAnswerQuestion', data.field, 'post', function (result) {


                        if (result.ErrorCode == 200) {

                            layer.msg("录入成功！");

                            layui.form.render();
                        }
                        else {
                            layer.msg("服务器错误！");
                        }

                    }, function (error) {

                        layer.msg("异常！");

                    });

                    return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                });

                //关闭按钮

                $("#close").click(function () {

                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);

                });
            });




        </script>




</body>
</html>
