
@{
    ViewBag.Title = "PerformanceAssessIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3 style="text-align:center;">湖南硅谷云教育科技有限公司绩效考核统计表</h3>
    @*模糊查询*@
    <fieldset>
        <legend>条件查询</legend>
        <form class="layui-form" action="" lay-filter="formtest">
            <div class="layui-row layui-form-item">
                <div>
                    <label class="layui-form-label">姓名：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="EmpName" name="EmpName" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div style="margin-left:20px;">
                    <label class="layui-form-label" style="width:100px;">所属部门:</label>
                    <div class="layui-input-inline">
                        <select name="deptid" id="deptid" style="width:130px;" lay-filter="deptidfilter" lay-search="">
                            <option value="">请选择所属部门</option>
                        </select>

                    </div>
                </div>
                <div style="margin-left:20px;">
                    <label class="layui-form-label" style="width:100px;">所属岗位:</label>
                    <div class="layui-input-inline">
                        <select name="PositionId" id="PositionId" lay-search="" style="width:130px;">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div style="margin-left:20px;">
                    <label class="layui-form-label" style="width:100px;">员工状态:</label>
                    <div class="layui-input-inline">
                        <select name="Empstate" id="Empstate" lay-search="" style="width:130px;">
                            <option value="">--请选择--</option>
                            <option value="False">在职</option>
                            <option value="True">离职</option>
                        </select>

                    </div>
                </div>
                <button class="layui-btn" type="button" id="Conditionselect" style="margin-left:30px;">查询</button>

            </div>

        </form>
    </fieldset>
    <table id="PerAsstab" lay-filter="PerAsstab"></table>
</div>

@*操作栏*@
<script type="text/html" id="barDemo">
    <a class="layui-btn  layui-btn-xs" lay-event="edit">编辑</a>
</script>
@*员工在职状态*@
<script type="text/html" id="empstate">
    {{# if(d.empIsDel==false){ }}
    {{ d.empIsDel="在职" }}
    {{# }else{ }}
    {{ d.empIsDel="离职" }}
    {{# } }}
</script>

@section script{
    <script>
        layui.use(['table', 'layer', 'form', 'laydate', 'element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;

            table.render({
                elem: '#PerAsstab'
                , url: '/Personnelmatters/PerformanceAssess/PerformanceAssessShow'
                , id: "myPerAss"
                //, toolbar: '#toolbarDemo'
                , limits: [5, 10, 15, 20, 25, 30]
                , limit: 10
                , cols: [[
                    { field: 'empName', title: '姓名', width: 100, sort: true }
                    , { field: 'empDept', title: '所属部门', width: 130, sort: true }
                    , { field: 'empPosition', title: '所属岗位', width: 110, sort: true }
                    , { field: 'RoutineWork', title: '日常工作内容', width: 130 }
                    , { field: 'routineWorkPropotion', title: '日常工作权重占比', width: 150 }
                    , { field: 'routineWorkFillRate', title: '日常工作完成率', width: 140 }
                    , { field: 'OtherWork', title: '其他领导临时指派任务', width: 170 }
                    , { field: 'otherWorkPropotion', title: '其他工作权重占比', width: 150 }
                    , { field: 'otherWorkFillRate', title: '其他工作完成率', width: 140 }
                    , { field: 'SelfReportedScore', title: '自评得分', sort: true, width: 110 }
                    , { field: 'SuperiorGrade', title: '上级评分', sort: true, width: 110 }
                    , { field: 'FinalGrade', title: '最终绩效分', sort: true, width: 120 }
                    , { field: 'empIsDel', title: '员工状态', sort: true, width: 110, templet: '#empstate' }
                    , { field: 'Remark', title: '备注', width: 200 }
                    , { title: '操作', toolbar: '#barDemo', width: 110, fixed: 'right' }
                ]]
                , page: true

            });

            //监听行工具事件
            table.on('tool(PerAsstab)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    layer.open({
                        type: 2,
                        content: '/Personnelmatters/PerformanceAssess/EditEmpPFAssess/?id=' + data.Id
                        , area: ["900px", "760px"]
                        , title: '员工绩效考核编辑'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                }

            });

            //模糊查询点击事件
            $("#Conditionselect").click(function () {
                var ename = $("#EmpName").val();//员工姓名
                var deptname = $("#deptid").val();//员工所属部门
                var pname = $("#PositionId").val();//员工所属岗位
                var Empstate = $("#Empstate").val();
                layui.use(['table'], function () {
                    var table = layui.table;
                    table.reload('myPerAss', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }, where: {
                            AppCondition: ename + "," + deptname + "," + pname + "," + Empstate
                        }
                    });
                });



            });
        });


        //格式化时间
        function GetYearAndMonth(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month;
            } else {
                return "";
            }
        }
    </script>


    @*部门与岗位的下拉框动态赋值及下拉框二级联动*@
    <script>
        layui.use(['form', 'upload', 'layer'], function () {

            var form = layui.form;
            $.ajax({
                url: '/Personnelmatters/EmployeesInfo/BindDeptSelect',
                data: {},
                dataType: "json",
                success: function (resultData) {
                    $("#deptid").empty();
                    if (resultData.code == 0) {

                        $("#deptid").append(new Option("请选择部门", ""));
                        $.each(resultData.data, function (index, item) {
                            $('#deptid').append(new Option(item.DeptName, item.DeptId));
                        });
                    } else {
                        $("#deptid").append(new Option("暂无数据", ""));
                    }

                    layui.form.render("select");
                }
            });

            //级联子项目
            //select 监听
            form.on('select(deptidfilter)', function (data) {
                var value = data.value;  //select选中的值
                console.log("选中值" + value);
                $.ajax({
                    url: "/Personnelmatters/EmployeesInfo/BindPositionSelect",
                    data: { deptid: value },
                    dataType: "json",
                    success: function (resultData) {
                        if (resultData.code == 0) {
                            //清空赋值
                            $("#PositionId").empty();
                            console.log(resultData.data);
                            $("#PositionId").append(new Option("请选择岗位", ""));
                            $.each(resultData.data, function (index, item) {
                                //赋值
                                $('#PositionId')
                                    .append(new Option(item.PositionName, item.Pid));
                            });
                        } else {
                            $("#PositionId").append(new Option("暂无数据", ""));
                        }
                        layui.form.render("select");
                    }
                });
            })
            layui.form.render("select");

        });
    </script>

}

