<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--SqlServer-->

  <!--本地数据库-->
  <!--<add name="BaseDb" connectionString="server=.;database=Coldairarrow.Fx.Net.Easyui.GitHub;uid=sa;pwd=123456"/>-->
  <!--<add name="BaseDb" connectionString="server=.;database=Coldairarrow.Fx.Net.Easyui.GitHub;uid=sa;pwd=123"/>-->

  <!--远程服务器-->
 <add name="BaseDb" connectionString="server=106.13.104.179;database=Coldairarrow.Fx.Net.Easyui.GitHub;uid=sa;pwd=tangdan2020@;Max Pool Size = 512;"/>
  <!--<add name="BaseDb" connectionString="Data Source=172.16.40.100;Initial Catalog=Coldairarrow.Fx.Net.Easyui.GitHub;uid=sa;pwd=guiguserverpasswd; Integrated Security=false" providerName="System.Data.SqlClient" /> -->
  <!--<add name="BaseDb" connectionString="server=172.16.40.100;database=Coldairarrow.Fx.Net.Easyui.GitHub;uid=sa;pwd=guiguserverpasswd;Max Pool Size = 512;"/>-->
  <!--MySql-->
  <!--<add name="BaseDb" connectionString="Data Source=localhost;Initial Catalog=coldairarrow.fx.net.easyui.github;User ID=root;Password=root;charset=utf8;" providerName="MySql.Data.MySqlClient" />-->
  <!--PostgreSQL-->
  <!--<add name="BaseDb" connectionString="SERVER=localhost;PORT=5432;DATABASE=Coldairarrow.Fx.Net.Easyui.GitHub;USER ID=postgres;PASSWORD=postgres" providerName="Npgsql" />-->
  <!--Oracle-->
  <!--<add name="BaseDb" connectionString="Data Source=127.0.0.1/ORCL;User ID=DB;Password=123456;Connect Timeout=3" providerName="Oracle.ManagedDataAccess.Client" />-->
 
</connectionStrings>