<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <module value="sysrole" name="系统角色">
    <permission value="search" name="查询" />
    <permission value="manage" name="管理" />
    <permission value="manageSysPermission" name="设置系统权限" />
  </module>
  <module value="sysLog" name="系统日志">
    <permission value="search" name="查询" />
  </module>
  <module name="教学部" value="TeacherDep">
    <permission name="教员信息" value="TeacherInfo" />
    <permission name="我的班级管理" value="MYcLASSmanage" />
  </module>
  <module value="appsecret" name="接口密钥">
    <permission value="search" name="查询" />
    <permission value="manage" name="管理" />
  </module>
  <module value="sysuser" name="系统用户">
    <permission value="search" name="查询" />
    <permission value="manage" name="管理" />
    <permission value="manageSysPermission" name="设置系统权限" />
  </module>
  <module name="满意度记录" value="nabtudy">
    <permission name="满意度记录查询" value="search" />
    <permission name="满意度记录管理" value="manage" />
  </module>
  <module name="学员管理" value="stude">
    <permission name="学员信息" value="Student" />
  </module>
  <module name="班级管理" value="CLass">
    <permission name="我的班级" value="MyClass" />
  </module>
  
  <module name="咨询" value="Market">
    <permission name="备案主页" value="datakeepindex" />
    <permission name="备案学生状态" value="DataSkeepStatus" />
    <permission name="学生信息备案来源" value="studentDataSkeepInfoFrom" />
    <permission name="咨询演讲录入主页" value="MarketChairIndex" />
    <permission name="咨询师学生跟踪" value="MarketFollwingInfoIndex" />
    <permission name="咨询师管理" value="MarketTeacherManage" />
    <permission name="咨询师分量主页面" value="ConsultIndex" />
  </module>
  <module name="排课" value="Reconcile">
    <permission name="大批量排课主页" value="longReconcileIndex" />
    <permission name="获取课表" value="GetGenerateTimetable" />
    <permission name="排课所有数据主页面" value="SerachReconcile_Index" />
  </module>
  <module name="晚自习值班" value="EvningSelfStudyArrgent">
    <permission name="晚自习所有数据显示" value="EvningSelfStudyIndexView" />
    <permission name="教室数据" value="EvningClassRoomData" />
    <permission name="值班类型" value="EvningBeOnDutyIndex" />
  </module>
  <module name="人事管理" value="PEmployeesInfo">
    <permission name="员工信息管理" value="EmployeesInfoManage" />
    <permission name="员工招聘管理" value="RecruitingDataSummary" />
    <permission name="员工月度工资管理" value="EmpSalaryManagement" />
    <permission name="员工工资体系管理" value="EmplSalaryEmbody" />
    <permission name="员工绩效考核管理" value="PerformanceAssess" />
    <permission name="员工考勤管理" value="AttendanceStatistics" />
    <permission name="员工加班调休管理" value="EmpOverTimeRecord" />
    <permission name="员工异动管理" value="EmpTransactionRecord" />
    <permission name="员工申请审批管理" value="EmpApproval" />
    <permission name="员工申请管理" value="ApprovalManagement" />
  </module>
  <module name="专业" value="Major">
    <permission name="专业管理" value="MajorManage" />
  </module>
  <module name="宿舍" value="dormroom">
    <permission name="宿管" value="manage" />
    <permission name="员工安排宿舍" value="EmpArgmentSushe" />
    <permission name="新生入住" value="NewStuRuzhu" />
    <permission name="晚归登记" value="wanguidengji" />
    <permission name="房间基础操作" value="roombasis" />
    <permission name="员工调寝" value="emptiaoqin" />
    <permission name="员工寝室详细" value="emproomdetail" />
    <permission name="学生房间详细页面" value="sturoomdetail" />
    <permission name="学生调寝" value="stutiaoqing" />
    <permission name="宿舍卫生登记" value="roomweisdenj" />
  </module>
  <module name="市场" value="shichang">
    <permission name="年度计划总结" value="yearjihzj" />
    <permission name="市场员工" value="shicemplist" />
    <permission name="借资预资" value="jzyuzi" />
  </module>
  <module name="财务模块" value="priceCaiw">
    <permission name="缴费名目" value="jiaofmingm" />
    <permission name="商品管理" value="shgnpimanage" />
    <permission name="缴费管理" value="jiaofmanage" />
  </module>
  <module name="学历管理" value="xueliEducation">
    <permission name="本科管理" value="benEdmanage" />
  </module>
  <module name="班级" value="jiaozhiClass">
    <permission name="班级管理" value="manage" />
  </module>
  <module name="班主任管理" value="banzhurmanage">
    <permission name="班主任带班分布图" value="banzrdbimag" />
    <permission name="班主任带班" value="banzrdb" />
    <permission name="班主任培训" value="banzrpx" />
  </module>
  <module name="学员管理" value="jzstudentmanage">
    <permission name="学员访谈" value="jsstufat" />
    <permission name="学员出勤" value="jzstuchuq" />
    <permission name="学员信息" value="jzstuinfo" />
    <permission name="学生会管理" value="jzstuhmanage" />
  </module>
  <module name="考务" value="Examination">
    <permission name="考试管理" value="ExaminationManage" />
    <permission name="考试题库管理" value="examQuesionMn" />
  </module>
</configuration>