<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <module value="sysuser" name="系统用户">
    <permission value="search" name="查询" />
    <permission value="manage" name="管理" />
    <permission value="manageSysPermission" name="设置系统权限" />
  </module>
  <module value="sysrole" name="系统角色">
    <permission value="search" name="查询" />
    <permission value="manage" name="管理" />
    <permission value="manageSysPermission" name="设置系统权限" />
  </module>
  <module value="sysLog" name="系统日志">
    <permission value="search" name="查询" />
  </module>
  <module value="appsecret" name="接口密钥">
    <permission value="search" name="查询" />
    <permission value="manage" name="管理" />
  </module>

  <module value="SatisfactionSurvey" name="满意度调查">
    <permission value="ConfigSetting" name="满意度调查配置视图"></permission>
    <permission value="SurveyHistoryView" name="满意度调查配置视图"></permission>
  </module>

  <module value="SatisfactionSurvey" name="满意度调查">
    <permission value="S1S2TeacherSurveyHistory" name="查看S1S2教员的满意度权限"></permission>
    <permission value="S3TeacherSurveyHistory" name="查看S3教员的满意度权限"></permission>
    
    
    
  </module>
  

  




</configuration>