<?xml version="1.0" encoding="utf-8"?>
<SysMenu>
  <FirstMenu Name="系统" Icon="fa-cog">
    <SecondMenu Name="系统管理">
      <ThirdMenu Name="密码修改" Url="~/BaseSysManage/Base_UserRole/Translate" Permission="sysuser.Translate" />
      <ThirdMenu Name="用户管理" Url="~/BaseSysManage/Base_UserRole/accountIndex" Permission="sysuser.search" />
      <ThirdMenu Name="角色管理" Url="~/BaseSysManage/Base_UserRole/roleIndex" Permission="sysrole.search" />
      <ThirdMenu Name="接口密钥管理" Url="~/Base_SysManage/Base_AppSecret/Index" Permission="appsecret.search" />
      <ThirdMenu Name="系统日志" Url="~/Base_SysManage/Base_SysLog/Index" Permission="sysLog.search" />
      <ThirdMenu Name="nihao" Url="~/Base_SysManage/Base_SysLog/Index" Permission="sysdsdffdsfds" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="学员信息管理" Icon="fa-user-md">
    <SecondMenu Name="学员信息">
      <ThirdMenu Name="信息注册" Url="/Teachingquality/StudentInformation/index" Permission="stude.Student" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="教学部" Icon="fa-book">
    <SecondMenu Name="教学管理">
      <ThirdMenu Name="教员信息管理" Url="/Teaching/teacher/TeachersInfo" Permission="TeacherDep.TeacherInfo" />
      <ThirdMenu Name="教员班级管理" Url="/Teaching/class/index" Permission="TeacherDep.MYcLASSmanage" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="专业" Icon="fa-sitemap">
    <SecondMenu Name="专业管理">
      <ThirdMenu Name="专业信息" Url="/Teaching/Major/MajorIndex" Permission="Major.MajorManage" />
      <ThirdMenu Name="课程信息" Url="/CourseSyllabus/Course/CourseIndex" Permission="Major.coursemanage" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="咨询" Icon="fa-comments">
    <SecondMenu Name="咨询管理">
      <ThirdMenu Name="数据备案" Url="/Market/StudentDataKeep/StudentDataKeepIndex" Permission="Market.datakeepindex" />      
      <ThirdMenu Name="市场数据" Url="/Market/StudentDataKeep/MarkeView" Permission="Market.marketdata" />
      <ThirdMenu Name="咨询师管理" Url="/Market/ConsultTeacher/ConsultTeacherIndex" Permission="Market.MarketTeacherManage" />
      <ThirdMenu Name="分量" Url="/Market/Consult/ConsultIndex" Permission="Market.ConsultIndex" />
      <ThirdMenu Name="咨询师跟踪学生" Url="/Market/FollwingInfo/MyFollwingInfoIndex" Permission="Market.MarketFollwingInfoIndex" />
      <ThirdMenu Name="演讲录入" Url="/Market/MarketChair/MarketChairIndex" Permission="Market.MarketChairIndex" />
      <ThirdMenu Name="备案学生状态信息" Url="/Market/Status/StatusIndexView" Permission="Market.DataSkeepStatus" />
      <ThirdMenu Name="备案学生信息来源" Url="/Market/Infomation/InfomationIndexView" Permission="Market.studentDataSkeepInfoFrom" />
      <ThirdMenu Name="班主任注册学号页面" Url="/Market/StudentDataKeep/HandMasterRegisterds" Permission="Market.HeadRegisView" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="排课" Icon="fa-th-list">
    <SecondMenu Name="排课管理">
      <ThirdMenu Name="课表" Url="/Educational/Timetable/TimeTableIndex" Permission="Reconcile.GetGenerateTimetable" />
      <ThirdMenu Name="大批量排课" Url="/Educational/Reconcile/ReconcileIndexViews" Permission="Reconcile.longReconcileIndex" />
      <ThirdMenu Name="排课数据" Url="/Educational/Reconcile/SerachReconcile_Index" Permission="Reconcile.GetGenerateTimetable" />
      <ThirdMenu Name="晚自习安排" Url="/Educational/EvningSelfStudy/EvningSelfStudyIndexView" Permission="Reconcile.GetGenerateTimetable" />
      <ThirdMenu Name="班级授课" Url="/CourseSyllabus/Course/ClassCourseArrangement" Permission="Reconcile.shouke" />
      <ThirdMenu Name="个人课表" Url="/Educational/Timetable/TeacherTable" Permission="Reconcile.myselfClassTable" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="教室" Icon="fa-retweet">
    <SecondMenu Name="教室管理">
      <ThirdMenu Name="教室数据" Url="/Educational/Classroom/ClassroomIndexView" Permission="ClassRoomManeger.EvningClassRoomData" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="值班" Icon="fa-retweet">
    <SecondMenu Name="值班管理">
      <ThirdMenu Name="教员值班" Url="/Educational/TeacherAddorBeonDuty/TeacherAddorBeonDutyIndex" Permission="TeacherBeonDuty.TeacherAddorBeonDutyIndex" />
      <ThirdMenu Name="班主任值班" Url="/Educational/TeacherNight/ClassMasterIndex" Permission="TeacherBeonDuty.ClassMasterIndex" />
      <ThirdMenu Name="班主任个人值班" Url="/Educational/TeacherNight/EmpZhibanData" Permission="TeacherBeonDuty.HeadEmpIndex" />
      <ThirdMenu Name="值班类型" Url="/Educational/BeOnDuty/BeOnDutyIndexView" Permission="TeacherBeonDuty.EvningBeOnDutyIndex" />
      
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="巡班" Icon="fa-retweet">
    <SecondMenu  Name="巡班登记">
      <ThirdMenu Name="课间巡班登记" Url="/Educational/Break/BreakIndexView" Permission="Break.BreakIndex" />
      <ThirdMenu Name="上课迟到登记" Url="/Educational/Laterecord/LaterecordIndex" Permission="Break.LaterecordIndex" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="人事管理" Icon="fa-user">
    <SecondMenu Name="人力资源">
      <ThirdMenu Name="员工信息管理" Url="/Personnelmatters/EmployeesInfo/Index" Permission="PEmployeesInfo.EmployeesInfoManage" />
      <ThirdMenu Name="员工异动管理" Url="/Personnelmatters/EmpTransactionRecord/EmpTransactionRecordIndex" Permission="PEmployeesInfo.EmpTransactionRecord" />
      <ThirdMenu Name="员工招聘管理" Url="/Personnelmatters/RecruitingDataSummary/RecruitIndex" Permission="PEmployeesInfo.RecruitingDataSummary" />
      <ThirdMenu Name="员工月度工资管理" Url="/Personnelmatters/EmpSalaryManagement/SalaryManageIndex" Permission="PEmployeesInfo.EmpSalaryManagement" />
      <ThirdMenu Name="员工工资体系管理" Url="/Personnelmatters/EmplSalaryEmbody/EmpSalaryEmbodyIndex" Permission="PEmployeesInfo.EmplSalaryEmbody" />
      <ThirdMenu Name="员工绩效考核管理" Url="/Personnelmatters/PerformanceAssess/PerformanceAssessIndex" Permission="PEmployeesInfo.PerformanceAssess" />
      <ThirdMenu Name="员工考勤管理" Url="/Personnelmatters/AttendanceStatistics/AttendanceStatisticsIndex" Permission="PEmployeesInfo.AttendanceStatistics" />
      <ThirdMenu Name="员工加班调休管理" Url="/Personnelmatters/EmpOverTimeRecord/EmpOverTimeRecordIndex" Permission="PEmployeesInfo.EmpOverTimeRecord" />
      <ThirdMenu Name="员工申请审批管理" Url="/Personnelmatters/EmpApproval/EmpApprovalIndex" Permission="PEmployeesInfo.EmpApproval" />
      <ThirdMenu Name="员工申请管理" Url="/Personnelmatters/ApprovalManagement/ApprovalIndex" Permission="PEmployeesInfo.ApprovalManagement" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="考务" Icon="fa-sort-alpha-asc">
    <SecondMenu Name="考务管理">
      <ThirdMenu Name="考试发布" Url="/ExaminationSystem/ExamArrangement/ReleaseExamination" Permission="Examination.ExaminationManage" />
      <ThirdMenu Name="考试学员名单录入" Url="/ExaminationSystem/ExamArrangement/AppointmentExamination" Permission="Examination.ExaminationManage" />
      <ThirdMenu Name="阅卷安排" Url="/ExaminationSystem/ExamArrangement/MarkingArrangement" Permission="Examination.ExaminationManage" />
      <ThirdMenu Name="生成考试座位表" Url="/ExaminationSystem/ExamArrangement/ArrangeSeatingChart" Permission="Examination.ExaminationManage" />
      <ThirdMenu Name="考试分数查询" Url="/ExaminationSystem/ExamScores/ExamScoreSearch" Permission="Examination.ExaminationManage" />
      <ThirdMenu Name="考试违纪记录" Url="/ExaminationSystem/ExamArrangement/ExamBreachView" Permission="Examination.ExaminationManage" />
      <ThirdMenu Name="阅卷" Url="/ExaminationSystem/ExamScores/Marking" Permission="Examination.teacherMarkingd" />
      <ThirdMenu Name="考前讲题" Url="/teaching/exam/ExamquestionExplanation" Permission="Examination.examquteaching" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="题库管理" Icon="fa-briefcase">
    <SecondMenu Name="考试题库">
      <ThirdMenu Name="考试题库管理" Url="/ExaminationSystem/QuestionsBank/QuestionsBankIndex" Permission="Examination.examQuesionMn" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="满意度" Icon="fa-pencil-square-o">
    <SecondMenu Name="满意度管理">
      <ThirdMenu Name="满意度配置" Url="/Teaching/SatisfactionSurvey/SatisfactionIndex" Permission="nabtudy.manage" />
      <ThirdMenu Name="满意度记录查询" Url="/Teaching/SatisfactionSurvey/SurveyHistory" Permission="nabtudy.search" />
      <ThirdMenu Name="我的满意度记录查询" Url="/Teaching/SatisfactionSurvey/EmpSurveyView" Permission="nabtudy.MySurveySearch" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="宿舍" Icon="fa-flag-o">
    <SecondMenu Name="宿舍管理">
      <ThirdMenu Name="栋层" Url="/Dormitory/Basics/BasicsIndex" Permission="dormroom.manage" />
      <ThirdMenu Name="员工安排宿舍" Url="/Dormitory/EmployeeCheckIn/EmployeeCheckInIndex" Permission="dormroom.EmpArgmentSushe" />
      <ThirdMenu Name="宿舍卫生登记" Url="/Dormitory/HealthRegistration/HealthRegistrationIndex" Permission="dormroom.roomweisdenj" />
      <ThirdMenu Name="新生入住" Url="/Dormitory/NewbornR/NewbornRIndex" Permission="dormroom.NewStuRuzhu" />
      <ThirdMenu Name="晚归登记" Url="/Dormitory/Registrationforlatearrival/RegistrationforlatearrivalIndex" Permission="dormroom.wanguidengji" />
      <ThirdMenu Name="房间基础操作" Url="/Dormitory/RoomBasis/RoomBasisIndex" Permission="dormroom.roombasis" />
      <ThirdMenu Name="房间禁用详细" Url="/Dormitory/RoomDisabled/RoomDisabledIndex" Permission="dormroom.roomdisabledindex" />
      <ThirdMenu Name="员工调寝" Url="/Dormitory/StaffAdjustment/StaffAdjustmentIndex" Permission="dormroom.emptiaoqin" />
      <ThirdMenu Name="员工寝室详细" Url="/Dormitory/StaffRoomDetails/StaffRoomDetailsIndex" Permission="dormroom.emproomdetail" />
      <ThirdMenu Name="学员房间信息" Url="/Dormitory/StudentRoomDetails/StudentRoomDetailsIndex" Permission="dormroom.sturoomdetail" />
      <ThirdMenu Name="学员调寝" Url="/Dormitory/StudentBedtime/StudentBedtimeIndex" Permission="dormroom.stutiaoqing" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="市场" Icon="fa-car">
    <SecondMenu Name="市场模块">
      <ThirdMenu Name="年度计划总结" Url="/Market/ChannelYearPlan/NewChannelYearPlanIndex" Permission="shichang.yearjihzj" />
      <ThirdMenu Name="市场员工列表" Url="/Market/ChannelStaff/ChannelStaffIndex" Permission="shichang.shicemplist" />
      <ThirdMenu Name="招生计划" Url="/Market/SchoolYearPlan/SchoolYearPlanIndex" Permission="shichang.schoolyearplanindex" />
      <ThirdMenu Name="区域管理" Url="/Market/Region/RegionIndex" Permission="shichang.quyu" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="资金" Icon="fa-usd">
    <SecondMenu Name="资金模块">
      <ThirdMenu Name="借资列表" Url="/Capital/Capital/PublicBorrowList" Permission="zijin.jiezilist" />
      <ThirdMenu Name="预资列表" Url="/Capital/Capital/DoPrefundingList" Permission="zijin.yuzilist" />
      <ThirdMenu Name="借资预资" Url="/Capital/Capital/BorrowMoney" Permission="zijin.jzyuzi" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="财务" Icon="fa-jpy">
    <SecondMenu Name="财务管理">
      <ThirdMenu Name="入账管理" Url="/Finance/Pricedetails/Expenseentry" Permission="priceCaiw.ruzhangguanli" />
      <ThirdMenu Name="缴费名目" Url="/Finance/Pricedetails/FeeReport" Permission="priceCaiw.jiaofmingm" />
      <ThirdMenu Name="商品管理" Url="/Finance/Pricedetails/Studentfees" Permission="priceCaiw.shgnpimanage" />
      <ThirdMenu Name="缴费管理" Url="/Finance/Pricedetails/Studentpayment" Permission="priceCaiw.jiaofmanage" />
    </SecondMenu>
    <SecondMenu Name="预入费管理">
      <ThirdMenu Name="预入费缴纳" Url="/Finance/Pricedetails/Prepayments" Permission="priceCaiw.yurufeijiaona" />
      <ThirdMenu Name="预入费退款" Url="/Finance/Pricedetails/PreentryfeeDate" Permission="priceCaiw.yurufeituifei" />
    </SecondMenu>
    <SecondMenu Name="退费管理">
      <ThirdMenu Name="退费业务" Url="/Finance/Pricedetails/Tuitionrefund" Permission="priceCaiw.tuifeiyewu" />
      <ThirdMenu Name="退费统计" Url="/Finance/Pricedetails/RefunditemsDate" Permission="priceCaiw.tuifeitoji" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="学历管理" Icon="fa-id-card">
    <SecondMenu Name="_学历管理">
      <ThirdMenu Name="本科管理" Url=" /MyEducation/Education/Undergraduate" Permission="xueliEducation.benEdmanage" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="班级" Icon="fa-heart">
    <SecondMenu Name="班级管理">
      <ThirdMenu Name="开设新班" Url="/Teachingquality/ClassSchedule/index" Permission="jiaozhiClass.manage" />
      <ThirdMenu Name="我的班级" Url="/Teachingquality/ClassSchedule/Myclass" Permission="jiaozhiClass.wodebanji" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="班主任管理" Icon="fa-handshake-o">
    <SecondMenu Name="班主任管理" Icon="fa-github-alt">
      <ThirdMenu Name="班主任带班分布图" Url="/Teachingquality/Headteacher/Teamleaderdistribution" Permission="banzhurmanage.banzrdbimag" />
      <ThirdMenu Name="班主任带班" Url=" /Teachingquality/Headteacher/Index" Permission="banzhurmanage.banzrdb" />
      <ThirdMenu Name="班主任培训" Url="/Teachingquality/Headteacher/GetProfessionala" Permission="banzhurmanage.banzrpx" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="学员管理" Icon="fa-window-restore">
    <SecondMenu Name="_学员管理">
      <ThirdMenu Name="学员出勤" Url="/Teachingquality/StudentAttendanc/Index" Permission="jzstudentmanage.jzstuchuq" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="访谈管理" Icon="fa-window-restore">
    <SecondMenu Name="_学员访谈">
      <ThirdMenu Name="学员访谈记录" Url="/Teachingquality/InterviewStudents/Index" Permission="fangtanguanli.xueyuanfangtan" />
    </SecondMenu>
    <SecondMenu Name="家长访谈">
      <ThirdMenu Name="家长访谈记录" Url="/Teachingquality/InterviewStudents/ParentinterviewHome" Permission="fangtanguanli.jiazhangfangtan" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="学生会管理" Icon="fa-deaf">
    <SecondMenu Name="学生会部门/成员管理">
      <ThirdMenu Name="学生会信息管理" Url=" /Teachingquality/StudentUnion/Index" Permission="xueshenghuimaneger.xueshenghui" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="学员异动" Icon="fa-deaf">
    <SecondMenu Name="学员异动数据">
      <ThirdMenu Name="学员异动数据记录" Url="/Teachingquality/StudentTransaction/Changedata" Permission="xueyuanyidomaneger.xueyuanyido" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="企业管理" Icon="fa-tty">
    <SecondMenu Name="企业管理">
      <ThirdMenu Name="企业列表" Url="/Obtainemployment/BusinessManagement/EnterpriseInfoIndex" Permission="EnterpriseInfo.enterpriseinfoindex" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="就业管理" Icon="fa-graduation-cap">
    <SecondMenu Name="就业管理">
      <ThirdMenu Name="就业专员列表" Url="/Obtainemployment/EmploymentCommissioner/EmploymentCommissionerIndex" Permission="obtainemployment.employmentcommissionerindex" />
      <ThirdMenu Name="就业区域管理" Url="/Obtainemployment/EmploymentAreas/EmploymentAreasIndex" Permission="obtainemployment.employmentareasindex" />
      <ThirdMenu Name="就业班级管理" Url="/Obtainemployment/EmpClass/EmpClassIndex" Permission="obtainemployment.employmentareasindex" />
      <ThirdMenu Name="第一次访谈" Url="/Obtainemployment/SResearchRecord/SResearchRecordIndex" Permission="obtainemployment.sResearchrecordindex" />
      <ThirdMenu Name="CD访谈" Url="/Obtainemployment/CDinterview/CDinterviewIndex" Permission="obtainemployment.cDinterviewindex" />
      <ThirdMenu Name="就业季度" Url="/Obtainemployment/Quarter/QuarterIndex" Permission="obtainemployment.quarterIndex" />
      <ThirdMenu Name="模拟面试" Url="/Obtainemployment/SimulatInterview/SimulatInterviewIndex" Permission="obtainemployment.simulatInterviewIndex" />
      <ThirdMenu Name="自主就业" Url="/Obtainemployment/SelfObtainRcored/SelfObtainRcoredIndex" Permission="obtainemployment.selfObtainRcoredIndex" />
      <ThirdMenu Name="安排就业学生" Url="/Obtainemployment/EmpStaffAndStu/EmpStaffAndStuIndex" Permission="obtainemployment.empStaffAndStuIndex" />
      <ThirdMenu Name="就业意向" Url="/Obtainemployment/StudnetIntention/StudnetIntentionIndex" Permission="obtainemployment.studnetIntentionIndex" />
      <ThirdMenu Name="就业登记" Url="/Obtainemployment/EmploySituation/EmploySituationIndex" Permission="obtainemployment.employSituationIndex" />
      <ThirdMenu Name="就业总结" Url="/Obtainemployment/EmploymentSummary/EmploymentRatio" Permission="obtainemployment.employmentSummaryIndex" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="网络部" Icon="fa-quora">
    <SecondMenu Name="网络">
      <ThirdMenu Name="竞价记录管理" Url="/Market/BiddingRecord/BiddingIndex" Permission="NetClient.BiddingIndex" />
      <ThirdMenu Name="网咨学生回访记录" Url="/Market/NetClientRecord/NetIndex" Permission="NetClient.NetStuInfoMan" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="课程管理" Icon="fa-clipboard">
    <SecondMenu Name="课程研发" Url="/Courseware/Coursewaremaking/Index" Permission="kechengguanli.kechengyinfa" />
  </FirstMenu>
  <FirstMenu Name="课时费" Icon="fa-tty">
    <SecondMenu Name="课时费">
      <ThirdMenu Name="课时费统计" Url="/Educational/Staff_Cost_Statistics/Staff_Cost_StatisticsIndex" Permission="TeacherHoursCost.Statisticss" />
    </SecondMenu>
  </FirstMenu>
</SysMenu>