<?xml version="1.0" encoding="utf-8"?>
<SysMenu>
  <FirstMenu Name="系统" Icon="icon_menu_sys">
    <SecondMenu Name="系统管理">
      <ThirdMenu Name="用户管理" Url="~/BaseSysManage/Base_UserRole/accountIndex" Permission="sysuser.search" />
      <ThirdMenu Name="角色管理" Url="~/BaseSysManage/Base_UserRole/roleIndex" Permission="sysrole.search" />
      <ThirdMenu Name="接口密钥管理" Url="~/Base_SysManage/Base_AppSecret/Index" Permission="appsecret.search" />
      <ThirdMenu Name="系统日志" Url="~/Base_SysManage/Base_SysLog/Index" Permission="sysLog.search" />
      <ThirdMenu Name="nihao" Url="~/Base_SysManage/Base_SysLog/Index" Permission="sysdsdffdsfds" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="学员信息管理">
    <SecondMenu Name="学员信息" Url="/Teachingquality/StudentInformation/index" Permission="stude.Student" />
  </FirstMenu>


  <FirstMenu Name="教学部">
    <SecondMenu Name="教学管理">
      <ThirdMenu Name="教员信息管理" Url="/Teaching/teacher/TeachersInfo" Permission="TeacherDep.TeacherInfo" />
      <ThirdMenu Name="教员班级管理" Url="/Teaching/class/index" Permission="TeacherDep.MYcLASSmanage" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="专业">
    <SecondMenu Name="专业管理">
      <ThirdMenu Name="专业信息" Url="/Teaching/Major/MajorIndex" Permission="Major.MajorManage" />
      <ThirdMenu Name="课程信息" Url="/CourseSyllabus/Course/CourseIndex" Permission="Major.coursemanage" />
    </SecondMenu>
  </FirstMenu>
  
  <FirstMenu Name="咨询">
    <SecondMenu Name="咨询管理">
      <ThirdMenu Name="数据备案主页" Url="/Market/StudentDataKeep/StudentDataKeepIndex" Permission="Market.datakeepindex" />
      <ThirdMenu Name="备案学生状态主页面" Url="/Market/Status/StatusIndexView" Permission="Market.DataSkeepStatus" />
      <ThirdMenu Name="备案学生信息来源" Url="/Market/Infomation/InfomationIndexView" Permission="Market.studentDataSkeepInfoFrom" />
      <ThirdMenu Name="所有演讲录入主页面" Url="/Market/MarketChair/MarketChairIndex" Permission="Market.MarketChairIndex" />
      <ThirdMenu Name="咨询师跟踪学生主页面" Url="/Market/FollwingInfo/FollwingInfoIndex" Permission="Market.MarketFollwingInfoIndex" />
      <ThirdMenu Name="咨询师管理主页面" Url="/Market/ConsultTeacher/ConsultTeacherIndex" Permission="Market.MarketTeacherManage" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="排课">
    <SecondMenu Name="大批量排课主页面" Url="/Educational/Reconcile/ReconcileIndexViews" Permission="Reconcile.longReconcileIndex" />
    <SecondMenu Name="课表主页面" Url="/Educational/Reconcile/GetGenerateTimetable" Permission="Reconcile.GetGenerateTimetable" />
    <SecondMenu Name="排课所有数据主页面" Url="/Educational/Reconcile/SerachReconcile_Index" Permission="Reconcile.GetGenerateTimetable" />
  </FirstMenu>
  <FirstMenu Name="晚自习值班">
    <SecondMenu Name="晚自习所有数据显示主页面" Url="/Educational/EvningSelfStudy/EvningSelfStudyIndexView" Permission="EvningSelfStudyArrgent.EvningSelfStudyIndexView" />
    <SecondMenu Name="教室数据主页面" Url="/Educational/Classroom/ClassroomIndexView" Permission="EvningSelfStudyArrgent.EvningClassRoomData" />
    <SecondMenu Name="值班类型主页面" Url="/Educational/BeOnDuty/BeOnDutyIndexView" />
  </FirstMenu>
  <FirstMenu Name="人事管理">
    <SecondMenu Name="人力资源">
      <ThirdMenu Name="员工信息管理" Url="/Personnelmatters/EmployeesInfo/Index" Permission="PEmployeesInfo.EmployeesInfoManage" />
      <ThirdMenu Name="员工招聘管理" Url="/Personnelmatters/RecruitingDataSummary/RecruitIndex" Permission="PEmployeesInfo.RecruitingDataSummary" />
      <ThirdMenu Name="员工月度工资管理" Url="/Personnelmatters/EmpSalaryManagement/SalaryManageIndex" Permission="PEmployeesInfo.EmpSalaryManagement" />
      <ThirdMenu Name="员工工资体系管理" Url="/Personnelmatters/EmplSalaryEmbody/EmpSalaryEmbodyIndex" Permission="PEmployeesInfo.EmplSalaryEmbody" />
      <ThirdMenu Name="员工绩效考核管理" Url="/Personnelmatters/PerformanceAssess/PerformanceAssessIndex" Permission="PEmployeesInfo.PerformanceAssess" />
      <ThirdMenu Name="员工考勤管理" Url="/Personnelmatters/AttendanceStatistics/AttendanceStatisticsIndex" Permission="PEmployeesInfo.AttendanceStatistics" />
      <ThirdMenu Name="员工加班调休管理" Url="/Personnelmatters/EmpOverTimeRecord/EmpOverTimeRecordIndex" Permission="PEmployeesInfo.EmpOverTimeRecord" />
      <ThirdMenu Name="员工异动管理" Url="/Personnelmatters/EmpTransactionRecord/EmpTransactionRecordIndex" Permission="PEmployeesInfo.EmpTransactionRecord" />
      <ThirdMenu Name="员工申请审批管理" Url="/Personnelmatters/EmpApproval/EmpApprovalIndex" Permission="PEmployeesInfo.EmpApproval" />
      <ThirdMenu Name="员工申请管理" Url="/Personnelmatters/ApprovalManagement/ApprovalIndex" Permission="PEmployeesInfo.ApprovalManagement" />
    </SecondMenu>
  
  </FirstMenu>
  
  <FirstMenu Name="考务">
    <SecondMenu Name="考务管理">
      <ThirdMenu Name="考试发布" Url="/ExaminationSystem/ExamArrangement/ReleaseExamination" Permission="Examination.ExaminationManage" />
      <ThirdMenu Name="考试学员名单录入" Url="/ExaminationSystem/ExamArrangement/AppointmentExamination" Permission="Examination.ExaminationManage" />
      <ThirdMenu Name="阅卷安排" Url="/ExaminationSystem/ExamArrangement/MarkingArrangement" Permission="Examination.ExaminationManage" />
      <ThirdMenu Name="生成考试座位表" Url="/ExaminationSystem/ExamArrangement/ArrangeSeatingChart" Permission="Examination.ExaminationManage" />
      <ThirdMenu Name="考试分数查询" Url="/ExaminationSystem/ExamScores/ExamScoreSearch" Permission="Examination.ExaminationManage" />
      <ThirdMenu Name="考试违纪记录" Url="/ExaminationSystem/ExamArrangement/ExamBreachView" Permission="Examination.ExaminationManage" />
      <ThirdMenu Name="阅卷" Url="/ExaminationSystem/ExamScores/Marking" Permission="Examination.teacherMarkingd" />
    </SecondMenu>
  </FirstMenu>
  
  <FirstMenu Name="题库管理">
    <SecondMenu Name="考试题库">
      <ThirdMenu Name="考试题库管理" Url="/ExaminationSystem/QuestionsBank/QuestionsBankIndex" Permission="Examination.examQuesionMn" />
    </SecondMenu>
  </FirstMenu>
  
  <FirstMenu Name="满意度">
    <SecondMenu Name="满意度管理">
      <ThirdMenu Name="满意度配置" Url="/Teaching/SatisfactionSurvey/SatisfactionIndex" Permission="nabtudy.manage" />
      <ThirdMenu Name="满意度记录查询" Url="/Teaching/SatisfactionSurvey/SurveyHistory" Permission="nabtudy.search" />
      <ThirdMenu Name="我的满意度记录查询" Url="/Teaching/SatisfactionSurvey/EmpSurveyData" Permission="nabtudy.MySurveySearch" />
    </SecondMenu>
    
  </FirstMenu>
  
  <FirstMenu Name="宿舍">
    <SecondMenu Name="宿舍管理">
      <ThirdMenu Name="栋层" Url="/Dormitory/Basics/BasicsIndex" Permission="dormroom.manage" />
      <ThirdMenu Name="员工安排宿舍" Url="/Dormitory/EmployeeCheckIn/EmployeeCheckInIndex" Permission="dormroom.EmpArgmentSushe" />
      <ThirdMenu Name="宿舍卫生登记" Url="/Dormitory/HealthRegistration/HealthRegistrationIndex" Permission="dormroom.roomweisdenj" />
      <ThirdMenu Name="新生入住" Url="/Dormitory/NewbornR/NewbornRIndex" Permission="dormroom.NewStuRuzhu" />
      <ThirdMenu Name="晚归登记" Url="/Dormitory/Registrationforlatearrival/RegistrationforlatearrivalIndex" Permission="dormroom.wanguidengji" />
      <ThirdMenu Name="房间基础操作" Url="/Dormitory/RoomBasis/RoomBasisIndex" Permission="dormroom.roombasis" />
      <ThirdMenu Name="房间禁用详细" Url="/Dormitory/RoomDisabled/RoomDisabledIndex" Permission="dormroom.roomdisabledindex" />
      <ThirdMenu Name="员工调寝" Url="/Dormitory/StaffAdjustment/StaffAdjustmentIndex" Permission="dormroom.emptiaoqin" />
      <ThirdMenu Name="员工寝室详细" Url="/Dormitory/StaffRoomDetails/StaffRoomDetailsIndex" Permission="dormroom.emproomdetail" />
    </SecondMenu>
  </FirstMenu>
  
  <FirstMenu Name="市场">
    <SecondMenu Name="市场模块">
      <ThirdMenu Name="年度计划总结" Url="/Market/ChannelYearPlan/NewChannelYearPlanIndex" Permission="shichang.yearjihzj" />
      <ThirdMenu Name="市场员工列表" Url="/Market/ChannelStaff/ChannelStaffIndex" Permission="shichang.shicemplist" />
      <ThirdMenu Name="招生计划" Url="/Market/SchoolYearPlan/SchoolYearPlanIndex" Permission="shichang.schoolyearplanindex" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="资金">
    <SecondMenu Name="资金模块">
      <ThirdMenu Name="借资列表" Url="/Capital/Capital/PublicBorrowList" Permission="zijin.jiezilist" />
      <ThirdMenu Name="预资列表" Url="/Capital/Capital/DoPrefundingList" Permission="zijin.yuzilist" />
      <ThirdMenu Name="借资预资" Url="/Capital/Capital/BorrowMoney" Permission="zijin.jzyuzi" />
    </SecondMenu>
  </FirstMenu>

  <FirstMenu Name="财务">
    <SecondMenu Name="财务管理">
      <ThirdMenu Name="缴费名目" Url="/Finance/Pricedetails/FeeReport" Permission="priceCaiw.jiaofmingm" />
      <ThirdMenu Name="商品管理" Url="/Finance/Pricedetails/Studentfees" Permission="priceCaiw.shgnpimanage" />
      <ThirdMenu Name="缴费管理" Url="/Finance/Pricedetails/Studentpayment" Permission="priceCaiw.jiaofmanage" />
    </SecondMenu>
  </FirstMenu>
  
  <FirstMenu Name="学历管理">
    <SecondMenu Name="_学历管理">
      <ThirdMenu Name="本科管理" Url=" /MyEducation/Education/Undergraduate" Permission="xueliEducation.benEdmanage" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="班级">
    <SecondMenu Name="_班主管理">
      <ThirdMenu Name="教质_班级管理" Url="/Teachingquality/ClassSchedule/" Permission="jiaozhiClass.manage" />
    </SecondMenu>
  </FirstMenu>
  
  <FirstMenu Name="班主任管理">
    <SecondMenu Name="_班主任管理">
      <ThirdMenu Name="班主任带班分布图" Url="/Teachingquality/Headteacher/Teamleaderdistribution" Permission="banzhurmanage.banzrdbimag" />
      <ThirdMenu Name="班主任带班" Url=" /Teachingquality/Headteacher/Index" Permission="banzhurmanage.banzrdb" />
      <ThirdMenu Name="班主任培训" Url="/Teachingquality/Headteacher/GetProfessionala" Permission="banzhurmanage.banzrpx" />
    </SecondMenu>
  </FirstMenu>
  
  <FirstMenu Name="教质_学员管理">
    <SecondMenu Name="_学员管理">
      <ThirdMenu Name="学员访谈" Url="/Teachingquality/InterviewStudents/Index" Permission="jzstudentmanage.jsstufat" />
      <ThirdMenu Name="学员出勤" Url="/Teachingquality/StudentAttendanc/Index" Permission="jzstudentmanage.jzstuchuq" />
      <ThirdMenu Name="学员信息" Url="/Teachingquality/StudentInformation/Index" Permission="jzstudentmanage.jzstuinfo" />
      <ThirdMenu Name="学生会管理" Url=" /Teachingquality/StudentUnion/Index" Permission="jzstudentmanage.jzstuhmanage" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="企业管理">
    <SecondMenu Name="企业管理">
      <ThirdMenu Name="企业列表" Url="/Obtainemployment/BusinessManagement/EnterpriseInfoIndex" Permission="obtainemployment.enterpriseinfoindex" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="就业管理">
    <SecondMenu Name="就业管理">
      <ThirdMenu Name="就业专员列表" Url="/Obtainemployment/EmploymentCommissioner/EmploymentCommissionerIndex" Permission="obtainemployment.employmentcommissionerindex" />
      <ThirdMenu Name="就业区域管理" Url="/Obtainemployment/EmploymentAreas/EmploymentAreasIndex" Permission="obtainemployment.employmentareasindex" />
      <ThirdMenu Name="就业班级管理" Url="/Obtainemployment/EmpClass/EmpClassIndex" Permission="obtainemployment.employmentareasindex" />
    </SecondMenu>
  </FirstMenu>
</SysMenu>