
@{
    ViewBag.Title = "BasicsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/dtree2.5.4/layui_ext/dtree/dtree.css" rel="stylesheet" />
<link href="~/Scripts/dtree2.5.4/layui_ext/dtree/font/dtreefont.css" rel="stylesheet" />
<style>
    #left {
        width: 25%;
        float: left;
    }

    #right {
        width: 74%;
        float: right;
    }
</style>
<div>
    <div id="left">
        <ul id="toolbarTree5" class="dtree" style="width:300px" data-id="0"></ul>
    </div>
    <div id="right">
        <table id="mytable" lay-filter="mytable"></table>
    </div>
</div>
<script src="~/Scripts/underscore.js"></script>
<script src="~/Areas/Dormitory/Script/operationdormxml.js"></script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    </div>
</script>
@section script{
    <script>
        var myDTree;
        layui.extend({
            dtree: '{/}/Scripts/dtree2.5.4/layui_ext/dleiool/dtree'
        }).use(['element', 'layer', 'table', 'code', 'util', 'dtree', 'form'], function () {

            var element = layui.element, layer = layui.layer, table = layui.table, util = layui.util, dtree = layui.dtree, form = layui.form, $ = layui.$;
            var jstungid, jsfloorid;
            $(function () {
                loadtree();
            });
            //时间转化
            function TimeChange(newtime) {
                if (newtime == null)
                    return "";
                var date = new Date(parseInt(newtime.slice(6)));
                var year = date.getFullYear();
                var month = date.getMonth();
                if (month < 10) {
                    month = Number(month + 1);
                }
                var day = date.getDate();
                if (day < 10) {
                    day = day;
                }
                var result = year + '-' + month + '-' + day;
                return result;
            }
            myDTree = dtree.render({
                elem: "#toolbarTree5",
                url: '/Dormitory/DormitoryInfo/EstablishTree',
                formatter: {
                    title: function (data) {  // 示例给有子集的节点返回节点统计
                        var s = data.context;
                        if (data.children) {
                            s += '<span style=\'color:blue\'>(' + data.children.length + ')</span>';
                        }
                        return s;
                    }
                },
                initLevel: 1,
                nodeIconArray: { "3": { "open": "dtree-icon-pulldown", "close": "dtree-icon-pullup" } },  // 自定扩展的二级非最后一级图标，从1开始
                leafIconArray: { "11": "dtree-icon-star" },  // 自定义扩展的二级最后一级图标，从11开始
                icon: ["3", "11"], // 使用
                response: { statusCode: 200, rootName: "data", treeId: "nodeId", title: "context" },
                toolbar: true,
                toolbarWay: "fixed", // "contextmenu"：右键菜单（默认），"fixed"："固定在节点后","follow"："跟随节点动态呈现"
                toolbarFun: {
                    addTreeNode: function (treeNode, $div) { //添加树节点后调用的函数，用于用户自定义，如未指定则树不会发生变化
                        //location.reload();
                        // console.log('join');
                        //loadtree();
                        //console.log('join');
                        //console.log(treeNode);
                    },

                    editTreeNode: function (treeNode, $div) { //编辑树节点后调用的函数，用于用户自定义，如未指定则树不会发生变化
                        //console.log(treeNode);
                        $.ajax({
                            url: '/Dormitory/Basics/updatetung',
                            data: { TungName: treeNode.context, tungid: treeNode.nodeId },
                            type: 'GET',
                            success: function (successdata) {
                                if (successdata.Success) {
                                    layer.msg('操作成功', { icon: 6, time: 2000 }, function () {
                                        myDTree.changeTreeNodeEdit(true); // 调用内置函数，修改节点后改变节点内容。传入false，则树不会发生变化
                                    });
                                } else {
                                    layer.msg(successdata.Msg, { icon: 6, time: 2000 }, function () {

                                    });
                                }
                            },
                            error: function () {
                                layer.msg('网络异常！', { icon: 6, time: 2000 }, function () {
                                });
                            }
                        });

                    },

                    delTreeNode: function (treeNode, $div) { //删除树后调用的函数，用于用户自定义，如未指定则树不会发生变化
                        console.log(treeNode);
                        if (treeNode.level == "1") {
                            //console.log("dong");
                            zhixing(treeNode.nodeId, "-1", true);
                        }
                        if (treeNode.level == "2") {
                            //console.log("lou");
                            zhixing(treeNode.parentId, treeNode.nodeId, false);
                        }

                    },

                    loadToolbarBefore: function (buttons, param, $div) {
                        //console.log(buttons);
                        //console.log(param);
                        //console.log($div);
                        if (param.parentId != "0") { // 如果是叶子节点
                            buttons.addToolbar = "";  // 取消新增功能
                            buttons.editToolbar = "";  // 取消修改的功能
                        }
                        return buttons; // 将按钮对象返回
                    }
                }
            });
            dtree.on("node(toolbarTree5)", function (obj) {
                console.log(obj);
                var dtreeobj = obj.param;
                console.log(dtreeobj);

                //点击的是楼
                if (dtreeobj.level == "2") {
                    jstungid = dtreeobj.parentId;
                    jsfloorid = dtreeobj.nodeId;
                    loadroom(jstungid, jsfloorid);
                }
                //点击的是栋
                if (dtreeobj.level == "1") {
                    jstungid = dtreeobj.nodeId;
                    var arry = obj.childParams;
                    for (var i = arry.length - 1; i >= 0; i--) {
                        if (arry[i].parentId != dtreeobj.nodeId) {
                            arry.splice(i, 1);
                        }
                    }
                    arry.sort(sortBy('nodeId'));
                    jsfloorid = arry[0].nodeId;
                    loadroom(jstungid, jsfloorid);
                }
            })
            function sortBy(props) {
                return function (a, b) {
                    return a[props] - b[props];
                }
            }
            function zhixing(tungid, floorid, istung) {
                $.ajax({
                    url: '/Dormitory/Basics/del',
                    data: { tungid: tungid, floorid: floorid, istung: istung },
                    type: 'GET',
                    success: function (successdata) {
                        if (successdata.Success) {
                            layer.msg('操作成功', { icon: 6, time: 2000 }, function () {
                                myDTree.changeTreeNodeDel(true); // 调用内置函数，删除节点后改变节点内容。传入false，则树不会发生变化
                            });
                        } else {
                            layer.msg(successdata.Msg, { icon: 6, time: 5000 }, function () {

                            });
                        }
                    },
                    error: function () {
                        layer.msg('网络异常！', { icon: 6, time: 2000 }, function () {
                        });
                    }
                });
            }

            var table11 = table.render({
                elem: '#mytable'
                , skin: 'line' //行边框风格
                , even: true //开启隔行背景
                , url: '/Dormitory/Basics/SeachData'
                , limit: 20
                , limits: [10, 20, 30, 45, 60, 75]
                , page: true
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , cols: [[ //标题栏
                    //, { field: 'ID', title: 'id'/*, width: 180*/, hide: true }
                     { field: 'TungName', title: '栋名称', width: 200 }
                    , {
                        field: 'TungAddress', title: '地址', width: 250
                    }
                    , {
                        field: 'CreationTime', title: '创建时间', width: 150, templet: function (d) {


                            return "<span style=color:blue;>"+TimeChange(d.CreationTime)+"</span>"

                        }
                    }
                    , {
                        field: 'studentcount', title: '学生人数', width: 100, templet: function (d) {


                            return "<span style=color:red;>" + d.studentcount + "</span>"

                        }
                    }
                    , {
                        field: 'staffcount', title: '员工人数', width: 100, templet: function (d) {


                            return "<span style=color:red;>" + d.staffcount + "</span>"

                        }
                    }
                    , { field: 'Remark', title: '备注', width: 350 }
                ]]
            });
            function loadtable11() {
                table11.reload({
                    url: '/Dormitory/RoomDisabled/SeachData'
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            }
            //头工具栏事件
            table.on('toolbar(mytable)', function (obj) {
                switch (obj.event) {
                    case 'add':
                        layer.open({
                            type: 2,
                            content: "/Dormitory/Basics/AddTungPage",
                            title: "添加栋",
                            area: ['390px', '320px'],
                            end: function () {
                                loadtree();
                            }
                        });
                        break;
                };
            });

        });

        //加载树
        function loadtree() {
            $.ajax({
                url: '/Dormitory/DormitoryInfo/EstablishTree',
                type: 'GET',
                success: function (successdata) {
                    console.log(successdata);
                    // var nodes = JSON.parse(successdata);
                    //console.log(nodes);
                    //可以重载所有基础参数
                    myDTree.reload(
                        'demoTree',
                        {
                            data: successdata

                        });
                },
                error: function (errordata) {

                }
            });
        }


    </script>
}



