
@{
    Layout = null;
}
@model  SiliconValley.InformationSystem.Entity.MyEntity.Studenttuitionfeestandard
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Addfeestandard</title>
        <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/layui/layui.js"></script>
        <style>
            .mysql{
                margin-top:10px;
            }
        </style>
    </head>
    <body>
        <form class="layui-form" action="" style="margin-top:20px;" id="form">
            <h3 style="text-align:center;height:50px;">学员学费单价录入</h3>
            <div class="layui-container">
                <fieldset>

                    <legend>基础数据</legend>

                    <div class="layui-row layui-form-item" style="margin-left:60px;">

                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                            <label class="layui-form-label">阶段</label>
                            <div class="layui-input-inline">
                                @Html.DropDownList("Stage", ViewBag.Stage as SelectList, "请选择", new Dictionary<string, object>() { { "lay-verify", "required" }, { "lay-filter", "Stage" }, { "name", "list" } })
                            </div>
                        </div>

                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                            <label class="layui-form-label">费用名称</label>
                            <div class="layui-input-inline">
                                @Html.TextBoxFor(a => a.Unitpricename, new Dictionary<string, object>() { { "lay-verify", "required" }, { "class", "layui-input" } })

                            </div>
                            <label id="lab1" style="color:red; display:none; line-height:40px;">名称重复</label>
                            <label  id="lab2" style="color:red;display:none; line-height:40px;">请选择阶段</label>
                        </div>

                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                            <label class="layui-form-label">伙食费</label>
                            <div class="layui-input-inline">
                                @Html.TextBoxFor(a => a.UnitPrice, new Dictionary<string, object>() { { "lay-verify", "required" }, { "class", "layui-input " } })

                            </div>
                        </div>


                    </div>



                </fieldset>
            </div>
            <div class="layui-row layui-form-item" style="margin-top:20px;">
                <div class="layui-col-xs10 layui-col-sm10 layui-col-md10" style="text-align:center;">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" type="button" lay-filter="demo1">立即提交</button>
                        <button type="reset" id="butn" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

            </div>
        </form>
    </body>
</html>
<script src="~/Areas/Teachingquality/js/AjaxAddupdate.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate', 'layer'], function () {
        //   $('select').attr('disabled', 'disabled');

        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        var errey = "";
        function Boolfeestandard(id, Name) {
            $.post("/Finance/Pricedetails/Boolfeestandard/" + id + "?Name=" + Name, function (data) {
                if (data != "False") {
                   
                    $("#lab1").css("display", "block");
                    errey = "22";
                } else {
                    $("#lab1").css("display", "none");
                    errey = "";
                }
                
            });
        }
       
        $("#Unitpricename").keyup(function (event) {
            var stage = $("#Stage").val();
            if ($(this).val() != "") {
                if (stage != "") {
                    $("#lab2").css("display", "none");
                    Boolfeestandard(stage, $(this).val());
                } else {
                    $("#lab2").css("display", "block")

                }
            } else {
                $("#lab2").css("display", "none");
            }
        
        }); 
        //监听下拉框阶段
        form.on('select(Stage)', function (data) {
            var Name = $("#Unitpricename").val();
            if (data.value != "") {
                $("#lab2").css("display", "none");
               
                if (Name != "") {
                    Boolfeestandard(data.value, Name);
                }
            } else {
              
                if (Name!="") {
                    $("#lab2").css("display", "block");
                }
               
            }
        });
        //查询功能
        form.on('submit(demo1)', function (data) {
            var x = data.field;
            if (errey == "") {
                ajaxUniom("/Finance/Pricedetails/Addfeestandard", x);
            } else {
                Errye("名称重复不可录入，请更换名称或者禁用！")
            }
          

            return false;
        });
    });
</script>