
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Receipt</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>

    <style>




        table {
            /*border: 1px solid #808080;*/
            border-collapse: collapse
        }

            table tr td {
                height: 30px;
            }


        /*.bordes td {
            border: 1px solid #808080;
        }
        .motityle td {
            border: 1px solid #ffffff;
        }*/
        .wit {
            width: 10%;
        }

        #guigu {
            margin-top: -20px;
            width: 100px;
            height: 100px;
        }

        #Remarks {
            overflow: auto;
            background-attachment: fixed;
            background-repeat: no-repeat;
            border-style: solid;
            border-color: #FFFFFF;
            resize: none;
        }

        table {
            font-size: 10pt;
        }
        /*table tr,table td,table th ,table{
            border: 1px solid red;
        }*/
        /*#shouju {
            background-image: url(/Areas/Finance/images/shouju.jpg)
        }*/
    </style>
</head>
<body>

    <div id="shouju" style="position:absolute;">
        <img src="~/Areas/Finance/images/shouju.jpg" style="width:672px;z-index:0;margin-top:-22px;margin-left:29px;" />
    </div>
    <div style="z-index:999;position:absolute;top:73px;left:10px;height:200px;" id="text">

        <div id="AddDate" style="position:absolute;left:540px;top:16px;">2020-06-23</div>
        <div id="Name" style="position:absolute;left:93px;top:42px;"></div>
        <div id="classa" style="position:absolute;left:218px;top:42px;"></div>
        <div id="GrandName" style="position:absolute;left:340px;top:42px;"></div>
        <div id="identitydocument" style="position:absolute;left:500px;top:42px;"></div>
        <div style="height:214px">
            <table cellpadding="1" style="width:790px;">
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td style="width:80px;"></td>
                    <th style="width:113px;"></th>
                    <td style="width:35px;"></td>
                    <th style="text-align:inherit;width:90px;"></th>
                    <td style="width:50px;"></td>
                    <th style="text-align:inherit;width:145px;"></th>

                    <th colspan="2" style="text-align:inherit;width:220px;"></th>
                </tr>
                <tr>
                    <td colspan="7"></td>
                    <td colspan="1" style="text-align:inherit;"></td>
                </tr>
                <tbody id="xiangmu">
                 
                </tbody>

                <tbody id="xuezai" >  </tbody>
                @*<tr>
                <td colspan="7" style="text-align:center;" id="DaXie">合计金额（大写）：</td>
                <td colspan="1" style="text-align:inherit;width:230px;" id="pricent">2000</td>
            </tr>*@

            </table>
        </div>
        <div style="position:absolute;top:289px;left:294px;">
            <textarea id="Remarks" style="height:82px;width:130px;"></textarea>

        </div>
        <div id="DaXie" style="position:absolute;left:188px;"></div>
        <div id="pricent" style="position:absolute;left:530px;"></div>

        <div style="width:390px;position:absolute;top:241px;left:102px;"> <input type="text" style="border:0px;height:12px;margin-top:12px;" id="Remark" class="layui-input" /></div>

    </div>



    <div style="text-align:center;position:relative;top:471px;">
        <button class="layui-btn" id="btn">打印</button>
    </div>



</body>
</html>

<script src="~/Areas/Teachingquality/js/priceview.js"></script>
<script src="~/Areas/Teachingquality/js/AjaxAddupdate.js"></script>
<script>

       // window.parent.closeSelf();

    var studen = JSON.parse('@Html.Raw(ViewBag.student)');
    console.log(studen);
    $("#GrandName").text(studen.GrandName);
    $("#Name").text(studen.Name);

    $("#classa").text(studen.classa);
    $("#identitydocument").text(studen.identitydocument);
    var Receiptdata = JSON.parse('@Html.Raw(ViewBag.Receiptdata)');
    $("#Remark").val(Receiptdata[0].Remarks);
    var count = 0;
    var ostitemsName = "";
    var Amountofmoneys = 0;
    var pricent = 0;
    
   
    console.log(Receiptdata);
    for (var i = 0; i < Receiptdata.length; i++) {

        pricent = pricent + parseInt(Receiptdata[i].Amountofmoney);

        if (i == 0) {
            //AddDate
            $("#Remark").text(Receiptdata[i].Remarks);
            var date = new Date(Receiptdata[i].AddDate);
            $("#AddDate").text(getNowFormatDate(date));
        }
        if (Receiptdata[i].Rategory == "阶段费用缴纳" || Receiptdata[i].Rategory == "学费" || Receiptdata[i].Rategory == "食宿费") {
            var Amountofmoney = Receiptdata[i].Amountofmoney + ".00";
        
            
            $("#xiangmu").append($('<tr> <td colspan="4" style="text-align:center;">' + Receiptdata[i].GrandName+"阶段" + Receiptdata[i].ostitemsName + '</td> <td colspan="4" style="text-align:inherit;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Amountofmoney + '</td></tr>'));


            // $("#text thead").append($('<tr style="text-align:center;"><td colspan="6">' + Receiptdata[i].GrandName + Receiptdata[i].ostitemsName + '</td><td colspan="4">' + Amountofmoney + '</td></tr>'));
        } else if ( Receiptdata[i].Rategory == "其它" || Receiptdata[i].Rategory == "驾校费") {
            var Amountofmoney = Receiptdata[i].Amountofmoney + ".00";
            $("#xiangmu").append($('<tr style="height:55px;"> <td colspan="4" style="text-align:center;">' + Receiptdata[i].Rategory + Receiptdata[i].ostitemsName + '</td> <td colspan="4" style="text-align:inherit;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Amountofmoney + '</td></tr>'));
            // $("#text thead").append($('<tr style="text-align:center;"><td colspan="6">' + Receiptdata[i].Rategory+"：" + Receiptdata[i].ostitemsName + '</td><td colspan="4">' + Amountofmoney + '</td></tr>'));
        } else if (Receiptdata[i].Rategory == "预入费") {
          
            var Amountofmoney = Receiptdata[i].Amountofmoney + ".00";
            $("#xiangmu").append($('<tr style="height:55px;"> <td colspan="4" style="text-align:center;">' + Receiptdata[i].ostitemsName + '</td> <td colspan="4" style="text-align:inherit;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Amountofmoney + '</td></tr>'));
            // $("#text thead").append($('<tr style="text-align:center;"><td colspan="6">' + Receiptdata[i].Rategory+"：" + Receiptdata[i].ostitemsName + '</td><td colspan="4">' + Amountofmoney + '</td></tr>'));
        } else if (Receiptdata[i].Rategory == "自考本科费用" ) {
            var Amountofmoney = Receiptdata[i].Amountofmoney + ".00";
            $("#xiangmu").append($('<tr style=""> <td colspan="4" style="text-align:center;">' + Receiptdata[i].ostitemsName + '</td> <td colspan="4" style="text-align:inherit;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Amountofmoney + '</td></tr>'));
        }
        if (Receiptdata[i].Rategory == "学杂费") {

            count++;
            ostitemsName += Receiptdata[i].ostitemsName + ",";
            Amountofmoneys = Amountofmoneys + parseInt(Receiptdata[i].Amountofmoney);
            if (count ==3) {
                count = 0;

                $("#xuezai").append($('<tr> <td colspan="4" style="text-align:center;">' + ostitemsName.substring(0, ostitemsName.length - 1) + '</td> <td colspan="4" style="text-align:inherit;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Amountofmoneys + '.00</td></tr>'));

                //$("#text tbody").prepend($('<tr style="text-align:center;"><td colspan="6">' + ostitemsName.substring(0, ostitemsName.length - 1) + '</td><td colspan="4">' + Amountofmoneys + ".00" + '</td></tr>'));
                ostitemsName = "";
                Amountofmoneys = 0;
            }
        }

    }

    $("#pricent").text(toMoney(pricent));
    $("#DaXie").text(convertCurrency(pricent));

    if (count < 3 && count != 0) {
     
        $("#xuezai").append($('<tr> <td colspan="4" style="text-align:center;"><div>' + ostitemsName.substring(0, ostitemsName.length - 1) + '</div></td> <td colspan="4" style="text-align:inherit;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Amountofmoneys + '.00</td></tr>'));

    //    $("#text tbody").before($('<tr style="text-align:center;"><td colspan="6">' + ostitemsName.substring(0, ostitemsName.length - 1) + '</td><td colspan="4">' + Amountofmoneys + ".00" + '</td></tr>'));
    }
    if (count == 0) {
       
        $("#xuezai").append($('<tr  style="height:60px;"> <td colspan="4" style="text-align:center;"></td> <td colspan="4" style="text-align:inherit;"></td></tr>'));

    }
 
  
    //if (Receiptdata.length > 1 && Receiptdata.length<4) {
    //    $("#text tbody").before($('<tr style="text-align:center;height: 30px;"></tr>'));
    //    $("#text tbody").before($('<tr style="text-align:center;height: 30px;"></tr>'));
    //    $("#text tbody").before($('<tr style="text-align:center;height: 30px;"></tr>'));
    //    console.log("aaaa");
    //} else if (Receiptdata.length > 3 && Receiptdata.length < 7) {
    //    console.log("aaaa");
    //    $("#text tbody").before($('<tr style="text-align:center;height: 30px;"></tr>'));
    //    $("#text tbody").before($('<tr style="text-align:center;height: 30px;"></tr>'));
    //} else if (Receiptdata.length > 7 && Receiptdata.length < 10) {
    //    console.log("aaaa");
    //    $("#text tbody").before($('<tr style="text-align:center;height: 30px;"></tr>'));

    //}
</script>

<script src="~/Areas/Teachingquality/js/Print.js"></script>
<script>
    document.getElementById('btn').onclick = function () {
        Print('#text', {
            //onStart: function () {
            //    console.log("a");
            //},
            //onEnd: function () {

            //}
        })
    }
     

    


</script>