
@{
    Layout = null;
}
@model  SiliconValley.InformationSystem.Entity.MyEntity.StudentFeeRecord
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentPrice</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <style>
        .mysql {
            margin-top: 13px;
        }

        .textar {
            width: 80%;
            height: 80px;
            border-left:#ffffff
        }
    </style>
</head>
<body>
    <form class="layui-form" action="" id="form">
        <div class="layui-container">
            <fieldset>
                <legend>基础数据</legend>



                <div class="layui-row layui-form-item" style="margin-left:60px;">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                        <label class="layui-form-label">学号</label>
                        <div class="layui-form-label" id="StudentNumber">

                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-form-label" style="margin-left:-30px;" id="Name">

                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-form-label" style="margin-left:-35px;" id="Sex">

                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                        <label class="layui-form-label">班级</label>
                        <div class="layui-form-label" style="margin-left:-20px;" id="classa">

                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                        <label class="layui-form-label">身份证</label>
                        <div class="layui-form-label" id="identitydocument">

                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                        <label class="layui-form-label">阶段</label>
                        <div class="layui-input-inline">
                            @Html.DropDownList("Stage", ViewBag.Stage as SelectList, "请选择", new Dictionary<string, object>() { { "lay-verify", "required" }, { "lay-filter", "Stage" } })
                        </div>
                    </div>



                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                        <label class="layui-form-label">学费</label>
                        <div class="layui-input-inline">
                            @Html.TextBoxFor(a => a.Amountofmoney, new Dictionary<string, object>() { { "lay-verify", "required|Amountofmoney" }, { "class", "layui-input " } })
                            <input type="text" style="display:none;" id="Amountofmoney1" name="Amountofmoney1" />

                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                        <label class="layui-form-label">食宿费</label>
                        <div class="layui-input-inline">
                            <input type="text" style="display:none;" id="Amountofmoneys1" name="Amountofmoneys1" />
                            <input type="text" class="layui-input" lay-verify="required|Amountofmoney" name="Amountofmoneys" id="Amountofmoneys" />

                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql " id="zafei" style="display:none;">
                        @*<label class="layui-form-label">S1学杂费</label>
                            <div class="layui-input-block" id="Unitpricename">

                            </div>*@

                        <div class="layui-collapse" style="margin-left:50px;">
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">学杂费</h2>
                                <div class="layui-colla-content" id="Unitpricename"></div>
                            </div>
                        </div>


                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">

                            @Html.TextAreaFor(a => a.Remarks, new Dictionary<string, object>() { { "placeholder", "请输入内容" }, { "class", "llayui-textarea textar" } })
                        </div>
                    </div>


                </div>



            </fieldset>
        </div>
        <div class="layui-row layui-form-item" style="margin-top:20px;">
            <div class="layui-col-xs10 layui-col-sm10 layui-col-md10" style="text-align:center;">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" type="button" lay-filter="demo1">立即提交</button>
                    <button type="reset" id="butn" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>

        </div>
        <div style="position:relative;top:-50px;left:80%;width:100px;">
            合计   <label style="color:red;" id="Totalsum">0</label>元
        </div>
    </form>

</body>
</html>
<script src="~/Areas/Teachingquality/js/AjaxAddupdate.js"></script>
<script>
    var student = JSON.parse('@Html.Raw(ViewBag.student)');
    $("#StudentNumber").text(student.StudentNumber);
    $("#identitydocument").text(student.identitydocument);
    $("#classa").text(student.classa);
    $("#Name").text(student.Name);
    $("#Sex").text(student.Sex == false?"女":"男");
    layui.use(['table', 'layer', 'tree','element', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var element = layui.element;

        var list = [];
        //监听阶段下拉框
        form.on('select(Stage)', function (data) {
            list.length = 0;
          
            if (data.value != "") {

                var dbase = {
                    Grand_id: data.value,
                    studentid: $("#StudentNumber").text()
                };
                $.post("/Finance/Pricedetails/Studentfeepayment", dbase, function (da) {
                    var price = 0;
                  
                    $.each(da, function (i, item) {
                        if (item.Rategory == "学杂费" && item.countfee<1) {
                            price = price + item.Amountofmoney;
                        }
                    });
                    //总金额
                    var Totalsum = 0;
                    var optionstring = "学杂费总金额:<label id='price'>" + price+"</label>元"+"<br/> ";
                    var count = 0;
                  
                    $.each(da, function (i, item) {
                      
                        if (item.Rategory == "学杂费" && item.countfee<1) {
                            Totalsum = Totalsum + item.Amountofmoney;
                            var obj = {};
                            obj.Costitemsid = item.id;
                            obj.Amountofmoney = item.Amountofmoney;
                            obj.StudenID = $("#StudentNumber").text();
                         
                            list.push(obj);

                            optionstring += '<button type="button"  class="layui-btn layui-btn-normal layui-btn-radius">' + item.Name + '(' + item.Amountofmoney + ')</button> ';

                            count++;
                            if (count > 2) {
                                count = 0;
                                optionstring += "<div style='height:10px;'></div>";
                            }
                        } else if (item.Name == "学费") {
                            $("#Amountofmoney").val(item.Amountofmoney);
                            Totalsum = Totalsum + item.Amountofmoney;
                            $("#Amountofmoney1").val(item.id);
                        } else if (item.Name == "食宿费") {
                            console.log("伙食费")
                            $("#Amountofmoneys1").val(item.id);
                            $("#Amountofmoneys").val(item.Amountofmoney);
                            Totalsum = Totalsum + item.Amountofmoney;
                        }

                    });
                    if (price > 0) {
                        $("#zafei").css("display", "block");
                    } else {
                        $("#zafei").css("display", "none");
                    }
                    // zafei
                    $("#Unitpricename").html(optionstring);
                    $("#Totalsum").text(Totalsum)
                    form.render();
                });
            } else {
                $("#zafei").css("display", "none");
            }
        });
        //正则
        form.verify({
            Amountofmoney: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (!/(^[1-9]([0-9]{0,4})(\.[0-9]{1,2})$)|(^[1-9]([0-9]{0,4})$)|(^[0-9]\.[0-9]{1,2}$)/.test(value)) {
                    return '请输入正确的价格';
                }
            },
            Name: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (!/^[^\s]*$/.test(value)) {
                    return '名称不能输入空格';
                } else {
                    if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                        return '名称不能有特殊字符';
                    }
                    if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                        return '名称首尾不能出现下划线\'_\'';
                    }
                    if (!/^[a-zA-Z\u4e00-\u9fa5]+$/.test(value)) {
                        return '名称只能由中文或字母组成';
                    }

                }

            }
        });
        //监听提交
        form.on('submit(demo1)', function (data) {
            window.parent.StudentShow("/Finance/Pricedetails/Receipt", "收费收据", 1, 830, 600);
            //var db = data.field;

            //var obj = {};
            //obj.Costitemsid = db.Amountofmoney1;
            //obj.Amountofmoney = db.Amountofmoney;
            //obj.StudenID = $("#StudentNumber").text();
       
            //list.push(obj);
            // obj = {};
            //obj.Costitemsid = db.Amountofmoneys1;
            //obj.Amountofmoney = db.Amountofmoneys;
           
            //obj.StudenID  = $("#StudentNumber").text();
            //list.push(obj);
          
            //var dbase = {
            //    person: JSON.stringify(list),
            //    Remarks: db.Remarks,
            //    Stage: db.Stage
            //};
            //ajaxprice("/Finance/Pricedetails/StudentPrices", dbase, function () {
            //    var index = parent.layer.getFrameIndex(window.name);
            //    parent.layer.close(index);//关闭当前页  
            //    window.parent.StudentShow("/Finance/Pricedetails/Receipt", "收费收据", 1, 830, 600);
            //});
        
         //  ajaxUniom("/Finance/Pricedetails/StudentPrices", dbase);

        });
        //文本框监听/学费
        $("#Amountofmoney").keyup(function () {      // 按键弹起时触发的事件；

            var eys = parseInt($("#Amountofmoneys").val()) + parseInt($(this).val()) + parseInt($("#price").text());

            $("#Totalsum").text(eys);
        });
        //文本框监听/食宿费
        $("#Amountofmoneys").keyup(function () {      // 按键弹起时触发的事件；
            var eys = parseInt($("#Amountofmoney").val()) + parseInt($(this).val()) + parseInt($("#price").text());
            $("#Totalsum").text(eys);;
        });

    
    });
    
 
   
</script>