
@{
    ViewBag.Title = "Studentfees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="layui-form" action="">
    <div class="layui-carousel-left">
      
            <div class="layui-row layui-form-item" >
                <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                    <label class="layui-form-label labels">阶段</label>
                    <div class="layui-input-block">
                        @Html.DropDownList("grade_Id", ViewBag.grade_Id as IEnumerable<SelectListItem>, "----请选择----", new Dictionary<string, object>() { { "class", "layui-input labels" } })
                    </div>
                </div>
                <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                    <label class="layui-form-label labels">类别</label>
                    <div class="layui-input-block">
                        @Html.DropDownList("Typex", ViewBag.Typex as IEnumerable<SelectListItem>, "----请选择----", new Dictionary<string, object>() { { "class", "layui-input labels" } })
                    </div>
                </div>
            </div>

            <div style="position:absolute;left:46%;top:67px;">
                <button class="layui-btn" lay-submit="" type="button" lay-filter="demo2"><i class="layui-icon">&#xe615;</i>查询</button>
            </div>


        </div>

    
</form>
<table class="layui-hide" id="test" lay-filter="test" ></table>
@section script{
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getAdd"><i class="layui-icon">&#xe654;</i>录入商品价格</button>


            @*<input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">*@
        </div>
    </script>

    <script type="text/html" id="barDemo">

        {{#if (d.IsDelete ==false){ }}
       
        <input type="checkbox" zid={{d.id}} checked="checked" lay-skin="switch" lay-filter="switchTest" lay-text="正常|禁用">
        {{#  }else{ }}
        <input type="checkbox"   zid={{d.id}}  lay-skin="switch" lay-filter="switchTest" lay-text="正常|禁用">
        {{#   } }}

    </script>
    <script>
        layui.use(['table', 'layer', 'tree', 'form'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;

            //表格渲染
            table.render({
                elem: '#test'
                , url: '/Finance/Pricedetails/DateCostitems'
                , toolbar: '#toolbarDemo'
                , id: 'idTest'
                ,Width:"100%"
                , page: true
                //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { type: 'radio' }
                    , { field: 'id', title: '编号 ' }
                    , { field: 'Stage', title: '阶段' }
                    , { field: 'Name', title: '名称 ' }
                    , { field: 'Typex', title: '类别 ' }
                    , { field: 'Amountofmoney', title: '价格 ' }
                    , { fixed: 'right', title: '状态', toolbar: '#barDemo' }
                ]]
                , page: true
                , limit: 8
                , limits: [8, 10, 15]
            });


            //监听头部工具栏
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getAdd':
                        layer.open({
                            title: "录入学员学费详情",
                            type: 2,
                            area: ['550px', '500px']
                            , content: "/Finance/Pricedetails/Costitems"
                            , end: function () { table.reload('idTest'); }
                            , anim: 1,
                            //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                        });
                        break;

                };
            });
            //监听指定开关
            form.on('switch(switchTest)', function (data) {
                var check = this.checked == true ? false : true;
                if (confirm("是否要更改状态？")) {
                    //点击确定后操作
                    var dbser = {
                        Isdele: check,
                        id: $(data.elem).attr("zid")
                    };
                    $.post("/Finance/Pricedetails/PaymentcommodityIsdele", dbser, function (da) {
                        if (da == true) {
                            table.reload('idTest');
                        }
                    });
                    console.log(dbser);
                } else {
                    $(this).prop("checked", check )
                    layui.form.render(); 
                }
             
            });

            //查询功能
            form.on('submit(demo2)', function (data) {
                var x = data.field;
                table.reload('idTest', {
                    where: {
                        grade_Id: x.grade_Id,
                        Typex: x.Typex,
                    }, page: {
                        curr: 1
                    }
                });

                //  }


                return false;
            });
        });

    </script>
}

