
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>employed</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
    <link href="~/dleiicon/font_xhlb4bpyaza/iconfont.css" rel="stylesheet" />
    <style>
        .search {
            position: absolute;
            top: 13px;
            right: 10px;
            cursor: pointer;
        }

        
    </style>
</head>

<body>
    <div>
        <form class="layui-form" action="">
            <div class="layui-container">
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label lad">学生姓名:</label>
                        <div class="layui-input-inline">
                            <input type="text" id="StudentName" class="layui-input" readonly="readonly" style="border:none" />
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label lad">班级名称:</label>
                        <div class="layui-input-inline">
                            <input type="text" id="classno" class="layui-input" readonly="readonly" style="border:none" />

                        </div>
                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label lad">预想薪资:</label>
                        <div class="layui-input-inline">
                            <input type="text" id="Salary" class="layui-input" readonly="readonly" style="border:none" />
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label lad">实际薪资:</label>
                        <div class="layui-input-inline">
                            <input type="text" id="RealWages" class="layui-input" />
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label lad">公司名称:</label>
                        <div class="layui-input-inline">
                            <input type="text" id="EntName" class="layui-input" />
                            <span class="iconfont icon-search search"></span>
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 disappear">
                        <label class="layui-form-label lad">公司地址:</label>
                        <div class="layui-input-inline">
                            <input type="text" id="EntAddress" class="layui-input" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-form-item disappear">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <label class="layui-form-label">公司规模</label>
                        <div class="layui-input-block" id="EntScalediv">

                        </div>
                    </div>
                </div>
                <div class="layui-row layui-form-item disappear">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <label class="layui-form-label">公司性质</label>
                        <div class="layui-input-block" id="EntNaturediv">
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-form-item disappear">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <label class="layui-form-label">公司所需要专业选择</label>
                        <div class="layui-input-block" id="Specialtydiv">

                        </div>
                    </div>

                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="demo1">确定</button>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn layui-btn-radius" id="signout">退出</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <script src="~/Areas/Obtainemployment/Scripts/opneentxml.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script type="text/template" id="muban1">
        <input type="radio" class="raddiobibi" name="EntScale" value="{{=text}}" title="{{=text}}" {{=checked}} {{=disabled}}>
    </script>
    <script type="text/template" id="muban2">
        <input type="radio" class="raddiolala" name="EntNature" value="{{=text}}" title="{{=text}}" {{=checked}} {{=disabled}}>
    </script>
    <script type="text/template" id="muban3">

    </script>
    <script>
        var objdata;
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form, layer = layui.layer;
            var info,EntScalearray,EntNaturearray,sepclist;
            jQuery(function () {
                info = JSON.parse('@Html.Raw(ViewBag.obj)');
                sepclist

                    = JSON.parse('@Html.Raw(ViewBag.Sepclist)');
                $("#StudentName").val(info.StudentName);
                $("#classno").val(info.classno);
                $("#Salary").val(info.Salary);
                EntScalearray = $getEntScales();
                EntNaturearray = $getEntNatures();
            });
            $(document).off("click", '.search').on('click', '.search', function () {
                var value = $("#EntName").val();
                value = value.replace(/\s*/g, '');
                if (value.length > 0) {
                    $.ajax({
                        url: '/Obtainemployment/EmploySituation/getentlist',
                        async: false,
                        data: { param0: value },
                        success: function (successdata) {
                            if (successdata.Success) {
                                if (successdata.Data.length > 0) {
                                    layer.open({
                                        type: 2,
                                        content: "/Obtainemployment/EmploySituation/entlist",
                                        title: "选择公司",
                                        area: ['680px', '350px'],
                                        success: function (layero, index) {
                                            let body = layui.layer.getChildFrame('body', index);
                                            body.find(".filename").val(JSON.stringify(successdata.Data));
                                        },
                                        end: function () {
                                           
                                            loadEntScale(true)
                                            loadEntNature(true);
                                        }
                                    });
                                } else {
                                    layer.msg('该公司无记录！', { icon: 6, time: 2000 }, function () {
                                        loadEntScale(false);
                                        loadEntNature(false);
                                    });
                                }
                                 form.render();

                            } else {
                                layer.msg(successdata.Msg, { icon: 6, time: 2000 }, function () {

                                });
                            }
                        },
                        error: function (errordata) {
                            layer.msg('网络不佳!', { icon: 6, time: 2000 }, function () {

                            });
                        }
                    });
                } else {
                    layer.msg('请输入公司名称！', { icon: 6, time: 2000 }, function () {
                    });
                }

            });

            ///加载公司规模
            function loadEntScale(iscun) {
                $("#EntScalediv").children().remove();
                console.log(EntScalearray);
                for (var i = 0; i < EntScalearray.length; i++) {
                    var obj = _.template($("#muban1").html());
                    var html = "";
                    if (iscun) {
                        if (EntScalearray[i].val ==objdata.EntScale) {
                            html = obj({ text:  EntScalearray[i].val,checked:"checked" ,disabled:''});
                        } else {
                            html = obj({ text: EntScalearray[i].val, disabled: "disabled", checked: '' });
                        }
                    } else {
                        if (i==0) {
                             html = obj({ text: EntScalearray[i].val,checked:"checked" ,disabled:'' });
                        } else {
                             html = obj({ text: EntScalearray[i].val,checked:"" ,disabled:'' });
                        }
                    }
                   
                    $("#EntScalediv").append($(html));
                }
                form.render();
            }
            ///加载公司性质
            function loadEntNature(iscun) {
                $("#EntNaturediv").children().remove();
                for (var i = 0; i < EntNaturearray.length; i++) {
                    var obj = _.template($("#muban2").html());
                    var html = "";
                    if (iscun) {
                        if (EntNaturearray[i].val ==objdata.EntNature) {
                            html = obj({ text:  EntNaturearray[i].val,checked:"checked" ,disabled:''});
                        } else {
                            html = obj({ text: EntNaturearray[i].val, disabled: "disabled", checked: '' });
                        }
                    } else {
                        if (i==0) {
                             html = obj({ text: EntNaturearray[i].val,checked:"checked" ,disabled:'' });
                        } else {
                             html = obj({ text: EntNaturearray[i].val,checked:"" ,disabled:'' });
                        }
                    }
                   
                    $("#EntNaturediv").append($(html));
                }
                form.render();
            }
        });
    </script>
</body>
</html>
