
@{
    ViewBag.Title = "CourseIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>课程列表</h2>

<script type="text/html" id="topBar">
    <div class="layui-btn-container">
      
        <button type="button" class="layui-btn layui-btn-sm"  lay-event="Add">
            <i class="layui-icon">&#xe654;</i>
            课程
        </button>
    </div>
</script>

<div>
    <table class="layui-hide" id="courselist" lay-filter="courselist_filter"></table>
</div>

@section script{

    <script src="~/Areas/Teaching/Scripts/Ajax.js"></script>
    <script src="~/Areas/CourseSyllabus/CourseOperation.js"></script>
}

