
@{
    ViewBag.Title = "CourseIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>课程列表</h2>

<script type="text/html" id="topBar">
    <div class="layui-btn-container">

        <button type="button" class="layui-btn layui-btn-sm" lay-event="Add">
            <i class="layui-icon">&#xe654;</i>
            课程
        </button>
        <button type="button" class="layui-btn layui-btn-sm" lay-event="isUsing">
            <i class="layui-icon">&#xe654;</i>
            禁用/启用
        </button>
        <button type="button" class="layui-btn layui-btn-sm" lay-event="TypeBtton">
            <i class="layui-icon">&#xe615;</i>
            课程类型
        </button>
    </div>
</script>

<div>
    <table class="layui-hide" id="courselist" lay-filter="courselist_filter"></table>
</div>

<script type="text/html" id="editBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="detail">详情</a>
</script>

@section script{

    <script src="~/Areas/Teaching/Scripts/Ajax.js"></script>

    <script src="~/Areas/CourseSyllabus/CourseOperation.js"></script>

}

