
@{
    Layout = null;
}

<!DOCTYPE html>
@using SiliconValley.InformationSystem.Entity.MyEntity
@using SiliconValley.InformationSystem.Entity.ViewEntity
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditMajorAndGrandView</title>

    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <style>

        .backcolor {
        
                background-color:#67d0aa !important; 
        }

    </style>
</head>
<body>
    <div style=" position:relative; width:800px;margin: auto;" id="contein">
        <input type="hidden" id="teacherid" value="@ViewBag.Teacher.TeacherID" />
        @{

            foreach (var item in ViewBag.majors)
            {
                <div class="layui-collapse" lay-filter="filter">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title" majorid="@item.Id">@item.SpecialtyName  </h2>

                        <div id="opinionContent" class="layui-colla-content coll" style="position:relative;">
                            <div id="adddiv" style="display:inline-block;">
                                <a majorid="@item.Id" class="layui-btn layui-btn-primary addgrandbtn" href="javascript:void(0);">  <i class="layui-icon">&#xe654;</i> 阶段</a>
                            </div>

                            <div id="content" style="display:inline-block;  ">

                            </div>
                        </div>


                    </div>
                </div>
            }
        }
        <button style="margin-top:10px; width:100%;" class="layui-btn layui-btn-normal">  <i class="layui-icon">&#xe654;</i> 专业</button>

    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Areas/Teaching/Scripts/Ajax.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Areas/Teaching/Scripts/MajorAndGrand.js"></script>

</body>
</html>
