
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>goodmajor</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <style>
        .select {
             background-color:#ffd800;
        }
        .currbtn {
            
            height:45px;
        }

        .myclose {
            /* still bad on picking color */
            background: orange;
            color: red;
            /* make a round button */
            border-radius: 12px;
            /* center text */
            line-height: 20px;
            text-align: center;
            height: 20px;
            width: 20px;
            font-size: 18px;
            padding: 1px;
        }
            /* use cross as close button */
            .myclose::before {
                content: "\2716";
            }
        /* place the button on top-right */
        .myclose {
            top: -10px;
            right: -10px;
            position: absolute;
        }
    </style>
</head>
<body>
    <div style=" position:relative; width:800px;margin: auto;" id="contein">
        <input type="hidden" id="teacherid" value="@ViewBag.Teacher.TeacherID" />
        @{

            foreach (var item in ViewBag.grands)
            {
                <div class="layui-collapse" lay-filter="filter">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title" grandid="@item.Id">@item.GrandName 系列课程 </h2>

                        <div id="opinionContent" class="layui-colla-content coll" style="position:relative;">
                            <div id="adddiv" style="display:inline-block;">
                                <a grandid="@item.Id" class="layui-btn layui-btn-primary addbtn" href="javascript:void(0);">  <i class="layui-icon">&#xe654;</i> 新技能</a>
                            </div>

                            <div id="content" style="display:inline-block;  ">

                            </div>
                        </div>
                    </div>
                </div>
            }

            @*<div class="layui-collapse" lay-filter="filter">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title" majorid="0">公共课</h2>

                    <div id="opinionContent" class="layui-colla-content coll" style="position:relative;">
                        <div id="adddiv" style="display:inline-block;">
                            <a majorid="0" class="layui-btn layui-btn-primary addbtn" href="javascript:void(0);">  <i class="layui-icon">&#xe654;</i> 新技能</a>
                        </div>

                        <div id="content" style="display:inline-block;  ">

                        </div>
                    </div>
                </div>
            </div>*@
        }


    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Areas/Teaching/Scripts/Ajax.js"></script>
    <script src="~/Scripts/underscore.js"></script>

    <script type="text/template" id="muban1">




    </script>

    <script>


        //移除教员擅长的课程

        function removeTeacherGoodSkill(teacherid,courseid,successcallback, errorcallback) {

            //发送请求
            Ajax("/Teaching/Teacher/removeTeacherGoodSkill", { teacherid: teacherid, courseid: courseid }, "post", function (data) {

                successcallback(data);

            }, function (error) {

                errorcallback(error);
                });

        }

        layui.use(['element', 'layer'], function () {

            var element = layui.element;
            var layer = layui.layer;
            element.on('collapse(filter)', function (data) {
                //console.log(data.show); //得到当前面板的展开状态，true或者false
                //console.log(data.title); //得到当前点击面板的标题区域DOM对象
                //console.log(data.content); //得到当前点击面板的内容区域DOM对象


                if (data.show) {
                    //获取专业id
                    var grandid = data.title[0].attributes["grandid"].nodeValue;

                    var teacherid = $("#teacherid").val();
                    //发送请求

                    Ajax("/teaching/teacher/GetCurcousData", { teacherid: teacherid, grandid: grandid }, "post", function (result) {

                        if (result.ErrorCode == 200) {

                            $($(data.content).children()[1]).html("");

                            ///成功 渲染数据

                            if (result.Data.length == 0) {

                                return;

                            }

                            for (var i = 0; i < result.Data.length; i++) {

                                var btn = $('<a href="javascript:void(0);" style="position:relative;" class="layui-btn layui-btn-primary"></a>');

                                btn.text(result.Data[i].CourseName);
                                btn.attr("CourseId", result.Data[i].CurriculumID);

                                //创建删除按钮

                                var closebtn = $('<span class=""></span>');

                                //注册关闭按钮的点击事件

                                closebtn.click(function () {

                                    var closethis = $(this);
                                    //课程ID
                                    var couserid = $(this).parent().attr("CourseId");

                                    layer.confirm("确定！", function (index) {

                                        removeTeacherGoodSkill(teacherid, couserid, function (data) {

                                            if (data.ErrorCode == 200) {

                                                layer.msg("移除成功");
                                                closethis.parent().remove();

                                            }
                                            else {
                                                layer.msg("系统错误");
                                            }


                                        }, function (error) {

                                            layer.msg("抱歉！ 您的是龟速网吗......");

                                            });

                                        layer.close(index);
                                    });  

                                });

                                btn.append(closebtn);

                                //显示删除按钮样式
                                btn.mouseover(function () {

                                    $($(this).children()[0]).addClass("myclose");

                                });

                                //隐藏删除按钮样式
                                btn.mouseout(function () {

                                    $($(this).children()[0]).removeClass("myclose");

                                });


                                $($(data.content).children()[1]).append(btn);


                                //console.log($($(data.content).children()[1]));
                            }





                        } else {
                            layer.msg("抱歉！系统繁忙.......");
                        }


                    }, function (error) {

                        layer.msg("抱歉！网络好像出现了一点小问题......");

                    });
                }

                
            });


            //新增技能事件

            $(".addbtn").click(function () {

                //获取teacherid
                var teacherid = $("#teacherid").val();

                var granid = $(this).attr("grandid");


                Ajax("/teaching/teacher/GetNewSkill", { grandid: granid, teacherid: teacherid }, "post", function (result) {


                    if (result.Data.length == 0) {

                        layer.msg("没有新技能了....");

                        return
                    }
                   
                    $("#muban1").html("");


                    for (var i = 0; i < result.Data.length; i++) {

                        //创建一个按钮

                        

                        var btn = $('<button style="margin-top:20px;" class="layui-btn layui-btn-primary currbtn"></button>');


                        btn.text(result.Data[i].CourseName);

                        btn.attr("currId", result.Data[i].CurriculumID);



                        $(document).off("click", ".currbtn").on('click', '.currbtn', function () {
                            $(this).toggleClass("select");

                        });

                       
                        $("#muban1").append(btn);

                    }


                    var html = $("#muban1").html();

                    //弹出层

                    layer.open({
                        type: 1,
                        title:"技能",
                        area: ['600px', '300px'],
                        btn: ['确定','关闭'],

                        content: html
                        , yes: function (index) {

                            var ids = "";


                            //获取选择的课程id

                            $(".currbtn").each(function () {

                                //console.log($(this).hasClass("select"));

                                if ($(this).hasClass("select") != false) {


                                    //list.push($(this).attr("currId"));

                                    ids += $(this).attr("currId") +",";
                                }
                               
                            });

                            //var parm = { ids: list }

                            //var p = $.param(parm, true);


                            if (ids!="") {

                                layer.confirm('确定?', function (index) {
                                    //发送请求

                                    //获取教员id
                                    var teacherid = $("#teacherid").val();

                                    Ajax("/teaching/teacher/SetNewSkillToTeacher", {  ids:ids, teacherid: teacherid }, "post", function (result) {



                                        if (result.Data.ErrorCode == 200) {

                                            layer.msg("成功");

                                        }



                                    }, function (error) {

                                        layer.msg("抱歉！网络好像出现了一点小问题......");


                                    });

                                    layer.close(index);
                                });

                            }



                          
                            layer.close(index);


                            //收起折叠面板
                            $(".coll").removeClass("layui-show");
                            
                        }
                    }); 
                    


                }, function (error) {


                    layer.msg("抱歉！网络好像出现了一点小问题......");

                    });


            });

        });



    </script>
</body>
</html>
