@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Areas/Teaching/Scripts/Teacheroptioner.js"></script>
</head>
<body>
    <div>
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label"><button class="layui-btn layui-btn-sm">选择员工</button></label>
                <div class="layui-input-block">
                    <input type="text" name="username" readonly lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
                    <input type="hidden" id="teacherno"/>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">工作经验</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="desc">
                            欢迎加入信息安全屋! 
                    </textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">项目经验</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="desc">
                            欢迎加入信息安全屋! 
                    </textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">教学经验</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="desc">
                            欢迎加入信息安全屋! 
                    </textarea>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">上课风格</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="desc">
                            欢迎加入信息安全屋! 
                    </textarea>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                </div>
            </div>
        </form>
    </div>

    <script src="~/Scripts/layui/layui.js"></script>
   

</body>
</html>
