
@{
    ViewBag.Title = "Teacherlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section style{

    <link href="~/Scripts/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        body .demo-class .layui-layer-title {
            background: #009688;
            color: #fff;
            border: none;
        }
    </style>

}
    <div>
        <div id="tablelist">
            @{
                foreach (var item in ViewBag.majors)
                {
            <div>
                <h1 style="text-align:center; background-color:#23cc36 " >@item.SpecialtyName</h1>
                @{

                    foreach (var item1 in ViewBag.grands)
                    {
                <div style="margin-left:20px;">
                    <h3 style="text-align:center; background-color:#70cc75;" >@item1.GrandName</h3>

                    <table class=".table-hover tables">
                        <thead>

                        </thead>

                        <tbody>

                        </tbody>
                    </table>

                </div>
                    }

                }



            </div>
                }
            }

        </div>
    </div>

@section script{
    
    <script>


        



    </script>
    
}

