
@{
    ViewBag.Title = "TeachersInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section script{


    <script src="~/Areas/Teaching/Javascript.js"></script>
}

<script src="~/Areas/Teaching/Javascript.js"></script>

<h2>TeachersInfo</h2>

<div class="layui-container">

    <div>
        <table class="layui-hide" id="teacherlist"></table>
    </div>

</div>



