
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>rtest</title>
</head>
<body>
    <div> 
        <a href="/Home/insert">test</a>
    </div>
</body>
</html>
