
@{
    ViewBag.Title = "HealthRegistrationIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #procontent {
        width: 100%;
        height: 800px;
        /*border: 1px solid pink;*/
    }

    #protree {
        width: 18%;
        height: 100%;
        /*border: 1px solid pink;*/
        float: left;
    }

    #prouninhabited {
        width: 50%;
        height: 100%;
        /*border: 1px solid pink;*/
        float: left;
        margin-left: 10px;
    }

    #protable {
        width: 25%;
        height: 100%;
        float: right;
    }
</style>

<link href="~/Scripts/dtree2.5.4/layui_ext/dtree/dtree.css" rel="stylesheet" />
<link href="~/Scripts/dtree2.5.4/layui_ext/dtree/font/dtreefont.css" rel="stylesheet" />
<div id="procontent">
    <div id="protree">
        <ul id="demoTree" class="dtree" data-id="0"></ul>
    </div>
    <div id="prouninhabited">
        <div id="top">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-inline" id="mubandiv">
                        <label class="layui-form-label" id="querylable" style="width:90px;">选择时间</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" lay-verify="required" name="time" id="test16"  placeholder="开始 到 结束">
                        </div>
                        
                        @*<div class="layui-input-inline">
                            <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>*@

                        <button class="layui-btn layui-btn-radius layui-btn-normal layui-btn" lay-submit="" lay-filter="demo1">搜索</button>

                    </div>

                </div>
            </form>
        </div>
        <div id="table">
            <table class="layui-hide" id="demo" lay-filter="demo"></table>
        </div>
        
    </div>
    <div id="protable">
        <form class="layui-form" action="">
            <fieldset>
                <legend style="font-size:18px">
                    选择下列寝室
                </legend>
                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <div id="radiodiv">

                        </div>

                    </div>
                </div>
            </fieldset>
            </form>
            <form class="layui-form" action="">
                <fieldset>
                    <legend>卫生登记项</legend>
                    <div class="layui-row layui-form-item">

                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label" style="width:90px">乱挂衣物</label>
                            <div class="layui-input-block">
                               
                                <input class="mysign" type="radio" name="Clothing" value="true" title="存在">
                            </div>
                        </div>

                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label" style="width: 90px;">洗漱用品</label>
                            <div class="layui-input-block">
                             
                                <input class="mysign" type="radio" name="Washsupplies" value="true" title="凌乱">
                            </div>
                        </div>


                    </div>

                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label" style="width: 90px;">厕所整洁</label>
                            <div class="layui-input-block">
                               
                                <input class="mysign" type="radio" name="Cleantoilet" value="true" title="凌乱">
                            </div>
                        </div>

                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label" style="width: 100px;">床上堆杂物</label>
                            <div class="layui-input-block">
                               
                                <input class="mysign" type="radio" name="Beddebris" value="true" title="存在">
                            </div>
                        </div>
                    </div>

                    <div class="layui-row layui-form-item">

                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label" style="width:90px">行李箱</label>
                            <div class="layui-input-block">
                                
                                <input class="mysign" type="radio" name="Trunk" value="true" title="凌乱">
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label" style="width:90px">空床摆放</label>
                            <div class="layui-input-block">
                              
                                <input class="mysign" type="radio" name="Emptyplacement" value="true" title="凌乱">
                            </div>
                        </div>
                    </div>

                    <div class="layui-row layui-form-item">

                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label" style="width:90px">床单成面</label>
                            <div class="layui-input-block">
                          
                                <input class="mysign" type="radio" name="Sheet" value="true" title="凌乱">
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label" style="width:90px">被子叠放</label>
                            <div class="layui-input-block">
                                
                                <input class="mysign" type="radio" name="BeddingOverlay" value="true" title="凌乱">
                            </div>
                        </div>
                    </div>

                    <div class="layui-row layui-form-item">

                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label" style="width:90px">地面</label>
                            <div class="layui-input-block">
                             
                                <input class="mysign" type="radio" name="Ground" value="true" title="脏乱">
                            </div>
                        </div>

                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label" style="width:90px">鞋子摆放</label>
                            <div class="layui-input-block">
                              
                                <input class="mysign" type="radio" name="Shoeplacement" value="true" title="脏乱">
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                        <label class="layui-form-label" style="width:90px">选择日期</label>
                        <div class="layui-input-block">
                            <input type="text" name="RegisterTime" class="layui-input" id="test-limit2" placeholder="yyyy-MM-dd">
                        </div>

                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                        <label class="layui-form-label" style="width:90px">备注</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入备注" name="Remarks" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" id="Notre" lay-submit lay-filter="Notre">登记</button>
                        <button class="layui-btn" type="reset" id="Reset">重置</button>
                    </div>
                </div>

            </form>
</div>
</div>


@section script{
    @*房间单选选中按钮模板*@
    <script type="text/template" id="radionuban">
        <input type="radio" name="DormInformation" lay-filter="dormfilter" value="{{=DormInfoID}}" title="{{=DormInfoName}}" checked>
    </script>
    @*房间单选未选中按钮模板*@
    <script type="text/template" id="radionuban1">
        <input type="radio" name="DormInformation" lay-filter="dormfilter" value="{{=DormInfoID}}" title="{{=DormInfoName}}">
    </script>

    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Areas/Dormitory/Script/operationdormxml.js"></script>
    <script>
        layui.extend({
            dtree: '{/}/Scripts/dtree2.5.4/layui_ext/dist/dtree'   // {/}的意思即代表采用自有路径，即不跟随 base 路径
        }).use(['dtree', 'layer', 'jquery', 'form', 'table', 'laydate'], function () {
            var dtree = layui.dtree, layer = layui.layer, $ = layui.jquery, form = layui.form, table = layui.table, laydate = layui.laydate;

            var jstungid, jsfloorid, dormid, startime, endtime;
            //时间转化
            function TimeChange(newtime) {
                if (newtime == null)
                    return "";
                var date = new Date(parseInt(newtime.slice(6)));
                var year = date.getFullYear();
                var month = date.getMonth();
                if (month < 10) {
                    month = Number(month + 1);
                }
                var day = date.getDate();
                if (day < 10) {
                    day = day;
                }
                var result = year + '-' + month + '-' + day;
                return result;
            }
            //初始化树
            var myDTree = dtree.render({
                elem: "#demoTree",
                initLevel: 1,
                url: '/Dormitory/DormitoryInfo/EstablishTree',
                formatter: {
                    title: function (data) {  // 示例给有子集的节点返回节点统计
                        var s = data.context;
                        if (data.children) {
                            s += ' <span style=\'color:blue\'>(' + data.children.length + ')</span>';
                        }
                        return s;
                    }
                },
                nodeIconArray: { "3": { "open": "dtree-icon-pulldown", "close": "dtree-icon-pullup" } },  // 自定扩展的二级非最后一级图标，从1开始
                leafIconArray: { "11": "dtree-icon-star" },  // 自定义扩展的二级最后一级图标，从11开始
                icon: ["3", "11"], // 使用
                response: { statusCode: 200, rootName: "data", treeId: "nodeId", title: "context" }
            });
            //未居住的员工请求
            var stafftable = table.render({
                elem: '#demo'
                , skin: 'line' //行边框风格
                , even: true //开启隔行背景
                , limit: 20
                , limits: [10,20, 30, 45, 60, 75]
                , page: true
                , cols: [[ //标题栏
                    { field: 'DormInfoName', title: '寝室号', width: 80 }
                    ,{ field: 'SexType', title: '寝室类型', width: 90 }
                    , { field: 'Causeofdeduction', title: '扣分原因', width: 348 }
                    , { field: 'EmpinfoName', title: '登记人', width: 80 }
                    , {
                        field: 'RecordTime', title: '记录时间', width: 105, templet: function (d) {
                            return TimeChange(d.RecordTime);
                        }
                    }
                    , { field: 'Remark', title: '备注', width: 145, }
                ]]

            });
            $(function () {
                loadtree();
                
                
            });
            
            //加载树
            function loadtree() {
                $.ajax({
                    url: '/Dormitory/DormitoryInfo/EstablishTree',
                    type: 'GET',
                    success: function (successdata) {
                        //console.log(successdata);
                        jstungid = successdata.data[0].nodeId;
                        jsfloorid = successdata.data[0].children[0].nodeId;
                        //可以重载所有基础参数
                        myDTree.reload(
                            'demoTree',
                            {
                                data: successdata

                            });
                        getdormdata();
                        loadtable();
                    },
                    error: function (errordata) {
                        layer.msg("网络延迟！", { icon: 6, time: 2000 }, function () {

                        });
                    }
                });
            }

            //加载表格
            function loadtable() {

                //这里以搜索为例
                stafftable.reload({
                    url:'/Dormitory/HealthRegistration/ListOfHealthViolations'
                    , where: {
                        startime: startime,
                        endtime: endtime,
                        tungid: jstungid,
                        floorid: jsfloorid
                    }
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            }
            


            // 绑定节点点击
            dtree.on("node('demoTree')", function (obj) {
                //console.log(obj);
                var dtreeobj = obj.param;
                //console.log(dtreeobj);

                //点击的是楼
                if (dtreeobj.level == "2") {
                    jstungid = dtreeobj.parentId;
                    jsfloorid = dtreeobj.nodeId;
                    getdormdata();
                }
                //点击的是栋
                if (dtreeobj.level == "1") {

                    var arry = obj.childParams;
                    if (arry.length > 0) {
                        jstungid = dtreeobj.nodeId;
                        for (var i = arry.length - 1; i >= 0; i--) {
                            if (arry[i].parentId != dtreeobj.nodeId) {
                                arry.splice(i, 1);
                            }
                        }
                        arry.sort(sortBy('nodeId'));
                        jsfloorid = arry[0].nodeId;
                        getdormdata();
                    } else {
                        $("#protable").css('display', 'none');
                        layer.msg("暂无楼层，无法进行操作！", { icon: 6, time: 2000 }, function () {

                        });
                    }
                }

                //console.log('-----------');
                //console.log(jstungid);
                //console.log(jsfloorid);
            });
            function sortBy(props) {
                return function (a, b) {
                    return a[props] - b[props];
                }
            }

            //前三
            var day1 = new Date();
            day1.setTime(day1.getTime() - 72 * 60 * 60 * 1000);
            var s1 = day1.getFullYear() + "-" + (day1.getMonth() + 1) + "-" + day1.getDate();

            //今天
            var day2 = new Date();
            day2.setTime(day2.getTime());
            var s2 = day2.getFullYear() + "-" + (day2.getMonth() + 1) + "-" + day2.getDate();

            //前一个月
            function getLastMonthYestdy() {

                var date = new Date();

                var daysInMonth = new Array([0], [31], [28], [31], [30], [31], [30], [31], [31], [30], [31], [30], [31]);

                var strYear = date.getFullYear();

                var strDay = date.getDate();

                var strMonth = date.getMonth() + 1;

                if (strYear % 4 == 0 && strYear % 100 != 0) {

                    daysInMonth[2] = 29;

                }

                if (strMonth - 1 == 0) {

                    strYear -= 1;

                    strMonth = 12;

                }

                else {

                    strMonth -= 1;

                }

                strDay = daysInMonth[strMonth] >= strDay ? strDay : daysInMonth[strMonth];

                if (strMonth < 10) {

                    strMonth = "0" + strMonth;

                }

                if (strDay < 10) {

                    strDay = "0" + strDay;

                }

                datastr = strYear + "-" + strMonth + "-" + strDay;

                return datastr;

            }

             startime = getLastMonthYestdy();

             endtime = s2;

            //前后若干天可选，这里以7天为例
            var ins22 = laydate.render({
                elem: '#test-limit2'
                , min: s1
                , max: s2
                , value: s2
                , isInitValue: true
                , ready: function () {
                    ins22.hint('日期可选值设定在 <br> '+s1+' 到  今天');
                }
            });

            //console.log(startime);
            //console.log(endtime);
            laydate.render({
                elem: '#test16'
                , type: 'datetime'
                , range: '到'
                , format: 'yyyy-M-d'
                , done: function (value, date, endDate) {
                    //console.log(value); //得到日期生成的值，如：2017-08-18
                    //console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                    //console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
                    startime = date.year + '-' + date.month + '-' + date.date;
                    endtime = endDate.year + '-' + endDate.month + '-' + endDate.date;

                    //console.log(startime);
                    //console.log(endtime);
                }
            });



            
            //发请求获取宿舍
            function getdormdata() {
                $.ajax({
                    url: '/Dormitory/HealthRegistration/getdormdata',
                    type: 'GET',
                    data: { TungID: jstungid, FloorID: jsfloorid },
                    success: function (successdata) {
                        //console.log(successdata);
                        if (successdata.Success) {
                            //console.log(successdata);
                            var data = successdata.Data;
                            if (data.length > 0) {
                                $("#protable").show();
                                binddormradio(data);
                            } else {
                                $("#protable").hide();
                                layer.msg('暂无可用房间，请联系后勤主任添加房间。', { icon: 6, time: 2000 }, function () {
                                });
                            }

                        } else {
                            layer.msg("请与管理员联系");
                        }
                    },
                    error: function (errordata) {
                        layer.msg('网络异常！', { icon: 6, time: 2000 }, function () {
                        });
                    }
                });
            }

            //生成房间单选按钮
            function binddormradio(data) {
                //console.log("生成房间单选按钮");
                //console.log(data);
                $("#radiodiv").children().remove();
                for (var i = 0; i < data.length; i++) {
                    var radioobj = _.template($("#radionuban").html());
                    var radioobj1 = _.template($("#radionuban1").html());
                    var radiohtml;
                    if (i == 0) {
                        radiohtml = radioobj({ DormInfoID: data[i].ID, DormInfoName: data[i].DormInfoName });
                        dormid = data[i].ID;
                    } else {
                        radiohtml = radioobj1({ DormInfoID: data[i].ID, DormInfoName: data[i].DormInfoName });
                    }
                    //console.log(radiohtml);
                    $("#radiodiv").append($(radiohtml));
                }
                form.render();
            }


            //房间单选按钮点击事件
            form.on('radio(dormfilter)', function (data) {
                dormid = data.value;
            });

            //提交
            form.on('submit(Notre)', function (data) {
                //console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
                //console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
                //console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                var myobject = data.field;
                myobject.DorminfoID = dormid;
                var adopt = false;
                $(".mysign").each(function (index) {
                    if ($(this)[0].checked) {
                        adopt = true;
                    }
                });
                console.log(dormid);
                console.log(adopt);
                if (adopt) {
                    $.ajax({
                        url: '/Dormitory/HealthRegistration/Healthregistration',
                        type: 'POST',
                        data: { dormitoryhygiene: myobject },
                        success: function (SuccessData) {
                            console.log(SuccessData);
                            if (SuccessData.Success) {
                                layer.msg('卫生登记完成。');
                                loadtable();

                            } else {
                                layer.msg("请联系开发者");
                            }
                        },
                        error: function () {
                            layer.msg("请联系开发者");
                        }
                    });
                  
                } else {
                    layer.msg('请先选择扣分项目！', { icon: 6, time: 2000 }, function () {
                        });
                   
                }
                
                 return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

           //搜索提交
            form.on('submit(demo1)', function (data) {
                loadtable();
                return false;
            });




        });

    </script>
}


