
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>uptstudnetintention</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>

</head>


<body>
    <script type="text/template" id="muban3">
        <input type="radio" name="AreaID" value="{{=AreaID}}" title="{{=cityname}}" {{=checked}}>
    </script>
    <script src="~/Scripts/underscore.js"></script>
    <div style="margin-top:30px;">
        <form class="layui-form">
            <div class="layui-container">
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label lad">学生姓名:</label>
                        <div class="layui-input-inline">
                            <input type="text" id="StudentName" class="layui-input mycorlor" readonly="readonly" style="border:none" />
                            <input type="text" id="StudentNO" name="StudentNO" class="layui-input mycorlor" readonly="readonly" style="border:none;display:none;" />
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label lad">班级名称:</label>
                        <div class="layui-input-inline">
                            <input type="text" id="classnumnber" class="layui-input mycorlor" readonly="readonly" style="border:none" />

                        </div>
                    </div>

                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label lad"> 期望薪资:</label>
                        <div class="layui-input-inline">
                            <input type="text" id="Salary" name="Salary" class="layui-input mycorlor" />
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label lad"> 联系方式:</label>
                        <div class="layui-input-inline">
                            <input type="text" id="Telephone" class="layui-input mycorlor" name="Telephone" lay-verify="required|phone" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <label class="layui-form-label lad"> 确定就业城市:</label>
                        <div class="layui-input-inline" id="city" style="width:479px">

                        </div>
                    </div>

                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">


                        <div class="layui-input-block" id="btn0">
                            <button type="button" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="demo1">确定</button>
                        </div>


                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        layui.use(['table', 'layer', 'form'], function () {
            var table = layui.table, layer = layui.layer, AreaID = "", form = layui.form,myobj;

            jQuery(function () {
                 myobj = JSON.parse('@Html.Raw(ViewBag.querydata)');
                var city = JSON.parse('@Html.Raw(ViewBag.city)');
                loadform(myobj);
                loadmuban3(city);
                form.render();
            });

            function loadmuban3(data) {
                $('#city').children().remove();
                for (var i = 0; i < data.length; i++) {
                    var obj = _.template($("#muban3").html());
                    var html = '';
                    if (data[i].ID == myobj.AreaID) {
                        html = obj({ AreaID: data[i].ID, cityname: data[i].AreaName, checked: "checked" });
                        AreaID = data[i].ID;
                    } else {
                        html = obj({ AreaID: data[i].ID, cityname: data[i].AreaName, checked: "" });
                    }

                    $("#city").append($(html));
                }
                var obj = _.template($("#muban3").html());
                var html = obj({ AreaID: "", cityname: "其他城市", checked: "" });
                $("#city").append($(html));
            }
            function loadform(data) {
                $("#StudentName").val(data.StudentName);
                $("#classnumnber").val(data.classnumnber);
                $("#sex").val(data.sex);
                $("#Telephone").val(data.Telephone);
                $("#Salary").val(data.Salary);
                $("#StudentNO").val(data.StudentNO);

            }
            //监听提交
            form.on('submit(demo1)', function (data) {
                data.field.ID = myobj.ID;
                console.log(data.field);
                 $.ajax({
                     url: '/Obtainemployment/StudnetIntention/upttyping',
                    type: "POST",
                    data: { param0: data.field },
                    success: function (successdata) {
                        if (successdata.Success) {
                            layer.msg('录入成功!', { icon: 6, time: 2000 }, function () {
                               close();
                            });

                        } else {
                            layer.msg('请及时跟就业班主任汇报!', { icon: 6, time: 2000 }, function () {
                                close();
                            });
                        }
                    },
                    error: function (errordata) {
                        layer.msg('网络不佳!', { icon: 6, time: 2000 }, function () {
                             close();
                        });
                    }
                });
            });

                   function close() {
                //当你在iframe页面关闭自身时
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
            }
        });
    </script>
</body>
</html>
