
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="layui-hide" id="test" lay-filter="test"></table>


@section script{
    @*头部工具栏*@
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="AddHeadClass"><i class="layui-icon">&#xe613;</i>添加带班</button>
          </div>
      
    </script>
    @*右边按钮*@
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="select">带班记录</a>
    </script>
    <script src="~/Areas/Teachingquality/js/Datetime.js"></script>
    <script>
        layui.use(['table', 'layer', 'laydate', 'tree', 'form'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            //表格渲染
            table.render({
                elem: '#test'
                , url: '/Teachingquality/Headteacher/GetDate'
                , toolbar: '#toolbarDemo'
                , id: 'idTest'
                , page: true
                //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { type: 'radio', field: "ID" }
                    , { field: 'informatiees_Id', title: '班主任编号', sort: true }
                    , { field: 'informatiees_Name', title: '班主任姓名' }
                    , { field: 'informatiees_Sex', title: '班主任性别' }
                    , { field: 'Name', title: '岗位' }
                    , { field:'DeptName',title:'部门'}
                    , {
                        field: 'EntryTime', title: '入职日期', templet: function (c) {
                            return TimeChange(c.EntryTime);
                        }
                    }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 100 }
                ]]
                , page: true
                , limit: 8
                , limits: [8, 10, 15]
            });  //监听头部工具栏
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'AddHeadClass':
                        console.log(checkStatus.data);
                        if (checkStatus.data.length > 0) {

                            var id = checkStatus.data[0].ID;

                            layer.open({
                                title: '班主任接班',
                                type: 2,
                                area: ['680px', '540px']
                                , content: "/Teachingquality/Headteacher/HeadmasterEntity/" + id
                                , end: function () { table.reload('idTest'); select(); }
                                , anim: 1,
                                //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                            });
                        } else {
                            layer.alert('请选择一条数据', { icon: 0 });
                        }

                        break;
                    case 'Teamleaderdistribution':
                        window.location = "/Teachingquality/Headteacher/Teamleaderdistribution";
                        break;
                };
            });
            //监听工作条
            table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象

                window.location = "/Teachingquality/Headteacher/Successionrecord?HeadID=" + data.ID;

            });
        })
    </script>

}

