
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="layui-hide" id="test" lay-filter="test"></table>
@section script{
    <script>
        layui.use(['table', 'layer', 'laydate', 'tree', 'form'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            //表格渲染
            table.render({
                elem: '#test'
                , url: '/Teachingquality/StudentAttendanc/GetDate'
                , toolbar: '#toolbarDemo'
                , id: 'idTest'
                , page: true
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    , { field: 'informatiees_Id', title: '班主任编号' }
                    , { field: 'informatiees_Name',title: '班主任姓名'}
                    , { field: 'informatiees_Sex',title: '班主任性别' }
                    , { field: 'Name', title: '岗位'}
                ]]
                , page: true
                , limit: 8
                , limits: [8, 10, 15]
            });
        })
    </script>
 
}

