
@{
    ViewBag.Title = "Teamleaderdistribution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SiliconValley.InformationSystem.Entity.ViewEntity
@section style{
    <style>
        .Title {
            width: 200px;
            height: 130px;
            border: 1px solid red;
            float: left;
            margin-left: 10px;
            margin-top: 10px;
            background-position-y: -40px;
            color: #1cc09f;
        }

        .div1 {
            width: 100%;
            float: left;
            border-bottom: 1px solid #808080;
            margin-left: 40px;
            margin-top: 40px;
        }

        .round_icon {
            width: 44px;
            height: 44px;
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .hover {
            background-image: url('/Images/班级.jpg');
        }
    </style>
}
<h3 style="color:red;">该数据是对教质部公开的数据，请勿随意操作数据！！</h3>
<form class="layui-form" action="">
    <div class="layui-carousel-left">
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                <label class="layui-form-label" style="width:100px;">显示方式</label>
                <div class="layui-input-inline">
                    <select name="interest" lay-filter="college">

                        <option value="Stage" selected="">阶段</option>
                        <option value="HeadmasterName">班主任</option>
                        <option value="Major">方向</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>


<div id="context">


</div>

@section script{
    <script src="~/Areas/Teachingquality/js/AjaxAddupdate.js"></script>
}

<script>
    function showLoad() {

        return layer.msg('正在加载数据中！请稍后...', { icon: 16, shade: [0.5, '#f5f5f5'], scrollbar: false, offset: 'auto', time: 800000 });

    }
    var Team = "";
    layui.use(['table', 'layer', 'element', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var element = layui.element;
        $.ajax({
            url: '/Teachingquality/Headteacher/ListTeam',
            type: 'post',
            async: true,
            cache: false,
           
            beforeSend: function () {//执行中
                i = showLoad();
            },
            success: function (data) {//执行成功
                closeLoad(i);
                Team = data;
                //第一次加载
                Listdome("Stage");
            }
            , error: function (xmlhttprequest, textstatus, message) {
                closeLoad(i);
               
            }
        });

      

       
        //去重
        function unique(arr, field) {
            var map = {};
            var res = [];
            for (var i = 0; i < arr.length; i++) {
                if (!map[arr[i][field]]) {
                    map[arr[i][field]] = 1;
                    res.push(arr[i]);
                }
            }
            return res;
        }
        //排序
        function compare(prop) {
            return function (b, a) {
                var x1 = a[prop].toUpperCase();
                var x2 = b[prop].toUpperCase();
                if (x1 < x2) {
                    return 1;
                }
                if (x1 > x2) {
                    return -1;
                }
                return 0;
            }
        }
        //加载数据
        function Listdome(Type) {
            var select1 = unique(Team, Type);

            var select = select1.sort(compare(Type));

            for (var i = 0; i < select.length; i++) {
                var Name = "";
                console.log(select);
                if (Type == "Stage") { Name = select[i].Stage } else if (Type == "HeadmasterName") { Name = select[i].HeadmasterName; } else { Name = select[i].Major };
                var dome = $('<div class="div1"><div style="text-align:center;"><label style="font-size:14pt;">' + Name + '</label></div></div>');
                for (var A = 0; A < Team.length; A++) {
                    var TeamName = "";
                    if (Type == "Stage") { TeamName = Team[A].Stage } else if (Type == "HeadmasterName") { TeamName = Team[A].HeadmasterName; } else { TeamName = Team[A].Major };

                    if (Name == TeamName) {
                        var div2 = $(' <div class="Title hover" id=' + Team[A].Stage+'>  <input type="text" style="display:none" value=' + Team[A].ClassID + ' /> <div style="font-size:22pt;text-align:center;margin-top:10px;">' + Team[A].ClassName + '</div></div>');

                        if (Type == "Stage") {


                            div2.append($('<div style="font-size:17pt;text-align:center;margin-top:-2px;">' + Team[A].Major + '</div><div style="font-size:14pt;margin-top:-2px;text-align:center;"><div style="position:relative;left:20px;"><img src="/uploadXLSXfile/EmpImage/' + Team[A].HeadmasterImages + '" class="round_icon" /></div> <label style="position:relative;top:-35px;left:3px;">' + Team[A].HeadmasterName + '</label></div>'));
                        } else if (Type == "HeadmasterName") {

                            div2.append($('<div style="font-size:17pt;text-align:center;margin-top:-2px;">' + Team[A].Stage + '</div><div style="font-size:14pt;margin-top:-2px;text-align:center;"><div style="position:relative;left:20px;"><img src="/uploadXLSXfile/EmpImage/' + Team[A].HeadmasterImages + '" class="round_icon" /></div> <label style="position:relative;top:-30px;left:10px;">' + Team[A].Major + '</label></div>'));
                        } else {

                            div2.append($('<div style="font-size:17pt;text-align:center;margin-top:-2px;">' + Team[A].Stage + '</div><div style="font-size:14pt;margin-top:-2px;text-align:center;"><div style="position:relative;left:20px;"><img src="/uploadXLSXfile/EmpImage/' + Team[A].HeadmasterImages + '" class="round_icon" /></div> <label style="position:relative;top:-30px;left:10px;">' + Team[A].HeadmasterName + '</label></div>'));
                        }

                        dome.append(div2);
                    }

                }
                $("#context").append(dome);
                console.log("添加");
            }
        }


            var element = layui.element;
            var form = layui.form;
            var layer = layui.layer;
            //下拉框加载数据
            form.on('select(college)', function (data) {
                $($("#context").children()).remove();
                console.log(data.value);
                Listdome(data.value);

            });
       

        $("body").on("mouseover", ".Title", function () {

            $(this).removeClass("hover")
        });
        $("body").on("mouseout", ".Title", function () {
            $(this).addClass("hover");
        });
        //双击详细
        $("body").on("dblclick", ".Title", function () {
            //console.log($(this).attr("id"));
            //if ($("#EmpDeptName").val().indexOf($(this).attr("id"))1) {
            //    console.log("匹配" + $("#EmpDeptName").val());
            //}
           
            window.location.href = '/Teachingquality/ClassSchedule/ClassStudent?ClassNumber=' + $($(this).children()[0]).val();
        });
    });
</script>