
@{
    ViewBag.Title = "EmpTransactionRecordIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*操作栏*@
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="detail">异动详情查看</a>
</script>

@*头部工具栏*@
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addTransactionInfo">添加异动信息</button>
       
    </div>
</script>

<table id="etrTab" lay-filter="etrTab"></table>




@section script{
    <script>
        layui.use(['table', 'layer', 'form', 'laydate', 'element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;

            table.render({
                elem: '#etrTab'
                , url: '/Personnelmatters/EmpTransactionRecord/GetEtrData'
                , id: "myETR"
                , toolbar: '#toolbarDemo'
                , limits: [5, 10, 15, 20, 25, 30]
                , limit: 10
                , cols: [[
                    { field: 'TransactionId', width: 90 }
                    , { field: 'empName', title: '姓名', width: 150, sort: true }
                    , { field: 'type', title: '异动类型', width: 150, sort: true }
                    , { field: 'TransactionTime', title: '异动确认时间', sort: true, width: 150, templet: function (d) { return GetYMD(d.TransactionTime) } }
                    , { field: 'Reason', title: '异动原因', width: 200, sort: true }
                    , { field: 'Remark', title: '备注', width: 340, sort: true }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                ]]
                , page: true
            });

            //监听行工具事件
            table.on('tool(etrTab)', function (obj) {
                var data = obj.data;
                console.log(data.TransactionId);
                if (obj.event === 'edit') {
                    layer.open({
                        type: 2,
                        content: '/Personnelmatters/EmpTransactionRecord/EditETR/?id=' + data.TransactionId
                        , area: ["800px", "500px"]
                        , title: '编辑员工异动信息'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                } else if (obj.event === 'detail') {
                    layer.open({
                        type: 2,
                        content: '/Personnelmatters/EmpTransactionRecord/EmpETRDetail/?id=' + data.TransactionId
                        , area: ['700px', '500px'],
                        title: '员工异动详细信息'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                }

            });

            //头工具栏事件
            table.on('toolbar(etrTab)', function (obj) {
                //var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'addTransactionInfo':
                        AddTransactionInfo();
                        break;
                };
            });
        });

        //添加异动信息的方法
        function AddTransactionInfo() {
            layui.use(['layer'], function (args) {
                var layer = layui.layer;      //layui对象

                layer.open({
                    type: 2
                    , area: ["800px", "430px"]
                    , title: "添加员工异动信息"
                    , content: '/Personnelmatters/EmpTransactionRecord/AddTransactionInfo'
                    , anim: 2
                });

            })

        }

        //显示年月日
        function GetYMD(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate;
            } else {
                return "";
            }
        }

    </script>
}


