
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectEmp</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    @*模糊查询*@
        <form class="layui-form" action="" lay-filter="formtest">
            <div class="layui-row layui-form-item">
                <div @*class="layui-col-xs3 layui-col-sm3 layui-col-md3"*@>
                    <label class="layui-form-label">姓名：</label>
                    <div class="layui-input-inline" style="width:200px;">
                        <input type="text" id="EmpName" name="EmpName" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <button class="layui-btn " type="button" id="Conditionselect">查询</button>
            </div>
        </form>

    <table id="getemptab" lay-filter="getemptab"></table>

    <script>
        layui.use(['table', 'layer', 'form', 'laydate', 'element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;
            console.log("异动类型："+@ViewBag.type);
            table.render({
                elem: '#getemptab'
                , url: '/Personnelmatters/EmpTransactionRecord/GetEmpData/?type=@ViewBag.type'
                , id: "empInfo"
                , limits: [5, 10, 15, 20, 25, 30]
                , limit: 5
                , cols: [[
                     { field: 'EmpName', title: '姓名', width: 95, sort: true }
                    , { field: 'Depart', title: '所属部门', width: 120, sort: true }
                    , { field: 'Position', title: '所属岗位', width: 110, sort: true }
                    , { field: 'Sex', title: '性别', sort: true, width: 85}
                    , { field: 'EntryTime', title: '入职时间', sort: true, width: 140, templet: function (d) { return GetYMD(d.EntryTime) } }
                    , { field: 'PositiveDate', title: '转正日期', sort: true, width: 140, templet: function (d) { return GetYMD(d.PositiveDate) } }

                ]]
                , page: true
            });

            //给数据行绑定双击事件
            table.on('rowDouble(getemptab)', function (obj) {
                console.log(obj.tr) //得到当前行元素对象
                console.log(obj.data) //得到当前行数据

                parent.GetEmpData(obj.data);
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });


            //模糊查询点击事件
            $("#Conditionselect").click(function () {
                var ename = $("#EmpName").val();//员工姓名
               
                layui.use(['table'], function () {
                    var table = layui.table;
                    table.reload('empInfo', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }, where: {
                            ename: ename 
                        }
                    });
                });



            });


        });


        //显示年月日
        function GetYMD(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate;
            } else {
                return "";
            }
        }
    </script>

    @*部门与岗位的下拉框动态赋值及下拉框二级联动*@
    <script>
        layui.use(['form', 'upload', 'layer'], function () {

            var form = layui.form;
            $.ajax({
                url: '/Personnelmatters/EmployeesInfo/BindDeptSelect',
                data: {},
                dataType: "json",
                success: function (resultData) {
                    $("#deptid").empty();
                    if (resultData.code == 0) {

                        $("#deptid").append(new Option("请选择部门", ""));
                        $.each(resultData.data, function (index, item) {
                            $('#deptid').append(new Option(item.DeptName, item.DeptId));
                        });
                    } else {
                        $("#deptid").append(new Option("暂无数据", ""));
                    }

                    layui.form.render("select");
                }
            });

            //级联子项目
            //select 监听
            form.on('select(deptidfilter)', function (data) {
                var value = data.value;  //select选中的值
                $.ajax({
                    url: "/Personnelmatters/EmployeesInfo/BindPositionSelect",
                    data: { deptid: value },
                    dataType: "json",
                    success: function (resultData) {
                        if (resultData.code == 0) {
                            //清空赋值
                            $("#PositionId").empty();
                            //console.log(resultData.data);
                            $("#PositionId").append(new Option("请选择岗位", ""));
                            $.each(resultData.data, function (index, item) {
                                //赋值
                                $('#PositionId')
                                    .append(new Option(item.PositionName, item.Pid));
                            });
                        } else {
                            $("#PositionId").append(new Option("暂无数据", ""));
                        }
                        layui.form.render("select");
                    }
                });
            })
            layui.form.render("select");

        });
    </script>

</body>
</html>
