
@{
    ViewBag.Title = "NoticeDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NoticeDate</h2>

<table class="layui-hide" id="test" lay-filter="test"></table>

@section script{
    @*头部工具栏*@
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getAdd"><i class="layui-icon">&#xe62e;</i>发布通知</button>
            <button class="layui-btn layui-btn-sm" lay-event="FindTuition"><i class="layui-icon">&#xe770;</i>升学缴费情况</button>
        </div>
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="select">查看班级学员</a>

    </script>
    <script>
        //时间转换方法
        function TimeChange(newtime) {
            if (newtime == null)
                return "";
            var date = new Date(parseInt(newtime.slice(6)));
            var year = date.getFullYear();
            var month = date.getMonth();
            if (month < 10) {
                month = "0" + (parseInt(month) + 1);
            }
            var day = date.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            var result = year + '-' + month + '-' + day;
            return result;
        }
        layui.use(['table', 'layer', 'tree', 'form'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;

            //表格渲染
            table.render({
                elem: '#test'
                , url: '/Teachingquality/Messagenotification/Date'
                , toolbar: '#toolbarDemo'
                , id: 'idTest'
                , page: true
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { type: 'radio' }
                    , { field: 'Title', title: '标题', sort: true }
                    , { field: 'Content', title: '内容 ' }
                    , { field: 'PublisherName', title: '发布人 ' }
                    , { field: 'Addtime', title: '发布日期 ' }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 100 }
                ]]
                , page: true
                , limit: 15
                , limits: [15, 20, 25]
            });


          
            //开设班级
            function Registeredtrainees(name) {

                layer.open({
                    title: name,
                    type: 2,
                    area: ['600px', '550px']
                    , content: "/Teachingquality/Messagenotification/Release"
                    , end: function () { table.reload('idTest');  }
                    , anim: 1,
                    //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                });
            }
            //监听头部工具栏
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getAdd':
                        var a = "开设班级";
                        Registeredtrainees(a);
                        break;
                  

                        break;



                };
            });


            //查询功能
            form.on('submit(demo2)', function (data) {
                var x = data.field;
                console.log(x);
                //if (x.ClassNumber == "" && x.Major_Id == "" && x.grade_Id == "" && x.BaseDataEnum_Id == "" && x.ClassstatusID=="") {
                //    layer.msg("至少选择一个查询", {
                //        time: 5000, //20s后自动关闭
                //        btn: ['确定']
                //    });
                //} else {
                table.reload('idTest', {
                    where: {
                        ClassNumber: x.ClassNumber,
                        Major_Id: x.Major_Id,
                        grade_Id: x.grade_Id,
                        BaseDataEnum_Id: x.BaseDataEnum_Id,
                        ClassstatusID: x.ClassstatusID
                    }, page: {
                        curr: 1
                    }
                });

              //  }


                return false;
            });



        });



    </script>
    }
