
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeptOperation</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover {
                background-color: aqua;
            }

        #Nation {
            width: 100px;
        }

        .linu {
            width: 200px;
        }
        #left {
        width:400px;
        height:400px;
        float:left;
        }
        #right {
            width: 560px;
            height: 400px;
            margin-left:80px;
            float:left;
        }
    </style>

</head>
<body>
    <div id="left">
        <h2 style="text-align:center;">部门管理</h2>
        <table id="deptTab" lay-filter="test1"></table>

        @*头部工具栏*@
        <script type="text/html" id="toolbarDemo1">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="addDept">部门添加</button>
                <button class="layui-btn layui-btn-sm" lay-event="delDept">部门删除</button>
            </div>
        </script>

    </div>


    <div id="right">
        <h2 style="text-align:center;">岗位管理</h2>
        <table id="positionTab" lay-filter="test2"></table>

        @*头部工具栏*@
        <script type="text/html" id="toolbarDemo2">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="AddPosition">岗位添加</button>
                <button class="layui-btn layui-btn-sm" lay-event="delPosition">岗位删除</button>
            </div>
        </script>

    </div>

    <!-- 部门是否禁用修改-->
    <script type="text/html" id="checkboxTpl">
        <input type="checkbox" name="IsDel" value="{{d.DeptId}}" title="禁用" lay-filter="lockDemo" {{d.IsDel == true ? 'checked' : ''}}>
    </script>
    <!-- 岗位是否禁用修改-->
    <script type="text/html" id="checkboxTp2">
        <input type="checkbox" name="IsDel" value="{{d.Pid}}" title="禁用" lay-filter="lockDemo2" {{d.IsDel == true ? 'checked' : ''}}>
    </script>

    <script>
        layui.use(['form', 'layedit', 'laydate', 'table'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , table = layui.table;
            table.render({
                elem: '#deptTab'
                , url: '/Personnelmatters/EmployeesInfo/GetDepts'
                , id: "myDept"
                , toolbar: '#toolbarDemo1'
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'DeptId', title: '部门编号', width: 90 }
                    , { field: 'DeptName', title: '部门名称', width: 140, sort: true }
                    , { field: 'IsDel', title: '是否禁用', width: 110, sort: true, templet: '#checkboxTpl', unresize: true }
                ]]

            });

            //头工具栏事件
            table.on('toolbar(test1)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'addDept':
                        EditDept();
                        break;
                    case 'delDept':
                        var data = checkStatus.data;
                        console.log("勾选数据"+data);
                        var list = "";
                        for (var i = 0; i < data.length; i++) {
                            list += data[i].ID + ',';
                        }
                        console.log("数组"+list);
                        if (data.length >= 1) {
                            layer.open({
                                content: '确定删除？',
                                btn: ['确认', '取消'],
                                yes: function (index, layero) {
                                    $.post("/Personnelmatters/EmployeesInfo/DelDepts", { 'list': list }, function (data) {
                                        if (data.Success) {
                                            layer.alert("删除成功", { icon: 1 }, function (index) {
                                                layui.use(['table'], function () {
                                                    var table = layui.table;
                                                    table.reload("myDept");
                                                });
                                                layer.close(index);
                                            });
                                        }  else {
                                            layer.alert("删除失败");
                                        }
                                    });
                                }
                            });
                        } else {
                            layer.open({
                                title: '提示'
                                , content: '请至少选中一条数据进行删除'
                            });
                        }
                        break;
                };
            });

            //监听锁定操作
            form.on('checkbox(lockDemo)', function (obj) {
                var id = this.value; var name = this.name;
                console.log(id);
                console.log(name);
                console.log(obj.elem.checked);
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Personnelmatters/EmployeesInfo/EditDeptIsDel",
                        data: { id: id, isdel: obj.elem.checked },
                    success: function (data) {
                        if (data.Success) {
                            console.log(obj.elem.checked);
                            if (obj.elem.checked == true) {
                                layer.tips( '已禁用 ' , obj.othis);
                            }
                            else {
                                layer.tips( '已启用', obj.othis);
                            }
                           
                        } else {
                            layer.alert("修改失败!");
                        }
                    }
                });

            });

            //添加部门的方法
            function EditDept() {
                layui.use(['layer'], function (args) {
                    var layer = layui.layer;      //layui对象
                    layer.open({
                        type: 2
                        , area: ["400px", "300px"]
                        , title: "添加部门"
                        , content: '/Personnelmatters/EmployeesInfo/DeptUpdate'
                        , anim: 2
                    });

                })

            }

        });

        layui.use(['form', 'layedit', 'laydate', 'table'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , table = layui.table;
            table.render({
                elem: '#positionTab'
                , url: '/Personnelmatters/EmployeesInfo/GetPositions'
                , id: "myPosition"
                , toolbar: '#toolbarDemo2'
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'Pid', title: '岗位编号', width: 110 }
                    , { field: 'deptname', title: '所属部门', width: 110 }
                    , { field: 'PositionName', title: '岗位名称', width: 140, sort: true }
                    , { field: 'IsDel', title: '是否禁用', width: 110, sort: true, templet: '#checkboxTp2', unresize: true }
                ]]
            });

            //头工具栏事件
            table.on('toolbar(test2)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'AddPosition':
                        addPosition();
                        break;
                    case 'delPosition':
                        var data = checkStatus.data;
                        console.log("岗位勾选数据" + data);
                        var list = "";
                        for (var i = 0; i < data.length; i++) {
                            list += data[i].ID + ',';
                        }
                        console.log("岗位数组" + list);
                        if (data.length >= 1) {
                            layer.open({
                                content: '确定删除？',
                                btn: ['确认', '取消'],
                                yes: function (index, layero) {
                                    $.post("/Personnelmatters/EmployeesInfo/DelPositions", { 'list': list }, function (data) {
                                        if (data.Success) {
                                            layer.alert("删除成功", { icon: 1 }, function (index) {
                                                layui.use(['table'], function () {
                                                    var table = layui.table;
                                                    table.reload("myPosition");
                                                });
                                                layer.close(index);
                                            });
                                        } else {
                                            layer.alert("删除失败");
                                        }
                                    });
                                }
                            });
                        } else {
                            layer.open({
                                title: '提示'
                                , content: '请至少选中一条数据进行删除'
                            });
                        }
                        break;
                };
            });

            //监听锁定操作
            form.on('checkbox(lockDemo2)', function (obj) {
                var id = this.value;
                var name = this.name;
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Personnelmatters/EmployeesInfo/EditPositionIsDel",
                    data: { id: id, isdel: obj.elem.checked },
                    success: function (data) {
                        if (data.Success) {
                            if (obj.elem.checked == true) {
                                layer.tips('已禁用 ', obj.othis);
                            }
                            else {
                                layer.tips('已启用', obj.othis);
                            }

                        } else {
                            layer.alert("修改失败!");
                        }
                    }
                });

            });


            //添加岗位的方法
            function addPosition() {
                layui.use(['layer'], function (args) {
                    var layer = layui.layer;      //layui对象

                    layer.open({
                        type: 2
                        , area: ["400px", "300px"]
                        , title: "添加岗位"
                        , content: '/Personnelmatters/EmployeesInfo/AddPosition'
                        , anim: 2
                    });

                })

            }

        });
    </script>


</body>
</html>
