
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeptOperation</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover {
                background-color: aqua;
            }

        #Nation {
            width: 100px;
        }

        .linu {
            width: 200px;
        }

        #left {
            width: 400px;
            margin-left: 20px;
            float: left;
        }

        #right {
            width: 520px;
            margin-left: 80px;
            float: left;
        }
    </style>

</head>
<body>
    <div class="layui-btn-container" >
        <button class="layui-btn layui-btn-radius " type="button" id="addDept" style="margin-left:40px;">添加部门</button>
        <button class="layui-btn layui-btn-radius " type="button" id="addPosition" style="margin-left:40px;">添加岗位</button>
    </div>
   
    <div id="uldiv" class="demo-tree demo-tree-box" style="margin-top:20px; overflow: scroll;"></div>

    <script>

        //var mytree;
        $(function () {
            layui.use(['tree', 'layer', 'util'], function () {
                var tree = layui.tree;
                var layer = layui.layer;
                var util = layui.util;
                mytree = tree;
              
                loadtree();
                tree.render({
                    elem: '#uldiv',
                    id: 'mytree',
                    edit: ['update', 'del'] //操作节点的图标
                    , operate: function (obj) {
                        var type = obj.type; //得到操作类型：add、edit、del
                        var data = obj.data; //得到当前节点的数据
                        var elem = obj.elem; //得到当前节点元素

                        //Ajax 操作
                        var id = data.id; //得到节点编号
                        if (type === 'update') { 
                            var editeddata = elem.find('.layui-tree-txt').html();//得到修改后的内容
 
                            if (data.grade==1) {//表示点击编辑的是部门节点
                                $.ajax({
                                    type: "POST",
                                    dataType: "json",
                                    url: "/Personnelmatters/EmployeesInfo/EditDept",
                                    data: { id: id, dname: editeddata},
                                    success: function (data) {
                                        console.log(editeddata);
                                       
                                    }
                                });

                            } else if (data.grade==2) {
                                $.ajax({
                                    type: "POST",
                                    dataType: "json",
                                    url: "/Personnelmatters/EmployeesInfo/EditPosition",
                                    data: { id: id, pname: editeddata },
                                    success: function (data) {
                                        console.log(editeddata);
                                    }
                                });
                            }

                          
                        } else if (type === 'del') { //删除节点
                            if (data.grade == 1) {
                                $.ajax({
                                    type: "POST",
                                    dataType: "json",
                                    url: "/Personnelmatters/EmployeesInfo/DelDepts",
                                    data: { id: id },
                                    success: function (data) {
                                        if (data.Success) {
                                           // layer.tips('已删除 ', obj.othis);
                                        } else {
                                           // layer.tips('删除成功 ', obj.othis);
                                        }
                                    }
                                });
                            } else if (data.grade==2) {
                                $.ajax({
                                    type: "POST",
                                    dataType: "json",
                                    url: "/Personnelmatters/EmployeesInfo/DelPositions",
                                    data: { id: id },
                                    success: function (data) {
                                        if (data.Success) {
                                          //  layer.tips('已删除 ', obj.othis);
                                        } else {
                                           // layer.tips('删除失败 ', obj.othis);
                                        }
                                       
                                    }
                                });
                            }
                        };
                    }
                });

                //添加部门操作
                $("#addDept").click(function () {
                    layui.use(['layer'], function (args) {
                        var layer = layui.layer;      //layui对象
                        layer.open({
                            type: 2
                            , area: ["400px", "300px"]
                            , title: "添加部门"
                            , content: '/Personnelmatters/EmployeesInfo/DeptUpdate'
                            , anim: 2
                            , end: function () {
                                loadtree();
                            }
                        });

                    })
                });

                //添加岗位操作
                $("#addPosition").click(function () {
                    layui.use(['layer'], function (args) {
                        var layer = layui.layer;      //layui对象
                        layer.open({
                            type: 2
                            , area: ["400px", "400px"]
                            , title: "添加岗位"
                            , content: '/Personnelmatters/EmployeesInfo/AddPosition'
                            , anim: 2
                            , end: function () {
                                loadtree();
                            }
                        });

                    })
                });


            });
           

        });
        function loadtree() {
            //初始数据加载
            $.ajax({
                url: "/Personnelmatters/EmployeesInfo/GetDeptAndPosition",
                success: function (Successdata) {
                    mytree.reload('mytree', {
                        data: Successdata
                    });
                },
                error: function () {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg('加载数据有误，请重试', {
                            icon: 1,
                            time: 5000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {

                        });
                    });
                }
            });
        }
    </script>
</body>

</html>
