
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmpApproval</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>

    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">转正申请</li>
            <li>离职申请</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                @*操作栏*@
                <script type="text/html" id="barDemo1">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="editApprovalState">审批通过</a>
                </script>
                <table id="positiveApply" lay-filter="positiveApply"></table>
                @*审批状态显示*@
                <script type="text/html" id="myState">
                    {{# if(d.IsDel==false){ }}
                    {{ d.IsDel="已通过"}}
                    {{# }else{ }}
                    {{ d.IsDel="未通过" }}
                    {{# } }}
                </script>
                @*是否购买社保显示*@
                <script type="text/html" id="mySS">
                    {{# if(d.IsBuySS==false){ }}
                    {{ d.IsBuySS="否"}}
                    {{# }else{ }}
                    {{ d.IsBuySS="是" }}
                    {{# } }}
                </script>
            </div>

            <div class="layui-tab-item">
                <table id="dimissionApply" lay-filter="dimissionApply"></table>
            </div>
        </div>
    </div>


    <script>
        //转正申请数据加载
        layui.use(['table', 'layer', 'form', 'laydate', 'element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;

            table.render({
                elem: '#positiveApply'
                , url: '/Personnelmatters/EmployeesInfo/GetPositiveData'
                , id: "myapply1"
                , limits: [5, 10, 15, 20, 25, 30]
                , limit: 5
                , cols: [[
                    , { field: 'Id',  width: 38}
                    , { field: 'empName', title: '姓名', width: 90, sort: true }
                    , { field: 'esex', title: '性别', width: 90, sort: true }
                    , { field: 'dname', title: '所属部门', width: 115, sort: true }
                    , { field: 'pname', title: '所属岗位', width: 130, sort: true }
                    , { field: 'IsBuySS', title: '是否购买社保', width: 135, sort: true, templet: '#mySS'}
                    , { field: 'ProbationEndDate', title: '试用期结束时间', width: 140, templet: function (d) { return GetYMD(d.EntryTime) } }
                    , { field: 'ProbationPersonalSummary', title: '试用期个人总结', width: 200}
                    , { field: 'IsDel', title: '审批状态', width: 110, sort: true, templet: '#myState'}
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo1', width: 110 }
                ]]
                , page: true
            });

            //监听行工具事件
            table.on('tool(positiveApply)', function (obj) {
                var data = obj.data;
                if (obj.event === 'editApprovalState') {
                    if (data.IsDel == false) {
                        layer.msg('该申请已完成审批', { icon: 1 });
                    } else {
                        layer.open({
                            content: '审批确认通过？',
                            btn: ['确认', '取消'],
                            yes: function (index, layero) {
                                $.post("/Personnelmatters/EmployeesInfo/EditApprovalState", { 'id': data.Id }, function (data) {
                                    if (data.Success) {
                                        layer.alert("审批已通过", { icon: 1 }, function (index) {
                                            layui.use(['table'], function () {
                                                var table = layui.table;
                                                table.reload("myapply1");
                                            });
                                            layer.close(index);
                                        });
                                    } else {
                                        layer.alert("审批未通过");
                                    }
                                });
                            }
                        });
                    }
                  
                } 
            });

        });

        //离职申请数据加载
        layui.use(['table', 'layer', 'form', 'laydate', 'element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;

            table.render({
                elem: '#dimissionApply'
                , url: '/Personnelmatters/EmployeesInfo/GetDimissionData'
                , id: "myapply1"
                , limits: [5, 10, 15, 20, 25, 30]
                , limit: 5
                , cols: [[
                    , { type: 'checkbox', width: 18 }
                    , { field: 'TransactionId', title: '编号', width: 130, sort: true }
                    , { field: 'empName', title: '姓名', width: 160, sort: true }
                    , { field: 'type', title: '异动类型', width: 120, sort: true }
                    , { field: 'TransactionTime', title: '异动确认时间', sort: true, width: 140, templet: function (d) { return GetYMD(d.EntryTime) } }
                    , { field: 'Remark', title: '备注', width: 200, sort: true }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 220 }
                ]]
                , page: true
            });



        });

        //显示年月日
        function GetYMD(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate;
            } else {
                return "";
            }
        }

    </script>
</body>
</html>
