
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmpOvertimeRecord</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>

</head>
<body>
 
    <div class="layui-tab layui-tab-card " lay-filter="mytab">
        <ul class="layui-tab-title">
            <li class="layui-this">未审批加班申请</li>
            <li>已审批加班申请</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
               
                <table id="NoApproval" lay-filter="NoApproval"></table>
                @*操作栏*@
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="ApprovalOvertime">审批</a>
                </script>
                @*是否不调休属性显示*@
                <script type="text/html" id="mytiaoxiu">
                    {{# if(d.IsNoDaysOff==false){ }}
                    {{ d.IsNoDaysOff="调休"}}
                    {{# }else{ }}
                    {{ d.IsNoDaysOff="不调休" }}
                    {{# } }}
                </script>
                @*是否过了年限属性显示*@
                <script type="text/html" id="mynianxian">
                    {{# if(d.IsPassYear==false){ }}
                    {{ d.IsPassYear="否"}}
                    {{# }else{ }}
                    {{ d.IsPassYear="是" }}
                    {{# } }}
                </script>
                @*审批是否通过属性显示*@
                <script type="text/html" id="myshenpi">
                    {{# if(d.IsPass==false){ }}
                    {{ d.IsPass="审批中"}}
                    {{# }else{ }}
                    {{ d.IsPass="已通过" }}
                    {{# } }}
                </script>
            </div>

            <div class="layui-tab-item">
              
                <table id="Approved" lay-filter="Approved"></table>

                @*头部工具栏*@
                <script type="text/html" id="toolbarDemo">
                    @*模糊查询*@
                        <form class="layui-form" action="" lay-filter="formtest">
                            <div class="layui-row layui-form-item">
                                <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                    <label class="layui-form-label" style="width:120px;margin-left:-20px;">是否过了年限:</label>
                                    <div class="layui-input-block">
                                        <select name="IsPassYear" id="IsPassYear">
                                            <option value="">--请选择--</option>
                                            <option value="false">否</option>
                                            <option value="true">是</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                    <label class="layui-form-label" style="width:120px;margin-left:-20px;">是否调休:</label>
                                    <div class="layui-input-block">
                                        <select name="IsNoDaysOff" id="IsNoDaysOff">
                                            <option value="">--请选择--</option>
                                            <option value="false">调休</option>
                                            <option value="true">不调休</option>
                                        </select>

                                    </div>
                                </div>

                                <button class="layui-btn" style="margin-left:50px;" type="button" lay-event="Conditionselect">查询</button>
                            </div>
                        </form>
                       
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="editIsPassYear">编辑可用年限</button>
                        </div>
                </script>

                @*审批是否通过属性显示*@
                <script type="text/html" id="myshenpi2">
                    {{# if(d.IsPass==false){ }}
                    {{ d.IsPass="未通过"}}
                    {{# }else{ }}
                    {{ d.IsPass="已通过" }}
                    {{# } }}
                </script>

            </div>

        </div>
    </div>


    <script>
        //未审批
        layui.use(['table', 'layer', 'form', 'laydate', 'element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;

            table.render({
                elem: '#NoApproval'
                , url: '/Personnelmatters/EmployeesInfo/GetOverTimeData'
                , id: "myNoapproval"
                , limits: [5, 10, 15, 20, 25, 30]
                , limit: 10
                , cols: [[
                    , { field: 'Id', width: 38 }
                    , { field: 'empName', title: '姓名', width: 80, sort: true }
                    , { field: 'StartTime', title: '开始时间', width: 120, sort: true, templet: function (d) { return changeDateTimeFormat(d.StartTime) } }
                    , { field: 'EndTime', title: '结束时间', sort: true, width: 120, templet: function (d) { return changeDateTimeFormat(d.EndTime) } }
                    , { field: 'Duration', title: '加班时长（小时）', width: 145 }
                    , { field: 'OvertimeReason', title: '加班原因', width: 110 }
                    , { field: 'typename', title: '加班类型', width: 110 }
                    , { field: 'IsNoDaysOff', title: '是否调休', width: 120, templet: '#mytiaoxiu' }
                    , { field: 'IsPassYear', title: '是否过了年限', width: 135, templet: '#mynianxian' }
                    , { field: 'IsPass', title: '审批是否通过', width: 135, templet: '#myshenpi' }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 140 }
                ]]
                , page: true
            });

            //监听行工具事件
            table.on('tool(NoApproval)', function (obj) {
                var data = obj.data;
                console.log(data.TransactionId);
                if (obj.event === 'edit') {
                    layer.open({
                        type: 2,
                        content: '/Personnelmatters/EmployeesInfo/OvertimeEdit/?id=' + data.Id
                        , area: ["600px", "580px"]
                        , title: '编辑加班记录'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                } else if (obj.event === 'ApprovalOvertime') {
                    var s = true;
                    layer.open({
                        content: '是否通过审批？'
                        , btn: ['已通过', '未通过']
                        , yes: function (index, layero) {
                            console.log("已通过的状态:" + s);
                            $.post("/Personnelmatters/EmployeesInfo/overtimeIsPassed", { 'id': data.Id, 'state': s }, function (data) {
                                if (data.Success) {
                                    layer.alert("审批已通过", { icon: 1 }, function (index) {
                                        layui.use(['table'], function () {
                                            var table = layui.table;
                                            table.reload("myNoapproval");
                                            table.reload("myApproved");
                                        });
                                        layer.close(index);
                                    });
                                } else {
                                    layer.alert("审批出错");
                                }
                            });
                        }
                        , btn2: function (index, layero) {
                            s = false;
                            console.log("未通过的状态:" + s);
                            $.post("/Personnelmatters/EmployeesInfo/PositiveIsPassed", { 'id': data.Id, 'state': s }, function (data) {
                                if (data.Success) {
                                    layer.alert("审批未通过", { icon: 1 }, function (index) {
                                        layui.use(['table'], function () {
                                            var table = layui.table;
                                            table.reload("myNoapproval");
                                            table.reload("myApproved");
                                        });
                                        layer.close(index);
                                    });
                                } else {
                                    layer.alert("审批出错");
                                }
                            });
                        }

                    });


                };


            });

        });
        //已审批
        layui.use(['table', 'layer', 'form', 'laydate', 'element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;

            table.render({
                elem: '#Approved'
                , url: '/Personnelmatters/EmployeesInfo/GetOverTimeApprovedData'
                , id: "myApproved"
                , toolbar: '#toolbarDemo'
                , limits: [5, 10, 15, 20, 25, 30]
                , limit: 10
                , cols: [[
                    { type: 'checkbox' }
                    , { field: 'empName', title: '姓名', width: 82, sort: true }
                    , { field: 'StartTime', title: '开始时间', width: 120, sort: true, templet: function (d) { return changeDateTimeFormat(d.StartTime) } }
                    , { field: 'EndTime', title: '结束时间', sort: true, width: 120, templet: function (d) { return changeDateTimeFormat(d.EndTime) } }
                    , { field: 'Duration', title: '加班时长（小时）', width: 150 }
                    , { field: 'OvertimeReason', title: '加班原因', width: 105 }
                    , { field: 'typename', title: '加班类型', width: 105 }
                    , { field: 'IsNoDaysOff', title: '是否调休', width: 105, templet: '#mytiaoxiu' }
                    , { field: 'IsPassYear', title: '是否过了年限', width: 140, templet: '#mynianxian' }
                    , { field: 'IsPass', title: '审批是否通过', width: 140, templet: '#myshenpi2' }

                ]]
                , page: true
            });

            element.on('tab(mytab)', function (data) {
                table.resize();
            });

            //头工具栏事件
            table.on('toolbar(Approved)', function (obj) { 
                var checkStatus = table.checkStatus("myApproved");
                var datas = checkStatus.data;
                switch (obj.event) {
                    case 'editIsPassYear':
                        if (datas.length==0) {
                            layer.alert('请先选择要修改的数据行');
                            return;
                        } else {
                            EditIsPassYear(datas);
                            }
                        
                        break;
                    case 'Conditionselect'://模糊查询点击事件
                        var IsPassYear = $("#IsPassYear").val();//是否过了年限
                        layui.use(['table'], function () {
                            var table = layui.table;
                            table.reload('myApproved', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }, where: {
                                    AppCondition: IsPassYear
                                }
                            });
                        });


                };
            });


        });
        //修改是否过了年限属性
        function EditIsPassYear(data) {
            var list = "";
            for (var i = 0; i < data.length; i++) {
                list += data[i].Id + ",";
            }
            layer.confirm('确认修改为已过年限么？', function (index) {
                $.post('/Personnelmatters/EmployeesInfo/EditIsPassYear', { 'list': list }, function (da) {
                    console.log(da);
                    if (da.Success) {
                        layer.alert("修改成功!", { icon: 1 }, function (index) {
                            layui.use(['table'], function () {
                                var table = layui.table;
                                table.reload('myApproved');
                            });
                            layer.close(index);
                        });
                    }
                    else {
                        layer.alert("修改失败!");
                        table.reload('myApproved');
                    }
                })


            });
         
        }


        //时间格式转换
        function changeDateTimeFormat(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute + ":" + ss;
            } else {
                return "";
            }
        }
    </script>
</body>
</html>
