
@{
    Layout = null;
}
@model SiliconValley.InformationSystem.Entity.MyEntity.EmpTransaction
@using SiliconValley.InformationSystem.Entity.MyEntity;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetEmpETRDetail</title>
</head>
<body>
    <div>
        @{
            List<EmpTransaction> etrlist = ViewBag.ETRlist as List<EmpTransaction>;
            <div>

            </div>

        }
    </div>
</body>
</html>
