
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@*头部工具栏*@
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="AddEmps">添加员工</button>
        <button class="layui-btn layui-btn-sm" lay-event="DeptAndPositionOperation">部门及岗位管理</button>
    </div>
</script>

<table id="emptab" lay-filter="emptest"></table>


@*员工婚姻状态改变*@
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="MaritalStatus" value="{{d.EmployeeId}}" lay-skin="switch" lay-text="未婚|已婚" lay-filter="hunyinDemo" {{d.IsDel == false ? 'checked' : ''}}>
</script>

@section script{

    <script>
        layui.use(['table', 'layer', 'form'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            table.render({
                elem: '#emptab'
                , url: '/Personnelmatters/EmployeesInfo/GetData'
                , id: "myEmpInfo"
                , toolbar: '#toolbarDemo'
                , limits: [1, 3, 6, 9, 12, 15, 18]
                , limit: 6
                , cols: [[
                    , { field: 'EmployeeId', title: '员工编号', width: 126 }
                    , { field: 'DDAppId', title: '钉钉工号', width: 108, sort: true }
                    , { field: 'EmpName', title: '姓名', width: 110, sort: true }
                    , { field: 'Depart', title: '所属部门', width: 110, sort: true }
                    , { field: 'Position', title: '所属岗位', width: 110, sort: true }
                    , { field: 'Phone', title: '电话号码', sort: true, width: 110 }
                    , { field: 'IsDel', title: '在职状态', width: 100, templet: '#myworkstate' }
                    , { field: 'Sex', title: '性别', sort: true, width: 90, templet: '#mysex' }
                    , { field: 'Age', title: '年龄', sort: true, width: 90 }
                    , { field: 'Nation', title: '民族', sort: true, width: 100 }
                    , { field: 'IdCardNum', title: '身份证号码', sort: true, width: 120 }
                    , { field: 'EntryTime', title: '入职时间', sort: true, width: 110, templet: function (d) { return changeDateTimeFormat(d.EntryTime) } }
                    , { field: 'ContractStartTime', title: '合同起始时间', sort: true, width: 135, templet: function (d) { return changeDateTimeFormat(d.ContractStartTime) } }
                    , { field: 'ContractEndTime', title: '合同终止时间', sort: true, width: 135, templet: function (d) { return changeDateTimeFormat(d.ContractEndTime) } }
                    , { field: 'Birthdate', title: '出生日期', sort: true, width: 110, templet: function (d) { return changeDateTimeFormat(d.Birthdate) } }
                    , { field: 'Birthday', title: '生日', sort: true, width: 110 }
                    , { field: 'PositiveDate', title: '转正日期', sort: true, width: 110, templet: function (d) { return changeDateTimeFormat(d.PositiveDate) } }
                    , { field: 'UrgentPhone', title: '紧急联系电话', sort: true, width: 135 }
                    , { field: 'DomicileAddress', title: '户籍地址', sort: true, width: 110 }
                    , { field: 'Address', title: '现居地址', sort: true, width: 110 }
                    , { field: 'Education', title: '学历', sort: true, width: 110 }
                    , { field: 'MaritalStatus', title: '婚姻状态', sort: true, width: 110, templet: '#switchTpl', unresize: true }
                    , { field: 'IdCardIndate', title: '身份证有效期', sort: true, width: 135, templet: function (d) { return changeDateTimeFormat(d.IdCardIndate) } }
                    , { field: 'PoliticsStatus', title: '政治面貌', sort: true, width: 110 }
                    , { field: 'WorkExperience', title: '工作经验', sort: true, width: 110 }
                    , { field: 'ProbationSalary', title: '试用期工资', sort: true, width: 120 }
                    , { field: 'Salary', title: '转给工资', sort: true, width: 110 }
                    , { field: 'SSStartMonth', title: '社保起始月份', sort: true, width: 135 }
                    , { field: 'BCNum', title: '银行卡号', sort: true, width: 110 }
                    , { field: 'Material', title: '材料', sort: true, width: 110 }
                    , { field: 'Remark', title: '备注', sort: true, width: 110 }
                ]]
                , page: true
            });

            //头工具栏事件
            table.on('toolbar(emptest)', function (obj) {
                //var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'AddEmps':
                        AddEmployee();
                        break;
                    case 'DeptAndPositionOperation':
                        DeptAndPositionOperation();
                        break;
                };
            });

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    UpdateEmp(data.id);
                }
            });

            //监听婚姻状态操作
            form.on('switch(hunyinDemo)', function (obj) {
               
                var id = this.value; var name = this.name;
                console.log(id); console.log(name); console.log(obj.elem.checked);
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: "/Personnelmatters/EmployeesInfo/EditEmphunyin",
                    data: { id: id, ismarry: obj.elem.checked },
                    success: function (data) {
                        if (data.Success) {
                            layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
                        } else {
                            layer.alert("修改失败!");
                        }
                    }
                });
            });
        });

        //添加员工的方法
        function AddEmployee() {
            layui.use(['layer'], function (args) {
                var layer = layui.layer;      //layui对象

                layer.open({
                    type: 2
                    , area: ["1200px", "800px"]
                    , title: "添加员工"
                    , content: '/Personnelmatters/EmployeesInfo/AddEmp'
                    , anim: 1
                });

            })

        }

        //部门和岗位的管理
        function DeptAndPositionOperation() {
            layui.use(['layer'], function (args) {
                var layer = layui.layer;      //layui对象

                layer.open({
                    type: 2
                    , area: ["1100px", "600px"]
                    , title: "部门及岗位管理"
                    , content: '/Personnelmatters/EmployeesInfo/DeptOperation'
                    , anim: 2
                });

            })

        }


        //格式化时间
        function changeDateTimeFormat(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute + ":" + ss;
            } else {
                return "";
            }
        }
    </script>

    @*性别*@
    <script type="text/html" id="mysex">
        {{# if(d.Sex==0){ }}
        {{ d.Sex="女" }}
        {{# }else{ }}
        {{ d.Sex="男" }}
        {{# } }}
    </script>
    @*工作状态*@
    <script type="text/html" id="myworkstate">
        {{# if(d.IsDel==false){ }}
        {{ d.IsDel="在职" }}
        {{# }else{ }}
        {{ d.IsDel="离职" }}
        {{# } }}
    </script>
}
