@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SiliconValley.InformationSystem.Entity.MyEntity;
<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        <li class="layui-this">在职员工信息</li>
        <li>离职员工信息</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            @*模糊查询*@
            <fieldset>
                <legend>条件查询</legend>
                <form class="layui-form" action="" lay-filter="formtest">
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="layui-form-label">姓名：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="EmpName" name="EmpName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="layui-form-label" style="width:100px;">所属部门:</label>
                            <div class="layui-input-inline">
                                <select name="deptid" id="deptid" style="width:130px;" lay-filter="deptidfilter" lay-search="">
                                    <option value="">请选择所属部门</option>
                                </select>

                            </div>
                        </div>
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="layui-form-label" style="width:100px;">所属岗位:</label>
                            <div class="layui-input-inline">
                                <select name="PositionId" id="PositionId" lay-search="" style="width:130px;">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="layui-form-label">学历:</label>
                            <div class="layui-input-inline">
                                <select name="Education" id="Education" style="width:130px;">
                                    <option value="">--请选择--</option>
                                    <option value="大专">大专</option>
                                    <option value="博士">博士</option>
                                    <option value="硕士">硕士</option>
                                    <option value="本科">本科</option>
                                    <option value="高中">高中</option>
                                    <option value="中专">中专</option>
                                    <option value="初中">初中</option>
                                    <option value="小学">小学</option>
                                    <option value="群众">群众</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-row layui-form-item">

                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="layui-form-label">性别:</label>
                            <div class="layui-input-inline">
                                <select name="Sex" id="Sex">
                                    <option value="">--请选择--</option>
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="layui-form-label" style="width:100px;">政治面貌:</label>
                            <div class="layui-input-inline">
                                <select name="PoliticsStatus" id="PoliticsStatus">
                                    <option value="">--请选择--</option>
                                    <option value="党员">党员</option>
                                    <option value="团员">团员</option>
                                    <option value="群众">群众</option>
                                </select>

                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:100px;">入职时间：</label>
                            <div class="layui-inline" style="margin-left:-50px;">
                                <label class="layui-form-label">从：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="start_time" name="start_time" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-inline" style="margin-left:-50px;">
                                <label class="layui-form-label">至：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="end_time" name="start_time" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <button class="layui-btn" type="button" id="Conditionselect">查询</button>

                    </div>

                </form>
            </fieldset>
            @*头部工具栏*@
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="AddEmps">添加员工</button>
                    <button class="layui-btn layui-btn-sm" lay-event="DeptAndPositionOperation">部门及岗位管理</button>

                </div>
            </script>
            @*操作栏*@
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="detail">员工详情</a>
            </script>
            <div id="myCountDown" style="height:30px;border:0px solid;display:none;">
                @foreach (var item in ViewBag.contractendData as List<EmployeesInfo>)
                {
                    <span id="@item.EmpName"  mytime="@item.ContractEndTime" ></span><span style="width:20px;">,</span>
                }
            </div>
            <table id="emptab" lay-filter="emptab"></table>
        </div>

        <div class="layui-tab-item">
            <table id="emptab2" lay-filter="emptab2"></table>
        </div>
    </div>
</div>


@*员工婚姻状态及性别改变*@
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="MaritalStatus" value="{{d.EmployeeId}}" lay-skin="switch" lay-text="未婚|已婚" lay-filter="hunyinDemo" {{d.MaritalStatus == false ? 'checked' : ''}}>

</script>
<script type="text/html" id="switchTp2">
    <input type="checkbox" name="Sex" value="{{d.EmployeeId}}" lay-skin="switch" lay-text="男|女" lay-filter="hunyinDemo" {{d.Sex == "男" ? 'checked' : ''}}>
</script>
@*工作状态*@
<script type="text/html" id="myworkstate">
    {{# if(d.IsDel==false){ }}
    {{ d.IsDel="在职" }}
    {{# }else{ }}
    {{ d.IsDel="离职" }}
    {{# } }}
</script>

@section script{
    <script>
       
         $(function () {
                var birthnum =@ViewBag.birth;
                if (birthnum!=0) {
                    BirthdayRemind();// 生日提醒
                }

             var contractend =@ViewBag.contractEnd;
             if (contractend != 0) {
                 console.log("到期人数：" + contractend);
                 $("#myCountDown").css("display", "block");
             } else {
                 $("#myCountDown").css("display", "none");
             }
        });
        //倒计时
        layui.use('util', function () {
            var util = layui.util;
            var span = document.getElementById('myCountDown').getElementsByTagName('span');//找到所有的span标签
           // var spanid = $(span).attr('id');//获取这些span的id属性值
            for (var i = 0; i < span.length; i++) {
               var spanid=$(span[i]).attr('id');
                var time = $(span[i]).attr('mytime');

                var endTime = time  //假设为结束日期
                    , serverTime = new Date().getTime(); //假设为当前服务器时间，这里采用的是本地时间，实际使用一般是取服务端的
                util.countdown(endTime, serverTime, function (date, serverTime, timer) {
                    var str = date[0] + '天' + date[1] + '时' + date[2] + '分' + date[3] + '秒';
                    layui.$('#' + spanid + '').html('<span style="font-size:18pt;color:red;height:120px;">' + spanid + '</span>老师的合同还有<span style="font-size:18pt;color:red;"> ' + date[0] + '</span>天到期');
                });
            }
           
        });

      //在职员工加载
        layui.use(['table', 'layer', 'form', 'laydate', 'element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;

            //生日提醒
            function BirthdayRemind() {
                layer.open({
                    type: 2,
                    content: '/Personnelmatters/EmployeesInfo/Birthdayremind'
                    , area: ["450px", "400px"]
                    , title: '员工生日提醒'
                    //, shade: 0.8
                    , anim: 2
                    , offset: 'rb'
                    , skin: 'demo-class .layui-layer-title{background:#f35757; }'
                    , time: 20000
                });
            }

            
            table.render({
                elem: '#emptab'
                , url: '/Personnelmatters/EmployeesInfo/GetData'
                , id: "myEmpInfo"
                , toolbar: '#toolbarDemo'
                , limits: [5, 10, 15, 20, 25, 30]
                , limit: 10
                , cols: [[
                    , { field: 'EmployeeId', title: '员工编号', width: 126 }
                    , { field: 'DDAppId', title: '钉钉工号', width: 108, sort: true }
                    , { field: 'EmpName', title: '姓名', width: 110, sort: true, edit: 'text' }
                    , { field: 'Depart', title: '所属部门', width: 110, sort: true }
                    , { field: 'Position', title: '所属岗位', width: 110, sort: true }
                    , { field: 'Phone', title: '电话号码', sort: true, width: 110, edit: 'text' }
                    , { field: 'Sex', title: '性别', sort: true, width: 90, templet: '#switchTp2', unresize: true }
                    , { field: 'IdCardNum', title: '身份证号码', sort: true, width: 120, edit: 'text' }
                    , { field: 'EntryTime', title: '入职时间', sort: true, width: 110, templet: function (d) { return GetYMD(d.EntryTime) } }
                    , { field: 'PositiveDate', title: '转正日期', sort: true, width: 110, templet: function (d) { return GetYMD(d.PositiveDate) } }
                    , { field: 'SSStartMonth', title: '社保起始月份', sort: true, width: 135, event: 'date', data_field: "SSStartMonth", templet: function (d) { return GetYearAndMonth(d.SSStartMonth) } }
                    , { field: 'Remark', title: '备注', sort: true, width: 110, edit: 'text' }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                ]],
                data: [{
                    SSStartMonth: ''
                }]
                , page: true
            });

            //头工具栏事件
            table.on('toolbar(emptab)', function (obj) {
                //var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'AddEmps':
                        AddEmployee();
                        break;
                    case 'DeptAndPositionOperation':
                        DeptAndPositionOperation();
                        break;
                };
            });
            //监听行工具事件
            table.on('tool(emptab)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    layer.open({
                        type: 2,
                        content: '/Personnelmatters/EmployeesInfo/EditEmp/?id=' + data.EmployeeId
                        , area: ["1200px", "730px"]
                        , title: '编辑员工信息'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                } else if (obj.event === 'detail') {
                    layer.open({
                        type: 2,
                        content: '/Personnelmatters/EmployeesInfo/EmpDetail/?id=' + data.EmployeeId
                        , area: ['1200px', '800px'],
                        title: '员工详细信息'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                }
                else if (obj.event === 'date') {  //监听单元格日期编辑事件
                    var field = $(this).data('field');
                    laydate.render({
                        elem: this.firstChild,
                        show: true //直接显示
                        , type: 'month'
                        , btns: ['now', 'confirm']
                        , format: 'yyyy-MM-dd'
                        , done: function (value, date) {
                            $.ajax({
                                type: "get",
                                dataType: "json",
                                url: "/Personnelmatters/EmployeesInfo/EditDateCell",
                                data: { id: data.EmployeeId, endvalue: value },
                                success: function (data) {
                                    console.log(data.Msg);
                                    if (data.Success) {
                                        layui.table.reload('myEmpInfo');
                                    }
                                    else {
                                        layer.msg("修改失败!");
                                    }
                                }
                            });
                        }
                    });

                }
            });

            //监听单元格编辑
            table.on('edit(emptab)', function (obj) {
                var value = obj.value //得到修改后的值
                    , data = obj.data //得到所在行所有键值
                    , field = obj.field; //得到字段
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: "/Personnelmatters/EmployeesInfo/EditTableCell",
                    data: { id: data.EmployeeId, Attrbute: field, endvalue: value },
                    success: function (data) {
                        console.log("单元格结果：" + data);
                        if (data.Success) {
                            layui.table.reload('myEmpInfo');
                        } else {
                            layer.msg("修改失败!");
                        }
                    }
                });

            });

            //监听婚姻状态和性别操作
            form.on('switch(hunyinDemo)', function (obj) {

                var id = this.value; var name = this.name;
                console.log(id); console.log(name); console.log(obj.elem.checked);
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: "/Personnelmatters/EmployeesInfo/EditEmphunyin",
                    data: { id: id, name: name, ismarry: obj.elem.checked },
                    success: function (data) {
                        if (data.Success) {
                            layer.tips(id + ' ' + name + '：' + obj.elem.checked, obj.othis);
                            //layui.table.reload('myEmpInfo');
                        } else {
                            layer.tips("修改失败!", obj.othis);
                        }
                    }
                });
            });

            //模糊查询点击事件
            $("#Conditionselect").click(function () {
                var ename = $("#EmpName").val();//员工姓名
                var deptname = $("#deptid").val();//员工所属部门
                var pname = $("#PositionId").val();//员工所属岗位
                var Education = $("#Education").val();//学历
                var sex = $("#Sex").val();//性别
                var PoliticsStatus = $("#PoliticsStatus").val();
                var start_time = $("#start_time").val();//起始时间
                var end_time = $("#end_time").val();//终止时间

                layui.use(['table'], function () {
                    var table = layui.table;
                    table.reload('myEmpInfo', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }, where: {
                            AppCondition: ename + "," + deptname + "," + pname + "," + Education + "," + sex + "," + PoliticsStatus + "," + start_time + "," + end_time
                        }
                    });
                });



            });

            //日期
            var startTime = laydate.render({
                elem: '#start_time',
                done: function (value, date) {
                    console.log(value);
                    console.log(date);
                    endTime.config.min = {
                        year: date.year,
                        month: date.month - 1,//关键
                        date: date.date,
                        hours: date.hours,
                        minutes: date.minutes,
                        seconds: date.seconds
                    }
                }
            });
            var endTime = laydate.render({
                elem: '#end_time',
                done: function (value, date) {
                    startTime.config.max = {
                        year: date.year,
                        month: date.month - 1,//关键
                        date: date.date,
                        hours: date.hours,
                        minutes: date.minutes,
                        seconds: date.seconds
                    }
                }
            });

        });

        //离职人员加载
        layui.use(['table', 'layer', 'form', 'laydate', 'element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;

            table.render({
                elem: '#emptab2'
                , url: '/Personnelmatters/EmployeesInfo/GetDelEmpData'
                , id: "myEmpInfo2"
                , limits: [5, 10, 15, 20, 25, 30]
                , limit: 5
                , cols: [[
                    , { field: 'EmployeeId', title: '员工编号', width: 126 }
                    , { field: 'DDAppId', title: '钉钉工号', width: 108, sort: true }
                    , { field: 'EmpName', title: '姓名', width: 110, sort: true }
                    , { field: 'Depart', title: '所属部门', width: 110, sort: true }
                    , { field: 'Position', title: '所属岗位', width: 110, sort: true }
                    , { field: 'Phone', title: '电话号码', sort: true, width: 130 }
                    , { field: 'Sex', title: '性别', sort: true, width: 100, templet: '#switchTp2', unresize: true }
                    , { field: 'EntryTime', title: '入职时间', sort: true, width: 120, templet: function (d) { return GetYMD(d.EntryTime) } }
                    , { field: 'PositiveDate', title: '转正日期', sort: true, width: 120, templet: function (d) { return GetYMD(d.PositiveDate) } }
                    , { field: 'deltime', title: '离职日期', sort: true, width: 120, templet: function (d) { return GetYMD(d.deltime) } }
                    , { field: 'delreason', title: '离职原因', sort: true }

                ]]
                , page: true
            });


        });


        //添加员工的方法
        function AddEmployee() {
            layui.use(['layer'], function (args) {
                var layer = layui.layer;      //layui对象

                layer.open({
                    type: 2
                    , area: ["1200px", "720px"]
                    , title: "添加员工"
                    , content: '/Personnelmatters/EmployeesInfo/AddEmp'
                    , anim: 2
                });

            })

        }

        //部门和岗位的管理
        function DeptAndPositionOperation() {
            layui.use(['layer'], function (args) {
                var layer = layui.layer;      //layui对象

                layer.open({
                    type: 2
                    , area: ["800px", "600px"]
                    , title: "部门及岗位管理"
                    , content: '/Personnelmatters/EmployeesInfo/DeptOperation'
                    , anim: 2
                    , cancel: function (index, layero) {
                        layui.table.reload('myEmpInfo');
                    }
                });

            })

        };


        //格式化时间
        function GetYearAndMonth(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month;
            } else {
                return "";
            }
        }
        //显示年月日
        function GetYMD(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate;
            } else {
                return "";
            }
        }
        function changeDateTimeFormat(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute + ":" + ss;
            } else {
                return "";
            }
        }
    </script>

    @*部门与岗位的下拉框动态赋值及下拉框二级联动*@
    <script>
        layui.use(['form', 'upload', 'layer'], function () {

            var form = layui.form;
            $.ajax({
                url: '/Personnelmatters/EmployeesInfo/BindDeptSelect',
                data: {},
                dataType: "json",
                success: function (resultData) {
                    $("#deptid").empty();
                    if (resultData.code == 0) {

                        $("#deptid").append(new Option("请选择部门", ""));
                        $.each(resultData.data, function (index, item) {
                            $('#deptid').append(new Option(item.DeptName, item.DeptId));
                        });
                    } else {
                        $("#deptid").append(new Option("暂无数据", ""));
                    }

                    layui.form.render("select");
                }
            });

            //级联子项目
            //select 监听
            form.on('select(deptidfilter)', function (data) {
                var value = data.value;  //select选中的值
                console.log("选中值" + value);
                $.ajax({
                    url: "/Personnelmatters/EmployeesInfo/BindPositionSelect",
                    data: { deptid: value },
                    dataType: "json",
                    success: function (resultData) {
                        if (resultData.code == 0) {
                            //清空赋值
                            $("#PositionId").empty();
                            console.log(resultData.data);
                            $("#PositionId").append(new Option("请选择岗位", ""));
                            $.each(resultData.data, function (index, item) {
                                //赋值
                                $('#PositionId')
                                    .append(new Option(item.PositionName, item.Pid));
                            });
                        } else {
                            $("#PositionId").append(new Option("暂无数据", ""));
                        }
                        layui.form.render("select");
                    }
                });
            })
            layui.form.render("select");

        });
    </script>


}
