
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<script src="~/Scripts/layui/layui.all.js"></script>
<link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<table id="emptab" lay-filter="test"></table>

@*操作栏*@
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>

    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#emptab'
            , height: 280
            , url: '/EmployeesInfo/GetData'
            , id: "myEmpInfo"
            , limits: [3, 6, 9, 12, 15, 18]
            , limit: 3
            , cols: [[
                , { field: 'EmployeeId', title: '员工编号', width: 71, fixed: 'left' }
                , { field: 'DDAppId', title: '钉钉工号', sort: true, fixed: 'center' }
                , { field: 'EmpName', title: '姓名', sort: true, fixed: 'center' } 
                , { field: 'Position', title: '所属岗位', sort: true, fixed: 'center' }
                , { field: 'Sex', title: '性别', sort: true, fixed: 'center' }
                , { fixed: 'Age', title: '年龄', sort: true, fixed: 'center'  }
                , { field: 'Nation', title: '民族', sort: true, fixed: 'center' }
                , { field: 'Phone', title: '电话号码', sort: true, fixed: 'center' }
                , { field: 'IdCardNum', title: '身份证号码', sort: true, fixed: 'center' }
                , { field: 'ContractStartTime', title: '合同起始时间', sort: true, fixed: 'center' }
                , { field: 'ContractEndTime', title: '合同终止时间', sort: true, fixed: 'center' }
                , { field: 'EntryTime', title: '入职时间', sort: true, fixed: 'center' }
                , { field: 'Birthdate', title: '出生日期', sort: true, fixed: 'center' }
                , { field: 'Birthday', title: '生日', sort: true, fixed: 'center' }
                , { field: 'PositiveDate', title: '转正日期', sort: true, fixed: 'center' }
                , { field: 'UrgentPhone', title: '紧急联系电话', sort: true, fixed: 'center' }
                , { field: 'DomicileAddress', title: '户籍地址', sort: true, fixed: 'center' }
                , { field: 'Address', title: '现居地址', sort: true, fixed: 'center' }
                , { field: 'Education', title: '学历', sort: true, fixed: 'center' }
                , { field: 'MaritalStatus', title: '婚姻状态', sort: true, fixed: 'center' }
                , { field: 'IdCardIndate', title: '身份证有效期', sort: true, fixed: 'center' }
                , { field: 'PoliticsStatus', title: '政治面貌', sort: true, fixed: 'center' }
                , { field: 'WorkExperience', title: '工作经验', sort: true, fixed: 'center' }
                , { field: 'ProbationSalary', title: '试用期工资', sort: true, fixed: 'center' }
                , { field: 'Salary', title: '转给工资', sort: true, fixed: 'center' }
                , { field: 'WorkingState', title: '在职状态', sort: true, fixed: 'center' }
                , { field: 'SSStartMonth', title: '社保起始月份', sort: true, fixed: 'center' }
                , { field: 'BCNum', title: '银行卡号', sort: true, fixed: 'center' }
                , { field: 'Material', title: '材料', sort: true, fixed: 'center' }
                , { field: 'Remark', title: '备注', sort: true, fixed: 'center' }
            ]]
            , page: true
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.get("/EmployeesInfo/DelBill/" + data.id, function (da) {
                        if (da > 0) {
                            layer.alert("删除成功!", { icon: 1 }, function (index) {
                                layui.use(['table'], function () {
                                    var table = layui.table;
                                    table.reload("myBill");
                                });
                                layer.close(index);
                            });
                        }
                        else {
                            layer.alert("删除失败!");
                        }
                    })
                });
            }
            else if (obj.event === 'edit') {
                addOrUpdate(data.id);
            }
        });
    });

</script>
