
@{
    ViewBag.Title = "StudentDataKeepIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<table id="tabletest1"></table>
@section script{
    <script>
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#tabletest1'
                , url: '/demo/table/user/'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { field: 'StuName', width: 80, title: '姓名', sort: true }
                    , { field: 'StuSex', width: 80, title: '性别' }
                    , { field: 'StuBirthy', width: 80, title: '出生日期', sort: true }
                    , { field: 'StuPhone', width: 80, title: '电话号码' }
                    , { field: 'StuSchoolName', title: '之前所在学校名称', width: '30%', minWidth: 100 } //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    , { field: 'StuEducational', title: '学历', sort: true }
                    , { field: 'StuAddress', title: '家庭住址', sort: true }
                    , { field: 'StuWeiXin', title: '微信' }
                    , { field: 'StuQQ', width: 137, title: 'QQ', sort: true }
                    , { field: 'StuInfomationType_Id', width: 137, title: '信息来源', sort: true }
                    , { field: 'StuStatus_Id', width: 137, title: '学生状态', sort: true }
                    , { field: 'StuIsGoto', width: 137, title: '是否上门', sort: true }
                    , { field: 'EmployeesInfo_Id', width: 137, title: '备案人', sort: true }
                    , { field: 'Reak', width: 137, title: '备注', sort: true }
                ]]
            });
        });
    </script>

}

