<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>穿梭框组件</title>


    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <style>
    </style>
</head>
<body>
    <div>
        <form class="layui-form" action="">

            <div class="layui-container" style="margin-top:5%;">
                <div class="layui-col-xs7 layui-col-sm7 layui-col-md7">
                    <div class="layui-row layui-form-item">
                        <label class="layui-form-label">选择区域：</label>
                        <div class="layui-input-inline" id="regiondiv" style="width: 76%;">
          
                        </div>
                    </div>

                </div>
                <div class="layui-col-xs5 layui-col-sm5 layui-col-md5">
                    <div class="layui-row layui-form-item">
                        <label class="layui-form-label">选择上级：</label>
                        <div class="layui-input-inline" style="width:119px;">
                            <input type="text" name="channelstaffid" id="ChannelStaffID" value="@ViewBag.ChannelStaffID" hidden="hidden" />
                            <select name="RegionalDirectorID" lay-filter="myselect" id="Superiordiv">
                            </select>
                        </div>
                        
                        <button class="layui-btn layui-btn-radius layui-btn-primary" lay-submit lay-filter="btn1">安排</button>
                    </div>
                </div>

            </div>
        </form>
    </div>


    <script type="text/template" id="muban0">
        <option value="{{=value}}">{{=title}}</option>
    </script>

   <script type="text/template" id="muban1">
           <input type="checkbox" name="RegionID" class="myRegion" lay-skin="primary" title="{{=RegionName}}" value="{{=ID}}">
   </script>

    <script>
      

        layui.use(['transfer', 'layer', 'util'], function () {
            var $ = layui.$, transfer = layui.transfer, layer = layui.layer, util = layui.util, form = layui.form;



            jQuery(function () {
                loadSuperior();
                loadregion();
            });
            function loadSuperior() {
                var data = JSON.parse('@Html.Raw(ViewBag.shangji)');
                $("#Superiordiv").children().remove();
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    var obj = _.template($("#muban0").html());
                    var html = obj({ value: data[i].Value, title: data[i].Text });
                    $("#Superiordiv").append($(html));
                }
                form.render();
            }

            function loadregion() {
                var data = JSON.parse('@Html.Raw(ViewBag.regions)');
                $("#regiondiv").children().remove();
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    var obj = _.template($("#muban1").html());
                    var html = obj({ RegionName: data[i].RegionName, ID: data[i].ID });
                    $("#regiondiv").append($(html));
                }
                checkyes();
                form.render();
            }

            function checkyes() {
                var data = JSON.parse('@Html.Raw(ViewBag.yes)');
                $('.myRegion').each(function (index) {
                    for (var i = 0; i < data.length; i++) {
                        if ($(this).val() == data[i].ID) {
                            $(this).attr('checked', 'checked');
                        }
                    }
                });
            }



            form.on('submit(btn1)', function (data) {
                console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
                console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
                console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}

                var arr = new Array();
                $("input:checkbox[name='RegionID']:checked").each(function (i) {
                    arr[i] = $(this).val();
                });
                data.field.RegionIDs = arr.join(",");//将数组合并成字符串
                console.log(data.field);
                $.ajax({
                    url: '/Market/ChannelStaff/DoDistribution',
                    //async: false,
                    type:'POST',
                    data: { param0: data.field },
                    success: function (successdata) {
                        if (successdata.Success) {
                            layer.msg('录入完成！', { icon: 6, time: 2000 }, function () {
                                close();
                            });
                        } else {
                            layer.msg(successdata.Msg, { icon: 6, time: 2000 }, function () {
                                close();
                            });
                        }
                    },
                    error: function (errordata) {
                        layer.msg('网络不佳!', { icon: 6, time: 2000 }, function () {

                        });
                    }
                });

                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

            function close() {
                //先得到当前iframe层的索引
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index); //再执行关闭
            }
        });

       
    </script>
</body>
</html>