
@{
    ViewBag.Title = "Marking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    
    <style>

        #mywarp {
            position: relative;
            width: 100%;
        }
        #infofixd {
            position: fixed;
            width: 80%;
            -moz-box-shadow: 2px 2px 5px #333333;
            -webkit-box-shadow: 2px 2px 5px #333333;
            box-shadow: 2px 2px 5px #333333;
            height: 150px;
            top: 65px;
            border-radius: 1em; z-index:1;
            border: 1px solid gray;

        }

        #paper {
            position:relative;
            width: 100%;
            
            border: 1px solid gray;
            margin-top: 130px;
            border-radius: 1em;
        }

        #stayMarkingArea {
            float: left;
            width: 49%;
            height: 100%;
            border: 0px solid red;
            border-right: 1px solid gray;
        }

        #MarkingInfoArea {
            float:left;
            width: 50%;
            height: 100%;
            border: 0px solid red;
            border-left: 1px solid gray;
        }
        .tayMarkinglist {
            
            list-style-type:none;

        }
        .tayMarkinglist .tayMarkingitem {
            width:320px;
            float:left;
            font-size:20px;
            color:gray;
            border:0px solid red;
            border-bottom:1px solid gray;
            margin-left:50px;
            margin-top:30px;
            cursor:pointer;
        }
        .infoitem {
            display:inline-block;
            margin-left:30px;
            margin-top:10px;
            width:250px;
        }
        .infoitem span {
            color:green;
        }

        #paper .answerSheetItem {
            margin-top:30px;
            display:block;
        }

        #butDiv {
            width:600px;
            margin:0 auto;
            margin-top:50px;
        }
        #butDiv button{
            width:100px;

        }

        #RecordScoreFloadDiv {
            position:absolute;
            width: 100%;
            height: 150px;
            border: 1px solid gray;
            border-radius: 1em;
            bottom:0px;
            display:none;
            background-color:white;
            
            
            
        }
        .LableCss1 {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 200px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }
        .floatbtn  {
           text-align:right;
        }

        #Stulist {
            width: 100%;
            height: 60px;
            margin-top: 20px;
            border: 1px solid gray;
            overflow-x: scroll;
            overflow-y: hidden; /* 超出内容不可见 */
            white-space: nowrap;
            display:none;
        }

       #Stulist ul {
             list-style-type:none;
        }

        #Stulist ul li {
            float:left;
            width:200px;
        }

        #biaoji {
            display:none;
        }

        .currentstudent {
            background-color:#20419d;
        }
    </style>
    }
<div id="mywarp">
    <div id="infofixd">

        <div id="stayMarkingArea">

            <ul class="tayMarkinglist">

               
            </ul>

        </div>

        <div id="MarkingInfoArea">

            <h2  style="text-align:center;">信息区域</h2>
           
            <div>

                <div class="infoitem examName">考试名称--<span></span></div>
                <div class="infoitem examDate">考试时间--<span></span></div>

                <div class="infoitem totalPaper">试卷总数量--<span></span></div>
                <div class="infoitem filshPaper">已阅卷数量--<span></span></div>

            </div>
        </div>
    </div>

    <div id="paper">

        <h2  class="tianchong" style="text-align:center;"><i style="font-size:200px;" class="layui-icon layui-icon-file"></i>答卷区域</h2>

        <div id="biaoji">
            <div id="itemlist">

            </div>

            <hr />
            <hr />
            <div id="computerBtn">

            </div>

            <div id="Stulist">

            </div>

            <div id="butDiv">

                <button type="button" id="preBtn" class="layui-btn layui-btn-primary">上一个</button>
                <button type="button" id="nextBtn" class="layui-btn layui-btn-primary">下一个</button>
                <button type="button" id="recordScoresBtn" class="layui-btn layui-btn-primary">记录分数</button>

            </div>

            <!--记录分数Div-->
            <div id="RecordScoreFloadDiv">

                <form style="margin:0 auto; display:block; width:70%; margin-top:30px;" class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="LableCss1">解答题分数</label>
                            <div class="layui-input-inline">
                                <input type="number" min="0" name="answer" id="answerScores" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="LableCss1">机试题分数</label>
                            <div class="layui-input-inline">
                                <input type="number" min="0" name="computer" id="computerScores" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <input type="text" id="scoreRemark" name="title" lay-verify="title" autocomplete="off" placeholder="请输入备注" class="layui-input">
                        </div>
                    </div>

                    <div class="floatbtn">

                        <button type="button" class="layui-btn layui-btn-danger commitScores">提交</button>
                        <button type="button" class="layui-btn layui-btn-danger closefloat">关闭</button>

                    </div>
                </form>



            </div>

        </div>

        
    </div>
</div>

<!--模板-->
<script type="text/template" id="moban1">
    <li examid ="{{=examid}}" examroom="{{=examroomid}}" class="tayMarkingitem"><span>{{=ExamTitle}}</span> --- <span>{{=ExamRoom}}</span> <span class="{{=styleClass}}" style="margin-left:5px;">{{=text}}</span></li>
</script>

<script type="text/template" id="moban2">
    <div class="answerSheetItem">

        <div>
            <span class="questionIndex">{{=index}}</span> <code style="margin-left:5px; font-size:18px;">{{=question}}</code>&nbsp;&nbsp;(<span class="listScores">{{=scores}}</span>分)
            <div class="Questionanswer" style="display:block; width:1000px; margin-left:50px; background-color:white; margin-top:20px; color:black; font-size:16px; padding:30px;">
               
                {{=answer}}

            </div>
        </div>

    </div>
    
</script>

<script type="text/template" id="stulistmoban">
    <button stuNumber="{{=stuNumber}}" class="layui-btn stuBtn">{{=stuName}}<span class="{{=classStyle}}">{{=markState}}</span></button>
</script>

@section script{
    

<script src="~/Scripts/underscore.js"></script>
    <script>
        var Sheetindex = 0;
        var StuExamNumber; //学员考号
        var Examid; //考试ID
        var ExamRoom; // 考是（教室ID）StuExamNumberStuExamNumber
        var IsEndSheet = false; //是否为最后一个答卷
        layui.use(['layer'], function () {

            var layer = layui.layer;


            //加载阅卷信息
            function loadMarkInfo(examid, examroom) {
                $.post("/ExaminationSystem/ExamScores/MarkeDatax", { examid: examid, examroom: examroom }, function (data) {

                 
                    $("#MarkingInfoArea .examName").find("span").text(data.Data.exam.Title);

                    var examdate = data.Data.exam.BeginDate;



                    var dateutc = examdate.substr(examdate.indexOf("(") + 1, 13);
                    var date = new Date(parseInt(dateutc));

                    var year = date.getFullYear(); var month = date.getMonth(); var day = date.getDate(); var hours = date.getHours(); var minus = date.getMinutes();

                    $("#MarkingInfoArea .examDate").find("span").text(year + '年' + month + '月' + day + '日--' + hours + '时' + minus + '分');

                    $("#MarkingInfoArea .totalPaper").find("span").text(data.Data.total.length);

                    $("#MarkingInfoArea .filshPaper").find("span").text(parseInt(data.Data.total.length) - data.Data.NoScoresCount.length);


                  

                });
            }

            //加载待阅卷区

            $.post('/ExaminationSystem/ExamScores/MarkeData', {}, function (result) {

               

                if (result.ErrorCode == 200) {

                   

                    for (var i = 0; i < result.Data.length; i++) {

                        var layerthtml = _.template($("#moban1").html());
                        var ExamTitle = result.Data[i].markingView.ExamID.Title;
                        var ExamRoom = result.Data[i].markingView.ID;
                        var examIsEnd = result.Data[i].ExamIsEnd;
                        var styleClass;
                        var text;
                        if (examIsEnd == true) {
                            styleClass = "layui-badge";
                            text = "待阅";
                        }
                        else {
                            styleClass = "layui-badge layui-bg-black";
                            text = "考试未结束";
                        }
                        
                       
                        var layerdata = layerthtml({ ExamTitle: ExamTitle, ExamRoom: ExamRoom, styleClass: styleClass, text: text, examid: result.Data[i].markingView.ExamID.ID, examroomid: result.Data[i].markingView.ExamRoom.Classroom_Id  });

                        $("#stayMarkingArea .tayMarkinglist").append(layerdata);
                    }


                }

            });

                
            //加载学生名单

            function loadStuData(examid, examroom) {

                $("#Stulist").html("");
                $.post('/ExaminationSystem/ExamScores/MakeStuData', { examid: examid, examroom: examroom }, function (data) {

                    console.log("......");
                    console.log(data);

                    if (data.ErrorCode == 200) {

                        for (var i = 0; i < data.Data.length; i++) {

                            var studentName = data.Data[i].student.Name;
                            var studentNumber = data.Data[i].student.StudentNumber;
                            var isMarke = data.Data[i].IsMark == true? "已阅":"未阅";
                            var layerthtml = _.template($("#stulistmoban").html());
                            var classStyle = isMarke == "已阅" ? "layui-badge layui-bg-gray" : "layui-badge";
                            var layerdata = layerthtml({ stuNumber: studentNumber, stuName: studentName, markState: isMarke, classStyle: classStyle });

                            $("#Stulist").append(layerdata);
                        }

                    }
                    else {
                        layer.msg('服务器错误。。', { icon: 2 });
                    }


                });

            }
            //待阅卷区点击事件
            $(document).off("click", ".tayMarkinglist .tayMarkingitem").on("click", '.tayMarkinglist .tayMarkingitem', function () {

                // 1首先判断考试是否结束   2考试结束才加载考场信息


                //1判断考试是否结束
                //获取考试ID
                var examid = $(this).attr("examid");
                var examroom = $(this).attr("examroom");
                console.log(examid);
                $.post("/ExaminationSystem/ExamScores/ExamIsEnd", { examid: examid }, function (result) {


                    if (result.ErrorCode == 200) {

                        if (result.Data == true) {

                            $("#biaoji").slideDown();

                            $(".tianchong").hide();

                            //考试信息 考场信息 试卷数量 以阅卷数量 
                            $.post("/ExaminationSystem/ExamScores/MarkeDatax", { examid: examid, examroom: examroom }, function (data) {

                                console.log(data);
                                Examid = data.Data.exam.ID;
                                ExamRoom = data.Data.examroom.Classroom_Id;
                                $("#MarkingInfoArea .examName").find("span").text(data.Data.exam.Title);

                                var examdate = data.Data.exam.BeginDate;

                                

                                var dateutc = examdate.substr(examdate.indexOf("(") + 1, 13);
                                var date = new Date(parseInt(dateutc));

                                var year = date.getFullYear(); var month = date.getMonth(); var day = date.getDate(); var hours = date.getHours(); var minus = date.getMinutes();

                                $("#MarkingInfoArea .examDate").find("span").text(year + '年' + month + '月' + day + '日--' + hours + '时' + minus +'分');

                                $("#MarkingInfoArea .totalPaper").find("span").text(data.Data.total.length);

                                $("#MarkingInfoArea .filshPaper").find("span").text(parseInt(data.Data.total.length) - data.Data.NoScoresCount.length);

                               
                                Sheetindex++;
                                loadAnswerSheet(examid, examroom, Sheetindex);

                                loadStuData(Examid, ExamRoom);

                                $("#Stulist").show();
                                
                            });



                        }
                        else {
                            layer.msg('考试还未结束。。', { icon: 2 });
                        }

                    }
                    else {
                        layer.msg('服务器错误。。', { icon: 2 });
                    }

                });

            });

            function checkHaveComputerPaper(examid,kaohao,callback, errorcallback) {

                $.post('/ExaminationSystem/ExamScores/checkHaveComputerPaper', { examid: examid, kaohao: kaohao }, function (result) {

                    if (result.ErrorCode == 200) {

                        callback(result.Data)
                    }
                    else {

                        errorcallback();
                    }

                });

            }

            //加载答卷

            function loadAnswerSheet(examid, examroom,index,studentnumber) {

                var lodindex = layer.load(1); //换了种风格

                $.post("/ExaminationSystem/ExamScores/MarkeAnswerSheetData", { examid: examid, examroom: examroom, index: index, StudentNumber: studentnumber }, function (result) {

                   
                    $("#itemlist").html("");

                    $("#download").remove();

                    if (result.Data.length > 0) {

                        
                        StuExamNumber = result.Data[0].candidinfo.CandidateNumber;

                        if (result.Data[0].isEnd == true) {

                            IsEndSheet = true;

                        }
                    }

                   
                    
                    for (var i = 0; i < result.Data.length; i++) {

                        if (result.Data[0].question != "") {
                            var layerthtml = _.template($("#moban2").html());

                            var layerdata = layerthtml({ index: i + 1, question: result.Data[i].questionTitle.Title, scores: result.Data[i].question.questionScores, answer: result.Data[i].question.answer });
                            $("#itemlist").append(layerdata);
                        } 

                        if (result.Data[0].question == "") {

                            $("#itemlist").append("<h2 style='text-align:center;'>空</h2>");

                        }


                      
                    }

                    var button = $('<a id="download" class="layui-btn layui-btn-fluid layui-btn-primary"></a>');

                    //首先发送请求 查看是否有机试题

                    checkHaveComputerPaper(Examid, StuExamNumber, function (data) {
                        if (data == "1") {
                            button[0].href = "/ExaminationSystem/ExamScores/DownloadComputerSheet?examid=" + Examid + "&kaohao=" + StuExamNumber;
                            button.text("机试题下载");
                            $("#computerBtn").append(button);
                        }
                        else {
                            button[0].href ="javascript:void(0);";
                            button.text("该考生无机试题答卷");
                            button.attr("Nohave","Nohave");
                            $("#computerBtn").append(button);
                        }

                    }, function () {


                        });



                    layer.close(lodindex);
                    

                });



            }



            ///下一个 
            $("#nextBtn").click(function () {

                console.log(IsEndSheet);

                if (IsEndSheet == true) {

                    layer.msg("当前是最后一份了");

                    return;
                }

                var cure = $(".currentstudent");
                cure.removeClass("currentstudent");
                cure.next().addClass("currentstudent");

                

                Sheetindex++;

                loadAnswerSheet(Examid, ExamRoom, Sheetindex);

            });


            ///上一个
            $("#preBtn").click(function () {


                if (Sheetindex == 1) {
                    layer.msg('当前是第一份哦。。', { icon: 2 }, function () {
                        layer.close(index);
                    });
                    return;
                }


                var cure = $(".currentstudent");
                cure.removeClass("currentstudent");
                cure.prev().addClass("currentstudent");

                Sheetindex--;

                loadAnswerSheet(Examid, ExamRoom, Sheetindex);

            });

            //记录分数
            $("#recordScoresBtn").click(function () {

                //加载分数

                $.post("/ExaminationSystem/ExamScores/StuScores", { examid: Examid, StuExamNumber: StuExamNumber }, function (data) {


                    //初始化分数
                    if (data.ErrorCode == 200) {

                        var answerScoress = data.Data.TextQuestionScore;
                        var computerScores = data.Data.OnBoard;
                        var remark = data.Data.Remark;
                        if (answerScoress != null) {
                            $("#answerScores").val(answerScoress);
                        }

                        if (computerScores != null)
                            $("#computerScores").val(computerScores);

                        $("#scoreRemark").val(remark);
                        

                    }
                   

                });


                //显示 （#RecordScoreFloadDiv） div

                $("#RecordScoreFloadDiv").slideDown();

                

            });

            //关闭提交分数窗口

            $(".closefloat").click(function () {
                $("#RecordScoreFloadDiv").slideUp();

            });


            //检查是否全部阅卷完毕
            function IsMarkeFinsh(examid, examroom) {


                $.post('/ExaminationSystem/ExamScores/IsFinshMake', { examid: examid, examroom: examroom }, function (data) {


                    if (data.ErrorCode == 200 && data.Data== "1") {

                        
                        //修改 老师阅卷完成

                        $.post("/ExaminationSystem/ExamScores/FinshMake", { examid: examid, examroom: examroom }, function (result) {

                            if (result.ErrorCode == 200 ) {

                                layer.confirm('阅卷完毕！', { icon: 3, title: '提示', btn: ['刷新', '还想再看看'] },
                                    function (index) {

                                        window.location.reload();


                                    });
                            }

                        });


                        

                    }

                });

            }


           //提交分数  需要的参数 考试ID 考号


            $(".commitScores").click(function () {


               

                //获取分数
                var answerScores = $("#answerScores").val();
                var computerScores = $("#computerScores").val();
                var remark = $("#scoreRemark").val();

                $.post("/ExaminationSystem/ExamScores/CommitScores", { examid: Examid, StuExamNumber: StuExamNumber, answerScores: answerScores, computerScores: computerScores, remark: remark }, function (result) {

                    if (result.ErrorCode == 200) {

                       
                        layer.msg('记录成功', { icon: 1 }, function () {
                            layer.close(index);
                        });
                        //下一个
                        $("#nextBtn").click();

                        //刷新考生
                        $("#Stulist button").remove();
                        loadStuData(Examid, ExamRoom);

                        //刷新信息
                        loadMarkInfo(Examid, ExamRoom);

                        //检查是否全部阅完毕
                        IsMarkeFinsh(Examid, ExamRoom);

                    }

                });

            });


            ///考生按钮点击事件
            $(document).off("click", ".stuBtn").on("click", ".stuBtn", function () {

                var studetnnumber = $(this).attr("stuNumber");

                $(this).siblings().removeClass("currentstudent");

                $(this).addClass("currentstudent");

                Sheetindex = ($(this).index()) +1;

                loadAnswerSheet(Examid, ExamRoom, Sheetindex, studetnnumber);

            });



            $(document).off("click", "#download").on("click", "#download", function () {

                var status = $(this).attr("Nohave");

                if (status != undefined) {
                    layer.msg('该考生并未提交机试题答卷', { icon: 2 }, function () {
                        layer.close(index);
                    });

                }

               


            });
        });

    </script>   
    
    
 }

