
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddStudentimg</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
    <form class="layui-form" action="" style="margin-left:40px;">
        <input type="text" style="display:none;" value="@ViewBag.studentid" id="studentid" />

        <div class="layui-form-item">


            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                <label class="layui-form-label">学号</label>
                <div class="layui-form-label" style="text-align:center;">
                    @ViewBag.studentid

                </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                <label class="layui-form-label">姓名</label>
                <div class="layui-form-label" style="text-align:center;" id="Name">
                    陈海石
                </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                <label class="layui-form-label">班级</label>
                <div class="layui-form-label" style="text-align:center;" id="ClassName">
                    1710NA
                </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                <label class="layui-form-label">图片:</label>
                <div class="layui-input-block">
                    <input type="file" id="Image" style="margin-top:7px;" name="Image" />
                    <div style="border:1px solid #808080;width:200px;height:200px;margin-top:20px;">
                        @{
                            string Picture = ViewBag.Picture;
                            if (Picture != "")
                            {
                                <img id="showimg"  style="width:200px;height:200px;" src="@Picture" />
                            }
                            else
                            {
                                <img id="showimg"  style="width:200px;height:200px;" />
                            }
                        }

                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 ">
            <div class="layui-input-block"  style="margin-left:150px;margin-top:10px;">
                <button class="layui-btn" lay-submit="" type="button" lay-filter="demo1">保存</button>
            </div>
        </div>
    </form>

</body>
</html>
<script>
    document.querySelector("#Image").onchange = function () {
        //1.0获取选择的文件
        var f = this.files[0];
        //创建文件读取器
        var file = new FileReader();
        //读取文件,参数代表要读取的文件
        file.readAsDataURL(f);
        //开始读取文件
        //file.start();
        //注意文件的读取时异步读取的
        //要在file.onload事件中才能获取到文件的内容
        file.onload = function (e) {
            console.log(e.target.result);
            document.querySelector("#showimg").src = e.target.result;
        };
        //最后通过file.result属性返回读取文件的内容
        document.querySelector("#showimg").src = file.result;
    } 
</script>
<script>
    var studen = JSON.parse('@Html.Raw(ViewBag.student)');
    console.log(studen);
    $("#ClassName").text(studen.ClassName);
    $("#Name").text(studen.Name);
    layui.use(['table', 'layer', 'tree', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var tree = layui.tree;

        //监听提交
        form.on('submit(demo1)', function (data) {
           
            var word = document.getElementsByName("Image")[0].files[0];
       
            if (data.field.Image != "") {
              
                var filename = word.name;
                var index = filename.lastIndexOf(".");
                var suffix = filename.substr(index + 1);
                if (suffix != "jpg") {
                    layer.alert('请选择照片，当前只支持jpg格式!', { icon: 0 });
                    //  $("#errorlabel").show();
                }
                else {

                    var fd = new FormData();

                    fd.append('Image', word);

                    console.log(fd);
                    $.ajax({
                        url: '/Teachingquality/StudentInformation/AddStudentimg/' + $("#studentid").val(),
                        type: "post",
                        contentType: false,
                        processData: false,
                        dataType: "json",//返回的数据格式
                        data: fd,
                        success: function (result) {

                            if (result.ErrorCode == 200) {

                                layer.msg("录入成功！");

                                layui.form.render();
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            }

                            else {
                                layer.msg("服务器错误！");
                            }
                        },
                        error: function () {
                            layer.msg("异常！");

                        }
                    })
                }
            } else {
                layer.alert('请选择您要使用的照片!', { icon: 0 });
            }
        })
    });
</script>
