
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/vendor/layui/layui.js"></script>
<script src="~/Scripts/vendor/jquery/jquery-3.1.1.min.js"></script>

<h2>Index</h2>

