
@{
    ViewBag.Title = "SalaryManageIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*头部工具栏*@
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="timeUpdate">年月份改变</button>
        <button class="layui-btn layui-btn-sm" lay-event="forbiddenEmp">禁用</button>
    </div>
</script>

<h2 style="text-align:center;">湖南硅谷云教育科技有限公司--@ViewBag.yearandmonth--工资表</h2>

@*模糊查询*@
<fieldset>
    <legend>条件查询</legend>
    <form class="layui-form" action="" lay-filter="formtest">
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                <label class="layui-form-label">姓名：</label>
                <div class="layui-input-inline">
                    <input type="text" id="EmpName" name="EmpName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                <label class="layui-form-label" style="width:100px;">所属部门:</label>
                <div class="layui-input-inline">
                    <select name="deptid" id="deptid" style="width:130px;" lay-filter="deptidfilter" lay-search="">
                        <option value="">请选择所属部门</option>
                    </select>

                </div>
            </div>
            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                <label class="layui-form-label" style="width:100px;">所属岗位:</label>
                <div class="layui-input-inline">
                    <select name="PositionId" id="PositionId" lay-search="" style="width:130px;">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <button class="layui-btn" type="button" id="Conditionselect">查询</button>

        </div>

    </form>
</fieldset>
<table id="salarytab" lay-filter="salarytab"></table>

@*操作栏*@
<script type="text/html" id="barDemo">
    <a class="layui-btn  layui-btn-xs " lay-event="edit">编辑</a>
</script>


@section script{
    <script>

        layui.use(['table', 'layer', 'form', 'laydate', 'element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;
            table.render({
                elem: '#salarytab'
                , url: '/Personnelmatters/EmpSalaryManagement/EmpSalaryData'
                , id: "mySalaryStatistics"
                , toolbar: '#toolbarDemo'
                , limits: [5, 10, 15, 20, 25, 30]
                , limit: 10
                , cols: [[{ type: 'checkbox', width: 28, rowspan: 2 }
                    , { field: 'empName', title: '姓名', width: 100, sort: true, rowspan: 2 }
                    , { field: 'Depart', title: '所属部门', width: 130, sort: true, rowspan: 2 }
                    , { field: 'Position', title: '所属岗位', width: 110, sort: true, rowspan: 2 }
                    , { field: 'toRegularDays', title: '出勤天数', width: 110, sort: true, rowspan: 2 }
                    , { field: 'baseSalary', title: '基本工资', sort: true, width: 110, rowspan: 2 }
                    , { field: 'positionSalary', title: '岗位工资', sort: true, width: 110, rowspan: 2 }
                    , { field: 'finalGrade', title: '绩效分', sort: true, width: 100, rowspan: 2 }
                    , { field: 'PerformanceSalary', title: '绩效工资', sort: true, width: 110, rowspan: 2 }
                    , { field: 'netbookSubsidy', title: '笔记本补助', width: 120, rowspan: 2 }
                    , { field: 'socialSecuritySubsidy', title: '社保补贴', width: 105, rowspan: 2 }
                    , { field: 'SalaryOne', title: '应发工资1', width: 115, rowspan: 2 }
                    , { field: 'OvertimeCharges', title: '加班费用', width: 105, rowspan: 2 }
                    , { field: 'Bonus', title: '奖金/元', width: 105, rowspan: 2 }

                    , { align: 'center', title: '考勤扣款', colspan: 5 }

                    , { field: 'OtherDeductions', title: '其他扣款', width: 105, rowspan: 2 }
                    , { field: 'SalaryTwo', title: '应发工资2', width: 115, rowspan: 2 }
                    , { field: 'PersonalSocialSecurity', title: '个人社保', sort: true, width: 110, rowspan: 2 }
                    , { field: 'PersonalIncomeTax', title: '个税', sort: true, width: 105, rowspan: 2 }
                    , { field: 'Total', title: '合计', width: 100, rowspan: 2 }
                    , { field: 'PayCardSalary', title: '实发工资(工资卡)', width: 160, rowspan: 2 }
                    , { field: 'CashSalary', title: '实发工资(现金)', width: 150, rowspan: 2 }
                    , { title: '操作', toolbar: '#barDemo', width: 100, fixed: 'right', rowspan: 2  }
                ], [
                    { field: 'leavedays', title: '请假天数', width: 110 }
                    , { field: 'LeaveDeductions', title: '请假扣款/元', width: 115 }
                    , { field: 'NoClockWithhold', title: '缺卡扣款/元', width: 115 }
                    , { field: 'TardyWithhold', title: '迟到扣款/元', width: 115 }
                    , { field: 'LeaveWithhold', title: '早退扣款/元', width: 115 }
                ]]
                , page: true
            });

            //头工具栏事件
            table.on('toolbar(salarytab)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'timeUpdate':
                        TimeUpdate();
                        break;
                    case 'forbiddenEmp':
                        var data = checkStatus.data;
                        console.log(data);
                        if (data == 0) {
                            layui.use('layer', function () {
                                var layer = layui.layer;
                                layer.alert('请至少选中一条记录', { title: '提示信息', icon: 0 }, function (index) {
                                    layer.close(index);
                                });
                            });
                        } else {
                            layer.confirm('确定禁用选中的员工?', function (index) {
                                delSalaryEmpinfo(data);
                            });
                        }
                        break;
                };
            });

            //监听行工具事件
            table.on('tool(salarytab)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    layer.open({
                        type: 2,
                        content: '/Personnelmatters/EmpSalaryManagement/EditEmpSalary/?id=' + data.Id
                        , area: ["400px", "500px"]
                        , title: '编辑员工月度工资信息'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                }

            });


            //模糊查询点击事件
            $("#Conditionselect").click(function () {
                var ename = $("#EmpName").val();//员工姓名
                var deptname = $("#deptid").val();//员工所属部门
                var pname = $("#PositionId").val();//员工所属岗位

                layui.use(['table'], function () {
                    var table = layui.table;
                    table.reload('mySalaryStatistics', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }, where: {
                            AppCondition: ename + "," + deptname + "," + pname
                        }
                    });
                });



            });

        });
        //年月份改变
        function TimeUpdate() {
            layui.use(['layer'], function (args) {
                var layer = layui.layer;      //layui对象

                layer.open({
                    type: 2
                    , area: ["400px", "300px"]
                    , title: ""
                    , content: '/Personnelmatters/EmpSalaryManagement/UpdateTime'
                    , anim: 2
                });

            })

        }

        //禁用员工的方法
        function delSalaryEmpinfo(data) {
            var list = "";
            for (var i = 0; i < data.length; i++) {

                list += data[i].Id + ",";
            }
            $.post("/Personnelmatters/EmpSalaryManagement/DeleteSalaryManageEmp", { 'list': list }, function (da) {
                console.log(da);
                if (da.Success) {
                    layer.alert("已禁用!", { icon: 1 }, function (index) {
                        layui.use(['table'], function () {
                            var table = layui.table;
                            table.reload('mySalaryStatistics');
                        });
                        layer.close(index);
                    });
                }
                else {
                    layer.alert("禁用失败!");
                }
            })


        }

    </script>

    @*部门与岗位的下拉框动态赋值及下拉框二级联动*@
    <script>
        layui.use(['form', 'upload', 'layer'], function () {

            var form = layui.form;
            $.ajax({
                url: '/Personnelmatters/EmployeesInfo/BindDeptSelect',
                data: {},
                dataType: "json",
                success: function (resultData) {
                    $("#deptid").empty();
                    if (resultData.code == 0) {

                        $("#deptid").append(new Option("请选择部门", ""));
                        $.each(resultData.data, function (index, item) {
                            $('#deptid').append(new Option(item.DeptName, item.DeptId));
                        });
                    } else {
                        $("#deptid").append(new Option("暂无数据", ""));
                    }

                    layui.form.render("select");
                }
            });

            //级联子项目
            //select 监听
            form.on('select(deptidfilter)', function (data) {
                var value = data.value;  //select选中的值
                console.log("选中值" + value);
                $.ajax({
                    url: "/Personnelmatters/EmployeesInfo/BindPositionSelect",
                    data: { deptid: value },
                    dataType: "json",
                    success: function (resultData) {
                        if (resultData.code == 0) {
                            //清空赋值
                            $("#PositionId").empty();
                            console.log(resultData.data);
                            $("#PositionId").append(new Option("请选择岗位", ""));
                            $.each(resultData.data, function (index, item) {
                                //赋值
                                $('#PositionId')
                                    .append(new Option(item.PositionName, item.Pid));
                            });
                        } else {
                            $("#PositionId").append(new Option("暂无数据", ""));
                        }
                        layui.form.render("select");
                    }
                });
            })
            layui.form.render("select");

        });
    </script>



}
