
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateTime</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

</head>
<body>
    <div>
        <form class="layui-form" action="" id="Positive" lay-filter="Positive">
            <div class="layui-container">

                <div class="layui-form-item" style="margin-top:60px;">
                    <label class="layui-form-label">选择时间:</label>
                    <div class="layui-input-block">
                        <input type="text" id="CurrentTime" name="CurrentTime" class="layui-input" value="@ViewBag.time" />
                    </div>

                </div>
           
            </div>

            <div class="layui-form-item" style="margin-left:50px;margin-top:70px;">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-warm" lay-submit="" type="button" lay-filter="demo1">立即提交</button>
                    <button class="layui-btn layui-btn-warm" id="btnclose1">关闭</button>
                </div>
            </div>
        </form>
    </div>

    <script>

        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            //日期
           laydate.render({
                elem: '#CurrentTime',
                type: 'month',
                format: 'yyyy-MM',

            });

            //自定义验证
            form.verify({
                myday: function (value, item) {
                    if (value == '') {
                        return '';
                    } else {
                        var v = /^0[1-9]$|^[1-9]$|^1[0-9]$|^2[0-8]$/;
                        if (!v.test(value)) {
                            return '天数只能是1至31之间';
                        }
                    }
                }//验证哪天
            });


            //提交
            form.on('submit(demo1)', function (data) {
                $.post("/Personnelmatters/EmpSalaryManagement/UpdateTime", data.field, function (data) {
                    if (data.Success) {
                        layer.alert("编辑成功!", { icon: 1 }, function () {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            window.parent.location.reload();
                            parent.layer.close(index);
                        });
                    } else {
                        layer.alert("编辑失败!");
                    }
                });
                return false;
            });

            //关闭页面
            $("#btnclose1").click(function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layui.table.reload('mySalaryStatistics');
                parent.layer.close(index);
            });
        });


    </script>

</body>
</html>
