
@{
    ViewBag.Title = "DormitoryIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #top {
        width: 99%;
        height: 50px;
        border: 1px solid pink;
    }

    .myshow {
    display: block;
    }
    #bottom {
        border: 1px solid pink;
        width: 99%;
        /*height: 600px;*/
        margin-top: 10px;
    }

    #left {
        width: 18%;
        border: 1px solid pink;
        float: left;
        /*height: 800px;*/
    }

    #cencont {
        width: 81%;
        border: 1px solid pink;
        height: 800px;
        margin-left: 1%;
        float: left;
        overflow: hidden
    }

    #querylable {
        width: 110px;
    }

    #cencontleft, #cencontright {
        width: 99%;
        height: 150px;
        margin: 0 auto;
        margin-top: auto;
        line-height: 200px;
    }

    #aisle {
        width: 99%;
        height: 75px;
        text-align: center;
        position: relative;
    }

    #spanaisle {
        position: absolute;
        bottom: 0px;
        font-size: 22px;
    }

    .room {
        width: 10.00%;
        height: 45px;
        margin-left: 5px;
        float: left;
        display: inline-block; /*一定要将div设置为inline-block*/
        vertical-align: middle; /*设置该元素在父元素中的位置*/
        line-height: 45px;
        text-align: center;
        margin-top: 9px;
    }

    .roomdiv {
        width: 91%;
        height: 99%;
        float: left;
        line-height: 99%;
    }

    .btnadddiv {
        width: 8%;
        height: 88%;
        float: left;
    }

    .accommodate {
        width: 99%;
        height: 110px;
        display: inline-block; /*一定要将div设置为inline-block*/
        vertical-align: middle; /*设置该元素在父元素中的位置*/
        line-height: 60px;
        text-align: center;
    }

    .mydtree {
        width: 99%;
    }

    #caozuodiv {
         position: relative !important;
        left:45%;
        top: 310%;
        /*宽高50块元素*/
        width: 300px !important;
        height: 300px !important;
        background-color: blue !important;
        /*相邻边框不同色*/
        border-bottom: 90px solid #33b892 !important;
        border-top: 90px solid #33b892 !important;
        border-right: 90px solid #786cda !important;
        border-left: 90px solid #786cda !important;
        /*输入不同圆角半径值测试效果，注意临界值“width一半+边框厚度”*/
        border-radius: 10px;
       
    
    }
</style>

<link href="~/Scripts/dtree2.5.4/layui_ext/dtree/dtree.css" rel="stylesheet" />
<link href="~/Scripts/dtree2.5.4/layui_ext/dtree/font/dtreefont.css" rel="stylesheet" />
<div id="top">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">

                <label class="layui-form-label" id="querylable">搜索选择框</label>
                <div class="layui-input-inline">
                    <select name="modules" lay-verify="required" lay-search="">
                        <option value="">直接选择或搜索选择</option>
                        <option value="1">学生名字</option>
                        <option value="2">寝室号</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>

                <button class="layui-btn layui-btn-radius layui-btn-normal layui-btn" lay-submit="" lay-filter="demo1">搜索</button>
                <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="addtung">添加栋</button>
                <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="addtung">调寝</button>
                <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="roomarrange">安排寝室</button>
            </div>

        </div>
    </form>

</div>
<div id="bottom">
    <div id="left">
        <div style="height: 650px;overflow: auto;" id="toolbarDiv5">
            <ul id="toolbarTree5" class="dtree" data-id="0"></ul>
        </div>
    </div>

    <div id="cencont">
        <div id="cencontleft">
            <div class="accommodate">
                <div class="roomdiv" id="leftroomlist">
                    <div class="room"><button type="button" class="layui-btn layui-btn-primary layui-btn-radius layui-btn-sm"><i class=" layui-icon layui-icon-female"></i>D2001</button></div>
                    <div class="room"><button type="button" class="layui-btn layui-btn-danger layui-btn-radius layui-btn-sm"><i class=" layui-icon layui-icon-female"></i>D2001</button></div>
                    <div class="room"><button type="button" class="layui-btn layui-btn-primary layui-btn-radius layui-btn-sm"><i class=" layui-icon layui-icon-male"></i>D2015</button></div>
                    <div class="room"><button type="button" class="layui-btn layui-btn-danger layui-btn-radius layui-btn-sm"><i class=" layui-icon layui-icon-male"></i>D2015</button></div>

                </div>


                <div class="btnadddiv">
                    <button class="layui-btn layui-btn-radius layui-btn-normal" id="leftaddroom">添加房间</button>
                </div>

                <div id="caozuodiv" onselectstart="javascript:return false;" >


                    <div  id="roomdewith" class="detailinfo" style="position: absolute; background-color: lightpink; font-size:20px; width: 100%; text-align: center;line-height: 120px;-moz-user-select: none; ">房间详细</div>
                    <div id="queryroom" style="margin-top:0px; width: 135px;height: 50px; vertical-align: middle; left:-11px; background-color: transparent; position:absolute; top: -56px; text-align:center;font-size: 20px; ">编辑房间</div>

                    <div id="AddConversationRecordBtn" style="margin-top:0px; width: 135px;height: 50px; vertical-align: middle;left:-11px; background-color: transparent; position:absolute; top: 150px; text-align:center;font-size: 20px; ">禁用房间</div>

                    <div id="GetHomeWorkSubmission" style="margin-top:0px; width: 40px;height: 155px; vertical-align: middle; background-color: transparent; position:absolute; left: -64px; text-align:center;font-size: 20px; ">卫生登记</div>

                    @*<div id="RecordtHomeWorkSubmission" style="margin-top:-20px; width: 30px;height: 150px; vertical-align: middle; background-color: transparent; position:absolute; left: 144px; text-align:center;font-size: 20px; ">添加作业记录</div>*@
                </div>
            </div>
        </div>
        <div id="aisle">
            <div class="roomdiv">
                <span id="spanaisle">过道</span>
            </div>
            <div class="btnadddiv">

            </div>

        </div>
        <div id="cencontright">
            <div class="accommodate">
                <div class="roomdiv" id="rightroomlist">
                    <div class="room"><button type="button" class="layui-btn layui-btn-primary layui-btn-radius layui-btn-sm"><i class=" layui-icon layui-icon-female"></i>D2001</button></div>
                    <div class="room"><button type="button" class="layui-btn layui-btn-danger layui-btn-radius layui-btn-sm"><i class=" layui-icon layui-icon-female"></i>D2001</button></div>
                    <div class="room"><button type="button" class="layui-btn layui-btn-primary layui-btn-radius layui-btn-sm"><i class=" layui-icon layui-icon-male"></i>D2015</button></div>
                    <div class="room"><button type="button" class="layui-btn layui-btn-danger layui-btn-radius layui-btn-sm"><i class=" layui-icon layui-icon-male"></i>D2015</button></div>
                </div>
                <div class="btnadddiv">
                    <button class="layui-btn layui-btn-radius layui-btn-normal" id="rightaddroom">添加房间</button>
                </div>
            </div>
        </div>
    </div>
</div>







@*房间模板*@
<script type="text/template" id="roommuban">
    <div class="room"><button aa="ss" type="button" roomid="{{=roomid}}" roomtype="{{=roomtype}}" class="layui-btn layui-btn-{{=isfull}} layui-btn-radius layui-btn-sm rommbtn"><i class=" layui-icon layui-icon-{{=type}}"></i>{{=roomname}}</button></div>
</script>
<script src="~/Scripts/underscore.js"></script>
@section script{
    <script>

        $("#caozuodiv").hide();


        var jstungid;
        var jsfloorid;
        var mytree;
        var dtreedata;
        var myDTree;
        var jslayer;
        var studentroom = new Object();
        var staffroom = new Object();
        $(function () {
            loadroom(jstungid, jsfloorid);
            $("#caozuodiv").addClass("myhide");
            loadxml();
        });

        function loadxml() {
            $.ajax({
                url: '../../../xmlfile/RoomdeWithPage.xml',
                type: 'GET',
                dataType: 'xml',
                success: function (xmlDoc, textStatus) {
                    $(xmlDoc).find("StudentRoom").each(function (i) {
                        studentroom.id = $(this).attr("id");
                        studentroom.RoomStayTypeName = $(this).children("RoomStayTypeName").text();
                    });
                    $(xmlDoc).find("StaffRoom").each(function (i) {
                        staffroom.id = $(this).attr("id");
                        staffroom.RoomStayTypeName = $(this).children("RoomStayTypeName").text();
                    });
                }
            });
        }

        layui.extend({
            dtree: '{/}/Scripts/dtree2.5.4/layui_ext/dleiool/dtree'
        }).use(['element', 'layer', 'table', 'code', 'util', 'dtree', 'form'], function () {

            var element = layui.element, table = layui.table, util = layui.util, dtree = layui.dtree, form = layui.form, $ = layui.$;
            jslayer = layui.layer,
                myDTree = dtree.render({
                    elem: "#toolbarTree5",
                    url: '/Dormitory/DormitoryInfo/EstablishTree',
                    initLevel: 1,
                    nodeIconArray: { "3": { "open": "dtree-icon-pulldown", "close": "dtree-icon-pullup" } },  // 自定扩展的二级非最后一级图标，从1开始
                    leafIconArray: { "11": "dtree-icon-star" },  // 自定义扩展的二级最后一级图标，从11开始
                    icon: ["3", "11"], // 使用
                    response: { statusCode: 200, rootName: "data", treeId: "nodeId", title: "context" },
                    toolbar: true,
                    toolbarWay: "fixed", // "contextmenu"：右键菜单（默认），"fixed"："固定在节点后","follow"："跟随节点动态呈现"
                    toolbarBtn: [
                        [
                            { "label": "", "name": "name1", "type": "text", "readonly": true, "value": "添加成功" },
                            { "value": "返回", "name": "name7", "type": "submit", "defElem": "btn" },
                        ] // 这就是自定义新增中的内容
                    ],
                    toolbarFun: {
                        addTreeNode: function (treeNode, $div) { //添加树节点后调用的函数，用于用户自定义，如未指定则树不会发生变化
                            console.log(treeNode);
                            $.ajax({
                                url: '/Dormitory/DormitoryInfo/ForTungAddFloor',
                                type: 'POST',
                                data: { TungID: treeNode.context },
                                success: function (successdata) {
                                    console.log(successdata);
                                    if (successdata.Success) {
                                        jslayer.msg('添加成功', { icon: 6, time: 2000 }, function () {
                                        });
                                    } else {
                                        jslayer.msg('添加失败', { icon: 6, time: 2000 }, function () {

                                        });
                                    }
                                    reloaddtree();
                                },
                                error: function () {

                                }
                            });
                            var param = new Object();
                            param.nodeId = treeNode.context;
                            param.context = treeNode.context;
                            param.leaf = false;
                            param.level = 2;
                            param.parentId = "0";
                            myDTree.changeTreeNodeAdd(param); // 调用内置函数，新增节点后改变节点内容。传入null或false，则树不会发生变化
                        },

                        editTreeNode: function (treeNode, $div) { //编辑树节点后调用的函数，用于用户自定义，如未指定则树不会发生变化
                            console.log(treeNode);
                            myDTree.changeTreeNodeEdit(true); // 调用内置函数，修改节点后改变节点内容。传入false，则树不会发生变化
                        },

                        delTreeNode: function (treeNode, $div) { //删除树后调用的函数，用于用户自定义，如未指定则树不会发生变化
                            console.log(treeNode);
                            myDTree.changeTreeNodeDel(true); // 调用内置函数，删除节点后改变节点内容。传入false，则树不会发生变化
                        },

                        loadToolbarBefore: function (buttons, param, $div) {
                            //console.log(buttons);
                            if (param.leaf) { // 如果是叶子节点
                                buttons.addToolbar = "";  // 取消新增功能
                                buttons.editToolbar = "";  // 取消修改的功能
                            }
                            return buttons; // 将按钮对象返回
                        }
                    }
                });



            dtree.on("node(toolbarTree5)", function (obj) {
                jslayer.msg(JSON.stringify(obj.param));

                var dtreeobj = obj.param;
                console.log(dtreeobj);
                //点击的是楼
                if (dtreeobj.level == "2") {

                }
                //点击的是栋
                if (dtreeobj.level == "1") {

                }
            })
        });

        $("#addtung").click(function () {
            jslayer.open({
                type: 2,
                content: "/Dormitory/DormitoryInfo/AddTungPage",
                title: "添加栋",
                area: ['390px', '260px'],
                end: function () {
                    reloaddtree();
                }
            });
        });
        //加载树
        function loadtree() {
            $.ajax({
                url: '/Dormitory/DormitoryInfo/EstablishTree',
                type: 'GET',
                success: function (successdata) {
                    console.log(successdata);
                    // var nodes = JSON.parse(successdata);
                    //console.log(nodes);
                    //可以重载所有基础参数
                    myDTree.reload(
                        'demoTree',
                        {
                            data: successdata

                        });
                },
                error: function (errordata) {

                }
            });
        }

        function reloaddtree() {
            myDTree.reload(toolbarTree5, {
                url: '/Dormitory/DormitoryInfo/EstablishTree'
            });
        }

        //创建按钮
        function loadmuban(dtreeobject) {
            console.log(dtreeobject);
            var leftroomobj = _.template($("#roommuban").html());

            var leftroomobjhtml;
           console.log(dtreeobject.RoomStayTypeId);

            if (dtreeobject.RoomStayTypeId == "1") {
                console.log("学生寝室");
                console.log(dtreeobject.isfull);
                //男 满人
                if (dtreeobject.SexType == "1") {
                    if (dtreeobject.isfull) {
                           leftroomobjhtml = leftroomobj({ isfull: "danger", type: "male",roomtype:dtreeobject.RoomStayTypeId, roomname: dtreeobject.DormInfoName,roomid:dtreeobject.Id });
                    } else {
                        leftroomobjhtml = leftroomobj({ isfull: "primary", type: "male",roomtype:dtreeobject.RoomStayTypeId, roomname: dtreeobject.DormInfoName,roomid:dtreeobject.Id });
                          console.log("/男 未满人");
                    }
                }

                if (dtreeobject.SexType == "2") {
                    if (dtreeobject.isfull) {
                        leftroomobjhtml = leftroomobj({ isfull: "danger", type: "female", roomtype:dtreeobject.RoomStayTypeId,roomname: dtreeobject.DormInfoName,roomid:dtreeobject.Id });
                    } else {
                        leftroomobjhtml = leftroomobj({ isfull: "primary", type: "female",roomtype:dtreeobject.RoomStayTypeId, roomname: dtreeobject.DormInfoName,roomid:dtreeobject.Id });
                        console.log("/女 未满人");
                    }
                }

                
            } else if (dtreeobject.RoomStayTypeId == "2") {
                 console.log("参观寝室");
                //参观寝室 满人
                if (dtreeobject.isfull) {
                    leftroomobjhtml = leftroomobj({ isfull: "danger", type: "group",roomtype:dtreeobject.RoomStayTypeId, roomname: dtreeobject.DormInfoName ,roomid:dtreeobject.Id});
                } else {
                     // 未满人
                      leftroomobjhtml = leftroomobj({ isfull: "primary", type: "group",roomtype:dtreeobject.RoomStayTypeId, roomname: dtreeobject.DormInfoName ,roomid:dtreeobject.Id});
                }

            } else if (dtreeobject.RoomStayTypeId == "5") {
                  console.log("仓库");
                //仓库
                leftroomobjhtml = leftroomobj({ isfull: "danger", type: "util",roomtype:dtreeobject.RoomStayTypeId, roomname: dtreeobject.DormInfoName,roomid:dtreeobject.Id });
            } else {
                  console.log("员工寝室");
                //员工寝室
                //满人
                if (dtreeobject.isfull) {
                    leftroomobjhtml = leftroomobj({ isfull: "danger", type: "user",roomtype:dtreeobject.RoomStayTypeId, roomname: dtreeobject.DormInfoName,roomid:dtreeobject.Id });
                } else {
                     leftroomobjhtml = leftroomobj({ isfull: "primary", type: "user",roomtype:dtreeobject.RoomStayTypeId, roomname: dtreeobject.DormInfoName,roomid:dtreeobject.Id });
                }

            }

            console.log(leftroomobjhtml);
            return leftroomobjhtml;
        }
        //加载房间
        function loadroom(tungid, floorid) {
            $.ajax({
                url: '/Dormitory/DormitoryInfo/EstablishRoom',
                type: 'GET',
                data: { TungID: tungid, FloorID: floorid },
                datatype: 'json',
                success: function (successdata) {
                    console.log(successdata);
                    @*男寝：male 女寝：female  满人：danger 没满：primary 仓库：util 参观寝：group 员工寝室：user  禁用disabled *@
                    $("#leftroomlist").children().remove();

                    $("#rightroomlist").children().remove();
                    for (var i = 0; i < successdata.leftroom.length; i++) {
                        var leftroomobjhtml = loadmuban(successdata.leftroom[i]);
                        console.log("410"+leftroomobjhtml);
                        $("#leftroomlist").append($(leftroomobjhtml));
                    }

                    for (var i = 0; i < successdata.rightroom.length; i++) {
                       var  rightroomobjhtml= loadmuban(successdata.rightroom[i]);
                        $("#rightroomlist").append($(rightroomobjhtml));
                    }


                },
                error: function (errordata) {

                }
            });
        }

        $("#leftaddroom").click(function () {
            console.log("left");
            addroom("left");
        });

         $("#rightaddroom").click(function () {
             console.log("right");
              addroom("right");
         });

        //添加房间
        function addroom(direction) {
            jslayer.open({
                type: 2,
                content: "/Dormitory/DormitoryInfo/AddRoomPage?Direction="+direction+"&Floorid=1",
                title: "添加房间",
                area: ['490px', '560px'],
                end: function () {
                    loadroom();
                }
            });
        }

        $(document).off("click", '.rommbtn').on('click', '.rommbtn', function () {
            console.log("1");
            $("#caozuodiv").show();
          
            var roomid = $(this).attr("roomid");
            var roomtype = $(this).attr("roomtype");
         
            $("#caozuodiv div").attr("roomid", roomid);
            $("#caozuodiv div").attr("roomtype", roomtype);
          
        });

        //房间详细
        $("#roomdewith").click(function () {
             var roomtype = $(this).attr("roomtype");
            console.log(studentroom);
            console.log(staffroom);
            console.log(roomtype);
            if (roomtype == studentroom.id || roomtype == staffroom.id) {
                var roomid = $(this).attr("roomid");
                jslayer.msg(roomid);

                jslayer.open({
                    type: 2,
                    content: "/Dormitory/DormitoryInfo/RoomdeWithPage?DorminfoID=" + roomid,
                    title: "房间详细",
                    area: ['1090px', '660px'],
                    end: function () {
                        //loadroom();
                        jslayer.msg("回来了。");
                    }
                });
            } else {
                layer.msg("暂未开通（非学生寝室以及员工寝室）。");
            }
            
        });

        //编辑房间
        $("#queryroom").click(function () {
         jslayer.msg($(this).attr("roomid"));

        });

        //卫生登记
        $("#GetHomeWorkSubmission").click(function () {
            var dorminfoid = $(this).attr("roomid");
            jslayer.open({
                type: 2,
                content: "/Dormitory/DormitoryInfo/Healthregistration?DorminfoID="+dorminfoid,
                title: "卫生登记",
                area: ['690px', '560px'],
                end: function () {
                    jslayer.msg("回来了。");
                }
            });
        });

        //安排寝室（学生跟员工）
        $("#roomarrange").click(function () {
            jslayer.msg("寝室安排环节");
            jslayer.open({
                type: 2,
                content: "/Dormitory/DormitoryInfo/RoomArrangePage",
                title: "寝室安排",
                area: ['1090px', '660px'],
                end: function () {
                    //loadroom();
                    jslayer.msg("回来了。");
                }
            });
        });

        $(document).bind('click', function (e) {
            //console.log("2");
            var e = e || window.event; //浏览器兼容性 
            var elem = e.target || e.srcElement;
            console.log(elem);
            while (elem) {
                var aa = $(elem).attr("aa");
                //循环判断至跟节点，防止点击的是div子元素
                if (aa != undefined || elem.id=="caozuodiv") {
                    console.log("ddd");
                    return;
                }
                elem = elem.parentNode;
            }

            $("#caozuodiv").hide();
            
        });

    </script>
}


