
@{
    ViewBag.Title = "DormitoryIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DormitoryIndex</h2>

<style>

    #left {
    

    
    }
    #cencont {
    
    
    }
    #right {
    
    }
</style>
<div id="left">


</div>

<div id="cencont">
    <div id="cencontleft"></div>

    <div id="cencontright"></div>
</div>

<div id="right">

</div>


@section script{

    }


