
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RoomdeWithPage</title>
    <link href="~/dleiicon/font_xhlb4bpyaza/iconfont.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Scripts/layui-v2.5.4/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui-v2.5.4/layui/layui.js"></script>
    <style>
        * {
            margin-left: 1px;
        }

        #content {
            margin: 0 auto;
            border: 1px solid red;
            width: 98%;
            height: 600px;
        }

        #leftdiv {
            border: 1px solid red;
            width: 59%;
            height: 580px;
            float: left;
        }

        #rightdiv {
            border: 1px solid red;
            width: 39%;
            height: 580px;
            float: right;
        }

        #top {
            border: 1px solid red;
            width: 98%;
            height: 8%;
        }

        #bottom {
            border: 1px solid red;
            width: 98%;
            height: 91%;
        }

        #leftbed {
            border: 1px solid red;
            width: 39%;
            height: 99%;
            float: left;
        }

        #guodao {
            border: 1px solid red;
            width: 19%;
            height: 99%;
            float: left;
        }

        #rightbed {
            border: 1px solid red;
            width: 39%;
            height: 99%;
            float: left;
        }

        .bedcss {
            border: 1px solid red;
            width: 98%;
            height: 23%;
            margin-top: 1%;
        }

        .flaotleft {
            float: left;
        }
        .flaotright {
        float:right;
        }

        .fontju {
            height: 44px;
            width: 35px;
            border: 1px solid pink;
            line-height: 44px;
            text-align: center;
        }

        .iconshuzicss {
            height: 44px;
            width: 35px;
            border: 1px solid pink;
            line-height: 44px;
            text-align: center;
        }

        .iconbedcss {
            height: 44px;
            width: 45px;
            border: 1px solid pink;
            line-height: 44px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="content">
        <div id="leftdiv">
            <div id="top" style="text-align:center">
                <button type="button" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal"><h1>D-1101 男寝</h1></button>
            </div>
            <div id="bottom">
                <div id="leftbed">
                    <div class="bedcss">
                        <div class="flaotright  iconshuzicss"><span class="iconfont icon-shuzi-1"></span></div>
                        <div class="flaotright  iconbedcss"> <span class="iconfont icon-chuang"></span></div>
                        <div class="flaotright">
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-lg layui-btn-radius "><i class=" layui-icon layui-icon-female"></i>陈海石</button>
                        </div>
                    </div>
                    <div class="bedcss">
                        <div class="flaotright  iconshuzicss"><span class="iconfont icon-shuzi"></span></div>
                        <div class="flaotright  iconbedcss"> <span class="iconfont icon-chuang"></span></div>
                        <div class="flaotright">
                            <button type="button" class="layui-btn layui-btn-danger layui-btn-lg layui-btn-radius "><i class=" layui-icon layui-icon-female"></i>仲伦攀</button>
                        </div>
                    </div>
                    <div class="bedcss">
                        <div class="flaotright  iconshuzicss"><span class="iconfont icon-shuzi3"></span></div>
                        <div class="flaotright  iconbedcss"> <span class="iconfont icon-chuang"></span></div>
                        <div class="flaotright">
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-lg layui-btn-radius "><i class=" layui-icon layui-icon-male"></i>达磊</button>
                        </div>


                    </div>
                    <div class="bedcss">
                        <div class="flaotright  iconshuzicss"><span class="iconfont icon-shuzi4"></span></div>
                        <div class="flaotright  iconbedcss"> <span class="iconfont icon-chuang"></span></div>
                        <div class="flaotright">
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-lg layui-btn-radius "><i class=" layui-icon layui-icon-male"></i>唐敏</button>
                        </div>
                    </div>
                </div>
                <div id="guodao">

                </div>
                <div id="rightbed">
                    <div class="bedcss">
                        <div class="flaotleft  iconshuzicss"><span class="iconfont icon-shuzi5"></span></div>
                        <div class="flaotleft  iconbedcss"> <span class="iconfont icon-chuang"></span></div>
                        <div class="flaotleft">
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-lg layui-btn-radius "><i class=" layui-icon layui-icon-female"></i>丁洪源</button>
                        </div>
                    </div>
                    <div class="bedcss">
                        <div class="flaotleft  iconshuzicss"><span class="iconfont icon-shuzi6"></span></div>
                        <div class="flaotleft  iconbedcss"> <span class="iconfont icon-chuang"></span></div>
                        <div class="flaotleft">
                            <button type="button" class="layui-btn layui-btn-danger layui-btn-lg layui-btn-radius "><i class=" layui-icon layui-icon-female"></i>小赵</button>
                        </div>
                    </div>
                    <div class="bedcss">
                        <div class="flaotleft  iconshuzicss"><span class="iconfont icon-shuzi7"></span></div>
                        <div class="flaotleft  iconbedcss"> <span class="iconfont icon-chuang"></span></div>
                        <div class="flaotleft">
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-lg layui-btn-radius "><i class=" layui-icon layui-icon-male"></i>小白</button>
                        </div>


                    </div>
                    <div class="bedcss">
                        <div class="flaotleft  iconshuzicss"><span class="iconfont icon-shuzi8"></span></div>
                        <div class="flaotleft  iconbedcss"> <span class="iconfont icon-chuang"></span></div>
                        <div class="flaotleft">
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-lg layui-btn-radius "><i class=" layui-icon layui-icon-male"></i>小老鼠</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rightdiv">


        </div>
    </div>
</body>
</html>
