
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HeadMasterSatisfactionQuestionnaire</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <style>
        .radio {
            display:inline-block;
            margin-left:10px;
        }

        #info {
            width: 80%;
            margin-left: 50px;
            border-bottom: 1px solid gray;
        }

        .infoItem {
            display: inline-block;
            font-size: 16px;
            margin-left: 50px;
        }
       
    </style>

</head>
<body><input type="hidden" id="configId" value="@ViewBag.SurveyConfig.ID" />
    <div>

        <h2 style="text-align:center; margin-top:20px;">班主任满意度调查问卷</h2>

        <form class="layui-form">




            <div id="info">
                <br />
                <div class="infoItem"><label>班主任：</label><span>@ViewBag.SurveyConfig.EmployeeId.EmpName</span></div>

                

                <div class="infoItem" id="TotalScore"><label>当前分数：</label><span>0</span></div>



            </div>

        </form>

        <hr />

        <div id="questionList">

        </div>

        <hr />

        <h4 style="text-align:center">我的建议</h4>
        <hr />
        <div style="width:100%; text-align:center;">
            <textarea style="margin:0 auto;" id="proposal" cols="80" rows="10"></textarea>
        </div>


        <div style="margin-top:100px; width:100%; text-align:center;">
            <button id="commit" style="width:80%;" class="layui-btn layui-btn-danger">

                提交
            </button>
        </div>


        <script type="text/template" id="moban">

            <form class="layui-form">

                <div class="item" style="margin-left:50px; margin-top:30px;">

                    <div class="quection" score="0" quectionid="{{=itemid}}" style="font-size:20px; display:inline-block;"><i style="font-size:30px;" class="layui-icon layui-icon-survey"></i>{{=itemcontent}}</div>
                    <div style="margin-top:10px;">

                        <div class="radio">
                            <div class="layui-input-block">

                                <input score="0" type="radio" title="0分(非常不满意)" name="{{=radioname}}">
                            </div>


                        </div>

                        <div class="radio">
                            <div class="layui-input-block">

                                <input score="1" type="radio" title="1分(不满意)" name="{{=radioname}}">
                            </div>


                        </div>

                        <div class="radio">
                            <div class="layui-input-block">

                                <input score="3" type="radio" title="3分(基本满意)" name="{{=radioname}}">
                            </div>


                        </div>

                        <div class="radio">

                            <div class="layui-input-block">

                                <input score="4" type="radio" title="4分(满意)" name="{{=radioname}}">
                            </div>


                        </div>
                        <div class="radio">
                            <div class="layui-input-block">

                                <input score="5" type="radio" title="5分(非常满意)" name="{{=radioname}}">
                            </div>


                        </div>
                    </div>

                </div>
            </form>


        </script>

    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Areas/Teaching/Scripts/Ajax.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script>



        var resultlist = new Array();



        var totalScore = 0;

        //获取当前总分
        function GettotalScore() {
            totalScore = 0;

            $(".quection").each(function () {

                totalScore += parseInt($(this).attr("score"));

            });

        }

        //改变项分数
        function changItemScore(itemid, score) {

            for (var i = 0; i < resultlist.length; i++) {


                if (resultlist[i].SurveyItemId == itemid) {

                    resultlist[i].Score = score;

                    break;

                }

            }


        }

        layui.use(['form', 'layer', 'rate'], function () {


            var form = layui.form;

            //加载问题
            function loadQuection() {

                $.post("/Teaching/SatisfactionSurvey/GetSurveyQuectionHeadMaster", {}, function (data) {


                    console.log(data);

                    if (data.ErrorCode == 200) {

                       

                        for (var i = 0; i < data.Data.length; i++) {

                            var html = _.template($("#moban").html());

                            var data1 = html({ itemid: data.Data[i].ItemID, itemcontent: data.Data[i].ItemContent, radioname: "radio" + i });


                            $("#questionList").append(data1);

                            var obj = {
                                SurveyItemId: data.Data[i].ItemID,
                                Score: 0
                            };

                            resultlist.push(obj);


                        }

                    }
                    form.render();

                });


            }
            loadQuection();
            form.on('radio()', function (data) {
                console.log(data.elem); //得到radio原始DOM对象

                $(data.elem).parent().parent().parent().parent().find(".quection").attr("score", $(this).attr("score"));

                GettotalScore();

                $("#TotalScore span").text(totalScore);

                var itemid = $(data.elem).parent().parent().parent().parent().find(".quection").attr("quectionid");

                changItemScore(itemid, $(this).attr("score"))

            });


            //提交满意度调查
            $("#commit").click(function () {
                //获取建议
                var proposal = $("#proposal").val();

                var configId = $("#configId").val();
              


                $.post("/Teaching/SatisfactionSurvey/SurveyQuectionCommitHeadMaster", { surveyCommit: resultlist, configId: configId, suggest: proposal }, function (result) {

                    if (result.ErrorCode == 200) {

                        layer.msg('提交成功', { icon: 1, time: 2000 }, function () {

                            //当你在iframe页面关闭自身时
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭  

                        });

                    }

                    else {
                        layer.msg('服务器错误。。', { icon: 2 });
                    }

                });

            });

        });



    </script>
</body>
</html>
