
@{
    ViewBag.Title = "StudentSurveyIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    <style>


        #currentwarp {
            width: 80%;
            margin: 0 auto;
            height: 600px;
            background-color: #ffffff;
        }

        .SatisfactionItems {
            display: inline-block;
            width: 200px;
            height: 80px;
            /*border:1px solid red;*/
            text-align: center;
            font-size: 15px;
            color: gray;
            margin-left: 50px;
            margin-top: 100px;
        }

    </style>
    }





    <div id="currentwarp">


        <div class="SatisfactionItems" id="Headmaster">
            <i class="layui-icon layui-icon-friends" style="font-size: 50px; color: #1E9FFF;"></i>
            <br />
            <span>班主任</span>
        </div>

        <div class="SatisfactionItems" id="Teacher">
            <i class="layui-icon layui-icon-friends" style="font-size: 50px; color: #1E9FFF;"></i>
            <br />
            <span>教员</span>
        </div>


    </div>



@section script{
    
    <script>


        layui.use(['layer'], function () {

            var layer = layui.layer;

            //班主任点击事件
            $("#Headmaster").click(function () {
      

                $.post("/Teaching/SatisfactionSurvey/IsHaveSatisfaction", { type: "jiaozhi" }, function (data) {


                    if (data.ErrorCode == 200) {

                        if (data.Data.length > 0) {
                            

                            layer.open({

                                type: 2,
                                area: ['1500px', '1200px'],
                                content: "/Teaching/SatisfactionSurvey/HeadMasterSatisfactionQuestionnaire?surveyId=" + data.Data[0].ID


                            });
                        }

                        else {

                            layer.msg('当前没有课填写的满意度调查单', { icon: 2 });

                        }
                    }
                    else {
                        layer.msg('数据加载异常。。', { icon: 2 });
                    }

                });
            });


        //教员点击事件
            $("#Teacher").click(function () {

                //首先判断
                
                $.post("/Teaching/SatisfactionSurvey/IsHaveSatisfaction", {type:"teacher"}, function (data) {

                    
                    if (data.ErrorCode == 200) {

                        if (data.Data.length > 0) {
                            layer.open({
                                title: "调查问卷",
                                type: 2,
                                area: ['1000px', '800px'],
                                content: "/Teaching/SatisfactionSurvey/TeacherSatisfactionQuestionnaire?surveyId="+data.Data[0].ID


                            });
                        }

                        else {

                            layer.msg('当前没有课填写的满意度调查单', { icon: 2 });

                        }
                    }
                    else {
                        layer.msg('数据加载异常。。', { icon: 2 });
                    }

                });


              
               
            });

        });


    </script>
    
    }

