
@{
    ViewBag.Title = "SurveyHistoryView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SiliconValley.InformationSystem.Entity.ViewEntity

@section style{

    <style>
        #toptitle {
            position: relative;
            width: 80%;
            margin: 0 auto;
            height: 200px;
        }

        #Surveycontent {
            width: 100%;
        }

        #SurveyHistoryList {
            float: left;
            width: 79%;
            height: 100px;
        }

        #rightSurveyImages {
            float: left;
            width: 21%;
            height: 100px;
            border-left: 0.5px solid #e5e0e0;
        }

        .SurveyItem {
            float: left;
            width: 300px;
            height: 200px;
            background-color: #e5e0e0;
            margin-left: 15px;
            margin-top: 15px;
        }

            .SurveyItem div {
                margin-left: 30px;
                color: gray;
                margin-top: 10px;
            }

        #tirp div {
            display: inline-block;
            cursor: pointer;
            text-align: center;
            height: 60px;
            line-height: 60px;
            margin-top: 20px;
            border-top: 1px solid #808080;
            border-bottom: 1px solid #808080;
            margin-left: 50px;
        }

        .mouseoverfontSize {
            font-size: 18px;
            color: white;
        }

        #month {
            background-color:transparent;
            border:0px solid white;
        }

        .bg {
            background-color:white;
        }
    </style>

}

    <div id="toptitle">

        <h2 style="text-align:center; color:gray;">

            满意度调查历史记录 

        </h2>


        @{

            if (ViewBag.TeacherView.Position.Pid == 3 || ViewBag.TeacherView.Position.Pid == 2011)
            {
                <!--教学主任的操作页面-->

        <div id="tirp" style="display:inline-block; border-top:2px solid green;  border-bottom:2px solid green; background-color:#92d4a5;opacity:0.5;z-index:11; width:100%;height:100px;position:absolute;top:25%; left:0%; ">


            <div>

                <button style="background-color:transparent;" class="layui-btn layui-btn-primary grandselectEmpBtn1">选择教员</button>

            </div>
            <div>

                <input id="month" value="" type="month" />

            </div>

            <div id="mybtn">
                <i style="font-size:25px;" class="layui-icon">&#xe66f;</i>
            </div>
            <div>
                <button style="background-color:transparent;" class="layui-btn layui-btn-primary selectClassBtn">选择班级</button>
            </div>


        </div>
            }

        }

        @{



            if (ViewBag.TeacherView.Position.Pid == 2008)
            {
                <!--教质主任的操作页面-->

                <div id="tirp" style="display:inline-block; border-top:2px solid green;  border-bottom:2px solid green; background-color:#92d4a5;opacity:0.5;z-index:11; width:100%;height:100px;position:absolute;top:25%; left:0%; ">


                    <div>

                        <button style="background-color:transparent;" class="layui-btn layui-btn-primary btnselectheaderall">选择班主任</button>

                    </div>

                    <div>

                        <input id="month" type="month" />

                    </div>
                    <div id="mybtn">
                        <i style="font-size:30px;" class="layui-icon">&#xe66f;</i> 我
                    </div>
                    <div>
                        <button style="background-color:transparent;" class="layui-btn layui-btn-primary selectClassBtn">选择班级</button>
                    </div>

                </div>
            }
        }

        @{

            if (ViewBag.TeacherView.Position.Pid == 2012)
            {
                <!--教学主任的操作页面-->

                <div id="tirp" style="display:inline-block; border-top:2px solid green;  border-bottom:2px solid green; background-color:#92d4a5;opacity:0.5;z-index:11; width:100%;height:100px;position:absolute;top:25%; left:0%; ">

                    <div>
                        <button style="background-color:transparent;" class="layui-btn layui-btn-primary btnselectheaderall ">选阵班主任</button>
                    </div>


                    <div>

                        <button style="background-color:transparent;" class="layui-btn layui-btn-primary grandselectEmpBtn1">选择教员</button>

                    </div>

                    <div>
                        <input id="month" type="month" />
                    </div>

                    <div id="mybtn"><i style="font-size:30px;" class="layui-icon">&#xe66f;</i> 我</div>

                    <div>
                        <button style="background-color:transparent;" class="layui-btn layui-btn-primary selectClassBtn">选择班级</button>
                    </div>


                </div>
            }

            if (ViewBag.TeacherView.Position.Pid == 2 || ViewBag.TeacherView.Position.Pid == 4)
            {
                <!--教员或班主任-->


                <div id="tirp" style="display:inline-block; border-top:2px solid green;  border-bottom:2px solid green; background-color:#92d4a5;opacity:0.5;z-index:11; width:100%;height:100px;position:absolute;top:25%; left:0%; ">

                    <div>
                        <input id="month" type="month" />
                    </div>

                    <div id="mybtn"><i style="font-size:30px;" class="layui-icon">&#xe66f;</i> 我</div>


                    <div>
                        <button style="background-color:transparent;" class="layui-btn layui-btn-primary selectClassBtn">选择班级</button>
                    </div>

                </div>


            }

        }


    </div>

<hr />

<div id="Surveycontent">

    <div id="SurveyHistoryList">



       


    </div>

    <div id="rightSurveyImages">



        <div id="studentevaluateImage" style="text-align:center;display:none;">
            <h3 style="text-align:center;"> 学生个人的评价</h3>

            <hr />

            <label class="EmpName"></label>--------<label class="corsour"></label>

            <div id="yuangImage" style="width:100%;height:200px;">

            </div>
        </div>


        <div id="ClassevaluateImageDiv" style="text-align:center;">
            <h3 style="text-align:center;"> 班级评价</h3>

            <hr />

            <label class="EmpName"></label>--------<label class="corsour"></label>

            <div id="ClassevaluateImage" style="width:100%;height:200px;">




            </div>
        </div>






    </div>


</div>

<script type="text/template" id="moban1">
    <div class="SurveyItem" SurveyResultID="{{=SurveyResultID}}">

        <div class="studentnamediv">
            <label>满意度填写人:</label><label class="studentnamelable">{{=studentname}}</label>
        </div>

        <div>
            <label>总分:</label><label>{{=Toatlscore}}</label>
        </div>

        <div>
            <label>建议:</label> <label>{{=proposal}}</label>
        </div>

    </div>
</script>

@section script{
<script src="~/Scripts/ECharts4.2.1/incubator-echarts-master/dist/echarts.js"></script>
<script src="~/Areas/Teaching/Scripts/Ajax.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script>

     
     

        var CurrentEmp;

        var currentClass;

        function callbackdata() {
            var checkStatus = layui.table.checkStatus('idTest'); //idTest 即为基础参数 id 对应的值
            return checkStatus;
        }

        //日期初始化
        var currentdate = new Date();

       

        var year= currentdate.getFullYear();

        var month = currentdate.getMonth()+1;

        if (month <= 9) {

            month = "0" + month;
        }

        console.log(year + '-' + month);

        $("#month").val(year + '-' + month);

        layui.use(['form', 'layer'], function () {


            var layer = layui.layer;

            function load(empid, month,classnumber,kechengid) {

                Ajax('/Teaching/SatisfactionSurvey/SurveyHistoryData', { empid: empid, date: month, classnumber: classnumber, Curriculum: kechengid }, 'post', function (data) {

                    console.log(data);

                    if (data.ErrorCode = 200) {

                        //渲染


                        //首先清空
                        $("#SurveyHistoryList").html("");

                        for (var i = 0; i < data.Data.length; i++) {



                            var html1 = _.template($("#moban1").html());

                            var data1 = html1({SurveyResultID: data.Data[i].SurveyResultID, studentname: data.Data[i].FillInPerson.Name, Toatlscore: data.Data[i].TotalScore, proposal: data.Data[i].Proposal });

                            $("#SurveyHistoryList").append($(data1));

                        }


                    }


                }, function (error) {



                    layer.msg("数据加载异常");



                });




            }

            //初始化自己的满意度调查
            //获取月份
            var month = $("#month").val();
            load(null, month, null,3);

            $(document).off("click", ".empSelect").on("click", ".empSelect", function () {
                $(".selectClassBtn").text("选择班级");
                var text = $(this).text();
                var empid = $(this).attr("empid");

                $(this).parent().parent().parent().find("button").attr("empid", empid);
                $(this).parent().parent().parent().find("button").find(".text").text(text);

                //获取月份
               var month = $("#month").val();

                //发送请求获取数据

                console.log(month);

                load(empid, month);

                


            });


            ///获取阶段教员列表
            $(document).off('click', '.grandselectEmpBtn1').on('click', '.grandselectEmpBtn1', function () {

                var cur = this;

                $(".selectClassBtn").text("选择班级");


                layer.open({
                    type: 2
                    , area: ["600px", "300px"],
                    shade: [0],
                    title: "选择员工",
                    btn: ['确定', '关闭'],
                    content: '/Teaching/SatisfactionSurvey/selectEmpView?emptype=teacher'
                    //, end: function () { table.reload('idTest', {}); }
                    , yes: function (index) {
                        //当点击‘确定’按钮的时候，获取弹出层返回的值
                        var res = window["layui-layer-iframe" + index].callbackdata();
                        console.log(res);

                        //打印返回的值，看是否有我们想返回的值。
                        if (res) {
                            //获取月份
                            var month = $("#month").val();

                            CurrentEmp = res.data[0].EmployeeId;

                            $(cur).text(res.data[0].EmpName);

                            //加载数据
                            load(res.data[0].EmployeeId, month);

                        } else {
                            layer.msg('请选择员工', { icon: 0 });
                        }

                        layer.close(index);
                    }

                });


            });


            //获取所有班主任

            $(document).off('click', '#btnselectheaderall').on('click', '#btnselectheaderall', function () {
                $(".selectClassBtn").text("");
                layer.open({
                    type: 2
                    , area: ["600px", "300px"],
                    shade: [0],
                    title: "选择员工",
                    btn: ['确定', '关闭'],
                    content: '/Teaching/SatisfactionSurvey/selectEmpView?emptype=allclassmaster'
                    //, end: function () { table.reload('idTest', {}); }
                    , yes: function (index) {
                        //当点击‘确定’按钮的时候，获取弹出层返回的值
                        var res = window["layui-layer-iframe" + index].callbackdata();
                        console.log(res);

                        //打印返回的值，看是否有我们想返回的值。
                        if (res) {
                            //获取月份
                            var month = $("#month").val();
                            CurrentEmp = res.data[0].EmployeeId;
                            //加载数据
                            load(res.data[0].EmployeeId, month);

                        } else {
                            layer.msg('请选择员工', { icon: 0 });
                        }

                        layer.close(index);
                    }

                });
            });


            //自己的满意度历史记录
            $(document).off("click", "#mybtn").on("click", '#mybtn', function () {
                $(".selectClassBtn").text("选择班级");
                //获取月份
                var month = $("#month").val();

                load(null, month);


            });

            document.getElementById("month").onchange = function () {

             
                load(CurrentEmp, this.value, currentClass);

            }


            //选择班级


            $(".selectClassBtn").click(function () {


                if (CurrentEmp == undefined) {

                    layer.msg("请先选择员工");
                    return
                }

                var cur = this;

                layer.open({
                    type: 2
                    , area: ["600px", "300px"],
                    shade: [0],
                    title: "选择班级",
                    btn: ['确定', '关闭'],
                    content: '/Teaching/SatisfactionSurvey/selectClassView?empid=' + CurrentEmp
                    //, end: function () { table.reload('idTest', {}); }
                    , yes: function (index) {
                        //当点击‘确定’按钮的时候，获取弹出层返回的值
                        var res = window["layui-layer-iframe" + index].callbackdata();
                        console.log(res);

                        //打印返回的值，看是否有我们想返回的值。
                        if (res) {
                            //获取月份

                            currentClass = res.data[0].ClassNumber;
                            var month = $("#month").val();

                            $(cur).text(res.data[0].ClassNumber);

                            load(CurrentEmp, month, res.data[0].ClassNumber);


                        } else {
                            layer.msg('请选择员工', { icon: 0 });
                        }

                        layer.close(index);
                    }

                });


            });


            //双击查看详细
            $(document).off("dblclick", '.SurveyItem').on("dblclick", '.SurveyItem', function () {

                //获取resultID
                var SurveyResultID = $(this).attr("SurveyResultID");

                layer.open({
                    type: 2,
                    title:"",
                    area: ['600px', '800px'],
                    content: "/Teaching/SatisfactionSurvey/SurveyDetail/" + SurveyResultID

                });

            });

        });


       

        //环形图
        function ImageShow(elem, SurveyResultID) {

            //发送请求获取数据

            Ajax('/Teaching/SatisfactionSurvey/SurveyHistoryDataByID/' + SurveyResultID, {}, 'get', function (data) {

             

                $("#studentevaluateImage").find(".EmpName").text(data.Data.Data.Emp.EmpName);

                $("#studentevaluateImage").find(".corsour").text(data.Data.Data.Curriculum.CourseName);


                var myChart = echarts.init(document.getElementById(elem));
                var option = {
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        data: data.Data.itemTypelist
                    },

                    calculable: true,
                    series: [
                        {
                            name: '访问来源',
                            type: 'pie',
                            radius: ['50%', '70%'],
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: false
                                    },
                                    labelLine: {
                                        show: false
                                    }
                                },
                                emphasis: {
                                    label: {
                                        show: true,
                                        position: 'center',
                                        textStyle: {
                                            fontSize: '30',
                                            fontWeight: 'bold'
                                        }
                                    }
                                }
                            },
                            
                            data: data.Data.itemTypeScores
                        }
                    ]
                };
                myChart.setOption(option);




            }, function (error) {


                });

        }
       
        //饼状图
        function PieImage(elem, legendData, seriesData) {


            alert("dd");
            var myChart = echarts.init(document.getElementById(elem));
            option = {
                title: {
                    text: '某站点用户访问来源',
                    
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: legendData
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: seriesData,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            myChart.setOption(option);


        }
       
        //显示当前满意度调查结果的各项分数

        $.post('/Teaching/SatisfactionSurvey/GetPieImageData', { EmpID: "201908150002", ClassNumber: "1710NA", courseid: '3', date: null }, function (data) {

            PieImage("ClassevaluateImage", data.typelist, data.tyepscorelist);

        });


        $(document).off("click", ".SurveyItem").on("click", '.SurveyItem', function () {

            //显示图片
            $("#studentevaluateImage").show();

            //获取ID
            var SurveyResultID = $(this).attr("SurveyResultID");

            var studentname = $(this).find(".studentnamediv").find(".studentnamelable").text();

            $("#studentevaluateImage").find("h3").text(studentname+"对教员的评价");



            ImageShow("yuangImage", SurveyResultID);


        });


        $(document).off("mouseover", '.SurveyItem').on("mouseover", '.SurveyItem', function () {

            $(this).addClass("bg");

        });


        $(document).off("mouseout", '.SurveyItem').on("mouseout", '.SurveyItem', function () {

            $(this).removeClass("bg");

        });


    </script>

}


