
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeacherSatisfactionQuestionnaire</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <style>
        #warp {
            width:100%;


        }

        #info {
            width:80%;
            margin-left:50px;
            border-bottom:1px solid gray;
        }

        .infoItem {
            display:inline-block;
            font-size:16px;
            margin-left:50px;
        }

        .infoItem label{
            
            font-size: 20px;
           
        }

        #content {
            margin-top:50px;
            margin-left:50px;
        }

        .contentItem {
            margin-top:30px;
        }
    </style>
</head>
<body>
    <input type="hidden" id="configId" value="@ViewBag.SurveyConfig.ID" />
    <div id="warp">

        <div id="info">
            <br />

            <h2 style="text-align:center;">教员满意度调查</h2>
            <br />
            <div class="infoItem"><label>教员：</label><span>@ViewBag.SurveyConfig.EmployeeId.EmpName</span></div>

            <div class="infoItem"><label>课程：</label><span>@ViewBag.SurveyConfig.CurriculumID.CourseName</span></div>

            <div class="infoItem" id="Score"><label>分数：</label><span>0</span></div>



        </div>

        <div id="content">

        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">您的意见：</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>

        <div style="text-align:center">
            <button type="button" lay-submit lay-filter="commit" class="layui-btn layui-btn-primary" style="width:80%; margin-top:80px;">提交</button>


        </div>


    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script type="text/template" id="moban">
        <div contentId="{{=contentId}}" class="contentItem">

            <div class="title">
                <span class="contentIndex">{{=index}}</span> <code style="margin-left:5px;">{{=content}}</code>
            </div>
            <div class="option">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <input type="radio" value="5" id="{{=contentId}}" lay-filter="option" name="title" title="非常满意 (5分A)">
                            <input type="radio" value="4" id="{{=contentId}}" lay-filter="option" name="title" title="满意 (4分)">
                            <input type="radio" value="3" id="{{=contentId}}" lay-filter="option" name="title" title="基本满意 (3分)">
                            <input type="radio" value="1" id="{{=contentId}}" lay-filter="option" name="title" title="不满意 (1分)">
                            <input type="radio" value="0" id="{{=contentId}}" lay-filter="option" name="title" title="非常不满意 (0分)">
                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script>

       

        var resultArry = new Array();

        layui.use(['form', 'layer'], function () {

            var form = layui.form;

            $.post("/Teaching/SatisfactionSurvey/GetSurveyQuectionTeacher", {}, function (data) {

                if (data.ErrorCode == 200) {

                    for (var i = 0; i < data.Data.length; i++) {

                        var html = _.template($("#moban").html());
                        var htmldate = html({ contentId: data.Data[i].ItemID, index: i + 1, content: data.Data[i].ItemContent });
                        var ResultObj = new Object();
                        ResultObj.contentId = data.Data[i].ItemID;
                        ResultObj.scores = 0;
                        resultArry.push(ResultObj);
                        $("#content").append(htmldate);
                    }
                    form.render();

                }
                else {

                    layer.msg('数据加载异常。。', { icon: 2 });
                }
                

            });

            ///监听单选按钮
            form.on('radio(option)', function (data) {
                console.log(data);

                var score = $(this).val();
                var id = $(this).attr("id");
                for (var i = 0; i < resultArry.length; i++) {

                    if (resultArry[i].contentId == id) {
                        resultArry[i].scores = score;
                    }

                }

                var totalScored = 0;

                for (var i = 0; i < resultArry.length; i++) {

                    totalScored += parseInt( resultArry[i].scores);

                }

                $("#Score span").text(totalScored);

               
                
            
            });


            //监听提交
            form.on('submit(commit)', function (data) {


                var configId = $("#configId").val();
                //发送请求
                $.post("/Teaching/SatisfactionSurvey/commitTeacherSurvey", { list: resultArry, configId: configId }, function (result) {


                    if (result.ErrorCode == 200) {

                        layer.msg('提交成功', { icon: 1, time: 2000 }, function () {

                            //当你在iframe页面关闭自身时
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭  

                        });

                    }

                    else {
                        layer.msg('服务器错误。。', { icon: 2 });
                    }


                });
                
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。


            });



        });
    </script>
</body>
</html>
