
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.ViewEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListStudentView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-tab" lay-filter="demo">
        <ul class="layui-tab-title">
            @{
                List<My_StudentDataOne> list = ViewBag.Mystudents as List<My_StudentDataOne>;
                int i = 0;
                foreach (My_StudentDataOne item in list)
                {
                    if (i == 0)
                    {
                        <li class="layui-this">结果<span>@i</span></li>
                    }
                    else
                    {
                        <li>结果<span>@i</span></li>
                    }
                    i++;
                }
            }
        </ul>
        <div class="layui-tab-content">
            @{
                int j = 0;
                if (j == 0)
                {
                    <div class="layui-tab-item layui-show">内容1</div>
                }
                else
                {
                    <div class="layui-tab-item">内容2</div>
                }
                j++;
            }
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use('element', function () {
            var element = layui.element;
            //一些事件监听
            element.on('tab(demo)', function (data) {
                
            });
        });
    </script>
</body>
</html>
