
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoodsIndexView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        body .demo-class .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }
    </style>
</head>
<body>
    <table id="Goods_table" lay-filter="Goods_table"></table>
    <script type="text/html" id="Goods_toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">添加</button>
        </div>
    </script>

    <script type="text/html" id="Goods_barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        function tableFlush() {
            layui.use('table', function () {
                var table = layui.table;
                table.reload('Goods_table');         
            });
        }

        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#Goods_table'
                , url: '/Educational/Goods/GetGoodsData'
                , toolbar: '#Goods_toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , cols: [[
                    { type: 'radio', fixed: 'left' }
                    , { field: 'GoodsName', title: '名称', fixed: 'left'}                     
                    , { field: 'Rmark', title: '说明' }
                    , {
                        field: 'IsReturn', title: '是否需要归还', templet: function (res) {
                            if (res.IsReturn == true) {
                                return '<span style="color:red">需要归还</span>';
                            } else {
                                return '不需要归还';
                            }
                        }
                    }
                    , { fixed: 'right', title: '操作', toolbar: '#Goods_barDemo' }
                ]]
                , page: true
            });

            //头工具栏事件
            table.on('toolbar(Goods_table)', function (obj) {
                switch (obj.event) {
                    case 'getCheckData':
                        layer.open({
                            type: 2,
                            content: '/Educational/Goods/GoodsAddorEditView'
                            , area: ['800px', '400px'],
                            title: '添加物品'
                            , shade: 0.8
                            , anim: 4
                            , skin: 'demo-class'
                        });
                        break;                   
                };
            });

            //监听行工具事件
            table.on('tool(Goods_table)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $.ajax({
                            url: '/Educational/Goods/IsYingyong/' + data.Id,
                            success: function (sucdata) {
                                if (sucdata != "ok") {
                                    //说明被应用，不用删除
                                    layer.msg('该数据被其他数据使用，不能删除', { icon: 2 });
                                } else {

                                    $.ajax({
                                        url: '/Educational/Goods/DeleteGoods/' + data.Id,
                                        success: function (sucdata) {
                                            if (sucdata == "ok") {
                                                layer.msg('删除成功！！！', { icon: 1, shade: 0.8 }, function () {
                                                    tableFlush();//刷新数据
                                                })
                                            } else {
                                                layer.msg(sucdata, { icon: 2 }, function () {
                                                    tableFlush();//刷新数据
                                                })
                                            }
                                        }
                                    });
                                }
                            }
                        });
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    $.ajax({
                        url: '/Educational/Goods/IsYingyong/' + data.Id,
                        success: function (sucdata) {
                            if (sucdata != "ok") {
                                var dd = data.Id + ",you";
                                layer.open({
                                    type: 2,
                                    content: '/Educational/Goods/GoodsAddorEditView/' + dd
                                    , area: ['800px', '400px'],
                                    title: '添加物品'
                                    , shade: 0.8
                                    , anim: 4
                                    , skin: 'demo-class'
                                });
                            } else {
                                
                                layer.open({
                                    type: 2,
                                    content: '/Educational/Goods/GoodsAddorEditView/' + data.Id
                                    , area: ['800px', '400px'],
                                    title: '添加物品'
                                    , shade: 0.8
                                    , anim: 4
                                    , skin: 'demo-class'
                                });
                            }
                        }
                    })
                }
            });
        });
    </script>
</body>
</html>
