
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RoomdeWithPage</title>
    <link href="~/dleiicon/font_xhlb4bpyaza/iconfont.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Scripts/layui-v2.5.4/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui-v2.5.4/layui/layui.js"></script>
    <style>
        * {
            margin-left: 1px;
        }

        #content {
            margin: 0 auto;
            /*border: 1px solid red;*/
            width: 98%;
            height: 600px;
        }

        #leftdiv {
            /*border: 1px solid red;*/
            width: 59%;
            height: 580px;
            float: left;
        }

        #rightdiv {
            /*border: 1px solid red;*/
            width: 39%;
            height: 580px;
            float: right;
        }

        #top {
            /*border: 1px solid red;*/
            width: 98%;
            height: 8%;
        }

        #bottom {
            /*border: 1px solid red;*/
            width: 98%;
            height: 91%;
        }

        #leftbed {
            /*border: 1px solid red;*/
            width: 39%;
            height: 99%;
            float: left;
        }

        #guodao {
            /*border: 1px solid red;*/
            width: 19%;
            height: 99%;
            float: left;
        }

        #rightbed {
            /*border: 1px solid red;*/
            width: 39%;
            height: 99%;
            float: left;
        }

        .bedcss {
            /*border: 1px solid red;*/
            width: 98%;
            height: 23%;
            margin-top: 1%;
        }

        .flaotleft {
            float: left;
        }

        .flaotright {
            float: right;
        }

        .fontju {
            height: 44px;
            width: 35px;
            /*border: 1px solid pink;*/
            line-height: 44px;
            text-align: center;
        }

        .iconshuzicss {
            height: 44px;
            width: 35px;
            /*border: 1px solid pink;*/
            line-height: 44px;
            text-align: center;
        }

        .iconbedcss {
            height: 44px;
            width: 45px;
            /*border: 1px solid pink;*/
            line-height: 44px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="content">
        <div id="leftdiv">
            <div id="top" style="text-align:center">
                <button type="button" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal"><h1 id="protitle">@ViewBag.Title</h1></button>
            </div>
            <div id="bottom">
                <div id="leftbed">


                </div>
                <div id="guodao">

                </div>
                <div id="rightbed">

                </div>
            </div>
        </div>
        <div id="rightdiv">
            <div style="margin-top:10%;">
                <form class="layui-form" action="">

                    <input type="hidden" value="@ViewBag.SexType" id="sextype" />
                    <fieldset>
                        <legend>
                            <span id="acctype"></span>基础信息
                        </legend>
                        <div id="rongqi">
                            <div class="layui-row layui-form-item">
                                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                                    <label class="layui-form-label">学生姓名</label>
                                    <div class="layui-input-inline">
                                        <input type="hidden" id="StudentNumber" name="StudentNumber" />
                                        <input type="text" style="border:none;" readonly="readonly" value="小老鼠" id="StudentName" name="StudentName" lay-verify="title" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>


                            <div class="layui-row layui-form-item">

                                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                                    <label class="layui-form-label">联系方式</label>
                                    <div class="layui-input-inline">
                                        <input type="text" style="border:none;" readonly="readonly" value="15073315702" id="StudentPhone" name="StudentPhone" lay-verify="title" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-row layui-form-item">

                                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                                    <label class="layui-form-label">所在班级</label>
                                    <div class="layui-input-inline">
                                        <input type="text" style="border:none;" readonly="readonly" value="10NA" id="ClassNO" name="ClassNO" lay-verify="title" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-row layui-form-item">

                                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                                    <label class="layui-form-label">班主任</label>
                                    <div class="layui-input-inline">
                                        <input type="text" style="border:none;" readonly="readonly" value="嘉文四世" id="StaffName" name="StaffName" lay-verify="title" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-row layui-form-item">
                                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                                    <label class="layui-form-label">联系方式</label>
                                    <div class="layui-input-inline">
                                        <input type="text" style="border:none;" readonly="readonly" value="150895678451" id="StaffPhone" name="StaffPhone" lay-verify="title" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block" id="btnrongqi">
                                    <button class="layui-btn" id="Dormitoryer">任职寝室长</button>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>

        </div>
    </div>
    @*左侧 学生*@
    <script type="text/template" id="leftstudentbed">
        <div class="bedcss" id="{{=BedId}}">
            <div class="flaotright  iconshuzicss"><span class="iconfont {{=iconfontstyle}}"></span></div>
            <div class="flaotright  iconbedcss"> <span class="iconfont icon-chuang"></span></div>
            <div class="flaotright">
                <button type="button" studentnumber="" class="layui-btn {{=isleader}} layui-btn-lg layui-btn-radius probtn"><i class=" layui-icon {{=sex}}"></i><i id="{{=BenNo}}">暂无</i></button>
            </div>
        </div>
    </script>

    @*右侧 学生*@
    <script type="text/template" id="rightstudentbed">
        <div class="bedcss" id="{{=BedId}}">
            <div class="flaotleft  iconshuzicss"><span class="iconfont {{=iconfontstyle}}"></span></div>
            <div class="flaotleft  iconbedcss"> <span class="iconfont icon-chuang"></span></div>
            <div class="flaotleft">
                <button type="button" studentnumber="" class="layui-btn {{=isleader}} layui-btn-lg layui-btn-radius probtn"><i class=" layui-icon {{=sex}}"></i><i id="{{=BenNo}}">暂无</i></button>
            </div>
        </div>
    </script>


    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Areas/Dormitory/Script/operationdormxml.js"></script>
    <script>
        layui.use(['table', 'layer', 'form','laydate'], function () {
            var layer = layui.layer;
            var laydate = layui.laydate;

            var fontstylearr;
            var male;
            var female;
            var studentroom;

            var DorminfoID;
            var sextype;
            var studentnumber;//床位为1的学生编号
            var empinfoidtop1;//床位为1的员工编号
            var querydata;
            var role;

            var jsstaydate;



            $(function () {
                DorminfoID = '@Html.Raw(ViewBag.DormInformation)';
                sextype =$("#sextype").val();
                male = $getsex("Male");
                female = $getsex("Female");
                fontstylearr = $getfonticon();
                studentroom = $roomstaytype("StudentRoom");
                loadbedandaccdation();
            });
            function TimeChange(newtime) {
                if (newtime == null)
                    return "";
                var date = new Date(parseInt(newtime.slice(6)));
                var year = date.getFullYear();
                var month = date.getMonth();
                if (month < 10) {
                    month =Number(month + 1);
                }
                var day = date.getDate();
                if (day < 10) {
                    day =day;
                }
                var result = year + '-' + month + '-' + day;
                return result;
            }

            //请求拿床位数据
            function loadbedandaccdation() {
                layer.msg("肉肉的提示");
                $.ajax({
                    url: '/Dormitory/DormitoryInfo/LoadBedAndAccdation',
                    type: 'GET',
                    data: { DorminfoID: DorminfoID },
                    success: function (SuccessData) {
                        querydata = SuccessData.Data;
                        console.log(querydata);
                        if (SuccessData.Success) {

                            //男
                            if (sextype == male.val) {
                                bindbentostudnet(SuccessData.Data, male.icon);
                            }
                            //女
                            else {
                                bindbentostudnet(SuccessData.Data, female.icon);
                            }



                        } else {
                            layer.msg("error");
                        }
                    },
                    error: function () {
                        layer.msg("error");
                    }
                });
            }

            //床位绑定学生
            function bindbentostudnet(data, inco) {
                //console.log("绑定床位");
                //console.log(data);
                //console.log(inco);
                $("#leftbed").children().remove();
                $("#rightbed").children().remove();
                var Halfandhalf = data.BedList.length / 2;
                //console.log("对半"+Halfandhalf);
                for (var i = 0; i < data.BedList.length; i++) {
                   //左
                    if (i >= Halfandhalf) {
                        var jsleftstudentbed = _.template($("#leftstudentbed").html());
                        var jsleftstudentbedhtml;
                        if (data.BedList[i].Id!=data.LeaderBedID) {
                            jsleftstudentbedhtml = jsleftstudentbed({isleader:"layui-btn-primary",iconfontstyle: fontstylearr[i].val, sex: inco, BedId: data.BedList[i].Id, BenNo: data.BedList[i].Id + "bedbed" });
                        } else {
                            jsleftstudentbedhtml = jsleftstudentbed({isleader:"layui-btn-warm",iconfontstyle: fontstylearr[i].val, sex: inco, BedId: data.BedList[i].Id, BenNo: data.BedList[i].Id + "bedbed" });
                        }
                        $("#leftbed").append($(jsleftstudentbedhtml));
                    }
                    //右
                    else {
                        var jsleftstudentbed = _.template($("#rightstudentbed").html());
                        var jsleftstudentbedhtml;
                        if (data.BedList[i].Id!=data.LeaderBedID) {
                            jsleftstudentbedhtml=jsleftstudentbed({isleader:"layui-btn-primary", iconfontstyle: fontstylearr[i].val,sex:inco, BedId: data.BedList[i].Id ,BenNo: data.BedList[i].Id+"bedbed"});
                        } else {
                            jsleftstudentbedhtml=jsleftstudentbed({isleader:"layui-btn-warm", iconfontstyle: fontstylearr[i].val,sex:inco, BedId: data.BedList[i].Id ,BenNo: data.BedList[i].Id+"bedbed"});
                        }

                        $("#rightbed").append($(jsleftstudentbedhtml));
                    }

                }

                //console.log("------------------------------------------------------");
                $(".bedcss").each(function (index, domEle) {
                    //console.log("div的id---------");
                    //console.log($(this).attr("id"));
                    for (var i = 0; i < data.AccdationList.length; i++) {
                        //console.log("数组里面的bedid");
                        //console.log(data.AccdationList[i].BedId);
                        if ($(this).attr("id") == data.AccdationList[i].BedId) {

                            if ($(this).attr("id") == fontstylearr[0].id) {
                                studentnumber = data.AccdationList[i].Studentnumber;
                            }
                            //console.log("true");
                            var id = $(this).attr("id") + "bedbed";
                            $("#" + id + "").text(data.AccdationList[i].StudentName);
                            $("#" + id + "").parents("button").attr("studentnumber", data.AccdationList[i].Studentnumber);
                            //console.log($("#" + id + ""));
                            //console.log($("#" + id + "").parents("button"));
                        }
                    }
                });

                if (data.StudentNumber > 0) {
                    console.log(data.StudentNumber);
                    loadformdata(data.StudentNumber);
                    changecolor(data.StudentNumber);
                } else {
                    if (studentnumber == undefined) {
                        loadformdata(data.AccdationList[0].Studentnumber);
                        changecolor(data.AccdationList[0].Studentnumber);
                    } else {
                        loadformdata(studentnumber);
                        changecolor(studentnumber);
                    }

                }
            }




            //请求学生基本数据
            function loadformdata(studentnumber) {
                $.ajax({
                    url: '/Dormitory/DormitoryInfo/Loadformdata',
                    type: 'GET',
                    data: { Studentnumber: studentnumber },
                    success: function (SuccessData) {
                        if (SuccessData.Success) {
                            bindformdata(SuccessData.Data);
                        } else {
                            layer.msg("GG");
                        }
                    }, error: function () {
                        layer.msg("GG");
                    }
                });
            }


            //绑定数据
            function bindformdata(data) {
                $("#StudentNumber").val(data.StudentNumber);
                $("#StudentName").val(data.StudentName);
                $("#StudentPhone").val(data.StudentPhone);
                $("#StaffName").val(data.StaffName);
                $("#StaffPhone").val(data.StaffPhone);
                $("#ClassNO").val(data.ClassNO);
            }

            //点击触发事件
            $(document).off("click", '.probtn').on('click', '.probtn', function () {


                    var clickstudentnumber = $(this).attr("studentnumber");
                    console.log(clickstudentnumber);
                    if (clickstudentnumber == "") {
                        layer.msg("暂无该床位信息。");
                        if (querydata.StudentNumber > 0) {
                            loadformdata(querydata.StudentNumber);
                        } else {
                            //1 号床
                            if (studentnumber == undefined) {
                                //居住信息第一个
                                loadformdata(data.AccdationList[0].Studentnumber);

                                changecolor(data.AccdationList[0].Studentnumber);
                            }
                            else {
                                loadformdata(studentnumber);
                                changecolor(studentnumber);
                            }
                        }
                    } else {
                        loadformdata(clickstudentnumber);
                        changecolor(clickstudentnumber);
                    }


            });

            function changecolor(clickstudentnumber) {
                $(".probtn").each(function () {
                    $(this).removeClass("layui-btn-danger");

                        if ($(this).attr("studentnumber") == clickstudentnumber) {
                            $(this).addClass("layui-btn-danger");
                        }


                });
            }



        });

    </script>
</body>
</html>
