
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RoomdeWithPage</title>


    <script src="~/Scripts/underscore.js"></script>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <link href="~/dleiicon/font_xhlb4bpyaza/iconfont.css" rel="stylesheet" />
    <style>
        * {
            margin-left: 1px;
        }

        #content {
            margin: 0 auto;
            /*border: 1px solid red;*/
            width: 98%;
            height: 600px;
        }

        #leftdiv {
            /*border: 1px solid red;*/
            width: 59%;
            height: 580px;
            float: left;
        }

        #rightdiv {
            /*border: 1px solid red;*/
            width: 39%;
            height: 580px;
            float: right;
        }

        #top {
            /*border: 1px solid red;*/
            width: 98%;
            height: 8%;
        }

        #bottom {
            /*border: 1px solid red;*/
            width: 98%;
            height: 91%;
        }

        #leftbed {
            /*border: 1px solid red;*/
            width: 39%;
            height: 99%;
            float: left;
        }

        #guodao {
            /*border: 1px solid red;*/
            width: 19%;
            height: 99%;
            float: left;
        }

        #rightbed {
            /*border: 1px solid red;*/
            width: 39%;
            height: 99%;
            float: left;
        }

        .bedcss {
            /*border: 1px solid red;*/
            width: 98%;
            height: 23%;
            margin-top: 1%;
        }

        .flaotleft {
            float: left;
        }

        .flaotright {
            float: right;
        }

        .fontju {
            height: 44px;
            width: 35px;
            /*border: 1px solid pink;*/
            line-height: 44px;
            text-align: center;
        }

        .iconshuzicss {
            height: 44px;
            width: 35px;
            /*border: 1px solid pink;*/
            line-height: 44px;
            text-align: center;
        }

        .iconbedcss {
            height: 44px;
            width: 45px;
            /*border: 1px solid pink;*/
            line-height: 44px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="content">
        <div id="leftdiv">
            <div id="top" style="text-align:center">
                <button type="button" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal"><h1 id="protitle">@ViewBag.Title</h1></button>
            </div>
            <div id="bottom">
                <div id="leftbed">


                </div>
                <div id="guodao">

                </div>
                <div id="rightbed">

                </div>
            </div>
        </div>
        <div id="rightdiv">
            <div style="margin-top:10%;">
                <form class="layui-form" action="">
                    <input type="hidden" value="@ViewBag.SexType" id="sextype" />
                    <fieldset>
                        <legend>
                            <span id="acctype"></span>基础信息
                        </legend>
                        <div id="rongqi">
                            <div class="layui-row layui-form-item">
                                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                                    <label class="layui-form-label">员工姓名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" style="border:none;" readonly="readonly" value="小老鼠" id="EmpName" name="EmpName" lay-verify="title" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>


                            <div class="layui-row layui-form-item">

                                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                                    <label class="layui-form-label">岗位</label>
                                    <div class="layui-input-inline">
                                        <input type="text" style="border:none;" readonly="readonly" id="PositionName" name="PositionName" lay-verify="title" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-row layui-form-item">

                                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                                    <label class="layui-form-label">部门</label>
                                    <div class="layui-input-inline">
                                        <input type="text" style="border:none;" readonly="readonly" id="DeptName" name="DeptName" lay-verify="title" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-row layui-form-item">

                                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                                    <label class="layui-form-label">电话</label>
                                    <div class="layui-input-inline">
                                        <input type="text" style="border:none;" readonly="readonly" id="Phone" name="Phone" lay-verify="title" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-row layui-form-item">
                                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                                    <label class="layui-form-label">入住时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="StayDate" readonly="readonly" style="border:none" name="StayDate" placeholder="yyyy-MM-dd">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>

        </div>
    </div>



    @*左侧 员工*@
    <script type="text/template" id="leftstaffbed">
        <div class="bedcss" id="{{=BedId}}">
            <div class="flaotright  iconshuzicss"><span class="iconfont {{=iconfontstyle}}"></span></div>
            <div class="flaotright  iconbedcss"> <span class="iconfont icon-chuang"></span></div>
            <div class="flaotright">
                <button type="button" empinfoid="" class="layui-btn layui-btn-primary layui-btn-lg layui-btn-radius probtn"><i class="layui-icon {{=sex}}"></i><i id="{{=BenNo}}">暂无</i></button>
            </div>
        </div>
    </script>

    @*右侧 员工*@
    <script type="text/template" id="rightstaffbed">
        <div class="bedcss" id="{{=BedId}}">
            <div class="flaotleft  iconshuzicss"><span class="iconfont {{=iconfontstyle}}"></span></div>
            <div class="flaotleft  iconbedcss"> <span class="iconfont icon-chuang"></span></div>
            <div class="flaotleft">
                <button type="button" empinfoid="" class="layui-btn layui-btn-primary layui-btn-lg layui-btn-radius probtn"><i class=" layui-icon {{=sex}}"></i><i id="{{=BenNo}}">暂无</i></button>
            </div>
        </div>
    </script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Areas/Dormitory/Script/operationdormxml.js"></script>
    <script>
        layui.use(['table', 'layer', 'form','laydate'], function () {
            var layer = layui.layer;
            var laydate = layui.laydate;
            var fontstylearr;
            var male;
            var female;
            var DorminfoID;
            var sextype;
            var empinfoidtop1;//床位为1的员工编号

            $(function () {
                DorminfoID = '@Html.Raw(ViewBag.DormInformation)';
                sextype =$("#sextype").val();
                male = $getsex("Male");
                female = $getsex("Female");
                fontstylearr = $getfonticon();
                loadbedandaccdation();
            });

            function TimeChange(newtime) {
                if (newtime == null)
                    return "";
                var date = new Date(parseInt(newtime.slice(6)));
                var year = date.getFullYear();
                var month = date.getMonth();
                if (month < 10) {
                    month =Number(month + 1);
                }
                var day = date.getDate();
                if (day < 10) {
                    day =day;
                }
                var result = year + '-' + month + '-' + day;
                return result;
            }




            //请求拿床位数据
            function loadbedandaccdation() {
                layer.msg("肉肉的提示");
                $.ajax({
                    url: '/Dormitory/DormitoryInfo/LoadBedAndAccdation',
                    type: 'GET',
                    data: { DorminfoID: DorminfoID },
                    success: function (SuccessData) {
                        if (SuccessData.Success) {

                            //男
                            if (sextype == male.val) {
                                bindbentostaff(SuccessData.Data, male.icon);
                            }
                            //女
                            else {
                                bindbentostaff(SuccessData.Data, female.icon);
                            }
                        } else {
                            layer.msg("error");
                        }
                    },
                    error: function () {
                        layer.msg("error");
                    }
                });
            }

             //床位绑定员工
            function bindbentostaff(data, inco) {
                $("#leftbed").children().remove();
                $("#rightbed").children().remove();
                var Halfandhalf = data.BedList.length / 2;
                for (var i = 0; i < data.BedList.length; i++) {
                   //左
                    if (i >= Halfandhalf) {
                        var jsleftstaffbed = _.template($("#leftstaffbed").html());
                        var jsleftstaffbedhtml = jsleftstaffbed({iconfontstyle: fontstylearr[i].val, sex: inco, BedId: data.BedList[i].Id, BenNo: data.BedList[i].Id + "bedbed" });
                        $("#leftbed").append($(jsleftstaffbedhtml));
                    }
                    //右
                    else {
                        var jsrightstaffbed = _.template($("#rightstaffbed").html());
                        var jsrightstaffbedhtml=jsrightstaffbed({iconfontstyle: fontstylearr[i].val,sex:inco, BedId: data.BedList[i].Id ,BenNo: data.BedList[i].Id+"bedbed"});
                        $("#rightbed").append($(jsrightstaffbedhtml));
                    }

                }

                //console.log("------------------------------------------------------");
                $(".bedcss").each(function (index, domEle) {
                    //console.log("div的id---------");
                    //console.log($(this).attr("id"));
                    for (var i = 0; i < data.StaffaccdationList.length; i++) {
                        //console.log("数组里面的bedid");
                        //console.log(data.AccdationList[i].BedId);
                        if ($(this).attr("id") == data.StaffaccdationList[i].BedId) {

                            if ($(this).attr("id") == fontstylearr[0].id) {
                                empinfoidtop1 = data.StaffaccdationList[i].EmployeeId;
                            }
                            //console.log("true");
                            var id = $(this).attr("id") + "bedbed";
                            $("#" + id + "").text(data.StaffaccdationList[i].EmpName);
                            $("#" + id + "").parents("button").attr("empinfoid", data.StaffaccdationList[i].EmployeeId);
                            //console.log($("#" + id + ""));
                            //console.log($("#" + id + "").parents("button"));
                        }
                    }
                });


                if (empinfoidtop1 == undefined) {
                    if (data.StaffaccdationList.length>0) {
                         changecolor(data.StaffaccdationList[0].EmployeeId);
                    } else {
                        layer.msg("该房间没有人居住。");
                    }
                    loadstaffdata(data.StaffaccdationList[0].EmployeeId);
                } else {
                    changecolor(empinfoidtop1);
                    loadstaffdata(empinfoidtop1);
                }
            }




            function loadstaffdata(empinfoid) {
                $.ajax({
                    url: '/Dormitory/DormitoryInfo/loadstaffdata',
                    type: 'GET',
                    data: { EmpinfoID: empinfoid },
                    success: function (SuccessData) {
                        if (SuccessData.Success) {
                            //console.log(SuccessData.Data);
                          bindstaffformdata(SuccessData.Data);
                        } else {
                            layer.msg("GG");
                        }
                    }, error: function () {
                        layer.msg("GG");
                    }
                });
            }

            function bindstaffformdata(data) {
                $("#EmpName").val(data.EmpName);
                $("#EmployeeId").val(data.EmployeeId);
                $("#DeptName").val(data.DeptName);
                $("#PositionName").val(data.PositionName);
                $("#Phone").val(data.Phone);
                var staydate = TimeChange(data.StayDate);
                $("#StayDate").val(staydate);
            }

            //点击触发事件
            $(document).off("click", '.probtn').on('click', '.probtn', function () {
                var clickempinfoid = $(this).attr("empinfoid");
                //console.log("-------------------------");
                //console.log(clickempinfoid);
                if (clickempinfoid == "") {
                    layer.msg("暂无该床位信息");
                    if (empinfoidtop1 == undefined) {
                        changecolor(data.StaffaccdationList[0].EmployeeId);
                        loadstaffdata(data.StaffaccdationList[0].EmployeeId);
                    } else {
                        changecolor(empinfoidtop1);
                        loadstaffdata(empinfoidtop1);
                    }
                } else {
                    changecolor(clickempinfoid);
                    loadstaffdata(clickempinfoid);
                }
            });

            function changecolor(clickstudentnumber) {
                $(".probtn").each(function () {
                    $(this).removeClass("layui-btn-danger");

                    if ($(this).attr("empinfoid") == clickstudentnumber) {
                        $(this).addClass("layui-btn-danger");
                    }


                });
            }


        });

    </script>
</body>
</html>
