
@{
    Layout = null;
}

<!DOCTYPE html>
@model SiliconValley.InformationSystem.Entity.ViewEntity.StuHomeWorkView
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetStuHomeWorkDetail</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div>

        <form class="layui-form">

            <h3 style="text-align:center;">@Model.StudentName</h3>

            <hr />
            <h4 style="text-align:center;">作业布置时间</h4>
            <hr />
            <div style=" width:100%; text-align:center;">

                <span>@Model.ReleaseDate</span>

            </div>
            <hr />
            <h4 style="text-align:center;">完成情况</h4>
            <hr />
            <div class="layui-form-item">
                <div class="layui-input-block">

                    @{
                        if (Model.AfterClassHomeWork == "完成")
                        {
                            <input disabled checked type="checkbox" name="like[write]" title="上机作业">
                        }
                        else
                        {
                            <input disabled type="checkbox" name="like[write]" title="上机作业">
                        }


                        if (Model.ClassroomHomeWork == "完成")
                        {
                            <input disabled type="checkbox" name="like[read]" title="课后作业" checked="">

                        }
                        else
                        {
                            <input disabled type="checkbox" name="like[read]" title="课后作业">
                        }
                    }




                </div>
            </div>

            <h4 style="text-align:center;">批注</h4>
            <hr />
            <p style="text-align:center;">
                @Model.Notes
            </p>
        </form>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>

    <script>

        layui.use(['form', 'layer'], function () {

            var form = layui.form;
            var layer = layui.layer;

        });


    </script>

</body>
</html>
