
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StuHomeWorkSubmission</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    
    <style>
        .homeworkstatus span {
            color:red;
        }
        .layui-timeline .layui-timeline-item {
            float: left;
        }
        .a {
            background: #0bfefb;
        }
        hr {
            width: 100%;
            z-index: 11;
            background: url(//fanyi.bdstatic.com/static/translation/img/header/colorbar_623c2a2.png) center no-repeat;
            background-image: url(//fanyi.bdstatic.com/static/translation/img/header/colorbar_623c2a2.png);
            background-position-x: center;
            background-position-y: center;
            background-size: initial;
            background-repeat-x: no-repeat;
            background-repeat-y: no-repeat;
            background-attachment: initial;
            background-origin: initial;
            background-clip: initial;
            background-color: initial;
            position: relative;
        }

        #test2 {
          
            width:300px;
            display:inline-block;
            margin-top: 10px;
        }
        .layui-laydate-header {
            width:100% !important;
        }
        #layui-laydate1 {
            width: 100% !important;
        }
    </style>
</head>
<body>
    <div>

        <input type="hidden" id="studentnumber" value="@ViewBag.studentnumber" />
        <hr />
        <span id="testView"></span>
        <div id="test2" style="display:inline-block;">


        </div>

        <div style="display:inline-block">

           

        </div>

       
        <hr />
        <div>
            <ul class="layui-timeline" id="timeline"></ul>
        </div>



        <hr />

        @*<div style="width:800px;height:500px;" id="container"></div>*@


        @*<div style="display:inline-block">
            <canvas id="chart" height="400" width="600" style="margin:50px"> 你的浏览器不支持HTML5 canvas </canvas>
        </div>

        <div style="display:inline-block">
            <canvas id="chart1" height="400" width="600" style="margin:50px"> 你的浏览器不支持HTML5 canvas </canvas>
        </div>*@


       
    </div>

    <script type="text/template" id="muban1">

        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title"><a href="javascript:void(0);" style="cursor:pointer;" HomeWorkid="{{=ID}}" id="detail">{{=realaseDate}}</a></h3>
                <ul>
                    <li class="homeworkstatus">上机作业:<span>{{=ClassroomHomeWorkStatus}}</span></li>
                    <li class="homeworkstatus">课后作业:<span>{{=AfterClassHomeWorkStatus}}</span></li>
                    <li>我的批注</li>
                </ul>
                <p style="width:200px;">
                    {{=Notes}}

                </p>

            </div>
        </li>


    </script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Areas/Teaching/Scripts/Ajax.js"></script>
    <script src="~/Areas/Teaching/Scripts/util.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script>

       
        //var chartData = [["2017/01", 10], ["2017/02", 6], ["2017/03", 100], ["2017/04", 200], ["2017/05", 350], ["2017/06", 600]];

        //goChart(chartData, "chart");


        //var chartData = [["2017/01", 10], ["2017/02", 300], ["2017/03", 100], ["2017/04", 200], ["2017/05", 350], ["2017/06", 600]];

        //goChart(chartData, "chart1");
        function LoadDateLine(studentnumber, dateMonth) {



            $("#timeline").html("");

            Ajax('/Teaching/Class/GetStuHomeWorkStatus', { studentnumber: studentnumber, Month: dateMonth }, 'post', function (data) {


                console.log(data);
                if (data.ErrorCode == 200) {


                    if (data.Data.length > 0) {

                        for (var i = 0; i < data.Data.length; i++) {

                            var muban1 = _.template($("#muban1").html());

                            ///Date(1566748800000)/
                            var temp1 = data.Data[i].ReleaseDate;
                            var temp2 = temp1.substr(6, 13);

                            var date = new Date(parseInt(temp2));

                            var year = date.getFullYear();
                            var month = date.getMonth() + 1;
                            var day = date.getDate();

                            
                            var muban1data = muban1({ realaseDate: year + '-' + month + '-' + day, ClassroomHomeWorkStatus: data.Data[i].ClassroomHomeWork, AfterClassHomeWorkStatus: data.Data[i].AfterClassHomeWork, Notes: data.Data[i].Notes, ID: data.Data[i].ID});

                            $("#timeline").append($(muban1data));

                        }
                    }

                }


            }, function (error) {



            });

        }

        layui.use(['layer','laydate'], function () {

            var layer = layui.layer;
            var laydate = layui.laydate;

            laydate.render({
                elem: '#test2'
                , position: 'static'
                , change: function (value, date) { //监听日期被切换
                    LoadDateLine(studentnumber, value);
                }
            });

            $(".layui-laydate-content").remove();

            $()

            //获取学员编号
            var studentnumber = $("#studentnumber").val();

            var date = new Date();

            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();

            LoadDateLine(studentnumber, year + '-' + month + '-' + day);



         

            $(document).off("click", "#detail").on('click', '#detail', function () {

              


                var homeworkid = $(this).attr("HomeWorkid");


                layer.open({
                    title: "详细",
                    type: 2,
                    area: ["500px", "500px;"],
                    content: "/Teaching/Class/GetStuHomeWorkDetail/" + homeworkid


                });
            });


        });






    </script>

  
   
</body>
</html>
