<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>湖南硅谷高科软件学员信息化</title>
    <style>

        .outer-container {
            height: 661px;
            position: relative;
            overflow: hidden;
        }

        .inner-container {
            position: absolute;
            left: -8px;
            top: 0;
            right: -15px;
            bottom: 0;
            overflow-y: auto;
            overflow-x: hidden;
        }
    </style>
    <!-- Bootstrap Styles-->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />


    @*<link href="~/Scripts/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>



    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Tree/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <!-- Graph CSS -->
    <link href="~/Tree/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/Tree/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <script src="~/Tree/js/jquery-1.10.2.min.js"></script>
    <script src="~/Tree/js/amcharts.js"></script>
    <script src="~/Tree/js/serial.js"></script>
    <script src="~/Tree/js/light.js"></script>
    <script src="~/Tree/js/radar.js"></script>
    <link href="~/Tree/css/barChart.css" rel='stylesheet' type='text/css' />
    <link href="~/Tree/css/fabochart.css" rel='stylesheet' type='text/css' />
    @RenderSection("style", false)
    @RenderSection("script", false);

    <link href="~/Tree/css/style.css" rel='stylesheet' type='text/css' />
</head>
<body scroll="no">
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content" style="margin-top:-24px;">
            <div class="inner-content">
                <!-- header-starts -->
                <div class="header-section">
                    <!--menu-right-->
                    <div class="top_menu">
                        <div class="main-search">
                            <form>
                                <input type="text" value="Search" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search';}" class="text" />
                                <input type="submit" value="">
                            </form>
                            <div class="close"><img src="images/cross.png" /></div>
                        </div>
                        <div class="srch"></div>
                        <script type="text/javascript">
                            $('.main-search').hide();
                            $('button').click(function () {
                                $('.main-search').show();
                                $('.main-search text').focus();
                            }
                            );
                            $('.close').click(function () {
                                $('.main-search').hide();
                            });
                        </script>
                        <!--/profile_details-->
                        <div class="profile_details_left">
                            <ul class="nofitications-dropdown">
                                <li class="dropdown note dra-down">
                                    <div id="dd" class="wrapper-dropdown-3" tabindex="1">
                                        <span>Italy</span>
                                        <ul class="dropdown">
                                            <li><a class="deutsch">France</a></li>
                                            <li><a class="english"> Italy</a></li>
                                            <li><a class="espana">Brazil</a></li>
                                            <li><a class="russian">Usa</a></li>

                                        </ul>
                                    </div>
                                    <script type="text/javascript">

                                        function DropDown(el) {
                                            this.dd = el;
                                            this.placeholder = this.dd.children('span');
                                            this.opts = this.dd.find('ul.dropdown > li');
                                            this.val = '';
                                            this.index = -1;
                                            this.initEvents();
                                        }
                                        DropDown.prototype = {
                                            initEvents: function () {
                                                var obj = this;

                                                obj.dd.on('click', function (event) {
                                                    $(this).toggleClass('active');
                                                    return false;
                                                });

                                                obj.opts.on('click', function () {
                                                    var opt = $(this);
                                                    obj.val = opt.text();
                                                    obj.index = opt.index();
                                                    obj.placeholder.text(obj.val);
                                                });
                                            },
                                            getValue: function () {
                                                return this.val;
                                            },
                                            getIndex: function () {
                                                return this.index;
                                            }
                                        }

                                        $(function () {

                                            var dd = new DropDown($('#dd'));

                                            $(document).click(function () {
                                                // all dropdowns
                                                $('.wrapper-dropdown-3').removeClass('active');
                                            });

                                        });

                                    </script>
                                </li>
                                <li class="dropdown note">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope-o"></i> <span class="badge">3</span></a>


                                    <ul class="dropdown-menu two first">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have 3 new messages  </h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="user_img"><img src="images/1.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li class="odd">
                                            <a href="#">
                                                <div class="user_img"><img src="images/in.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet </p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="user_img"><img src="images/in1.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet </p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">See all messages</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown note">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell-o"></i> <span class="badge">5</span></a>

                                    <ul class="dropdown-menu two">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have 5 new notification</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="user_img"><img src="images/in.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li class="odd">
                                            <a href="#">
                                                <div class="user_img"><img src="images/in5.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet </p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="user_img"><img src="images/in8.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet </p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">See all notification</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown note">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="badge blue1">9</span></a>
                                    <ul class="dropdown-menu two">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have 9 pending task</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">Database update</span><span class="percentage">40%</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="progress progress-striped active">
                                                    <div class="bar yellow" style="width:40%;"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
                                                    <div class="clearfix"></div>
                                                </div>

                                                <div class="progress progress-striped active">
                                                    <div class="bar green" style="width:90%;"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">Mobile App</span><span class="percentage">33%</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="progress progress-striped active">
                                                    <div class="bar red" style="width: 33%;"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="progress progress-striped active">
                                                    <div class="bar  blue" style="width: 80%;"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">See all pending task</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                        <div class="clearfix" style="height:60px;"></div>
                        <!--//profile_details-->
                    </div>
                    <!--//menu-right-->
                    <div class="clearfix"></div>
                </div>
                <!-- //header-ends -->
                <div class="outter-wp" style="overflow:hidden;">

                    @RenderBody()
                </div>
                <!--footer section start-->
                <footer>
                    <p style="color:#000000;">版权所属公司：<a href="https://xin.baidu.com/company_detail_20452183185658?rq=ef&pd=ee&from=ps" title="湖南硅谷云教育科技有限公司">湖南硅谷云教育科技有限公司</a>  <a href="http://www.beian.miit.gov.cn/" target="_blank" title="湘ICP备17003047号-3">湘ICP备17003047号-3</a></p>
                </footer>
                <!--footer section end-->
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->
        <div class="sidebar-menu">
            <header class="logo">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="index.html">
                    <span id="logo"> <h1 style="font-size:23pt;">信息化系统</h1></span>
                    <!--<img id="logo" src="" alt="Logo"/>-->
                </a>
            </header>
            <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
            <!--/down-->
            <div class="down">
                <a href="#"><img id="Image" style="width:100px;height:100px;" /></a>
                <a href="#"><span class=" name-caret" id="EmpName"></span></a>
                <p id="EmployeeId"</p>

                <ul>
                    <li><a class="tooltips" href="#" id="EmpClass"><span style="color:aqua">信息更改</span><i class="lnr lnr-user"></i></a></li>
                    <li><a class="tooltips" href="#"><span style="color:aqua">开发中</span><i class="lnr lnr-cog"></i></a></li>
                    <li><a class="tooltips" id="logins"><span style="color:aqua">退出登录</span><i class="lnr lnr-power-switch"></i></a></li>
                </ul>
            </div>
            <!--//down-->
            <div>     </div>
            <div class="outer-container">
                <div class="inner-container">
                    <div class="menu " style="width:230px;">

                        <ul id="menu"></ul>
                    </div>
                </div>
            </div>


        </div>
        <div class="clearfix"></div>
    </div>

    <script>
        //$("#menu").scroll(function () {
        //    console.log("a");
        //    //overflow-x:auto;
        //});
        var toggle = true;
        var contai = 0;
        $(".sidebar-icon").click(function () {
            if (toggle) {
                contai++;
                $("#menu").attr("style", "width:65px;")
                $(".outer-container").attr("style", "height:850px;")
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({ "position": "absolute" });


            }
            else {
                contai = 0;
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function () {
                    $("#menu span").css({ "position": "relative" });

                    $("#menu").attr("style", "width:230px;")
                    $(".outer-container").attr("style", "height:661px;")
                }, 400);

            }

            toggle = !toggle;
        });
        $("#button1").click(function () {
            $("#menu").css("overflow", "auto");
        })


    </script>

</body>

</html>

<script type="text/javascript">
    layui.use(['table', 'layer', 'tree', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        empdate();
        $("#EmpClass").click(function () {
            layer.open({
                title: "信息更新",
                type: 2,
                area: ['500px', '550px']
                , content: "/Personnelmatters/EmployeesInfo/EditEmpAttr/" + $("#EmployeeId").text()
                , end: function () { empdate();}
                , anim: 1,
                //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });
        })
        $("#logins").click(function () {
            location.replace("/Login/LoginIndex");
          //  window.location.href = "/Login/LoginIndex?act=logout";
        });
       
        function empdate() {
            $.post('/Base_SysManage/Base_SysMenu/UserClass', function (data) {

                //~/uploadXLSXfile/EmpImage/1.jpg
                $("#EmployeeId").text(data.EmployeeId);
                $("#EmpName").text(data.EmpName);
                $("#Image").attr("src", "/uploadXLSXfile/EmpImage/" + data.Image)
            });
        }

    });
   
    //UserClass
  
    var MenuData;
    $.get('/Base_SysManage/Base_SysMenu/LoadMenus', function (data) {

        MenuData = data;
        //console.log(MenuData);
        //调用加载菜单函数
        loadMenus();

    });
    /**<li>
                        <a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li> */

    //加载菜单
    var index = 1;
    function loadMenus() {
        console.log(MenuData);
        var menu = $("#menu");
        for (var i = 0; i < MenuData.length; i++) {

            if (MenuData[i].IsShow == true) {
                var li = $('<li id="menu-comunicacao"></li>');
              
                    var a = ('<a href="#"><i class="fa ' + MenuData[i].Icon + '"></i> <span>' + MenuData[i].Name + '</span><span class="fa fa-angle-double-right" style="float: right"></span></a>')
                
                li.append(a);
                menu.append(li);
                loadSonMenu(MenuData[i].SubMenus, li);
            }
           
        }
       
    }

    //scroll

    $("#menu").on({
        mouseover: function () {
            $(".outer-container").css("width", "4000px");
          //  $(".outer-container").attr("style", "width:960px;")

        },
        mouseout: function () {
            if (contai > 0) {
                $(".outer-container").css("width", "64px");
            } else {
                $(".outer-container").css("width", "230px");
            }
          
            //$(".outer-container").attr("style", "width:222px;")
        }
    });
    function loadSonMenu(Menu, html) {
       
        if (Menu.length != null) {
            var ul = $('<ul id="menu-comunicacao-sub" ></ul>');
            for (var i = 0; i < Menu.length; i++) {
                if (Menu[i].IsShow == true) {
                    if (Menu[i].Url) {

                        var li1 = $('<li id="menu-mensagens"  style="width:150px"></li>');
                        var a1 = $('<a  href=' + Menu[i].Url + '>' + Menu[i].Name + '</a>')

                        li1.append(a1);
                        ul.append(li1);

                    }
                    else {

                        var li = $('<li id="menu-mensagens"  style="width:150px"></li>');
                        var a = $('<a href="#">' + Menu[i].Name + ' <i class="fa fa-angle-right" style="float: right; margin-right: -8px; margin-top: 2px;"></i></a>');

                        li.append(a);
                        ul.append(li);
                        loadSonMenu(Menu[i].SubMenus, li);
                    }


                }
             
                 
            }
           
            //console.log(ul);
            html.append(ul);
            
        }
    }

   
</script>
