
@{
    Layout = null;
}
@model SiliconValley.InformationSystem.Entity.ViewEntity.RecruitPhoneTraceView
@using SiliconValley.InformationSystem.Entity.ViewEntity;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddTrack</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>

    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover {
                background-color: aqua;
            }

        #Nation {
            width: 100px;
        }

        .linu {
            height: 120px;
        }
    </style>

</head>
<body>
    <div>
        <form class="layui-form" action="" lay-filter="formtest">
            <div class="layui-container">
                <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
                <input type="hidden" id="SonId" name="SonId" />
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">姓名:</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" id="Name" class="layui-input" style="border:0px" readonly="readonly">
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">应聘部门:</label>
                        <div class="layui-input-block">
                            <input type="text" name="Dname" id="Dname" class="layui-input" style="border:0px" readonly="readonly">

                        </div>
                    </div>
                </div>

                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">应聘岗位:</label>
                        <div class="layui-input-block">
                            <input type="hidden" name="Pid" id="Pid" />
                            <input type="text" name="Pname" id="Pname" class="layui-input" style="border:0px" readonly="readonly">
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">预面试时间:</label>
                        <div class="layui-input-block">
                            <input type="text" name="ForwardDate" id="ForwardDate" class="layui-input" style="border:0px" readonly="readonly">
                        </div>
                    </div>
                  
                </div>

                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">面试次数:</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" readonly="readonly" style="border:0px" value="@ViewBag.Number" />
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">面试时间:</label>
                        <div class="layui-input-block">
                            <input type="text" name="TraceTime1" id="TraceTime1" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">面试结果:</label>
                        <div class="layui-input-block">
                            <input type="radio" name="PhoneCommunicateResult1" value="False" title="未通过" checked>
                            <input type="radio" name="PhoneCommunicateResult1" value="True" title="通过">
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">备注:</label>
                        <div class="layui-input-block">
                            <input type="text" name="Remark1" id="Remark1" class="layui-input linu">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" style="margin-top:50px;">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1" style="margin-left:120px;">立即提交</button>
                    <button class="layui-btn " id="btnclose1">关闭</button>
                </div>
            </div>
        </form>
    </div>


    <script>
        $(function () {
            loadnetinfo();// 初始化编辑数据加载
        });
        function loadnetinfo() {
            var id = $("#Id").val();
            $.get("/Personnelmatters/RecruitingDataSummary/GetRPTById/" + id, function (data) {
                layui.use(['layer', 'form', 'table'], function () {
                    var form = layui.form;
                    data.TraceTime = changeDateTimeFormat(data.TraceTime);
                    data.ForwardDate = changeDateTimeFormat(data.ForwardDate);
                    form.val("formtest", data);

                });
            })
        }

        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            //日期验证
            laydate.render({
                elem: '#TraceTime1',
                type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss'
            });
            //添加提交
            form.on('submit(demo1)', function (data) {
                data.field.TraceTime = $("#TraceTime1").val();
                console.log(data.field.PhoneCommunicateResult1 );
                data.field.PhoneCommunicateResult = data.field.PhoneCommunicateResult1 ;
                data.field.Remark = $("#Remark1").val();
                $.post("/Personnelmatters/RecruitingDataSummary/AddTrack", data.field, function (data) {
                    if (data.Success) {
                        layer.alert("添加成功!", { icon: 1 }, function () {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layui.table.reload('myrptData');
                            parent.layer.close(index);

                        });
                    } else {
                        layer.alert("添加失败!");
                    }
                });
                return false;
            });


            //关闭添加页面
            $("#btnclose1").click(function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });

        });


        //显示具体年月日时分秒的时间
        function changeDateTimeFormat(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute + ":" + ss;
            } else {
                return "";
            }
        }
    </script>

</body>
</html>
