
@{
    ViewBag.Title = "RecruitIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        <li class="layui-this">招聘追踪记录</li>
        <li>月度招聘数据汇总</li>
    </ul>

    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table id="rptTab" lay-filter="test2"></table>
            @*头部工具栏*@
            <script type="text/html" id="toolbarDemo2">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="addRPT"><i class="layui-icon layui-icon-addition"></i>添加招聘追踪数据</button>
                </div>
            </script>
            @*操作栏*@
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            </script>
        </div>
        <div class="layui-tab-item">
            <form class="layui-form" action="" lay-filter="formtest">
                <div class="layui-row layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width:100px;margin-left:-20px;">部门:</label>
                        <div class="layui-input-inline">
                            <select name="deptid" id="deptid" style="width:130px;" lay-filter="deptidfilter" lay-search="">
                            </select>

                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" style="width:100px;">岗位</label>
                        <div class="layui-input-block">
                            <select name="Pid" id="Pid" lay-filter="pidfilter">
                                <option value="">请选择应聘的岗位</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" style="width:100px;">年月份：</label>
                        <div class="layui-inline" style="margin-left:-50px;">
                            <label class="layui-form-label">从：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="start_time" name="start_time" placeholder="yyyy-MM" lay-verify="start_time" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline" style="margin-left:-50px;">
                            <label class="layui-form-label">至：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="end_time" name="start_time" placeholder="yyyy-MM" lay-verify="end_time" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <button class="layui-btn" type="button" id="Conditionselect" style="margin-left:40px;"><i class="layui-icon layui-icon-search"></i>查询</button>
                </div>
            </form>

            <table id="recruitTab" lay-filter="test3"></table>

        </div>

    </div>
</div>

@*招聘电话追踪记录的是否入职属性*@
<script type="text/html" id="switchTp2">
    <input type="checkbox" name="IsEntry" value="{{d.Id}}" lay-skin="switch" lay-text="是|否" lay-filter="entryDemo" {{ d.IsEntry == true ? 'checked' : '' }}>
</script>
@*招聘电话追踪记录的是否面试属性*@
<script type="text/html" id="switchTp3">
    <input type="checkbox" name="IsInterview" value="{{d.Id}}" lay-skin="switch" lay-text="是|否" lay-filter="IsInterviewDemo" {{ d.IsInterview == true ? 'checked' : '' }}>
</script>

@*复试结果*@
<script type="text/html" id="result">
    {{# if(d.RetestResult == "-1"){ }}
    {{ d.RetestResult = "" }}
    {{# } else { }}
    {{ d.RetestResult = d.RetestResult }}
    {{# } }}
</script>

@section script{
    <script>

        //招聘电话追踪数据
        layui.use(['table', 'layer', 'form', 'laydate', 'element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;
            table.render({
                elem: '#rptTab'
                , url: '/Personnelmatters/RecruitingDataSummary/GetTraceData'
                , id: "myrptData"
                , toolbar: '#toolbarDemo2'
                , limits: [1, 3, 6, 9, 12, 15, 18]
                , limit: 6
                , cols: [[
                      { field: 'Name', title: '姓名', sort: true, width: 90 }
                    , { field: 'pname', title: '应聘岗位', sort: true, width: 120 }
                    , { field: 'PhoneNumber', title: '手机号', width: 96, sort: true }
                    , { field: 'TraceTime', title: '联系时间', width: 108, sort: true, templet: function (d) { return GetYMD(d.TraceTime); } }
                    , { field: 'Channel', title: '渠道', width: 95, sort: true }
                    , { field: 'ResumeType', title: '简历类型', sort: true, width: 110 }
                    , { field: 'PhoneCommunicateResult', title: '联系结果', width: 120 }
                    //, { field: 'FirstInterviewDate', title: '初试日期', width: 100, templet: function (d) { return GetYMD(d.FirstInterviewDate); } }
                    //, { field: 'IsInterview', title: '是否面试', width: 100, templet: '#switchTp3', unresize: true }
                    //, { field: 'FirstInterviewResult', title: '初试结果', width: 100 }
                    //, { field: 'RetestDate', title: '复试日期', width: 100, templet: function (d) { return GetYMD(d.RetestDate); } }
                    //, { field: 'RetestResult', title: '复试结果', width: 100, templet: '#result' }
                    //, { field: 'OfferGiveTime', title: 'offer时间', width: 100, templet: function (d) { return changeDateTimeFormat(d.OfferGiveTime); } }
                    //, { field: 'PlanEntryTime', title: '预计入职时间', width: 120, templet: function (d) { return GetYMD(d.PlanEntryTime); } }
                    , { field: 'IsEntry', title: '是否入职', width: 100, templet: '#switchTp2', unresize: true }
                    , { field: 'Remark', title: '备注', sort: true, width: 90 }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                ]]
                , page: true
            });

            //头工具栏事件
            table.on('toolbar(test2)', function (obj) {
                //var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'addRPT':
                        AddRPT();
                        break;
                };
            });

            //工具栏事件
            table.on('tool(test2)', function (obj) {
                var data = obj.data;
                switch (obj.event) {
                    case 'edit':
                        EditTrace(data.Id);
                        break;
                };
            });

            //监听是否入职操作
            form.on('switch(entryDemo)', function (obj) {
                var id = this.value;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: "/Personnelmatters/RecruitingDataSummary/EditRptIsentry",
                    data: { id: id, isdel: obj.elem.checked },
                    success: function (data) {
                        // layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
                        layui.table.reload('myRecruitData');
                    }
                });
            });

            //监听是否面试操作
            form.on('switch(IsInterviewDemo)', function (obj) {
                var id = this.value;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: "/Personnelmatters/RecruitingDataSummary/EditRptIsInterview",
                    data: { id: id, isdel: obj.elem.checked },
                    success: function (data) {
                        // layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
                        layui.table.reload('myRecruitData');
                    }
                });
            });

        });

        //月度招聘数据汇总
        layui.use(['table', 'layer', 'form', 'laydate', 'element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;

            table.render({
                elem: '#recruitTab'
                , url: '/Personnelmatters/RecruitingDataSummary/GetRecruitData'
                , id: "myRecruitData"
                , toolbar: '#toolbarDemo3'
                , limits: [1, 3, 6, 9, 12, 15, 18]
                , limit: 6
                , cols: [[
                    , { field: 'YearAndMonth', title: '月份', sort: true, width: 82, templet: function (d) { return GetYearAndMonth(d.YearAndMonth); } }
                    , { field: 'pname', title: '岗位', width: 100, sort: true }
                    , { field: 'PlanRecruitNum', title: '计划招聘人数', width: 115, edit: 'text' }
                    , { field: 'ResumeSum', title: '简历总数', width: 100 }
                    , { field: 'OutboundCallSum', title: '电话呼出总数', width: 115 }
                    , { field: 'InstantInviteSum', title: '当月邀约总数', width: 115 }
                    , { field: 'InstantToFacesSum', title: '当月到面总数', width: 115 }
                    , { field: 'InstantRetestSum', title: '当月复试总数', width: 115 }
                    , { field: 'InstantRetestPassSum', title: '当月复试通过总数', width: 145 }
                    , { field: 'InstantEntryNum', title: '当月入职人数', width: 115 }
                    , { field: 'InstantToFacesRate', title: '当月到面率', width: 105 }
                    , { field: 'InstantInviteRate', title: '当月邀约率', width: 105 }
                    , { field: 'InstantRetestPassrate', title: '当月复试通过率', width: 130 }
                    , { field: 'EntryRate', title: '入职率', width: 90 }
                    , { field: 'RecruitPercentage', title: '招聘完成率', width: 105 }
                    , { field: 'Remark', title: '备注', width: 150, edit: 'text' }

                ]]
                , page: true
            });

            //监听单元格编辑
            table.on('edit(test3)', function (obj) {
                var value = obj.value //得到修改后的值
                    , data = obj.data //得到所在行所有键值
                    , field = obj.field; //得到字段
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: "/Personnelmatters/RecruitingDataSummary/EditTableCell",
                    data: { id: data.Id, attribute: field, endvalue: value },
                    success: function (data) {
                        console.log("单元格结果：" + data);
                        if (data.Success) {
                            //  layer.msg('[ID: ' + data.EmployeeId + '] ' + field + ' 字段更改为：' + value);
                            layui.table.reload('myRecruitData');
                        } else {
                            layer.msg("修改失败!");
                        }
                    }
                });

            });

            //动态绑定岗位属性的下拉框的值
            $.ajax({
                url: '/Personnelmatters/RecruitingDataSummary/BindPidSelect',
                dataType: 'json',
                type: 'get',
                success: function (data) {
                    console.log(data.data);
                    $.each(data.data, function (index, item) {
                        $('#Pid').append(new Option(item.PositionName, item.Pid));// 下拉菜单里添加元素
                    });
                    layui.form.render("select");
                    //重新渲染 固定写法
                }
            });

            //模糊查询点击事件
            $("#Conditionselect").click(function () {
                var deptid = $("#deptid").val();
                var pname = $("#Pid").val();//员工所属岗位
                var start_time = $("#start_time").val();//起始时间
                var end_time = $("#end_time").val();//终止时间

                layui.use(['table'], function () {
                    var table = layui.table;
                    table.reload('myRecruitData', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }, where: {
                            AppCondition: deptid + "," + pname + "," + start_time + "," + end_time
                        }
                    });
                });



            });
            //日期
            var startTime = laydate.render({
                elem: '#start_time',
                format: 'yyyy-MM',
                done: function (value, date) {
                    endTime.config.min = {
                        year: date.year,
                        month: date.month - 1//关键
                        //date: date.date,
                        //hours: date.hours,
                        //minutes: date.minutes,
                        //seconds: date.seconds
                    }
                }
            });
            var endTime = laydate.render({
                elem: '#end_time',
                format: 'yyyy-MM',
                done: function (value, date) {
                    startTime.config.max = {
                        year: date.year,
                        month: date.month - 1//关键
                        //date: date.date,
                        //hours: date.hours,
                        //minutes: date.minutes,
                        //seconds: date.seconds
                    }
                }
            });

        });


        //添加招聘电话追踪记录
        function AddRPT() {
            layui.use(['layer'], function (args) {
                var layer = layui.layer;      //layui对象
                layer.open({
                    type: 2
                    , area: ["1000px", "700px"]
                    , title: "添加招聘电话追踪信息"
                    , content: '/Personnelmatters/RecruitingDataSummary/Addrpt'
                    , anim: 2
                });

            })
        }

        //编辑电话追踪表
        function EditTrace(id) {
            layui.use(['layer'], function (args) {
                var layer = layui.layer;      //layui对象
                layer.open({
                    type: 2
                    , area: ["1000px", "700px"]
                    , title: "编辑招聘电话追踪数据"
                    , content: '/Personnelmatters/RecruitingDataSummary/Editrpt?id=' + id
                    , anim: 2
                });

            })
        }

        //格式化时间
        //只显示年月
        function GetYearAndMonth(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month;
            } else {
                return "";
            }
        }
        //显示年月日
        function GetYMD(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate;
            } else {
                return "";
            }
        }
        //年月日时分秒都显示
        function changeDateTimeFormat(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute + ":" + ss;
            } else {
                return "";
            }
        }
    </script>

    @*部门与岗位的下拉框动态赋值及下拉框二级联动*@
    <script>
        layui.use(['form', 'upload', 'layer'], function () {
            var form = layui.form;
            $.ajax({
                url: '/Personnelmatters/EmployeesInfo/BindDeptSelect',
                data: {},
                dataType: "json",
                success: function (resultData) {
                    $("#deptid").empty();
                    if (resultData.code == 0) {
                        $("#deptid").append(new Option("请选择部门", ""));
                        $.each(resultData.data, function (index, item) {
                            $("#deptid").append(new Option(item.DeptName, item.DeptId));
                        });
                    } else {
                        $("#deptid").append(new Option("暂无数据", ""));
                    }
                    layui.form.render("select");
                }
            });

            //级联子项目
            //select 监听
            form.on('select(deptidfilter)', function (data) {
                var value = data.value;  //select选中的值
                $.ajax({
                    url: "/Personnelmatters/EmployeesInfo/BindPositionSelect",
                    data: { deptid: value },
                    dataType: "json",
                    success: function (resultData) {
                        if (resultData.code == 0) {
                            //清空赋值
                            $("#Pid").empty();
                            $("#Pid").append(new Option("请选择岗位", ""));

                            $.each(resultData.data, function (index, item) {
                                //赋值
                                $("#Pid").append(new Option(item.PositionName, item.Pid));
                            });
                        } else {
                            $("#Pid").append(new Option("暂无数据", ""));
                        }
                        layui.form.render("select");
                    }
                });
            })
            layui.form.render("select");

        });


    </script>



}

