
@{
    ViewBag.Title = "RecruitIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        <li class="layui-this">月度招聘数据汇总</li>
        <li>招聘追踪记录</li>
        <li>人才需求计划</li>

    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">默认宽度是相对于父元素100%适应的，你也可以固定宽度。</div>
        <div class="layui-tab-item">2</div>
        <div class="layui-tab-item">2</div>

    </div>
</div>

@section script{
    <script>
        layui.use(['table', 'layer', 'form', 'laydate','element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;


        });
    </script>

}

