
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoodEvningSelfStudyView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div style="margin-top:40px;width:90%;margin-left:auto;margin-right:auto">
        <form class="layui-form">
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                    <label class="layui-form-label">阶 &nbsp;&nbsp;&nbsp;&nbsp; 段:</label>
                    <div class="layui-input-block">

                        @{
                            List<SelectListItem> list = ViewBag.grlist as List<SelectListItem>;
                            foreach (var item in list)
                            {
                                <input name="glist" class="layui-col-xs3" type="checkbox" value="@item.Value" title="@item.Text" />
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                    <label class="layui-form-label">安排类型:</label>
                    <div class="layui-input-block">
                        <input type="radio"   name="type" title="安排一天晚自习" value="one" lay-filter="typeradio"/>
                        <input type="radio"   name="type" title="安排一周晚自习" value="two" lay-filter="typeradio"/>
                    </div>
                </div>

            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11">
                    <label class="layui-form-label">安排日期:</label>
                    <div id="DateDiv" class="layui-input-block">
                        
                    </div>
                </div>

            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="text-align:center;margin-top:50px">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="Anpai_CBig">确定安排</button>
                    <button type="button" class="layui-btn" onclick="MyClose()">取消关闭</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/Tangmin_CssAndJs/com_js/MyOrther_tangmin.js"></script>
    <script>
        layui.use(['form', 'laydate'], function () {
            var form = layui.form;
            var laydate = layui.laydate;
            
            form.on('radio(typeradio)', function (data) {
 
                $('#DateDiv')[0].innerHTML = "";
                if (data.value == "two") {
                    $('<input id="starTime" name="starTime" class="layui-input" lay-verify="required"/>').appendTo($('#DateDiv'));
                    laydate.render({
                        elem: '#starTime'
                        , theme: 'molv',
                        trigger: 'click'
                        , type: 'date'
                        , range: '到'
                        , format: 'yyyy-MM-dd'
                    });   
                } else {
                    $('<input id="starTime" name="starTime" class="layui-input" lay-verify="required"/>').appendTo($('#DateDiv'));
                    laydate.render({
                        elem: '#starTime'
                        , trigger: 'click'
                    });
                }
            });  
            //监听提交
            form.on('submit(Anpai_CBig)', function (data) {
                var indexss = layer.load(1);
                var check = $("input[name='glist']:checked");
                var checkid_Str = "";
                for (var i = 0; i < check.length; i++) {
                    checkid_Str += $(check[i]).val() + ",";
                }
                var new_data = { "checkid_Str": checkid_Str, "starTime": data.field.starTime };

                var myulr = '/Educational/EvningSelfStudy/GoodEvningSelfStudyFunction';

                if (data.field.starTime.indexOf('到')==-1) {
                    var myulr = '/Educational/EvningSelfStudy/GoodEvningSelftSudyFinciton2';
                }
                $.ajax({
                    url: myulr ,
                    type: 'POST',
                    data: new_data,
                    success: function (sucdata) {
                        layer.close(indexss);
                        if (sucdata.Success == false) {
                            layer.msg('系统错误，请重试！！', { icon: 2 });
                        } else {
                            layer.msg('成功安排！！', { icon: 1, shade: 0.8 }, function () {
                                window.parent.TableFulsh();
                                if (sucdata.Data.length>0) {
                                    //有未安排专业课的班级
                                    var str = '<div class="divCss1">';
                                    for (var i = 0; i < sucdata.Data.length; i++) {
                                        str = str + '<div><div style="margin-top:10px;margin-bottom:10px;"><span>日期:<span style="color:red;">' + TimeChange(sucdata.Data[i].date) + '</span><span></div></div><div><span>未安排晚自习的班级:</span><br/><div style="margin-top:10px;margin-bottom:10px;"><span class="inputCss1 spanCss1">' + sucdata.Data[i].ClassName + '</span></div><div></div>';
                                    }
                                    window.parent.Myopen(str);
                                    MyClose();
                                }
                                 
                            });
                        }
                    }
                });
                return false;
            });
        });

        function MyClose() {
            var layer = layui.layer;
            //当你在iframe页面关闭自身时
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }
    </script>
</body>
</html>
