
@{
    Layout = null;
}
@model SiliconValley.InformationSystem.Entity.MyEntity.ClassSchedule
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddClassSchedule</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <style>
        .widths {
            height: 50px;
          margin-left:100px;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center;height:50px;margin-top:20px;">开设班级</h1>
    <div>
        <form class="layui-form" action="" lay-filter="example">
            <div class="layui-container">
                <fieldset style="margin-top:5px;">

                    <legend>班级信息</legend>


                    <div class="layui-row layui-form-item">
                      
                        <div class="layui-col-xs10 layui-col-sm10 layui-col-md10 widths">
                            <label class="layui-form-label">班级名称</label>
                            <div class="layui-input-inline">
                                @Html.TextBoxFor(a => a.ClassNumber, new Dictionary<string, object>() { { "lay-verify", "required|Name" }, { "placeholder", "请填写班级名称" }, { "class", "layui-input " } })
                            </div>
                            <div style="height:37px;">
                            <input type="text" style="display:none" id="BoolClassName" />
                            <label style="color:red;line-height:37px;display:none;"id="labClassName">班级名称重复</label></div>
                        </div>
                      
                        <div class="layui-col-xs10 layui-col-sm10 layui-col-md10 widths">
                            <label class="layui-form-label">阶段</label>
                            <div class="layui-input-inline">

                                @Html.DropDownListFor(a => a.grade_Id, ViewBag.grade_Id as IEnumerable<SelectListItem>, "----请选择----", new Dictionary<string, object>() { { "lay-verify", "required" },{ "lay-filter", "Stage" } })
                            </div>
                        </div>
                        
                        <div class="layui-col-xs10 layui-col-sm10 layui-col-md10 widths" style="display:none;" id="domes">
                         
                        </div>
                        
                        <div class="layui-col-xs10 layui-col-sm10 layui-col-md10 widths">
                            <label class="layui-form-label">专业课时段</label>
                            <div class="layui-input-inline">
                                @Html.DropDownListFor(a => a.BaseDataEnum_Id, ViewBag.BaseDataEnum_Id as IEnumerable<SelectListItem>, "----请选择----", new Dictionary<string, object>() { { "lay-verify", "required" } })
                            </div>
                        </div>


                    </div>

                </fieldset>

                <div class="layui-row layui-form-item" style="margin-top:40px;">
                    <div class="layui-col-xs10 layui-col-sm10 layui-col-md10" style="text-align:center;">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" type="button" lay-filter="demo1">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
<script type="text/template" id="studenthtml">
    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
        <label class="layui-form-label">专业</label>
        <div class="layui-input-inline">
            @Html.DropDownListFor(a => a.Major_Id, ViewBag.Major_Id as SelectList, "请选择", new Dictionary<string, object>() { { "lay-verify", "required" } })
        </div>
    </div>
</script>
<script src="~/Scripts/underscore.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate', 'layer'], function () {

        var layer = layui.layer;
        var form = layui.form;
        //正则表达式
        form.verify({
            Name: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (!/^[a-zA-Z0-9]{6,10}$/.test(value)) {
                    return '班级名称6-10位组成';
                }

            }
        });
        //这个是专业是否显示
        function Tuition() {
            $($("#domes").children()).remove();
            $("#domes").css("display", "block");
            var templates = _.template($("#studenthtml").html());
            var dates = templates({});
            $("#domes").append($(dates));
            form.render();
        }
        //监听提交
        form.on('submit(demo1)', function (data) {
            //layer.alert(JSON.stringify(data.field), {
            //    title: '最终的提交信息'
            //})
            //return false;
          
            var datas = data.field;
            if ($("#BoolClassName").val()=="") {
                ajaxpost("/Teachingquality/ClassSchedule/AddClassSchedule", datas);
            }
        });
        //正在执行中
        function showLoad() {

            return layer.msg('拼命执行中...', { icon: 16, shade: [0.5, '#f5f5f5'], scrollbar: false, offset: 'auto', time: 100000 });

        }
        //关闭执行中的窗体
        function closeLoad(index) {
            layer.close(index);

        }
        function ajaxpost(url, datae ) {
            $.ajax({
                url: url,
                type: 'POST',
                async: true,
                cache: false,
                timeout: 2000,
                data: datae,
                timeout: 1000,
                beforeSend: function () {//执行中
                    i = showLoad();
                },
                success: function (data) {//执行成功
                    closeLoad(i);
                    if (data.Success == true) {
                        layer.open({
                            type: 1
                            , title: false //不显示标题栏
                            , closeBtn: false
                            , area: '300px;'
                            , shade: 0.8
                            , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                            , btn: ['确认']
                            , btnAlign: 'c'
                            , moveType: 1 //拖拽模式，0或者1
                            , content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + data.Msg+'！！！</div>'

                            , success: function (layero) {

                                var btn = layero.find('.layui-layer-btn');

                                btn.find('.layui-layer-btn0').click(function () {
                                    var index = parent.layer.getFrameIndex(window.name);
                                    parent.layer.close(index);
                                });
                            }

                        });
                    } else {
                       
                        layer.msg(data.Msg, {
                            time: 5000, //20s后自动关闭

                            btn: ['确定']
                        });
                    }
                }
                , error: function (xmlhttprequest, textstatus, message) {
                    closeLoad(i);
                    layer.msg("您的网络出现问题，请稍后再试！！！", {
                        time: 5000, //20s后自动关闭

                        btn: ['确定']
                    });
                }
            });
        }

        function ClassNameCount(id) {
            $.post("/Teachingquality/ClassSchedule/ClassNameCount/" + id, function (da) {
                if (da > 0) {
                    $("#BoolClassName").val("1233");
                    $("#labClassName").css("display", "block");
                } else {
                    $("#BoolClassName").val("");
                    $("#labClassName").css("display", "none");
                }
            })
        }
        //验证专业名称
        $("#ClassNumber").keyup(function () {      // 按键弹起时触发的事件；
            if ($(this).val() != "") {
                ClassNameCount($(this).val());
          
            }

        });

        //监听阶段下拉框
        form.on('select(Stage)', function (data) {
            if ($(this).text() != "S1" && $(this).text() != "Y1") {
                console.log("成功");
                console.log($(this).text());
                Tuition();
            } else {
                console.log("aaa");
                $($("#domes").children()).remove();
                $("#domes").css("display", "none");
            }
        });


    
    });
</script>