
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClassStudent</title>
    <style>
        
        .div{
        width:200px;
        height:200px;
        background-color:aqua;
        }
    </style>
</head>
<body>
    <div style="width:100%;height:200px;border: 1px solid red;text-align:center;line-height:200px;">
        1710NA
    </div>
    <div style="width:100%;border:1px solid red;">

        <div class="div">陈海石</div>
    </div>
</body>
</html>
