
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Entranceexaminationresults</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
    <div>
        <input type="text" value="@ViewBag.ClassID" style="display:none;" id="ClassID" />
    </div>
    @*<form class="layui-form" action="">
        <div class="layui-container">
            <div class="layui-row ">

                <div class="layui-col-xs10">
                    <div class="layui-row layui-form-item">


                        <div class="layui-col-xs6">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="Name" lay-verify="Name" id="Name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-xs6">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="Sex" value="false" title="女">
                                <input type="radio" name="Sex" value="true" title="男">
                                <input type="radio" name="Sex" value="" title="全部" checked="checked">
                            </div>
                        </div>
                        <div class="layui-col-xs6">
                            <label class="layui-form-label">学号</label>
                            <div class="layui-input-inline">
                                <input type="text" lay-verify="number" name="StudentNumber" class="layui-input" />

                            </div>
                        </div>

                        <div class="layui-col-xs6">

                            <label class="layui-form-label">身份证</label>
                            <div class="layui-input-block">
                                <input type="text" lay-verify="identityi" name="identitydocument" class="layui-input linu" />

                            </div>

                        </div>
                        <div style="position:absolute;left:90%;top:20px;">
                            <button class="layui-btn" lay-submit="" type="button" lay-filter="demo2">查询</button>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </form>*@
    <table class="layui-hide" id="test" lay-filter="test"></table>

</body>
</html>
<script>
    layui.use(['table', 'layer', 'tree', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;

        //表格渲染
        table.render({
            elem: '#test'
            , url: '/Teachingquality/ClassSchedule/EntranceexaminationresultsDate?ClassID=' + $("#ClassID").val()
            , toolbar: '#toolbarDemo'
            , id: 'idTest'
            , page: true
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                { type: 'radio' }
                , { field: 'StudentNumber', title: '学号', sort: true }
                , { field: 'StudentName', title: '姓名' }
                , { field: 'identitydocument', title: '身份证 ' }
                , { field: 'Sex', title: '性别 ' }
                , { field: 'OnBoard', title: '机试 ' }
               
                , { field: 'Writtenexamination', title: '笔试 ' }
                , {
                    field: 'OnBoard', title: '总分', templet: function (c) {
                        return c.OnBoard + c.Writtenexamination
                    }
                }
             
            ]]
            , page: true
            , limit: 5
            , limits: [5,8, 10]
        });


        //查看班级学员
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            console.log(data);
            if (layEvent === 'select') { //查看
                window.location.href = '/Teachingquality/ClassSchedule/ClassStudent?ClassNumber=' + data.id;
                console.log(data);
            }

        });
          });

</script>
