
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section style{
        <style>
            .linu {
                width:232px;
            }
            .labels{
                width:100px;
            }
          
        </style>
    }
}@model SiliconValley.InformationSystem.Entity.MyEntity.ClassSchedule
<form class="layui-form" action="">
    <div class="layui-container">
        <div class="layui-row ">

           
            <div class="layui-row layui-form-item" style="width:60%;">


                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="layui-form-label labels">班级名称</label>
                    <div class="layui-input-inline" style="margin-left:10px;">
                        <input type="tel" name="ClassNumber" lay-verify="Name" id="ClassNumber" autocomplete="off" class="layui-input linu">
                    </div>
                </div>

                <div class="layui-col-xs6  layui-col-sm6 layui-col-md6">

                    <label class="layui-form-label labels">专业</label>
                    <div class="layui-input-block">
                        @Html.DropDownListFor(a => a.Major_Id, ViewBag.Major_Id as IEnumerable<SelectListItem>, "----请选择----", new Dictionary<string, object>() { { "class", "layui-input labels" } })

                    </div>

                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">

                    <label class="layui-form-label labels">阶段</label>
                    <div class="layui-input-block">


                        @Html.DropDownListFor(a => a.grade_Id, ViewBag.grade_Id as IEnumerable<SelectListItem>, "----请选择----", new Dictionary<string, object>() { { "class", "layui-input labels" } })

                    </div>

                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">

                    <label class="layui-form-label labels">课时</label>
                    <div class="layui-input-block">
                        @Html.DropDownListFor(a => a.BaseDataEnum_Id, ViewBag.BaseDataEnum_Id as IEnumerable<SelectListItem>, "----请选择----", new Dictionary<string, object>() { { "class", "layui-input labels" } })

                    </div>

                </div>
            </div>
               
                    <div style="position:absolute;left:65%;top:20px;">
                        <button class="layui-btn" lay-submit="" type="button" lay-filter="demo2">查询</button>
                    </div>


                </div>

            </div>
</form>

<table class="layui-hide" id="test" lay-filter="test"></table>
@section script{
    @*头部工具栏*@
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getAdd"><i class="layui-icon">&#xe654;</i>开设班级</button>
            <button class="layui-btn layui-btn-sm" lay-event="get"><i class="layui-icon">&#xe654;</i>班级交接</button>
            <button class="layui-btn layui-btn-sm" lay-event="FindTuition"><i class="layui-icon">&#xe654;</i>升学缴费情况</button>
        </div>
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="select">查看班级学员</a>

    </script>
    <script>
        //时间转换方法
        function TimeChange(newtime) {
            if (newtime == null)
                return "";
            var date = new Date(parseInt(newtime.slice(6)));
            var year = date.getFullYear();
            var month = date.getMonth();
            if (month < 10) {
                month = "0" + (parseInt(month) + 1);
            }
            var day = date.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            var result = year + '-' + month + '-' + day;
            return result;
        }
        

    
        layui.use(['table', 'layer', 'tree', 'form'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;

            //表格渲染
            table.render({
                elem: '#test'
                , url: '/Teachingquality/ClassSchedule/GetDate'
                , toolbar: '#toolbarDemo'
                , id: 'idTest'
                , page: true
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { type: 'radio' }
                    , { field: 'ClassNumber', title: '班级编号', sort: true }
                    , { field: 'grade_Id', title: '阶段' }
                    , { field: 'Major_Id', title: '专业 ' }
                    , { field: 'BaseDataEnum_Id', title: '专业课时段 ' }
                    , { field: 'HeadmasterName', title: '班主任 ' }
                    //, {
                    //    field: 'ClassStatus', title: '班级状态', templet: function (c) {
                    //        if (c.ClassStatus == false) {
                    //            return "正常";
                    //        } else { return "禁用"; }
                    //    }
                    //}
                    , { field: 'stuclasss', title: '班级人数 ' }
                    , { field: 'IsBool', title: '状态 ' }
                 
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 100 }
                ]]
                , page: true
                , limit: 8
                , limits: [8, 10, 15]
            });
            //查看班级学员
            table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象
                console.log(data);
                if (layEvent === 'select') { //查看
                    window.location.href = '/Teachingquality/ClassSchedule/ClassStudent?ClassNumber=' + data.id;
                    console.log(data);
                }

            });
            //开设班级
            function Registeredtrainees(name, id) {

                layer.open({
                    title: name,
                    type: 2,
                    area: ['600px', '550px']
                    , content: "/Teachingquality/ClassSchedule/AddClassSchedule?id=" + id
                    , end: function () { table.reload('idTest'); select(); }
                    , anim: 1,
                    //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                });
            }
            //监听头部工具栏
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getAdd':
                        var a = "开设班级";
                        Registeredtrainees(a);
                        break;
                    case 'FindTuition':
                        console.log(checkStatus.data);
                        if (checkStatus.data.length > 0) {

                            var id = checkStatus.data[0].ClassNumber;

                            window.location = "/Teachingquality/ClassSchedule/FindTuition/" + id;
                        } else {
                            layer.alert('请选择一条数据', { icon: 0 });
                        }

                        break;
                    


                };
            });
            
            //查询功能
            form.on('submit(demo2)', function (data) {

                var x = data.field;
                if (x.ClassNumber == "" && x.Major_Id == "" && x.grade_Id == "" && x.BaseDataEnum_Id=="") {
                    layer.msg("至少选择一个查询", {
                        time: 5000, //20s后自动关闭
                        btn: ['确定']
                    });
                } else {
                    table.reload('idTest', {
                    where: {
                        ClassNumber: x.ClassNumber,
                        Major_Id: x.Major_Id,
                        grade_Id: x.grade_Id,
                        BaseDataEnum_Id: x.BaseDataEnum_Id
                    }, page: {
                        curr: 1
                    }
                });
                }
              
               
                return false;
            });

          

        });



    </script>

}
