@model SiliconValley.InformationSystem.Entity.ViewEntity.DetailedcostView
@{
    ViewBag.Title = "Studententrancefee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{

}
<form class="layui-form" action="">
    <div class="layui-container">
        <div class="layui-row ">
            <div class="layui-row layui-form-item" >
                <div class="layui-col-xs4  layui-col-sm4 layui-col-md4" style="margin-left:-40px;">

                    <label class="layui-form-label labels">姓名</label>
                    <div class="layui-input-inline">
                     @Html.TextBoxFor(a=>a.Name, new Dictionary<string, object>() { { "class", "layui-input" } })
                    </div>

                </div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                    <label class="layui-form-label labels">学号</label>
                    <div class="layui-input-inline">
                        @Html.TextBoxFor(a => a.Stidentid, new Dictionary<string, object>() { { "class", "layui-input" } })
                    </div>
                </div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                    <label class="layui-form-label labels">阶段</label>
                    <div class="layui-input-inline">
                        @Html.DropDownListFor(a => a.StagesID, ViewBag.Stages as IEnumerable<SelectListItem>, "----请选择----", new Dictionary<string, object>() { { "class", "layui-input labels" } })
                    </div>
                </div>
            </div>
            <div style="position:absolute;left:90%;top:1px;">
                <button class="layui-btn" lay-submit="" type="button" lay-filter="demo2">查询</button>
            </div>


        </div>

    </div>
</form>


<table class="layui-hide" id="test" lay-filter="test"></table>
@section script{
    <script>
        layui.use(['table', 'layer', 'tree', 'form'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;

            //表格渲染
            table.render({
                elem: '#test'
                , url: '/Teachingquality/ClassSchedule/Tuitionfeeforentrancestudy?ClassID='+'@Html.Raw(ViewBag.ClassID)'
                , toolbar: '#toolbarDemo'
                , id: 'idTest'
                , page: true
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { type: 'radio' }
                    , { field: 'ClassName', title: '班级', sort: true }
                    , { field: 'Name', title: '姓名' }
                    , { field: 'Stidentid', title: '学号 ' }
                    , { field: 'Sex', title: '性别 ' }
                    , { field: 'HeadmasterName', title: '班主任 ' }
                    , { field: 'Phone', title: '电话 ' }
                    , { field: 'CurrentStageID', title: '阶段 ' }
                    , { field: 'Amountofmoney', title: '已交 ' }
                    , { field: 'ShouldJiao', title: '应交 ' }
                    , { field: 'Surplus', title: '欠费 ' }
                  
                ]]
                , page: true
                , limit: 8
                , limits: [8, 10, 15]
            });


      
            //查询功能
            form.on('submit(demo2)', function (data) {
                var x = data.field;
                console.log(x);
                //if (x.ClassNumber == "" && x.Major_Id == "" && x.grade_Id == "" && x.BaseDataEnum_Id == "" && x.ClassstatusID=="") {
                //    layer.msg("至少选择一个查询", {
                //        time: 5000, //20s后自动关闭
                //        btn: ['确定']
                //    });
                //} else {
                table.reload('idTest', {
                    where: {
                        Stidentid: x.Stidentid,
                        Name: x.Name,
                        StagesID: x.StagesID,
                      }, page: {
                        curr: 1
                    }
                });
                return false;
            });
        });

    </script>
}
