<!DOCTYPE html>
<html id="all">
<head>
    <META http-equiv=Content-Type content="text/html; charset=utf-8">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link rel='stylesheet' type='text/css' href='http://tools.oschina.net/js/syntaxhighlighter_3.0.83/styles/shCoreDefault.css' />
    <link href="~/Areas/Teachingquality/Styles/demo.css" rel="stylesheet" />
    <script src="~/Areas/Teachingquality/js/Tdrag.js"></script>
    <title></title>


</head>

<body>
    <div>11111</div>
</body>
</html>
<script>
    window.onload = function () {
        var oDiv = document.getElementsByTagName("div")[0];

        /*鼠标点击的位置距离DIV左边的距离 */
        var disX = 0;
        /*鼠标点击的位置距离DIV顶部的距离*/
        var disY = 0;
        oDiv.onmousedown = function () {
            var e = e || window.event;
            disX = e.clientX - oDiv.offsetLeft;
            disY = e.clientY - oDiv.offsetTop;

            document.onmousemove = function (e) {
                var e = e || window.event;
                // 横轴坐标
                var leftX = e.clientX - disX;
                // 纵轴坐标
                var topY = e.clientY - disY;

                if (leftX < 0) {
                    leftX = 0;
                }
                /* 获取浏览器视口大小 document.document.documentElement.clientWidth*/
                else if (leftX > document.documentElement.clientWidth - oDiv.offsetWidth) {
                    leftX = document.document.documentElement.clientWidth - oDiv.offsetWidth;
                }

                if (topY < 0) {
                    topY = 0;
                }
                else if (topY > document.documentElement.clientHeight - oDiv.offsetHeight) {
                    topY = document.documentElement.clientHeight - oDiv.offsetHeight;
                }
                oDiv.style.left = leftX + "px";
                oDiv.style.top = topY + "px";
            }
            document.onmouseup = function () {
                document.onmousemove = null;
                document.onmouseup = null;
            }
        }
    }


   
</script>