<!DOCTYPE html>
<html id="all">
<head>
    <META http-equiv=Content-Type content="text/html; charset=utf-8">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link rel='stylesheet' type='text/css' href='http://tools.oschina.net/js/syntaxhighlighter_3.0.83/styles/shCoreDefault.css' />
    <link href="~/Areas/Teachingquality/Styles/demo.css" rel="stylesheet" />
    <script src="~/Areas/Teachingquality/js/Tdrag.js"></script>
    <title></title>
    <style>

        .one {
            width: 300px;
            height: 200px;
            overflow: hidden;
        }

        .two {
            width: 318px;
            height: 200px;
            overflow-y: scroll;
        }

        .three {
            width: 300px;
        }
    </style>

</head>

<body>
    <div class="one">

        <div class="two">

            <ul class="three">

                <li>22222</li>

                <li>33333</li>

                <li>44444</li>

                <li>55555</li>

                <li>66666</li>

                <li>77777</li>
                <li>33333</li>

                <li>44444</li>

                <li>55555</li>

                <li>66666</li>

                <li>77777</li>
                <li>33333</li>

                <li>44444</li>

                <li>55555</li>

                <li>66666</li>

                <li>77777</li>
                <li>33333</li>

                <li>44444</li>

                <li>55555</li>

                <li>66666</li>

                <li>77777</li>
                <li>33333</li>

                <li>44444222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222</li>

                <li>66666</li>

                <li>55555</li>

                <li>66666</li>

                <li>77777</li>
                <li>33333</li>

                <li>44444</li>

                <li>55555</li>

                <li>66666</li>

                <li>77777</li>
            </ul>

        </div>

    </div>

   



</body>
</html>
<script>
  
   
</script>