
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addMenu</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <style>
        #url {
            display:none;
        }
    </style>
</head>
<body>
    <div>
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">菜单名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="menuname" lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">是否为最后一级：</label>
                    <div class="layui-input-block">
                        <input lay-filter="IsLast" type="radio" name="IsLast" value="是" title="是">
                        <input lay-filter="IsLast" type="radio" name="IsLast" value="不是" title="不是" checked="">
                    </div>
                </div>

                <div id="url" class="layui-inline">
                    <label class="layui-form-label">url：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="url"  class="layui-input">
                    </div>
                </div>

            </div>
            <button class="layui-btn layui-btn-primary"  lay-submit lay-filter="add" type="button">添加</button>
        </form>


    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>

    <script>
        layui.use(['form', 'layer'], function () {
            var form = layui.form;
            var layer = layui.layer;

            var perdata;
            
           
            form.on('radio(IsLast)', function (data) {
               
                console.log(data.value); //被点击的radio的value值


                if (data.value == "是") {

                    //显示url
                    $("#url").css("display", "block");

                    window.parent.layerW(function () {

                        var per = window.parent.getper();

                        if (per != null) {
                            perdata = per;
                        }

                    }); 

                }
                else {
                    $("#url").css("display", "none");
                }
            });

            form.on('submit(add)', function (data) {

                

                console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                var  permissss = "";
                var url = "";
                if (data.field.IsLast == "是") {
                    permissss = perdata.field;

                    url = data.field.url
                    //判断是否选中了权限
                    if (perdata == undefined) {

                        layer.msg("请选择权限", { icon: 2 });

                        return
                    }

                }

                //获取负极接电
                var parentNode = window.parent.selectNode;
                var parentName = "";
               
                if (parentNode != undefined) {
                    parentName = parentNode.title;
                }

                $.post("/BaseSysManage/Base_Permission/addMenu", { MenuName: data.field.menuname, ParentMenu: parentName, url: url, permiss: permissss}, function (result) {

                    if (result == "1") {
                        layer.msg("创建成功", {icon:1});
                    }

                });


                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

        });
    </script>
</body>
</html>
