
@{
    ViewBag.Title = "ConsultTeacherIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SiliconValley.InformationSystem.Entity.ViewEntity

@section style{
    <style type="text/css">
        #show
        {
            position: relative;
            margin: 20px auto;
            width: 800px;  
        }

        .item
        {
            position: absolute;
            height: 80px;
            width: 120px;
            background: #999999;
            border: 1px solid #eeeeee;
            cursor: pointer;
        }
    </style>
}
<input id="l" type="button" value="left" class="layui-btn">
<input id="r" type="button" value="right" class="layui-btn">

<div id="show">
    @{
        foreach (T_ConsultTeacherData item in ViewBag.data as List<T_ConsultTeacherData>)
        {
            <div class="item">

             @item.EmpName
            </div>            
        }
    }

</div>
@section script{
    <script type="text/javascript">
        var len;
        var showerObj;
        var listObj;
        var showerWidth = 800;//设置最外面框的宽度
        var showerHeight = 400;//设置最外面框的高度
        var r;
        var cR = 0;
        var ccR = 0;
        var timer = 0;
        window.onload = function () {
            showerObj = document.getElementById("show");//获取最外面的Div
            listObj = showerObj.getElementsByTagName("div");//拿到所有的要旋转的Div
            len = listObj.length;//获取要旋转的Div个数
            r = Math.PI / 180 * 360 / len;//Math.PI=3.14---这里应该是拿到圆的半经
            for (var i = 0; i < len; i++) {
                var item = listObj[i];//循环拿旋转的Div
                item.style.top = showerHeight / 2 + Math.sin(r * i) * showerWidth / 2 - 20 + "px";//设置样式
                item.style.left = showerWidth / 2 + Math.cos(r * i) * showerWidth / 2 - 30 + "px";
                item.rotate = (r * i + 2 * Math.PI) % (2 * Math.PI);//旋转方式

                item.onclick = function () {
                    cR = Math.PI / 2 - this.rotate;//居中
                    timer || (timer = setInterval(rotate, 20));
                }//当Div被点击时居中

            }
            var rX = showerObj.offsetLeft + showerWidth / 2;
            var ry = showerObj.offsetTop + showerHeight / 2;

            var rotate = function () {
                ccR = (ccR + 2 * Math.PI) % (2 * Math.PI);
                if (cR - ccR < 0) cR = cR + 2 * Math.PI;
                if (cR - ccR < Math.PI) {
                    ccR = ccR + (cR - ccR) / 19;
                } else {
                    ccR = ccR - (2 * Math.PI + ccR - cR) / 19;

                }

                if (Math.abs((cR + 2 * Math.PI) % (2 * Math.PI) - (ccR + 2 * Math.PI) % (2 * Math.PI)) < Math.PI / 720) {
                    ccR = cR;
                    clearInterval(timer);
                    timer = 0;
                }

                for (var i = 0; i < len; i++) {
                    var item = listObj[i];
                    var w, h;
                    var sinR = Math.sin(r * i + ccR);
                    var cosR = Math.cos(r * i + ccR);
                    w = 120 + 0.6 * 60 * sinR;
                    h = (80 + 0.6 * 40 * sinR);
                    item.style.cssText += ";width:" + w + "px;height:" + h + "px;top:" + parseInt(showerHeight / 2 + sinR * showerWidth / 2 / 3 - w / 2) + "px;left:" + parseInt(showerWidth / 2 + cosR * showerWidth / 2 - h / 2) + "px;z-index:" + parseInt(showerHeight / 2 + sinR * showerWidth / 2 / 3 - w / 2) + ";";

                }
            }

            document.getElementById("l").onclick = function () {
                cR = (cR + r + 2 * Math.PI) % (2 * Math.PI);
                timer || (timer = setInterval(rotate, 10));
            }
            document.getElementById("r").onclick = function () {
                cR = (cR - r + 2 * Math.PI) % (2 * Math.PI);
                timer || (timer = setInterval(rotate, 10));
            }
            rotate();
        }
    </script>
}

