
@{
    ViewBag.Title = "ConsultTeacherIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SiliconValley.InformationSystem.Entity.ViewEntity

@section style{
    <style type="text/css">
        #show
        {
            position: relative;
            margin-top: 20px auto;
            width: 800px;
        }

        .item
        {
            position: absolute;
            height: 80px;
            width: 120px;
            border: 1px solid #eeeeee;
            cursor: pointer;
            text-align:center
        }
        .divMyCss
        {
            width: 1000px;
            margin:100px auto;

        }
        body .demo-class .layui-layer-title
        {
            background: #ffd800;
            color: #fff;
            border:none;
        }
        .spanCssone{
        font-size:25px;
        font-family:STSong
        }
        .demo-class .layui-layer-btn a
        {
            background: #ffd800;
            color: #fff;
            border: none;
        }
        body .demo-class2 .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }
        li
        {
            text-align: center;
            border-bottom: 1px solid #009688
        }
        li:hover{
        cursor:pointer;
        }
    </style>
}
@*<input id="l" type="button" value="left" class="layui-btn">
<input id="r" type="button" value="right" class="layui-btn">*@
 
    <div style=" width:500px; display:inline-block;">
        <!-- Single button -->
        <label>咨询师：</label>
        <div class="btn-group layui-container layui-form" style="width:120px;">
            <div class="dropdown">
                <button  class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     --请选择-- 
                    <span class="caret"></span>
                </button>
                <ul id="Myul" class="dropdown-menu" aria-labelledby="dropdownMenu1" value="6">
                    @{
                        foreach (T_ConsultTeacherData item2 in ViewBag.data as List<T_ConsultTeacherData>)
                        {
                            <li myid="@item2.Id">@item2.EmpName</li>
                        }
                    }
                </ul>
            </div>
        </div>
        <button id="serchBtn1" class="layui-btn layui-btn-radius layui-btn-primary">查询</button>
        <input type="hidden" name="Myinput" id="Myinput"/>
        <hr />
    </div>
 
<div class="divMyCss">
    <div id="show">
        @{
            foreach (T_ConsultTeacherData item in ViewBag.data as List<T_ConsultTeacherData>)
            {
        <div class="item" myid="@item.Id">
            @{
                string imge = item.BrainImage;
                if (string.IsNullOrEmpty(imge))
                {
                    imge = "1.jpg";
                }
                <img src="~/uploadXLSXfile/ConsultTeacherImage/@imge"  style="height:80%;width:100%" />
            }

            <span> @item.EmpName</span>
        </div>        
            }
        }
    </div>
</div>
 
@section script{
    <script type="text/javascript">
        function ComHelper(msg) {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.confirm('<span class=spanCssone>'+msg+'</span>',
                    { icon: 3, title: '系统温馨提示', skin: 'demo-class', shade: 0.8},
                    function (index) {
                     
                    layer.close(index);//关闭弹出层
                });
            });            
        }
        var len;
        var showerObj;
        var listObj;
        var showerWidth = 800;//设置最外面框的宽度
        var showerHeight = 400;//设置最外面框的高度
        var r;
        var cR = 0;
        var ccR = 0;
        var timer = 0;
        window.onload = function () {
            showerObj = document.getElementById("show");//获取最外面的Div
            listObj = showerObj.getElementsByTagName("div");//拿到所有的要旋转的Div
            len = listObj.length;//获取要旋转的Div个数
            r = Math.PI / 180 * 360 / len;//Math.PI=3.14---这里应该是拿到圆的半经
            for (var i = 0; i < len; i++) {
                var item = listObj[i];//循环拿旋转的Div
                item.style.top = showerHeight / 2 + Math.sin(r * i) * showerWidth / 2 - 20 + "px";//设置样式
                item.style.left = showerWidth / 2 + Math.cos(r * i) * showerWidth / 2 - 30 + "px";
                item.rotate = (r * i + 2 * Math.PI) % (2 * Math.PI);//旋转方式

                item.onclick = function () {
                    cR = Math.PI / 2 - this.rotate;//居中
                    timer || (timer = setInterval(rotate, 20));                             
                }//当Div被点击时居中

            }
            var rX = showerObj.offsetLeft + showerWidth / 2;
            var ry = showerObj.offsetTop + showerHeight / 2;

            var rotate = function () {
                ccR = (ccR + 2 * Math.PI) % (2 * Math.PI);
                if (cR - ccR < 0) cR = cR + 2 * Math.PI;
                if (cR - ccR < Math.PI) {
                    ccR = ccR + (cR - ccR) / 19;
                } else {
                    ccR = ccR - (2 * Math.PI + ccR - cR) / 19;

                }

                if (Math.abs((cR + 2 * Math.PI) % (2 * Math.PI) - (ccR + 2 * Math.PI) % (2 * Math.PI)) < Math.PI / 720) {
                    ccR = cR;
                    clearInterval(timer);
                    timer = 0;
                }

                for (var i = 0; i < len; i++) {
                    var item = listObj[i];
                    var w, h;
                    var sinR = Math.sin(r * i + ccR);
                    var cosR = Math.cos(r * i + ccR);
                    w = 120 + 0.6 * 60 * sinR;
                    h = (80 + 0.6 * 40 * sinR);//大小设置
                    item.style.cssText += ";width:" + w + "px;height:" + h + "px;top:" + parseInt(showerHeight / 2 + sinR * showerWidth / 2 / 3 - w / 2) + "px;left:" + parseInt(showerWidth / 2 + cosR * showerWidth / 2 - h / 2) + "px;z-index:" + parseInt(showerHeight / 2 + sinR * showerWidth / 2 / 3 - w / 2) + ";";

                }
            }

            //document.getElementById("l").onclick = function () {
            //    cR = (cR + r + 2 * Math.PI) % (2 * Math.PI);
            //    timer || (timer = setInterval(rotate, 10));//往左旋转
            //}
            //document.getElementById("r").onclick = function () {
            //    cR = (cR - r + 2 * Math.PI) % (2 * Math.PI);
            //    timer || (timer = setInterval(rotate, 10));//往右旋转
            //}

            rotate();

            window.setInterval(function () {
                cR = (cR + r + 2 * Math.PI) % (2 * Math.PI);
                timer || (timer = setInterval(rotate, 10));
            }, 2000);
        }
    </script>
    <script>
        $(function () {
            $("#serchBtn1").click(function () {
                //获取Id
                var id = $("#Myinput").val();
                if (id == null || id.length==0) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("请选择咨询师!!!", { icon:2 })
                    });  
                } else {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.open({
                            type: 2,
                            content: '/Market/ConsultTeacher/ConsultTeacherDefalut/' + id
                            , area: ['1000px', '700px'],
                            title: '咨询师详情信息'
                            , shade: 0.8
                            , anim: 4
                            , skin: 'demo-class2'
                        });
                    });  
                }
                           
            });

            //给下拉框注册点击事件
            $("li").click(function () {
                $("#dropdownMenu1")[0].innerText = this.innerText;     
                var id = this.getAttribute("myid");
                $("#Myinput").val(id);
            });

            //给imag注册点击事件
            $(".item").click(function (event) {
               var id=event.currentTarget.getAttribute("myid");
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.confirm('<span class=spanCssone>是否查看详情？</span>',
                        { icon: 3, title: '系统温馨提示', skin: 'demo-class', shade: 0.8 },
                        function (index) {
                            //打开详情页面
                            layer.close(index);//关闭弹出层
                            layer.open({
                                type: 2,
                                content: '/Market/ConsultTeacher/ConsultTeacherDefalut/'+id  
                                , area: ['1000px', '700px'],
                                title: '咨询师详情信息'
                                , shade: 0.8
                                , anim: 4
                                , skin: 'demo-class2'
                            });
                        });
                });   
            });
        });
        //刷新页面
        function Flush() {
            location.reload([true]);  
        }
    </script>
}
