
@{
    Layout = null;
}
@model SiliconValley.InformationSystem.Entity.MyEntity.StudentUnionDepartment

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Department</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <style>
        .width{
           height:100px;
           width:100%;
        }
    </style>
</head>
<body>
    <div>
        <form class="layui-form" action="" lay-filter="example">

            <div class="layui-container">
                <fieldset>


                    <legend>基础信息</legend>


                    <div class="layui-row layui-form-item">


                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                            <label class="layui-form-label">部门名称</label>
                            <div class="layui-input-inline">
                                @Html.TextBoxFor(a => a.Departmentname, new Dictionary<string, object>() { { "placeholder", "请输入部门名称" }, { "lay-verify", "required" }, { "class", "layui-input " } })
                            </div>
                            <div id="name" style="margin-top:7px;color:red; display:none;">该名称已重复</div>
                        </div>
                     
                 
                    </div>

                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            @Html.TextAreaFor(a => a.Remarks, new Dictionary<string, object>() { { "placeholder", "备注" },{ "class", "llayui-textarea width" } })
                        </div>
                    </div>

                </fieldset>

                <div class="layui-row layui-form-item" style="margin-top:20px;">
                    <div class="layui-col-xs10 layui-col-sm10 layui-col-md10" style="text-align:center;">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" type="button" lay-filter="demo1">立即提交</button>



                        </div>
                    </div>

                </div>
            </div>


        </form>
    </div>
</body>
</html>
<script src="~/Areas/Teachingquality/js/MMembersAddjson.js"></script>
<script>
    layui.use(['form', 'layedit', 'layer', 'laydate'], function () {
        var mycount = "";
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        //判断是否用重复部门
        $("#Departmentname").keyup(function (e) {
            if (e.target.value != "") {
                $.post("SelectDepa?Name=" + e.target.value, function (data) {
                    if (data > 0) {
                        mycount="1111"
                        $("#name").css("display", "block")
                    } else {
                        mycount = "";
                        $("#name").css("display", "none")
                    }
                });
            } else {
                $("#name").css("display", "none")
            }
        
         
        }) 
        //   parent.GetPartsItmes(x, c);
        form.on('submit(demo1)', function (datas) {

            console.log(datas.field);
            if (mycount == "") {
                $.post("/Teachingquality/StudentUnion/Department", datas.field, function (data) {
                    console.log(data);
                    if (data == "True") {
                        parent.GetPartsItmes(datas.field.Departmentname);
                        parent.layer.close(parent.layer.index);
                    } else {
                        Errye("网络异常");
                    }

                })
            } else {
                layer.alert('请更换一个部门名称', { icon: 0 });
            }
           
        });
    });
</script>