
@{
    ViewBag.Title = "ApprovalIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset style="width:100%;">
    <legend>审批管理</legend>
    <div class="layui-row layui-form-item" style="margin-left:100px;">

        <div style="width:20%;float:left;" id="positive">
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px; color:white; "></i>
            </div>
            <label class="layui-form-label" style="width:100px;">转正申请</label>
        </div>

        <div style="width:20%;float:left;" id="dimission">
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px; color:white; "></i>
            </div>
            <label class="layui-form-label" style="width:100px;">离职申请</label>
        </div>

        <div style="width:20%;float:left;" id="transferPosition">
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px;  color:white;"></i>
            </div>
            <label class="layui-form-label" style="width:100px;">调岗申请</label>
        </div>

        <div style="width:20%;float:left;" id="Raises">
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px;  color:white;"></i>
            </div>
            <label class="layui-form-label" style="width:100px;">加薪申请</label>
        </div>

        <div style="width:20%;float:left;" id="positive">
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px; color:white; "></i>
            </div>
            <label class="layui-form-label" style="width:100px;">续签申请</label>
        </div>
    </div>

    <div class="layui-row layui-form-item" style="margin-left:100px;">

        <div style="width:20%;float:left;" id="overtime">
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px; color:white; "></i>
            </div>
            <label class="layui-form-label" style="width:100px;">加班申请</label>
        </div>

        <div style="width:20%;float:left;" id="DaysOff">
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px; color:white; "></i>
            </div>
            <label class="layui-form-label" style="width:100px;">调休申请</label>
        </div>

        <div style="width:20%;float:left;" id="AskForLeave">
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px; color:white; "></i>
            </div>
            <label class="layui-form-label" style="width:100px;">请假申请</label>
        </div>

        <div style="width:20%;float:left;">
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px; color:white; "></i>
            </div>
            <label class="layui-form-label" style="width:100px;">出差申请</label>
        </div>

        <div style="width:20%;float:left;">
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px; color:white; "></i>
            </div>
            <label class="layui-form-label" style="width:100px;">外出申请</label>
        </div>

    </div>
</fieldset>
   <script>
       //转正申请
       $("#positive").click(function () {
           layui.use(['layer'], function (args) {
               var layer = layui.layer;      //layui对象
               layer.open({
                   type: 2
                   , area: ["600px", "600px"]
                   , title: "转正申请"
                   , content: '/Personnelmatters/ApprovalManagement/PositiveApply'
                   , anim: 2
               });

           })

       });
       //离职申请
       $("#dimission").click(function () {
           layui.use(['layer'], function (args) {
               var layer = layui.layer;      //layui对象
               layer.open({
                   type: 2
                   , area: ["600px", "500px"]
                   , title: "离职"
                   , content: '/Personnelmatters/ApprovalManagement/DimissionApply'
                   , anim: 2
               });

           })

       });
       //调岗申请
       $("#transferPosition").click(function () {
           layui.use(['layer'], function (args) {
               var layer = layui.layer;      //layui对象
               layer.open({
                   type: 2
                   , area: ["800px", "500px"]
                   , title: "调岗"
                   , content: '/Personnelmatters/ApprovalManagement/TransferPositionApply'
                   , anim: 2
               });

           })
       });
       //加薪申请
       $("#Raises").click(function () {
           layui.use(['layer'], function (args) {
               var layer = layui.layer;      //layui对象
               layer.open({
                   type: 2
                   , area: ["900px", "500px"]
                   , title: "加薪"
                   , content: '/Personnelmatters/ApprovalManagement/RaisesApply'
                   , anim: 2
               });

           })
       });


       //加班申请
       $("#overtime").click(function () {
           layui.use(['layer'], function (args) {
               var layer = layui.layer;      //layui对象
               layer.open({
                   type: 2
                   , area: ["600px", "620px"]
                   , title: "加班"
                   , content: '/Personnelmatters/ApprovalManagement/OvertimeApply'
                   , anim: 2
               });

           })
       });
       //调休申请
       $("#DaysOff").click(function () {
           //当上月有提前调休记录，且还未补班的情况下，不能再申请调休
           var id=@ViewBag.eid;
           $.ajax({
               type: "post",
               url: "/Personnelmatters/ApprovalManagement/CheckIsAllowDaysoff?id=" + id,
               dataType: "json",
               //报错请加入以下三行，则ajax提交无问题
               cache: false,
               processData: false,
               contentType: false,
               success: function (data) {
                   if (data.Success) {
                       layer.alert("您上个月已经有提前调休记录，且未补班，因此不可再提前调休!", { icon: 1 }, function () {
                          
                       });
                   } else {
                       layui.use(['layer'], function (args) {
                           var layer = layui.layer;      //layui对象
                           layer.open({
                               type: 2
                               , area: ["600px", "630px"]
                               , title: "调休"
                               , content: '/Personnelmatters/ApprovalManagement/DaysOffApply'
                               , anim: 2
                           });

                       })
                   }
               }
           });

       });

       //请假申请
       $("#AskForLeave").click(function () {
           layui.use(['layer'], function (args) {
               var layer = layui.layer;      //layui对象
               layer.open({
                   type: 2
                   , area: ["600px", "680px"]
                   , title: "请假申请"
                   , content: '/Personnelmatters/ApprovalManagement/LeaveApply'
                   , anim: 2
               });

           })
       });
   </script>


