
@{
    ViewBag.Title = "ApprovalIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset style="width:100%;">
    <legend>审批管理</legend>
    <div class="layui-row layui-form-item" style="margin-left:100px;">

        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3 " id="positive" >
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px; color:white; "></i>
            </div>
            <label class="layui-form-label" style="width:100px;">转正申请</label>
          
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px; color:white; "></i>
            </div>
            <label class="layui-form-label" style="width:100px;">离职申请</label>
          
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px;  color:white;"></i>
            </div>
            <label class="layui-form-label" style="width:100px;">调岗申请</label>
           
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px;  color:white;"></i>
            </div>
            <label class="layui-form-label" style="width:100px;">调薪申请</label>
            
        </div>
    </div>
    <div class="layui-row layui-form-item" style="margin-left:100px;">
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3 " >
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px; color:white; "></i>
            </div>
            <label class="layui-form-label" style="width:100px;">加班</label>
          

        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3 ">
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px; color:white; "></i>
            </div>
            <label class="layui-form-label" style="width:100px;">请假</label>
            

        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3 " >
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px; color:white; "></i>
            </div>
            <label class="layui-form-label" style="width:100px;">出差</label>
           

        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3 " >
            <div style="width:100px;height:100px;background-color:#47d5b4;">
                <i class="layui-icon layui-icon-form" style="font-size: 100px; color:white; "></i>
            </div>
            <label class="layui-form-label" style="width:100px;">外出</label>
          

        </div>
    </div>
</fieldset>
   <script>
       $("#positive").click(function () {
           layui.use(['layer'], function (args) {
               var layer = layui.layer;      //layui对象
               layer.open({
                   type: 2
                   , area: ["600px", "600px"]
                   , title: "转正"
                   , content: '/Personnelmatters/ApprovalManagement/PositiveApply'
                   , anim: 2
               });

           })

       });
   </script>


