
@{
    ViewBag.Title = "AccountIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section style{
    
    <style>
        #mywarp {
            width:100%;
            
        }
    </style>
    
    }

    <div id="mywarp">

        <div id="searchdiv">
            <form class="layui-form">
                <div class="layui-form-item">


                    <div class="layui-inline" >
                        <label class="layui-form-label">开关</label>
                        <div class="layui-input-inline" style="width:100px;">
                            <input type="checkbox" name="close" lay-skin="switch" lay-text="员工编号|员工名称">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" style="width:100px;">关键字：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="searchcontent"  autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        
                        <div class="layui-input-inline">
                            <button type="button" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="search">查询</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <table class="layui-hide" id="accaountTable" lay-filter="accaountTable"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="createAccount"><i class="layui-icon layui-icon-add-1"></i>创建账号</button>
                <button class="layui-btn layui-btn-sm" lay-event="roleManage"><i class="layui-icon layui-icon-group"></i>角色管理</button>

            </div>
        </script>

    </div>

@section script{
        

    <script>


        function selectEmp(callback) {
            layer.open({
                type: 2,
                area: ["800px", '800px'],
                title: "选择账号所属员工",
                content: '/BaseSysManage/Base_UserRole/selectEmp',
                end: callback
            });
        }

        var empData;

        function setEmpData(emp) {

            empData = emp;
        }

        function getEmpData() {
            return empData
        }

        layui.use(['table','layer','form'], function(){
        
            var table = layui.table;
            var form = layui.form;
            var layer = layui.layer;

            table.render({
                elem: '#accaountTable'
                , url: '/BaseSysManage/Base_UserRole/AccountData'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , id:"accaountTable"
                , title: '用户数据表'
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'UserId', title: '标识', width: 80, fixed: 'left', unresize: true, sort: true }
                    , { field: 'UserName', title: '用户名', width: "30%"}
                    , {
                        field: 'EmpName', title: '所属员工', width: "30%", templet: '<div>{{d.Emp.EmpName}}</div>' }
                    , { field: 'EmployeeId', title: '员工编号', width: "30%", templet: '<div>{{d.Emp.EmployeeId}}</div>' }
                  
                  
                ]]
                , page: true
            });

            ///查询
            form.on('submit(accaountTable)', function (data) {
                console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
                console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
                console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}

               

                if (data.field.close == "on") {

                   

                    table.reload('accaountTable', {
                        url: '/BaseSysManage/Base_UserRole/AccountData',
                        where: {
                            empnumber: data.field.searchcontent,
                            
                        } 
                    });
                }
                else {

                    alert(data.field.searchcontent);
                    
                    table.reload('accaountTable', {
                        url: '/BaseSysManage/Base_UserRole/AccountData',
                        where: {
                            
                            empname: data.field.searchcontent
                        } 
                    });
                }

                


                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });


            //头工具栏事件
            table.on('toolbar(accaountTable)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'createAccount':
                        var data = checkStatus.data;

                        //创建账号

                        layer.open({

                            type: 2,
                            area: ['500px', '600px'],
                            title: "新建账号",
                            content: '/BaseSysManage/Base_UserRole/createAccount',
                            end: function () {

                                //表格重载
                                table.reload("accaountTable");

                            }
                        });
                        
                        break;
                    case 'roleManage':
                        var data = checkStatus.data;

                        if (data.length == 0) {

                            layer.msg('请选择账号！', { icon: 2 }, function () {

                               
                            });

                            return;

                        }

                        //创建账号

                        layer.open({

                            type: 2,
                            area: ['500px', '600px'],
                            title: "账号——角色管理",
                            content: '/BaseSysManage/Base_UserRole/UserRoelManage?userId=' + checkStatus.data[0].UserId,
                            end: function () {

                                //表格重载
                                table.reload("accaountTable");

                            }
                        });

                        break;
                };
            });

        });


    </script>
    }
