
@{
    ViewBag.Title = "RoleIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{

    <style>
        #mywarp {
            width: 100%;
        }
    </style>

}

<div id="mywarp">

    <div id="searchdiv">
        <form class="layui-form">
            <div class="layui-form-item">


                
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:100px;">角色：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="rolename" value=""  class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">

                    <div class="layui-input-inline">
                        <button type="button" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="search">查询</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <table class="layui-hide" id="roleTable" lay-filter="roleTable"></table>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="createRole"><i class="layui-icon layui-icon-add-1"></i>新建角色</button>
            <button class="layui-btn layui-btn-sm" lay-event="menuConfig"><i class="layui-icon layui-icon-set-sm"></i>显示菜单配置</button>
        </div>
    </script>

</div>

@section script{
    

    <script>
        layui.use(['form', 'layer','table'], function () {

            var form = layui.form;
            var layer = layui.layer;
            var table = layui.table;

            table.render({
                elem: '#roleTable'
                , url: '/BaseSysManage/Base_UserRole/RoleData'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , id: "roleTable"
                , title: '角色'
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'RoleId', hide: true, title: '标识', width: 80, fixed: 'left', unresize: true, sort: true }
                    , { field: 'RoleName', title: '角色名称', width: "45%" }
                    , { field: 'BusinessName', title: '业务名称', width: "45%" }
                   

                ]]
                , page: true
            });


            //头工具栏事件
            table.on('toolbar(roleTable)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'createRole':
                        var data = checkStatus.data;

                        //创建角色

                        layer.open({

                            type: 2,
                            area: ['500px', '300px'],
                            title: "新建角色",
                            content: '/BaseSysManage/Base_UserRole/createRole',
                            end: function () {

                                //表格重载
                                table.reload("roleTable");

                            }
                        });

                        break;

                    case 'menuConfig':

                        //角色菜单配置
                        var data = checkStatus.data;

                        if (data.length == 0) {

                            layer.msg('请选择角色！', { icon: 2 }, function () {


                            });

                            return;
                        }

                        layer.open({

                            type: 2,
                            area: ['300px', '800px'],
                            title: "角色_菜单配置",
                            content: '/BaseSysManage/Base_UserRole/RoleUrlPermiss?roleId=' + data[0].RoleId,
                            end: function () {

                                //表格重载
                                table.reload("roleTable");

                            }
                        });

                        break;

                };
            });

            ///查询
            form.on('submit(search)', function (data) {
                console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
                console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
                console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}

                table.reload('roleTable', {
                    url: '/BaseSysManage/Base_UserRole/RoleData',
                        where: {
                            roleName: data.field.rolename,

                        }
                    });

                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

        });
    </script>    
    
}



