
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body>
    <input type="hidden" id="roleId" value="@ViewBag.role.RoleId" />
    <div id="mywarp">
        <div id="mytree"></div>

        <hr />

        <div id="btns" style="text-align:center; ">
            <button class="layui-btn layui-btn-primary"type="button" id="commit">提交</button>

            <button  class="layui-btn layui-btn-primary" id="close" type="button">关闭</button>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>

    <script>
        layui.use(['transfer', 'layer','tree'], function () {
            var tree = layui.tree;
            var transfer = layui.transfer;
            var layer = layui.layer;

           

            function initData() {
                var roleId = $("#roleId").val();

                var loadIndex = layer.load(2, { time: 10 * 1000 });  //加载样式
                $.post("/BaseSysManage/Base_UserRole/RoleUrlPermissData", { roleId: roleId }, function (result) {

                    console.log(result);
                    if (result.ErrorCode == 200) {
                        layer.close(loadIndex);
                        tree.render({
                            elem: '#mytree'
                            , id: "mytree"
                            , data: result.Data
                            , showCheckbox: true  //是否显示复选框

                        });
                    } else {
                        layer.close(loadIndex);

                        layer.msg('服务器异常！', { icon: 2 }, function () {


                        });

                    }
                    

                });
            }

            ///初始化数据
            initData();

            //提交
            $("#commit").click(function () {
               

                layer.confirm('确定变更角色权限?', { icon: 3, title: '提示' }, function (index) {
                    layer.close(index);
                    var loadIndex = layer.load(2, { time: 10 * 1000 });  //加载样式
                    var data = tree.getChecked("mytree");

                    console.log(data);

                    //获取roleid
                    var roleId = $("#roleId").val();

                    $.post("/BaseSysManage/Base_UserRole/SetPermissToRole", { roleId: roleId, permisslist: data }, function (result) {

                        if (result.ErrorCode == 200) {

                            layer.close(loadIndex);

                            layer.msg('设置成功！', { icon: 1 }, function () {

                                //关闭页面
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index);
                            });
                        }
                        else {
                            layer.close(loadIndex);

                            layer.msg('服务器异常！', { icon: 2 }, function () {

                               
                            });

                        }

                    });
                });

             

            });

        });
    </script>
</body>
</html>