
@{
    ViewBag.Title = "SimulatInterviewIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>SimulatInterviewIndex</h2>*@

<style>
    #div1 {
    width:34%;
    float:left;
    /*border:1px solid red;*/
    }
      #div2 {
    width:65%;
    float:right;
    /*border:1px solid red;*/
    }
</style>
<div od="mybody">
    <div id="div1">
        <div id="topdiv">
            <div id="mystudentwhytop">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline" id="mubandiv">
                            <label class="layui-form-label" id="querylable" style="width:120px;">搜索选择框</label>
                            <div class="layui-input-inline" style="width:156px">
                                <select name="modules" id="modules" @*lay-verify="required"*@ lay-filter="select00" lay-search="">
                                    <option value="ing">未毕业</option>
                                    <option value="ed">已毕业</option>
                                </select>
                            </div>
                            <div class="layui-input-inline" style="width:156px">
                                <input type="text" name="name0" @*lay-verify="required"*@ placeholder="请输入班级编号" autocomplete="off" class="layui-input">
                            </div>

                            <button class="layui-btn layui-btn-radius layui-btn-normal layui-btn" lay-submit="" lay-filter="btn0">搜索</button>

                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div id="tablediv">
            <table class="layui-hide" id="table00" lay-filter="table00"></table>
        </div>
    </div>
    <div id="div2">
        <div id="topdiv1">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-inline" id="mubandiv">
                        <label class="layui-form-label" id="querylable">搜索：</label>
                        <div class="layui-input-inline" style="width:156px">
                            <input type="text" name="name1" @*lay-verify="required"*@ placeholder="请输入学生姓名" autocomplete="off" class="layui-input">
                        </div>

                        <button class="layui-btn layui-btn-radius layui-btn-normal layui-btn" lay-submit="" lay-filter="btn1">搜索</button>

                    </div>

                </div>
            </form>
        </div>
        <div id="tablediv1">
            <table class="layui-hide" id="table11" lay-filter="table11"></table>
        </div>
    </div>
</div>
<script type="text/ng-template" id="classmuban">
    <button type="button" class="layui-btn layui-btn-radius myclass {{=style}}">{{=classname}}</button>
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加面试</button>
    </div>
</script>


<script src="~/Scripts/underscore.js"></script>

<script>

    layui.use(['laypage', 'layedit','table','layer','form'], function () {
        //获取设备信息
        var device = layui.device(), table = layui.table, clickclassnumber = '', layer = layui.layer, form = layui.form;
         var type = "ing", classno, classid, studentname, isadd = false;
        
        jQuery(function () {
            reloadtable00();
        });
          //时间转化
        function TimeChange(newtime) {
            if (newtime == null)
                return "";
            var date = new Date(parseInt(newtime.slice(6)));
            var year = date.getFullYear();
            var month = date.getMonth();
            if (month < 10) {
                month = Number(month + 1);
            }
            var day = date.getDate();
            if (day < 10) {
                day = day;
            }
            var result = year + '-' + month + '-' + day;
            return result;
        }
           table.render({
            elem: '#table00'
            //, url: 'sadas' //数据接口
            , page: true //开启分页
            //, skin: 'line' //行边框风格
            //,toolbar: '#toolbarDemo'
            , even: true //开启隔行背景
            , limit: 15
            , limits: [15, 30, 45, 60, 75]
            , cols: [[ //标题栏
                 { field: 'classid', title: 'ID', width: 80, hide: true },
                
                 { field: 'classnumber', title: '班级',width:85 },
                 {
                    field: 'isgraduation', title: 'is毕业',width:85, templet: function (d) {
                        if (d.isgraduation) {
                            return "<span style=color:red;>已毕业</span>"
                        } else {
                            return "<span style=color:green;>未毕业</span>"
                        }

                    }
                },
                { field: 'interviewcount', title: '模拟次数',width:90 },
                { field: 'totalnumber', title: '应模拟人数', width: 100 },
                  { field: 'peoplecount', title: '实际模拟人数',width:115  },
                { field: 'repeatedinterviews', title: '重复次数', width: 90 }
              
            ]]

       });

       function reloadtable00() {
            table.reload('table00', {
                url:'/Obtainemployment/SimulatInterview/SearchData0',
                where: {
                    param0: type,
                    param1:classno
                }
                , done: function (res, curr, count) {
                    console.log(res);
                    if (!isadd) {
                        if (res.data.length>0) {
                            classid = res.data[0].classid;
                            for (var i = 0; i < $("tr").length; i++) {
                                if ($($($($("tr")[i]).children()[0]).children()[0]).text() == classid) {
                                    $("tr").css("background", "");
                                    $($("tr")[i]).css("background", "pink");
                                }
                            }
                        } else {
                            classid = "";
                        }
                       
                    }
                    reloadtable11();
                }
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        }
        //展示已知数据
        table.render({
            elem: '#table11'
            //, url: '' //数据接口
            , page: true //开启分页
            //, skin: 'line' //行边框风格
            , toolbar: '#toolbarDemo'
            , even: true //开启隔行背景
            , limit: 15
            , limits: [15, 30, 45, 60, 75]
            , cols: [[ //标题栏
                { field: 'ID', title: '调研记录ID', width: 80, hide: true }
                , {
                    field: 'StudentName', title: '学生名字', width: 100
                }
                , { field: 'EmpStaffName', title: '记录人', width: 100 }
                , {
                    field: 'knowMyself', title: '自我介绍', width: 100
                }
                , {
                    field: 'ShowAbility', title: '表达能力', width: 100
                }
                , { field: 'PerIntQues', title: '人事面试问题情况', width: 178 }
                , { field: 'Resume', title: '简历背诵', width: 178 }
                , { field: 'ObjectInfo', title: '项目回答情况', width: 178 }
                , { field: 'Pandect', title: '总评', width: 178 }
                , {
                    field: 'AddDate', title: '时间', width: 120, templet: function (d) {
                        return TimeChange(d.AddDate);
                    }
                }

                , { field: 'Remark', title: '备注', width: 165 }
            ]]

        });
        function reloadtable11() {
            table.reload('table11', {
                url: '/Obtainemployment/SimulatInterview/SearchData',
                where: {
                    param0: classid
                }
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        }
       
        form.on('select(select00)', function (data) {
            console.log(data.elem); //得到select原始DOM对象
            console.log(data.value); //得到被选中的值
            console.log(data.othis); //得到美化后的DOM对象
            switch (data.value) {
                case "ed":
                    type = "ed";
                    break;
                case "ing":
                    type = "ing";
                    break;
            }
            isadd = false;
            reloadtable00();
        });
        $(document).off('click', '.myclass').on('click', '.myclass', function (e) {
            $('.myclass').removeClass('layui-btn-warm');
            $(this).addClass('layui-btn-warm');
            clickclassnumber = $(this).text();
            reloadtable();
        });
                //监听行单击事件
        table.on('row(table00)', function (obj) {
            console.log(obj.tr) //得到当前行元素对象
            console.log(obj.data) //得到当前行数据
            //obj.del(); //删除当前行
            //obj.update(fields) //修改当前行数据
            classid = obj.data.classid;
            var mytr = obj.tr[0];
            $("tr").css("background", "");
            $(mytr).css("background", "pink");
            reloadtable11();
        });
        form.on('submit(btn0)', function (data) {
            //console.log(data.field);
            classno = data.field.name0;
            isadd = false;
            reloadtable00();
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        form.on('submit(btn1)', function (data) {
            //console.log(data.field);
            classno = data.field.name0;
            isadd = false;
            reloadtable00();
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
         //头工具栏事件
        table.on('toolbar(table11)', function (obj) {
            switch (obj.event) {
                case 'add':
                    layer.open({
                        type: 2,
                        content: "/Obtainemployment/SimulatInterview/SResearchRecordRegister?param0="+classid,
                        title: "添加面试记录",
                        area: ['690px', '820px'],
                        //area: ['850px', '760px'],
                        success: function (layero, index) {
                            let body = layui.layer.getChildFrame('body', index);
                            body.find("#classnumnber").val(classid);
                        },
                        end: function () {
                            reloadtable00();
                        }
                    });
                    break;
            };
        });

    });
</script>