
@{
    ViewBag.Title = "TimeTableIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SiliconValley.InformationSystem.Entity.ViewEntity
@using SiliconValley.InformationSystem.Entity.MyEntity
@section style{
    <style>
        th
        {
            width: 195px;
            text-align: center;
            border: 1px solid black;
            height: 40px;
        }

        #mytable
        {
            z-index: 3;
        }
        .item{
        cursor:pointer;
        }
        .item2
        {
            cursor: pointer;
        }
        body .demo-class .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }
        .iCss
        {
            cursor: pointer;
        }

        .iCss2
        {
            cursor: pointer;
        }
    </style>
}
<div id="time_div" style="margin-bottom:20px;">
    <form id="reconcile_form" lay-filter="reconcile_form" class="layui-form">
        <div class="layui-row">
            <div class="layui-col-sm3">
                <input class="layui-input" placeholder="日期" id="SelectTime" name="SelectTime" />
            </div>
            <div class="layui-col-sm3" style="margin-left:40px;">
                @{
                    List<BaseDataEnum> list = ViewBag.Addree as List<BaseDataEnum>;
                    int index = 0;
                    foreach (BaseDataEnum i in list)
                    {
                        if (index == 0)
                        {
                            <input name="campus" id="campus" type="radio" value="@i.Id" title="@i.Name" checked/>
                        }
                        else
                        {
                            <input name="campus" id="campus" type="radio" value="@i.Id" title="@i.Name" />
                        }

                    }
                }

            </div>
            <div class="layui-col-sm4" style="margin-left:20px">
                <button type="button" class="layui-btn" onclick="GetKebiao()">获取课表</button>
                <button type="button" class="layui-btn" onclick="SysStudy()">安排自习课</button>
                <button type="button" class="layui-btn" onclick="AnpaiStuyEvning()">阶段安排晚自习</button>
                <button type="button" class="layui-btn" onclick="DeleteStuyEvning()">阶段删除晚自习</button>
            </div>
        </div>
    </form>
</div>
<div id="table_div">

</div>

@section script{
    <script>
        var new_laydate;
        var dayname;
         
        function TableFulsh() {
            GetKebiao();
        }
        //打开编辑排课数据页面
        function SetmyidValue(id) {
            var layer = layui.layer;
            layer.open({
                type: 2,
                content: '/Educational/Reconcile/Edit_rView/' + id,
                area: ['800px', '500px'],
                title: '编辑数据'
                , shade: 0.8
                , anim: 4
                , skin: 'demo-class'
            });
        }
        function SetEvningValue(id) {
            var layer = layui.layer;
            layer.open({
                type: 2,
                content: '/Educational/EvningSelfStudy/UpdateEvning/' + id,
                area: ['800px', '500px'],
                title: '编辑晚自习数据'
                , shade: 0.8
                , anim: 4
                , skin: 'demo-class'
            });
        }
        //转换日期格式
        function TimeFormt(newtime) {
            var date = new Date(newtime);
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();

            return year + "年" + month + "月" + day + "日"
        }

        //判断星期几
        function judgeDate(date) {
            // 标准时间 Wed Jul 31 2019 00:00:00 GMT+0800 (中国标准时间)
            var _date = new Date(date);
            // getDay() 返回表示星期的某一天
            var num = _date.getDay(_date);
            var week;
            switch (num) {
                case 0:
                    week = "星期日";
                    break;
                case 1:
                    week = "星期一";
                    break;
                case 2:
                    week = "星期二"
                    break;
                case 3:
                    week = "星期三"
                    break;
                case 4:
                    week = "星期四"
                    break;
                case 5:
                    week = "星期五"
                    break;
                case 6:
                    week = "星期六"
                    break;
                default:
                    break;
            };
            return week;
        }
        layui.use(['form', 'laydate'], function () {
            var form = layui.form;
            var laydate = layui.laydate;
            laydate.render({
                elem: '#SelectTime'
                , type: 'date'
                , done: function (value) {
                    new_laydate = TimeFormt(value); //得到日期生成的值，如：2017-08-18
                    dayname = judgeDate(value);
                }
            });
        });
        //获取课表
        function GetKebiao() {
            var layer = layui.layer;
            var formdata = { "SelectTime": $("#SelectTime").val(), "campus": $(":checked").val() };       
            if (formdata.SelectTime.length <= 0) {
                layer.msg('请选择日期!!', { icon: 2, shade: 0.8 });
            } else {
                var index= layer.load(1);
                $.ajax({
                    url: '/Educational/Timetable/GetReconcileData',
                    type: 'POST',
                    data: formdata,
                    success: function (sucdata) {
                        $('#table_div')[0].innerHTML = "";
                        var recon_table = $('<table id="reconclie_table"></table>');
                        $('<thead>< tr style = "text-align:center" > <th colspan="10"><span>' + new_laydate + '</span></th> <th colspan="4"><span>' + dayname + '</span></th></tr ></thead >').appendTo(recon_table);
                        var tr1 = $('<tr></tr>');
                        $('<th >午别</th ><th>课时</th>').appendTo(tr1);
                        for (var i = 0; i < sucdata.tablethead.length; i++) {
                            $('<th>' + sucdata.tablethead[i].Text + '</th>').appendTo(tr1);
                        }
                        tr1.appendTo(recon_table);
                        var tr2 = $('<tr></tr>');
                        $('<th rowspan="4">上午</th ><th rowspan="2">一二节</th>').appendTo(tr2);
                        for (var i = 0; i < sucdata.MymongingOne.length; i++) {
                            if (sucdata.MymongingOne[i].ClassName != null) {
                                $('<th class="item" data-rid= ' + sucdata.MymongingOne[i].R_Id + ' >' + sucdata.MymongingOne[i].ClassName + '</th>').appendTo(tr2);
                            } else {
                                $('<th><i class="layui-icon iCss">&#xe624;</i></th>').appendTo(tr2);
                            }

                        }
                        tr2.appendTo(recon_table);
                        var tr3 = $('<tr></tr>');
                        for (var i = 0; i < sucdata.MymongingOne.length; i++) {
                            if (sucdata.MymongingOne[i].NeiRong != null) {
                                if (sucdata.MymongingOne[i].Teacher == "无" || sucdata.MymongingOne[i].Teacher == null) {
                                    $('<th><span>' + sucdata.MymongingOne[i].NeiRong + '</span><span>').appendTo(tr3);
                                } else {
                                    $('<th><span>' + sucdata.MymongingOne[i].NeiRong + '</span><span>/</span><span>' + sucdata.MymongingOne[i].Teacher + '</span></th>').appendTo(tr3);
                                }
                                
                            } else {
                                $('<th></th>').appendTo(tr3);
                            }
                        }
                        tr3.appendTo(recon_table);
                        var tr4 = $('<tr></tr>');
                        $('<th rowspan="2">三四节</th >').appendTo(tr4);
                        for (var i = 0; i < sucdata.MymongingTwo.length; i++) {
                            if (sucdata.MymongingTwo[i].ClassName != null) {
                                $('<th class="item" data-rid= ' + sucdata.MymongingTwo[i].R_Id + ' >' + sucdata.MymongingTwo[i].ClassName + '</th>').appendTo(tr4);
                            } else {
                                $('<th><i class="layui-icon iCss">&#xe624;</i></th>').appendTo(tr4);
                            }

                        }
                        tr4.appendTo(recon_table);

                        var tr5 = $('<tr></tr>');
                        for (var i = 0; i < sucdata.MymongingTwo.length; i++) {
                            if (sucdata.MymongingTwo[i].NeiRong != null) {
                                if (sucdata.MymongingTwo[i].Teacher == null || sucdata.MymongingTwo[i].Teacher == "无") {
                                    $('<th><span>' + sucdata.MymongingTwo[i].NeiRong + '</span><span>').appendTo(tr5);
                                } else {
                                    $('<th><span>' + sucdata.MymongingTwo[i].NeiRong + '</span><span>/</span><span>' + sucdata.MymongingTwo[i].Teacher + '</span></th>').appendTo(tr5);
                                }
                                 
                            } else {
                                $('<th></th>').appendTo(tr5);
                            }
                        }
                        tr5.appendTo(recon_table);

                        var tr6 = $('<tr></tr>');
                        $('<th rowspan="4">下午</th ><th rowspan="2">一二节</th>').appendTo(tr6);
                        for (var i = 0; i < sucdata.MyafternoonOne.length; i++) {
                            if (sucdata.MyafternoonOne[i].ClassName != null) {
                                $('<th class="item" data-rid= ' + sucdata.MyafternoonOne[i].R_Id + ' >' + sucdata.MyafternoonOne[i].ClassName + '</th>').appendTo(tr6);
                            } else {
                                $('<th><i class="layui-icon iCss">&#xe624;</i></th>').appendTo(tr6);
                            }

                        }
                        tr6.appendTo(recon_table);

                        var tr7 = $('<tr></tr>');
                        for (var i = 0; i < sucdata.MyafternoonOne.length; i++) {
                            if (sucdata.MyafternoonOne[i].NeiRong != null) {
                                if (sucdata.MyafternoonOne[i].Teacher == null || sucdata.MyafternoonOne[i].Teacher == "无") {
                                    $('<th><span>' + sucdata.MyafternoonOne[i].NeiRong + '</span></th>').appendTo(tr7);
                                } else {
                                    $('<th><span>' + sucdata.MyafternoonOne[i].NeiRong + '</span><span>/</span><span>' + sucdata.MyafternoonOne[i].Teacher + '</span></th>').appendTo(tr7);
                                }
                                 
                            } else {
                                $('<th></th>').appendTo(tr7);
                            }

                        }
                        tr7.appendTo(recon_table);

                        var tr8 = $('<tr></tr>');
                        $('<th rowspan="2">三四节</th >').appendTo(tr8);
                        for (var i = 0; i < sucdata.MyafternoonTwo.length; i++) {
                            if (sucdata.MyafternoonTwo[i].ClassName != null) {
                                $('<th class="item" data-rid= ' + sucdata.MyafternoonTwo[i].R_Id + '  >' + sucdata.MyafternoonTwo[i].ClassName + '</th>').appendTo(tr8);
                            } else {
                                $('<th><i class="layui-icon iCss">&#xe624;</i></th>').appendTo(tr8);
                            }

                        }
                        tr8.appendTo(recon_table);

                        var tr9 = $('<tr></tr>');
                        for (var i = 0; i < sucdata.MyafternoonTwo.length; i++) {
                            if (sucdata.MyafternoonTwo[i].NeiRong != null) {
                                if (sucdata.MyafternoonTwo[i].Teacher == null || sucdata.MyafternoonTwo[i].Teacher == "无") {
                                    $('<th><span>' + sucdata.MyafternoonTwo[i].NeiRong + '</span></th>').appendTo(tr9);
                                } else {
                                    $('<th><span>' + sucdata.MyafternoonTwo[i].NeiRong + '</span><span>/</span><span>' + sucdata.MyafternoonTwo[i].Teacher + '</span></th>').appendTo(tr9);
                                }
                                
                            } else {
                                $('<th></th>').appendTo(tr9);
                            }

                        }
                        tr9.appendTo(recon_table);

                        var tr10 = $('<tr></tr>');
                        $('<th rowspan="2">晚自习</th ><th>晚一</th>').appendTo(tr10);

                        for (var i = 0; i < sucdata.MyngintOne.length; i++) {
                            if (sucdata.MyngintOne[i].ClassName != null) {
                                if (sucdata.MyngintOne[i].Teacher == "无" || sucdata.MyngintOne[i].Teacher == null) {
                                    $('<th class="item2" data-rid= ' + sucdata.MyngintOne[i].R_Id + ' > <span>' + sucdata.MyngintOne[i].ClassName + '</span></th>').appendTo(tr10);
                                   
                                } else {
                                    $('<th class="item2" data-rid= ' + sucdata.MyngintOne[i].R_Id + ' > <span>' + sucdata.MyngintOne[i].ClassName + '</span><span>/' + sucdata.MyngintOne[i].Teacher + '</span></th>').appendTo(tr10);
                                }
                                
                            } else {
                                $('<th><i class="layui-icon iCss2">&#xe624;</i></th>').appendTo(tr10);
                            }

                        }

                        tr10.appendTo(recon_table);

                        var tr11 = $('<tr></tr>');
                        $(' <th>晚二</th >').appendTo(tr11);

                        for (var i = 0; i < sucdata.MyngintTwo.length; i++) {
                            if (sucdata.MyngintTwo[i].ClassName != null) {
                                if (sucdata.MyngintTwo[i].Teacher == "无" || sucdata.MyngintTwo[i].Teacher == null) {
                                    $('<th class="item2" data-rid= ' + sucdata.MyngintTwo[i].R_Id + '  ><span>' + sucdata.MyngintTwo[i].ClassName + '</span></th>').appendTo(tr11);
                                } else {
                                    $('<th class="item2" data-rid= ' + sucdata.MyngintTwo[i].R_Id + '  ><span>' + sucdata.MyngintTwo[i].ClassName + '</span><span>/' + sucdata.MyngintTwo[i].Teacher + '</span></th>').appendTo(tr11);
                                }
                                 
                            } else {
                                $('<th><i class="layui-icon iCss2">&#xe624;</i></th>').appendTo(tr11);
                            }

                        }

                        tr11.appendTo(recon_table);

                        recon_table.appendTo($('#table_div'));

                        layer.close(index);
                        //编辑排课数据
                        $(".item").each(function (index, value) {
                            $(value).click(function () {
                                var rid = $(value).attr("data-rid");
                                //询问是否要编辑排课数据
                                layer.confirm('系统温馨提示！', {
                                    btn: ['编辑数据', '删除数据']  
                                    , btn2: function (index, layero) {
                                        //删除
                                       var delconfi=  layer.confirm('真的要删除吗？', function (mixdel) {
                                            var moreindex = layer.load(1);
                                            $.ajax({
                                                url: '/Educational/Reconcile/DeleteMore',
                                                type: 'POST',
                                                data: { "str": rid },
                                                success: function (suc) {
                                                    layer.msg(suc.Msg, function () {
                                                        GetKebiao();
                                                        layer.close(delconfi);
                                                        layer.close(moreindex);
                                                    });
                                                }
                                            });

                                        })
                                        
                                    }
                                }, function (index, layero) {
                                    //编辑
                                    var ifsingle = rid.indexOf(',');
                                    if (ifsingle == -1) {
                                        //alert('只是单个班级');
                                        SetmyidValue(rid);
                                    } else {
                                        layer.open({
                                            type: 2
                                            , title: '多个班级排课数据提示'
                                            , shade: 0.8
                                            , anim: 4
                                            , skin: 'demo-class'
                                            , content: '/Educational/Timetable/TiShiView/' + rid,
                                        });
                                    }
                                    layer.close(index);
                                });
                                 
                            });
                        });
                        //编辑晚自习数据
                        $(".item2").each(function (index, val) {
                            $(val).click(function () {
                                var rid = $(val).attr("data-rid");
                                var leng = rid.indexOf(',');
                                layer.confirm('系统温馨提示！', {
                                    btn: ['编辑数据', '删除数据']  
                                    , btn2: function (index, layero) {
                                       var delindex= layer.confirm('真的要删除吗？', function (mixdel) {
                                            var moreindex = layer.load(1);

                                            $.ajax({
                                                url: '/Educational/EvningSelfStudy/DeleteFunction',
                                                type: 'POST',
                                                data: { "str": rid },
                                                success: function (suc) {
                                                    layer.msg(suc.Msg, function () {
                                                        GetKebiao();
                                                        layer.close(delindex);
                                                        layer.close(moreindex);
                                                    });
                                                }
                                            })
                                        });
                                         
                                    }
                                }, function (index, layero) {
                                    //编辑数据
                                    if (leng == -1) {
                                        //单条数据
                                        SetEvningValue(rid);
                                    } else {
                                        //多条数据
                                        layer.open({
                                            type: 2
                                            , title: '多个班级晚自习数据提示'
                                            , shade: 0.8
                                            , anim: 4
                                            , skin: 'demo-class'
                                            , content: '/Educational/Timetable/TishEvningView/' + rid,
                                        });
                                    }
                                    layer.close(index);

                                });
                                //layer.confirm('需要编辑晚自习数据吗?', { icon: 3 }, function (index) {
                                //    if (leng == -1) {
                                //        //单条数据
                                //        SetEvningValue(rid);
                                //    } else {
                                //        //多条数据
                                //        layer.open({
                                //            type: 2
                                //            , title: '多个班级晚自习数据提示'
                                //            , shade: 0.8
                                //            , anim: 4
                                //            , skin: 'demo-class'
                                //            , content: '/Educational/Timetable/TishEvningView/' + rid,
                                //        });
                                //    }
                                //    layer.close(index);
                                //});

                            });
                        });
                        //添加排课数据
                        $(".iCss").each(function (index, val) {
                            $(val).click(function () {
                                layer.open({
                                    type: 2,
                                    content: '/Educational/Reconcile/ManualReconcileView'
                                    , area: ['1000px', '500px'],
                                    title: '添加排课数据页面'
                                    , shade: 0.8
                                    , anim: 4
                                    , skin: 'demo-class'
                                });
                            });
                        });
                        //添加晚自习排课数据
                        $(".iCss2").each(function (index, val) {
                            $(val).click(function () {
                                layer.open({
                                    type: 2,
                                    content: '/Educational/EvningSelfStudy/AnPaiEvningSelfStudyView',
                                    area: ['700px', '600px'],
                                    title: '晚自习安排页面'
                                    , shade: 0.8
                                    , anim: 4
                                    , skin: 'demo-class'
                                });
                            });
                        });
                    }
                });
            }
           

        }

        function SysStudy() {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.open({
                    type: 2,
                    content: '/Educational/Reconcile/SysView'
                    , area: ['800px', '450px'],
                    title: '系统安排自习课'
                    , shade: 0.8
                    , anim: 4
                    , skin: 'demo-class'
                });
            });
        }

        function AnpaiStuyEvning() {
            layui.use('layer', function () {
                layer.open({
                    type: 2,
                    content: '/Educational/EvningSelfStudy/GoodEvningSelfStudyView',
                    area: ['600px', '450px'],
                    title: '阶段安排晚自习页面'
                    , shade: 0.8
                    , anim: 4
                    , skin: 'demo-class'
                });
            });
             
        }

        function Myopen(str) {
            var layer = layui.layer;
            //示范一个公告层
            layer.open({
                type: 1
                , title: false //不显示标题栏
                , closeBtn: false
                , area: ['600px', '650px']
                , skin: 'layui-layer-demo'
                , shade: 0.8
                , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                , btn: ['知道了']
                , moveType: 1 //拖拽模式，0或者1
                , content: str
            });
        }

        function DeleteStuyEvning() {
            layui.use('layer', function () {
                layer.open({
                    type: 2,
                    content: '/Educational/EvningSelfStudy/DeleteDateView',
                    area: ['600px', '450px'],
                    title: '阶段删除晚自习页面'
                    , shade: 0.8
                    , anim: 4
                    , skin: 'demo-class'
                });  
            });
        }
    </script>
}



