
@{
    ViewBag.Title = "GetGenerateTimetable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SiliconValley.InformationSystem.Entity.ViewEntity
@section style{
    <style>
      th{
      width:195px;
      text-align:center;
      border:1px solid black;
      height:40px;
      }
        #mytable{
        z-index:3;
        }
    </style>
    }
    <div id="time_div" style="margin-bottom:20px;">
        <form id="reconcile_form" lay-filter="reconcile_form" class="layui-form">
            <div class="layui-row">
                <div class="layui-col-sm3">
                    <input class="layui-input" placeholder="日期" id="SelectTime" name="SelectTime" />
                </div>
                <div class="layui-col-sm4" style="margin-left:20px">
                    <button type="button" class="layui-btn" onclick="GetKebiao()">获取课表</button>
                </div>
            </div>
        </form>
        
       
    </div>
    <div id="table_div">
         
    </div>
@section script{
    <script>
        function GetDay(date) {
            // 标准时间 Wed Jul 31 2019 00:00:00 GMT+0800 (中国标准时间)
            var _date = new Date(date);

            // getDay() 返回表示星期的某一天
            var num = _date.getDay(_date),
                week;
            switch (num) {
                case 0:
                    week = "周日";
                    break;
                case 1:
                    week = "周一";
                    break;
                case 2:
                    week = "周二"
                    break;
                case 3:
                    week = "周三"
                    break;
                case 4:
                    week = "周四"
                    break;
                case 5:
                    week = "周五"
                    break;
                case 6:
                    week = "周六"
                    break;
                default:
                    break;
            };
            return week;
        }
        layui.use(['form', 'laydate'], function () {
            var form = layui.form;
            var laydate = layui.laydate;
            laydate.render({
                elem: '#SelectTime'
                , type: 'date'
                , done: function (value, date, endDate) {
                    var dd = new Date(value);
                    var month = Number(dd.getMonth()) + 1;
                    var day = GetDay(value);
                    if (month >= 6 && month <= 9) {
                        //能选择星期六
                        if (day == "周日") {
                            layer.msg('日期不能选择周日', { icon: 2, shade: 0.8 }, function () {
                                laydate.render({
                                    elem: '#SelectTime',
                                    value: "2020-01-01"
                                });
                            });
                        }
                    } else {
                        //不能选择星期六
                        if (day == "周日" || day == "周六") {
                            layer.msg('日期不能选择周六或周日', { icon: 2, shade: 0.8 }, function () {
                                laydate.render({
                                    elem: '#SelectTime',
                                    value: "2020-01-01"
                                });
                            });
                        }
                    }

                }
            });

        });
        function GetKebiao() {
            var time = $("#SelectTime").val();
            $.ajax({
                url: '/Educational/Reconcile/GetReconcileData/' + time,
                success: function (sucdata) {
                    console.log(sucdata);
                    $('#table_div')[0].innerHTML = "";
                    var recon_table = $('<table id="reconclie_table"></table>');
                    $('<thead>< tr style = "text-align:center" > <th colspan="10"><span>2019年11月19号</span></th> <th colspan="4"><span>星期二</span></th></tr ></thead >').appendTo(recon_table);
                    var tr1 = $('<tr></tr>');
                    $('<th >午别</th ><th>课时</th>').appendTo(tr1);
                    for (var i = 0; i < sucdata.tablethead.length; i++) {
                        $('<th>' + sucdata.tablethead[i].Text + '</th>').appendTo(tr1);
                    }
                    tr1.appendTo(recon_table);
                    var tr2 = $('<tr></tr>');
                    $('<th rowspan="4">上午</th ><th rowspan="2">一二节</th>').appendTo(tr2);
                    for (var i = 0; i < sucdata.MymongingOne.length; i++) {
                        if (sucdata.MymongingOne[i].ClassName != null) {
                            $('<th>' + sucdata.MymongingOne[i].ClassName + '</th>').appendTo(tr2);
                        } else {
                            $('<th></th>').appendTo(tr2);
                        }
                         
                    }
                    tr2.appendTo(recon_table);
                    var tr3 = $('<tr></tr>');
                    for (var i = 0; i < sucdata.MymongingOne.length; i++) {
                        if (sucdata.MymongingOne[i].NeiRong != null) {
                            $('<th><span>' + sucdata.MymongingOne[i].NeiRong + '</span><span>/</span><span>' + sucdata.MymongingOne[i].Teacher + '</span></th>').appendTo(tr3);
                        } else {
                            $('<th></th>').appendTo(tr3);
                        }
                    }
                    tr3.appendTo(recon_table);
                    var tr4 = $('<tr></tr>');
                    $('<th rowspan="2">三四节</th >').appendTo(tr4);
                    for (var i = 0; i < sucdata.MymongingTwo.length; i++) {
                        if (sucdata.MymongingTwo[i].ClassName != null) {
                            $('<th>' + sucdata.MymongingTwo[i].ClassName + '</th>').appendTo(tr4);
                        } else {
                            $('<th></th>').appendTo(tr4);
                        }
                         
                    }
                    tr4.appendTo(recon_table);

                    var tr5 = $('<tr></tr>');
                    for (var i = 0; i < sucdata.MymongingTwo.length; i++) {
                        if (sucdata.MymongingTwo[i].NeiRong != null) {
                            $('<th><span>' + sucdata.MymongingTwo[i].NeiRong + '</span><span>/</span><span>' + sucdata.MymongingTwo[i].Teacher + '</span></th>').appendTo(tr5);
                        } else {
                            $('<th></th>').appendTo(tr5);
                        }
                    }
                    tr5.appendTo(recon_table);

                    var tr6 = $('<tr></tr>');
                    $('<th rowspan="4">下午</th ><th rowspan="2">一二节</th>').appendTo(tr6);
                    for (var i = 0; i < sucdata.MyafternoonOne.length; i++) {
                        if (sucdata.MyafternoonOne[i].ClassName != null) {
                            $('<th>' + sucdata.MyafternoonOne[i].ClassName + '</th>').appendTo(tr6);
                        } else {
                            $('<th></th>').appendTo(tr6);
                        }
                         
                    }
                    tr6.appendTo(recon_table);

                    var tr7 = $('<tr></tr>');
                    for (var i = 0; i < sucdata.MyafternoonOne.length; i++) {
                        if (sucdata.MyafternoonOne[i].NeiRong != null) {
                            $('<th><span>' + sucdata.MyafternoonOne[i].NeiRong + '</span><span>/</span><span>' + sucdata.MyafternoonOne[i].Teacher + '</span></th>').appendTo(tr7);
                        } else {
                            $('<th></th>').appendTo(tr7);
                        }
                                
                    }
                    tr7.appendTo(recon_table);

                    var tr8 = $('<tr></tr>');
                    $('<th rowspan="2">三四节</th >').appendTo(tr8);
                    for (var i = 0; i < sucdata.MyafternoonTwo.length; i++) {
                        if (sucdata.MyafternoonTwo[i].ClassName!=null) {
                            $('<th>' + sucdata.MyafternoonTwo[i].ClassName + '</th>').appendTo(tr8);
                        } else {
                            $('<th></th>').appendTo(tr8);
                        }
                         
                    }
                    tr8.appendTo(recon_table);

                    var tr9 = $('<tr></tr>');
                    for (var i = 0; i < sucdata.MyafternoonTwo.length; i++) {
                        if (sucdata.MyafternoonTwo[i].NeiRong != null) {
                            $('<th><span>' + sucdata.MyafternoonTwo[i].NeiRong + '</span><span>/</span><span>' + sucdata.MyafternoonTwo[i].Teacher + '</span></th>').appendTo(tr9);
                        } else {
                            $('<th></th>').appendTo(tr9);
                        }
                         
                    }
                    tr9.appendTo(recon_table);

                    var tr10 = $('<tr></tr>');
                    $('<th rowspan="2">晚自习</th ><th>晚一</th>').appendTo(tr10);

                    for (var i = 0; i < sucdata.MyngintOne.length; i++) {
                        $('<th>' + sucdata.MyngintOne[i].ClassName + '</th>').appendTo(tr10);
                    }

                    tr10.appendTo(recon_table);

                    var tr11 = $('<tr></tr>');
                    $(' <th>晚二</th >').appendTo(tr11);

                    for (var i = 0; i < sucdata.MyngintTwo.length; i++) {
                        $('<th>' + sucdata.MyngintTwo[i].ClassName+'</th>').appendTo(tr11);
                    }

                    tr11.appendTo(recon_table);

                    recon_table.appendTo($('#table_div'));
                }
             });
         }
    </script>
    }

