
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManualReconcileView</title>

    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        #but1
        {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover
            {
                background-color: aqua;
            }

        #Nation
        {
            width: 100px;
        }

        .linu
        {
            width: 200px;
        }

        .mm
        {
            border: 1px solid black;
        }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }

        .layButCss1
        {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            padding: 0 18px;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            border: 0px solid #C9C9C9;
            background-color: #fff;
            color: #555;
            height: 18px;
            line-height: 18px
        }

        .layui-unselect
        {
            width: 200px;
            border-radius: 5px;
        }

        .AreCss1
        {
            width: 97%;
            height: 100px;
        }

        .layui-textarea
        {
            border-radius: 5px;
            border-width: 1px;
            border-style: solid;
            width: 200px;
            min-height: 0px;
            height: 38px;
        }
    </style>
</head>
<body>
    <form class="layui-form" style="margin-top:20px;width:90%;margin-left:auto;margin-right:auto;" lay-filter="manual_form">
        <div class="layui-row layui-form-item">
            <div class="layui-col-x4 layui-col-sm4 layui-col-md4">
                <label class="layui-form-label">阶 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 段:</label>
                <div class="layui-input-block">
                    @Html.DropDownList("childview_grand", ViewBag.Child_grandlist as IEnumerable<SelectListItem>, new Dictionary<string, object> { { "class", "layui-unselect linu" }, { "lay-filter", "childview_grand" } })
                </div>
            </div>
            <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                <label class="layui-form-label">班 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 级:</label>
                <div id="class_childdiv" class="layui-input-block">

                </div>
            </div>
            <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                <label class="layui-form-label">类 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 型:</label>
                <div class="layui-input-block">
                    @Html.DropDownList("childview_Currtype", ViewBag.Child_typelist as IEnumerable<SelectListItem>, new Dictionary<string, object> { { "class", "layui-unselect linu" }, { "lay-filter", "childview_Currtype" } })
                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                <label class="layui-form-label">课程名称:</label>
                <div id="childviewcurr_div" class="layui-input-block">
                    <input class="layui-input linu" type="text" placeholder="课程名称" name="childview_currname" id="childview_currname" />
                </div>
            </div>
            <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                <label class="LableCss1">上课日期:</label>
                <div class="layui-input-block">
                    <input type="text" name="childview_AnpiDate" id="childview_AnpiDate" class="layui-input linu" />
                </div>
            </div>
            <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                <label class="LableCss1">上课时间:</label>
                <div class="layui-input-block">
                    <select id="childview_timetype" lay-filter="childview_timetype" name="childview_timetype">
                        <option value="0">--请选择--</option>
                        <option value="上午12节">上午1/2节</option>
                        <option value="下午12节">下午1/2节</option>
                        <option value="上午34节">上午3/4节</option>
                        <option value="下午34节">下午3/4节</option>
                        <option value="上午">上午4节</option>
                        <option value="下午">下午4节</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                <label class="LableCss1">任课老师:</label>
                <div id="childteacher_div" class="layui-input-block">
                    @Html.DropDownList("childview_teacher", ViewBag.Teacher as List<SelectListItem> ,new Dictionary<string, object>() { { "class", "layui-input linu" } })
                    @*<input class="layui-input linu" type="text" placeholder="任课老师名称" name="childview_teacher" id="childview_teacher" />*@
                </div>
            </div>
            <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                <label class="LableCss1">校 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 区:</label>
                <div class="layui-input-block">
                    @Html.DropDownList("childschooladdress", ViewBag.schooladdress as IEnumerable<SelectListItem>, new Dictionary<string, object> { { "class", "layui-unselect linu" }, { "lay-filter", "childschool" } })
                </div>
            </div>
            <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                <label class="layui-form-label">备 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 注:</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" name="childview_reak" id="childview_reak"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="width:910px">
                <label class="layui-form-label">教 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 室:</label>
                <div class="layui-input-block">
                    <div class="layui-collapse" lay-accordion>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title" style="background-color:rgba(255,255,255,0.2)">教室选择区:</h2>
                            <div class="layui-colla-content" id="childvieroom_div">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item" style="margin-top:60px;">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <div style="width:47%;float:left;text-align:right">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="childview_add">提交</button>
                </div>
                <div style="width:45%;float:left;margin-left:60px">
                    <input type="button" class="layui-btn" value="关闭" onclick="Myclose()" />
                </div>


            </div>
        </div>
    </form>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/Tangmin_CssAndJs/com_js/MyOrther_tangmin.js"></script>
    <script>
        //加载上午下午1234节
        function My_sametime2(num) {
            if (num == 1) {
                $("#childview_timetype option").each(function (index, ele) {
                    $(ele).remove();
                });
            }
            var timetype = $("#childview_timetype");
            $('<option value="0" selected="selected">--请选择--</option>').appendTo(timetype);
            $('<option value="下午12节">上午1/2节</option>').appendTo(timetype);
            $('<option value="下午12节">下午1/2节</option>').appendTo(timetype);
            $('<option value="下午34节">上午3/4节</option>').appendTo(timetype);
            $('<option value="下午34节">下午3/4节</option>').appendTo(timetype);

        }
        function My_sametime(num) {
            if (num == 1) {
                $("#childview_timetype option").each(function (index, ele) {
                    $(ele).remove();
                });
            }
            var timetype = $("#childview_timetype");
            $('<option value="0" selected="selected">--请选择--</option>').appendTo(timetype);
            if (mytimename.length > 0) {
                if (mytimename == "上午") {
                    $('<option value="下午34节">下午3/4节</option>').appendTo(timetype);
                    $('<option value="下午12节">下午1/2节</option>').appendTo(timetype);
                } else {
                    $('<option value="上午12节">上午1/2节</option>').appendTo(timetype);
                    $('<option value="上午34节">上午3/4节</option>').appendTo(timetype);
                }
            }
        }
        //加载上午，下午
        function My_times(num) {
            var timetype = $("#childview_timetype");
            if (num == 1) {
                $("#childview_timetype option").each(function (index, ele) {
                    $(ele).remove();
                });
                $('<option value="0" selected="selected">--请选择--</option>').appendTo(timetype);
            }
            $('<option value="上午">上午</option>').appendTo(timetype);
            $('<option value="下午">下午</option>').appendTo(timetype);
        }
        //指定时间段
        function PostTimesName(name) {
            $("#childview_timetype")[0].innerHTML = "";
            if (mytimename.length > 0) {
                $('<option value=' + name + '>' + name + '</option>').appendTo($("#childview_timetype"));
            }
        }
        var mytimename = "";
        //当课程类型==其他时，加载所有老师
        function SetTeacherValue(layer,form) {
            $("#childteacher_div")[0].innerHTML = "";
            $.ajax({
                url: '/Educational/Reconcile/GetMarjioTeacher',
                type: "POST",
                success: function (succ) {
                    var teacher_child = $('<select id="teacher_child" name="teacher_child" lay-filter="teacher_child"></select>');
                    for (var i = 0; i < succ.length; i++) {
                        $('<option value=' + succ[i].Value + '>' + succ[i].Text + '</option>').appendTo(teacher_child);                        
                    }
                    $("#childteacher_div").append(teacher_child);
                    form.render(); //更新全部
                }
            });   
        }
        layui.use(['form', 'laydate','element'], function () {
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;
            var layer = layui.layer;
            laydate.render({
                elem: '#childview_AnpiDate',
                done: function (value) {
                    //清空教室跟任课老师
                    $("#childvieroom_div")[0].innerHTML = "";
                    $("#childvieroom_div")[0].innerHTML = "";
                    form.val("manual_form", {
                        "childview_timetype": "0"
                    });
                    form.render();
                }
            });
            var classnumber = 0;
            //阶段点击事件(获取班级)
            form.on('select(childview_grand)', function (data) {
                form.val("manual_form", {
                    "childview_Currtype": "0"  , //给课程类型设为初始值(其他)
                    "childschooladdress":"0"
                });
                SetTeacherValue(layer, form);
                $("#childviewcurr_div")[0].innerHTML = "";//将课程div清空
                $('<input class="layui-input linu" type="text" placeholder="课程名称" name="childview_currname" id="childview_currname" />').appendTo($("#childviewcurr_div"));//将输入框添加到课程div中              
                $("#class_childdiv")[0].innerHTML = "";  //如果阶段为“--请选择--”，则清空班级下拉框
                form.render(); //更新全部
                if (data.value != "0") {
                    //根据阶段获取班级列表
                    $.ajax({
                        url: '/Educational/Reconcile/GetClassScheduleSelect/' + data.value,
                        success: function (sudata) {
                            //获取班级slect
                            var child_class = $('<select id="child_class" name="child_class" class="layui-select" lay-filter="class_child"><option value="0" selected>--请选择--</option></select>');
                            for (var i = 0; i < sudata.length; i++) {
                                $('<option value=' + sudata[i].id + '>' + sudata[i].ClassNumber + '<option>').appendTo(child_class);
                            }
                            
                            $("#class_childdiv").append(child_class);
                            form.render(); //更新全部
                        }
                    });
                }
                 
            });
            //上课时间点击事件(任课老师)
            form.on('select(childview_timetype)', function (data) {
                $("#childvieroom_div")[0].innerHTML = "";//教室更新
                var anpaiTime = $("#childview_AnpiDate").val();
                var kengcheng = $("#childview_currname").val();
                if (kengcheng == "0" || kengcheng == undefined || kengcheng == "") {
                    layer.msg('课程不能为空!!!', {}, function () {
                        form.val("manual_form", {
                            "childview_timetype": "0"   //给课程类型设为初始值(其他)
                        });
                    });
                } else if (anpaiTime == "") {
                    layer.msg('上课日期不能为空!!!', {}, function () {
                        form.val("manual_form", {
                            "childview_timetype": "0"   //给课程类型设为初始值(其他)
                        });
                    });
                }
                else {
                    if (data.value == "0") {
                        //清空childview_room
                        $("#childvieroom_div")[0].innerHTML = "";
                        //清空老师
                        $("#childteacher_div")[0].innerHTML = "";
                    } else {                           
                        //通过课程，日期，时间段获取任课老师
                        //获取课程
                        var type = $("#childview_Currtype").val();//获取上课类型
                        var tt = type.substr(0, 2);
                        var curr = $("#childview_currname").val();
                        var mydata2 = { "Time": anpaiTime, "timeName": data.value, "Curr": curr, "class_id": classnumber }
                        if (type != "0") {
                            var indexmy = layer.load(1);
                            if (type == "专业课") {
                                $.ajax({
                                    url: '/Educational/Reconcile/GetTeacher',
                                    data: mydata2,
                                    type: "POST",
                                    success: function (succ) {
                                        $("#childteacher_div")[0].innerHTML = "";
                                        var teacher_child = $('<select id="teacher_child" name="teacher_child" lay-filter="teacher_child"></select>');
                                        for (var i = 0; i < succ.length; i++) {
                                            $('<option value=' + succ[i].Value + '>' + succ[i].Text + '</option>').appendTo(teacher_child);
                                            $("#childteacher_div").append(teacher_child);
                                        }
                                        layer.close(indexmy);
                                        form.render(); //更新全部
                                    }
                                });
                            } else if (tt != "0" && tt != "专业") {
                                //根据其他课程（职素，英语，数学，语文）获取任课老师
                                var Getdata = { "Curr": tt, "Time": anpaiTime, "timeName": data.value, "class_id": classnumber };
                                $.ajax({
                                    url: '/Educational/Reconcile/GetNoMajoiThercher',
                                    type: 'POST',
                                    data: Getdata,
                                    success: function (suc) {
                                        $("#childteacher_div")[0].innerHTML = "";//任课老师div为空
                                        if (suc.length > 0) {
                                            var teacher_child = $('<select id="teacher_child" name="teacher_child" lay-filter="teacher_child"></select>');
                                            for (var i = 0; i < suc.length; i++) {
                                                $('<option value=' + suc[i].Value + '>' + suc[i].Text + '</option>').appendTo(teacher_child);
                                                $("#childteacher_div").append(teacher_child);
                                            }
                                            form.render(); //更新全部
                                            layer.close(indexmy);
                                        } else {
                                            layer.msg("没有合适的老师!!!", { icon: 2, shade: 0.8 });
                                            layer.close(indexmy);
                                        }
                                         
                                    }
                                });
                            }
                        }
                    }
                }
            });
            //给班级注册点击事件
            form.on('select(class_child)', function (data) {                
                classnumber = data.value;//获取班级              
                if (data.value != "0") {  //获取这个班级上专业课的时间段
                    $.ajax({
                        url: '/Educational/Reconcile/TimeName/' + data.value,
                        success: function (sucdd) {
                            mytimename = sucdd;
                        }
                    });
                } else {
                   var index1= layer.load(1);
                    //类型=其他
                    form.val("manual_form", {
                        "childview_timetype": "0",//给上课时间设为初始值 
                        "childview_Currtype": "0"   //给课程类型设为初始值(其他)
                    });
                     
                    SetTeacherValue(layer, form);
                    //清空教室
                    $("#childvieroom_div")[0].innerHTML = "";
                    //课程清空
                    $("#childviewcurr_div")[0].innerHTML = "";
                    //添加input
                    $('<input class="layui-input linu" type="text" placeholder="课程名称" name="childview_currname" id="childview_currname"/>').appendTo($("#childviewcurr_div"));
                    //时间段清空
                    My_sametime2(1);
                    My_times(2);
                    form.render(); //更新全部
                    layer.close(index1);
                }
            });
            //获取课程
            form.on('select(childview_Currtype)', function (data) {
                form.val("manual_form", {
                    "childview_timetype": "0"   //给课程类型设为初始值(其他)
                });
                form.render(); //更新全部
                //获取选择的班级是哪一个阶段的,根据阶段获取课程
                if (classnumber == 0) {
                    //如果班级未选择，则清空任课老师div
                    layer.msg('请选择班级!!!', {}, function () {
                        form.val("manual_form", {
                            "childview_Currtype": "0"   //给课程类型设为初始值(其他)
                        });
                        $("#childteacher_div")[0].innerHTML = "";
                    });
                } else {
                    //如果类型选择的是其他
                    if (data.value == "0") {
                        My_sametime2(1);
                        My_times(2);
                        form.render(); //更新全部
                        $("#childviewcurr_div")[0].innerHTML = "";//清空课程div
                        $('<input class="layui-input linu" type="text" placeholder="课程名称" name="childview_currname" id="childview_currname"/>').appendTo($("#childviewcurr_div"));//课程div初始化
                        SetTeacherValue(layer, form);
                        form.render(); //更新全部
                    } else {
                        $("#childteacher_div")[0].innerHTML = "";//清空老师
                        $("#childvieroom_div")[0].innerHTML = "";//清空教室
                        form.val("manual_form", {
                            "childschooladdress": "0",//校区为0
                        });
                        //获取课程类型
                        var type = data.value;
                        if (type.indexOf("专业") != -1) {
                            //上课时间段只能是上午或下午
                            PostTimesName(mytimename);
                            $("#childviewcurr_div")[0].innerHTML = "";
                            //添加专业课程
                            $.ajax({
                                url: '/Educational/Reconcile/CaseClassGetCurr/' + classnumber,
                                success: function (sucdata) {
                                    var curr_list = $('<select id="childview_currname" name="childview_currname" lay-filter="curr_child"></select>');
                                    for (var i = 0; i < sucdata.length; i++) {
                                        $('<option value=' + sucdata[i].Value + '>' + sucdata[i].Text + '</option>').appendTo(curr_list);
                                        $("#childviewcurr_div").append(curr_list);
                                    }
                                    form.render(); //更新全部
                                }
                            });
                        } else if (type != "专业课" && type != "0") {
                            My_sametime(1);
                            form.render(); //更新全部
                            var tt = type.substr(0, 2);
                            $("#childviewcurr_div")[0].innerHTML = "";//课程div为空
                            $('<input class="layui-input linu" type="text" placeholder="课程名称" name="childview_currname" id="childview_currname"/>').appendTo($("#childviewcurr_div"));
                            $("#childview_currname").attr("disabled", "disabled");
                            $("#childview_currname")[0].value = data.value;
                        }

                    }

                }

            });
            //课程点击事件
            form.on('select(curr_child)', function (data) {
                form.val("manual_form", {
                    "childview_timetype": "0"   //给课程类型设为初始值(其他)
                });
                //任课老师
                $("#childteacher_div")[0].innerHTML = "";
                //教室
                $("#childvieroom_div")[0].innerHTML = "";
            })
            //监听提交
            form.on('submit(childview_add)', function (data) {
                var currname = $("#childview_currname").val();
                console.log(currname);
                if (data.field.child_class == undefined) {
                    layer.msg("请选择班级!!!", {icon:2,shade:0.8});
                } else if (data.field.childview_currname == undefined || data.field.childview_currname == "" || data.field.childview_currname == "--请选择--") {
                    layer.msg("请选择或填写课程!!!", { icon: 2, shade: 0.8 });
                }else if (data.field.childview_AnpiDate == "") {
                    layer.msg("请选择上课日期!!!", { icon: 2, shade: 0.8 });
                } else if (data.field.childview_timetype == "0" && data.field.childview_Currtype != "0") {
                    layer.msg("请选择上课时间段!!!", { icon: 2, shade: 0.8 });
                } else if (data.field.childview_Currtype == "专业课" && (data.field.childview_room == undefined || data.field.childview_room == "0")) {
                    layer.msg("请选择教室!!!", { icon: 2, shade: 0.8 });
                } else {
                    var indexof = layer.load(1);
                    //提交数据
                    $.ajax({
                        url: '/Educational/Reconcile/AddHandDataFunction',
                        type: 'POST',
                        data: data.field,
                        success: function (suc) {
                            if (suc == "ok") {
                                layer.close(indexof);
                                layer.msg('操作成功！！！', { icon: 1, shade: 0.8 }, function () {
                                    //刷新表单
                                    // window.parent.TableFulsh();
                                    //关闭弹出层
                                    //Myclose();
                                });
                            } else {
                                layer.close(indexof);
                                layer.msg(suc, { icon: 2, shade: 0.8 });
                            }
                        }
                    });
                }

                return false;
            });
            //获取空教室
            form.on('select(childschool)', function (data) {
                $("#childvieroom_div")[0].innerHTML = "";
                var timedate = $("#childview_AnpiDate").val();
                var timename = $("#childview_timetype").val();
                if (timedate.length <= 0) {
                    form.val("manual_form", {
                        "childschooladdress": "0"
                    });
                    layer.msg('请选择日期!!!', { icon: 2, shade: 0.8 });                   
                } else if (timename == "0") {
                    form.val("manual_form", {
                        "childschooladdress": "0"
                    });
                    layer.msg('请选择上课时间段!!!', { icon: 2, shade: 0.8 });
                } else if (data.value == "0") {
                    form.val('manual_form', { "childschooladdress": "0" });
                    layer.msg('请选择校区!!!', { icon: 2, shade: 0.8 });
                } else {
                    var indexx = layer.load(1);
                    var formvalue = form.val("manual_form");
                    if (formvalue.childview_Currtype == "0") {
                        //加载某个校区的所有教室
                        $.ajax({
                            url: '/Educational/Reconcile/GetSchoolEmptyRoom',
                            data: {"schooldaddressval": data.value },
                            type: 'POST',
                            success: function (suc) {
                                if (suc.Data.length > 0) {
                                    for (var i = 0; i < suc.Data.length; i++) {
                                        $('<input class="layui-input" type="radio" name="childview_room" id="childview_room" value=' + suc.Data[i].Value + '  title=' + suc.Data[i].Text + '>').appendTo($("#childvieroom_div"));
                                      
                                    }
                                    form.render();
                                }
                                layer.close(indexx);
                            }
                        });
                    } else {
                        //只加载某个校区的空教室
                        $.ajax({
                            url: '/Educational/Reconcile/GetEmptyRoom',
                            data: { "timename": timename, "date": timedate, "schoolId": data.value},
                            type: 'POST',
                            success: function (suc) {
                                if (suc.length > 0) {
                                    for (var i = 0; i < suc.length; i++) {
                                        $('<input class="layui-input" type="radio" name="childview_room" id="childview_room" value=' + suc[i].Value + '  title=' + suc[i].Text + '>').appendTo($("#childvieroom_div"));
                                    }
                                    form.render();
                                }
                                layer.close(indexx);
                            }
                        });
                    }
                     
                }
                 

            })
        });
        //关闭弹出层
        function Myclose() {
            var layer = layui.layer;
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }
    </script>
</body>
</html>
