
@{
    ViewBag.Title = "ReconcileIndexViews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SiliconValley.InformationSystem.Entity.MyEntity
@section style{
    <style>
        body .demo-class .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }

        #but1
        {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

        #but1:hover
            {
                background-color: aqua;
            }

        #Nation
        {
            width: 100px;
        }

        .linu
        {
            width: 200px;
        }

        .mm
        {
            border: 1px solid black;
        }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }
                
        .layButCss1
        {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            padding: 0 18px;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            border: 0px solid #C9C9C9;
            background-color: #fff;
            color: #555;
            height: 18px;
            line-height: 18px
        }

        .layui-unselect
        {
            width: 130px;
            border-radius: 5px;
        }
    </style>
}

<form class="layui-form">
    <div class="layui-row layui-form-item">
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <label class="layui-form-label">阶段:</label>
            <div class="layui-input-block">
                @Html.DropDownList("mygrand", ViewBag.grandlist as IEnumerable<SelectListItem>, new Dictionary<string, object>() { { "class", "linu" }, { "lay-filter", "grandselect" } })
            </div>
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <label class="layui-form-label">班级:</label>
            <div id="myclass" class="layui-input-block">

            </div>
        </div>
        <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
            <label class="layui-form-label">专业:</label>
            <div id="marjon" class="layui-input-block">

            </div>
        </div>
        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
            <label class="LableCss1">上课时间段:</label>
            <div id="ClssTime" class="layui-input-block">
                <input style="color:black" type="radio" name="time" id="time" value="上午" title="上午" disabled="disabled">
                <input style="color:black" type="radio" name="time" id="time" value="下午" title="下午" disabled="disabled">
            </div>
        </div>         
    </div>
    <div class="layui-row layui-form-item">
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <label class="layui-form-label">课程:</label>
            <div id="currr_div" class="layui-input-block">

            </div>

        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <label class="LableCss1">开始日期:</label>
            <div class="layui-input-block">
                <input type="text" name="startTime" id="startTime" class="layui-input linu" />
            </div>
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <label class="layui-form-label">教室:</label>
            <div id="classroom_div" class="layui-input-block">

            </div>
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <label class="LableCss1">任课老师:</label>
            <div id="teacher_div" class="layui-input-block">

            </div>
        </div>         
    </div>
    <div class="layui-row layui-form-item" style="text-align:right">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="text-align:right">
            <input id="Anan" type="submit" class="layui-btn" lay-submit="" lay-filter="Anpai" value="系统排课" />
            <input id="Anan1" type="button" class="layui-btn" value="手动排课" onclick="OpenNanualView()" />
            <input id="Anan2" type="button" class="layui-btn" value="其他课程排课" onclick="OrtherView()"/>
        </div>
    </div>
    <fieldset>
        <legend>排课显示</legend>
        <div id="Reconcile_div">
            <table lay-filter="Reconcile_table" id="Reconcile_table"></table>
        </div>        
    </fieldset>
</form>
@section script{
    <script>       
        //转换时间的方法
        function TimeChange(newtime) {
            if (newtime == null)
                return "";
            var date = new Date(parseInt(newtime.slice(6)));
            var year = date.getFullYear();
            var month = date.getMonth();
            if ((month + 1) < 10) {
                month = "0" + Number(month + 1);
            } else {
                month = Number(month + 1);
            }
            var day = date.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            var result = year + '-' + month + '-' + day;
            return result;
        }
        layui.use(['form','laydate','table'], function () {
            var form = layui.form;
            var laydate = layui.laydate;
            var table = layui.table;
            //获取班级
            form.on('select(grandselect)', function (data) {
                //清空班级DIV
                $("#myclass")[0].innerHTML = "";
                //清空课程DIV
                $("#currr_div")[0].innerHTML = "";
                //清空专业DIV
                $("#marjon")[0].innerHTML = "";
                //清空教室DIV
                $("#classroom_div")[0].innerHTML = "";
                //清空教员DIV
                $("#teacher_div")[0].innerHTML = "";
                if (data.value != "0") {                    
                    $.ajax({
                        url: '/Educational/Reconcile/GetClassScheduleSelect/' + data.value,
                        success: function (sudata) {
                            //获取班级slect
                            var classselect = $('<select id="class_select" name="class_select" class="layui-select" lay-filter="bianji"><option value="0" selected>--请选择--</select>');
                            for (var i = 0; i < sudata.length; i++) {
                                $('<option value=' + sudata[i].id + '>' + sudata[i].ClassNumber + '<option>').appendTo(classselect);
                            }
                            $("#myclass").append(classselect);
                            form.render(); //更新全部
                        }
                    });
                }  
                
            });      
            //获取课程
            form.on('select(bianji)', function (data) {
                // alert(data.value);
                $("#currr_div")[0].innerHTML = "";
                $("#marjon")[0].innerHTML = "";
                if (data.value != "0") {                     
                    $.ajax({
                        url: '/Educational/Reconcile/GetClassDate/' + data.value,
                        success: function (sucdata) {
                            if (sucdata.stataus == "true") {
                                $("<span class='LableCss1'>" + sucdata.classData.marjoiName + "</span>").appendTo($("#marjon"));//加载专业数据
                                var myselect_c = $("<select name='kecheng' id='kecheng'></select>");
                                for (var i = 0; i < sucdata.c_list.length; i++) {
                                    $("<option value=" + sucdata.c_list[i].CurriculumID + ">" + sucdata.c_list[i].CourseName + "<option>").appendTo(myselect_c);
                                }
                                $("#currr_div").append(myselect_c);
                                //上课时间
                                $(":radio").each(function (index, ele) {
                                    if (ele.value == sucdata.classData.ClassDate) {
                                        ele.checked = "checked";
                                        $(ele).removeAttr("disabled");
                                    } else {
                                        $(ele).attr("disabled","disabled");
                                    }
                                });
                                form.render(); //更新全部
                            } else {
                                layer.msg('班级名称错误！！！', { icon: 2 });
                            }

                        }
                    });  
                    //表格重载
                    table.reload('Reconcile_table', {
                        url: '/Educational/Reconcile/GetTableData',
                        where: { "classname": data.value} //设定异步数据接口的额外参数
                    });
                }                  
            });
            //table加载
            table.render({
                elem: '#Reconcile_table'
                , url:'/Educational/Reconcile/GetTableData'
                , cols: [[
                    { type: 'radio', fixed: 'left' }
                    , { field: 'classname', title: '班级', fixed: 'left' }
                    , { field: 'classroom', title: '教室', }
                    , { field: 'curriName', title: '课程' }
                    , { field: 'Sketime', title: '上课时间段' }
                    , { field:'Teacher',title:'任课老师'}
                    , {
                        field: 'ADate', title: '日期', templet: function (res) {
                            return TimeChange(res.ADate);
                        }
                    }
                ]]
                , page: true
            });
            //日期
            laydate.render({
                elem: '#startTime',
                done: function (value) {
                     //获取上课时间段
                    var timeName = $("#time").val();
                    var Time = value;
                    var mydata = { "timeName": timeName, "Time": Time };
                    var Getdata = { "Time": Time, "Curr": $("#kecheng").val(), "timeName": timeName };
                    $("#classroom_div")[0].innerHTML = "";
                    $("#teacher_div")[0].innerHTML = "";
                    if (value.length > 0) {
                        //获取教室
                        $.ajax({
                            url: '/Educational/Reconcile/GetEmptyRoom',
                            type: 'POST',
                            data: mydata,
                            success: function (suc) {
                                var classroom = $('<select id="myclassroom" name="myclassroom"></select>');
                                for (var i = 0; i < suc.length; i++) {
                                    $('<option value=' + suc[i].Id + '>' + suc[i].ClassroomName + '</option>').appendTo(classroom);
                                }
                                $("#classroom_div").append(classroom);
                                form.render(); //更新全部
                            }
                        });
                        //获取任课老师
                        $.ajax({
                            url: '/Educational/Reconcile/GetTeacher',
                            type: 'POST',
                            data: Getdata,
                            success: function (suc) {
                                var teachersele = $('<select id="teachersele" name="teachersele"><option value="0">--请选择--</select>');
                                for (var i = 0; i < suc.length; i++) {
                                    $('<option value=' + suc[i].Value + '>' + suc[i].Text + '</option>').appendTo(teachersele);
                                }
                                $("#teacher_div").append(teachersele);
                                form.render(); //更新全部
                            }
                        });
                    } else {
                        $("#classroom_div")[0].innerHTML = "";
                        $("#teacher_div")[0].innerHTML = "";
                    }
                     
                }
            });
             //排课
            form.on('submit(Anpai)', function (data) {
                var mydata = data.field;
                console.log(mydata);
                if (mydata.class_select == "0") {
                    layer.msg('请选择有效的班级！！！', { icon: 2 });
                } else if (mydata.startTime == "") {
                    layer.msg('请选择排课日期！！！', { icon: 2 });
                } else if (mydata.myclassroom == undefined || mydata.myclassroom == 0) {
                    layer.msg('请选择教室！！！', { icon: 2 });
                } else if (mydata.teachersele == "0" || mydata.teachersele == undefined) {
                    layer.msg('请选择任课老师！！！', { icon: 2 });
                }else {
                    $.ajax({
                        url: '/Educational/Reconcile/PaikeFunction',
                        type: 'POST',
                        data: mydata,
                        success: function (Sucdata) {
                            if (Sucdata.Success == true) {
                                layer.msg(Sucdata.Msg, { icon: 1,shade:0.8 }, function () {
                                    table.reload('Reconcile_table', {
                                        url: '/Educational/Reconcile/GetTableData',
                                        where: { "classname": mydata.class_select }  
                                    });
                                });
                            } else {
                                layer.msg(Sucdata.Msg, { icon: 2 }, function () {
                                    table.reload('Reconcile_table', {
                                        url: '/Educational/Reconcile/GetTableData',
                                        where: { "classname": mydata.class_select }  
                                    });
                                });
                            }
                        }
                    });
                }
                return false;
            });
        });
        //打开手动排课页面
        function OpenNanualView() {
            var layer = layui.layer;
            layer.open({
                type: 2,
                content: '/Educational/Reconcile/ManualReconcileView'  
                , area: ['1000px', '500px'],
                title: '手动排课'
                , shade: 0.8
                , anim: 4
                , skin: 'demo-class'
            });
        }
        //打开非专业课排课页面
        function OrtherView() {
            var layer = layui.layer;
            layer.open({
                type: 2,
                content: '/Educational/Reconcile/AnpaiNotMarginView'
                , area: ['800px', '500px'],
                title: '其他课程排课页面'
                , shade: 0.8
                , anim: 4
                , skin: 'demo-class'
            });
        }
    </script>
}

