
@{
    /**/

    ViewBag.Title = "ReconcileIndexViews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SiliconValley.InformationSystem.Entity.MyEntity
@section style{
    <style>
        body .demo-class .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }

        .divCss1
        {
            width: 90%;
             margin:0px auto;
             text-align:center;
        }
    </style>
}

    <div class="divCss1">
        <button id="Anan1" type="button" class="layui-btn"><i class="layui-icon">&#xe654;</i>专业课程排课 </button>
        <button id="Anan2" type="button" class="layui-btn"><i class="layui-icon">&#xe654;</i>手动排课</button>
        <button id="Anan3" type="button" class="layui-btn"><i class="layui-icon">&#xe654;</i>非专业课程排课</button>
        <button id="Anan4" type="button" class="layui-btn"><i class="layui-icon">&#xe654;</i>单个课程排课</button>

    </div>
    

 
 
    <script src="~/Scripts/Tangmin_CssAndJs/com_js/MyOrther_tangmin.js"></script>
    <script>         
        $(function () {
            layui.use(['form'], function () {
                var form = layui.form;
                form.val("Reconcileindexform", { "schoolAddress": "0" });   //将下拉框改为初始值
            });

            //打开手动排课页面
            $("#Anan2").click(function () {
                
                    var layer = layui.layer;
                    layer.open({
                        type: 2,
                        content: '/Educational/Reconcile/ManualReconcileView'
                        , area: ['1000px', '500px'],
                        title: '手动排课'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                 
            });  
            //打开非专业课排课页面
            $("#Anan3").click(function () {
                var layer = layui.layer;
                layer.open({
                    type: 2,
                    content: '/Educational/Reconcile/AnpaiNotMarginView'
                    , area: ['1250px', '550px'],
                    title: '其他课程排课页面'
                    , shade: 0.8
                    , anim: 4
                    , skin: 'demo-class'
                });
            });
            //打开系统排课页面
            $("#Anan1").click(function () {
                var layer = layui.layer;
                layer.open({
                    type: 2,
                    content: '/Educational/Reconcile/HightStudentAnpaiView'
                    , area: ['900px', '550px'],
                    title: '系统排课页面'
                    , shade: 0.8
                    , anim: 4
                    , skin: 'demo-class'
                });
            });

            //打开单个课程排课页面
            $("#Anan4").click(function () {
                var layer = layui.layer;
                layer.open({
                    type: 2,
                    content: '/Educational/Reconcile/SingeAnpaiView'
                    , area: ['900px', '550px'],
                    title: '单个课程排课页面'
                    , shade: 0.8
                    , anim: 4
                    , skin: 'demo-class'
                });
            }); 
        });
    </script>
 

