
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateClassTeacher</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        .DivCss1
        {
            margin-top: 80px;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }

        .layui-unselect
        {
            width: 100%;
            border-radius: 5px;
        }

    </style>
</head>
<body>
    <div class="DivCss1">
        <form class="layui-form" lay-filter="form_classTeacherData">
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="layui-form-label">阶 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 段:</label>
                    <div class="layui-input-block">
                        @Html.DropDownList("glist", ViewBag.grandlist as IEnumerable<SelectListItem>, new Dictionary<string, object>() { { "lay-filter", "grand" } })
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="layui-form-label">班 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 级:</label>
                    <div id="Myclass_Div" class="layui-input-block">

                    </div>
                </div>

            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">开始日期:</label>
                    <div class="layui-input-block">
                        <input type="text" name="startime" id="startime" class="layui-input" lay-verify="required"/>
                    </div>
                </div>

                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">任课老师:</label>
                    <div class="layui-input-block">
                        <input type="text" name="teacher_id" id="teacher_id" class="layui-input" lay-verify="required" />
                    </div>
                </div>

            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="text-align:center;margin-top:50px">
                    <button id="updatbtn" type="submit" class="layui-btn" lay-submit="" lay-filter="Update_clasTacher">确定修改</button>
                    <button type="button" class="layui-btn" onclick="MyClose()">取消关闭</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use(['form','laydate','element'], function () {
            var form = layui.form;
 
            var laydate = layui.laydate;
            var element = layui.element;
            laydate.render({
                elem: '#startime'
                , theme: 'molv'
            });
            form.on('select(grand)', function (data) {
                $("#Myclass_Div")[0].innerHTML = "";
                if (data.value != "0") {
                    $.ajax({
                        url: '/Educational/Reconcile/GetClassScheduleSelect/' + data.value,
                        success: function (sudata) {
                            //获取班级slect
                            var classselect = $('<select id="class_select" name="class_select" class="layui-select" lay-filter="bianji2"><option value="0" selected>--请选择--</select>');
                            for (var i = 0; i < sudata.length; i++) {
                                $('<option value=' + sudata[i].id + '>' + sudata[i].ClassNumber + '<option>').appendTo(classselect);
                            }
                            $("#Myclass_Div").append(classselect);
                            form.render(); //更新全部
                        }
                    });
                }
            });
             
            //监听提交
            form.on('submit(Update_clasTacher)', function (data) {
                if (data.field.class_select == "0" || data.field.class_select == undefined) {
                    layer.msg('请选择班级！！', { icon: 2 });
                } else {                                        
                        var indexfo = layer.load(1);
                        $.ajax({
                            url: '/Educational/Reconcile/UpdateClassTeacherFuntion',
                            type: 'POST',
                            data: data.field,
                            success: function (sucdata) {                                
                                if (sucdata.Success == false) {
                                    layer.close(indexfo);
                                    layer.msg(sucdata.Msg, { icon: 2 });
                                } else {
                                    layer.close(indexfo);
                                    layer.msg('修改成功！！', { icon: 1, shade: 0.8 }, function () {
                                        window.parent.TableFulsh();
                                        MyClose();
                                    });
                                }
                            }
                        });
                    
                }

                return false;
            });
        });

        function MyClose() {
            var layer = layui.layer;
            //当你在iframe页面关闭自身时
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }
    </script>
</body>
</html>
